flows/mods/archive/flow_sequent_megabas_original.json
[{"id":"1887c5fb483f5c64","type":"subflow","name":"sequent in","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"d24aada4e721da07"}]}],"out":[{"x":620,"y":80,"wires":[{"id":"6bb4ad03.4f4974","port":0}]},{"x":620,"y":160,"wires":[{"id":"6bb4ad03.4f4974","port":1}]}],"env":[{"name":"channel","type":"num","value":"1"},{"name":"board","type":"num","value":"0"}],"meta":{},"color":"#DDAA99","status":{"x":500,"y":220,"wires":[{"id":"6bb4ad03.4f4974","port":2}]}},{"id":"6bb4ad03.4f4974","type":"function","z":"1887c5fb483f5c64","name":"","func":"\nvar io = global.get(\"io\");\nio = io[\"Input \"+msg.channel];\nmsg.io = io;\n\nvar msg3 = {};\nmsg3.payload = \"Ch.\" + msg.board + \"-\" + msg.channel + \":  \" + io[\"type\"];\n\n\nif(io[\"type\"].indexOf(\"PULSE\")>-1) { msg.payload =  \"countrd\"; }\n\nelse if(io[\"type\"].indexOf(\"10K\")>-1) { msg.payload =  \"r10krd\"; }\n\nelse if(io[\"type\"].indexOf(\"10V\")>-1) { msg.payload =  \"adcrd\"; }\n\n\nelse { \n    \n    var msg1={\"payload\":\"1\"}\n    return [null,msg1,msg3];\n    \n    \n}\n\n// address & channel\nmsg.payload =  msg.board + \" \" +  msg.payload + \" \" + msg.channel;\n\nreturn [msg,null,msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":80,"wires":[[],[],[]]},{"id":"d24aada4e721da07","type":"change","z":"1887c5fb483f5c64","name":"","rules":[{"t":"set","p":"channel","pt":"msg","to":"channel","tot":"env"},{"t":"set","p":"board","pt":"msg","to":"board","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["6bb4ad03.4f4974"]]},{"id":"20ef9fcd.7fd3e","type":"tab","label":"Sequent","disabled":false,"info":""},{"id":"a4555f90.bc099","type":"debug","z":"20ef9fcd.7fd3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":1220,"wires":[]},{"id":"c09c46bc.52a7a8","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":130,"y":380,"wires":[["b6a0abd5.6b0768"]]},{"id":"b6a0abd5.6b0768","type":"delay","z":"20ef9fcd.7fd3e","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":370,"y":380,"wires":[["e9c871266e529360"]]},{"id":"c67a3f00.094ab","type":"delay","z":"20ef9fcd.7fd3e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":390,"y":460,"wires":[["9dc8e1b8132db1a6"]]},{"id":"54651d5b.108064","type":"link out","z":"20ef9fcd.7fd3e","name":"","links":["72fc070f.39dd8"],"x":1335,"y":840,"wires":[]},{"id":"55797107.585e2","type":"comment","z":"20ef9fcd.7fd3e","name":"Building Automation Hat Commands","info":"     -v              Display the megabas command version number\n        -h              Display the list of command options or one command option details\n        -warranty       Display the warranty\n        -list:          List all megabas boards connected\n                        return the # of boards and stack level for every board\n        board           Display the board status and firmware version number\n        trwr:           Set triacs (AC switch) On/Off\n        trrd:           Read triacs (AC switch) status\n        trtest:         Turn ON and OFF the triacs until press a key\n        contactrd:      Read dry contact status\n                        Warning: For this measurements to be valid place the jumper in position \"1K\"\n        countrd:        Read dry contact transitions count\n                        Warning: For this measurements to be valid place the jumper in position \"1K\"\n        countrst:       Reset dry contact transitions count\n        edgerd:         Read dry contact transitions type, ret 0 - disable, 1 - rising, 2 - falling, 3 -both\n        edgewr:         Write dry contact transitions type: 0 - disable, 1 - rising, 2 - falling, 3 - bot                                  h\n        dacrd:          Read DAC voltage value (0 - 10V)\n        dacwr:          Write DAC output voltage value (0..10V)\n        adcrd:          Read ADC input voltage value (0 - 10V)\n                        Warning: For this measurements to be valid place the jumper in position \"0-10V\"\n        r1krd:          Read resistor input  value (1k) in kiloOhms, Warning: You must palce the jumper in position \"1K\".\n                        Return 30kOhm for resistor out of range\n        r10krd:         Read resistor input  value (10k) in kiloOhms, Warning: You must palce the jumper in position \"10K\".\n                        Return 30kOhm for resistor out of range\n        adccal:         Calibrate one ADC channel, the calibration must be done in 2 points at min 5V apart\n        adccalrst:      Reset the calibration for one ADC channel\n        daccal:         Calibrate one DAC channel, the calibration must be done in 2 points at min 5V apart\n        daccalrst:      Reset calibration for one DAC channel\n        wdtr:           Reload the watchdog timer and enable the watchdog if is disabled\n        wdtpwr:         Set the watchdog period in seconds,\n                        reload command must be issue in this interval to prevent Raspberry Pi power off\n        wdtprd:         Get the watchdog period in seconds,\n                        reload command must be issue in this interval to prevent Raspberry Pi power off\n        wdtipwr:        Set the watchdog initial period in seconds,\n                        This period is loaded after power cycle, giving Raspberry time to boot\n        wdtiprd:        Get the watchdog initial period in seconds.\n                        This period is loaded after power cycle, giving Raspberry time to boot\n        wdtopwr:        Set the watchdog off period in seconds (max 48 days).\n                        This is the time that watchdog mantain Raspberry turned off\n        wdtoprd:        Get the watchdog off period in seconds (max 48 days)\n                        This is the time that watchdog mantain Raspberry turned off\n        rs485rd:        Read the RS485 communication settings\n        rs485wr:        Write the RS485 communication settings\n        rtcrd:          Get the internal RTC  date and time(mm/dd/yy hh:mm:ss)\n        rtcwr:          Set the internal RTC  date and time(mm/dd/yy hh:mm:ss)\n","x":1100,"y":160,"wires":[]},{"id":"3b12a.316dced6c","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":560,"y":1280,"wires":[["f4eb6a8b.20e0e8"]]},{"id":"f4eb6a8b.20e0e8","type":"exec","z":"20ef9fcd.7fd3e","command":" megabas 1 wdtr","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":800,"y":1200,"wires":[["a4555f90.bc099"],[],[]]},{"id":"31377285.b6ebee","type":"exec","z":"20ef9fcd.7fd3e","command":"megabas","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":860,"wires":[["765ae2af.c325ac"],[],["ad38443a069248eb"]]},{"id":"6583ebab.d71ad4","type":"exec","z":"20ef9fcd.7fd3e","command":"megabas 1 countrst 8","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":980,"y":1360,"wires":[[],[],[]]},{"id":"765ae2af.c325ac","type":"function","z":"20ef9fcd.7fd3e","name":"topicOut","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = { \"payload\":\"ok\"};  // alarm\n\nvar v, readin;\n\nvar chn = msg.io[\"channel\"].split(\" \")[1];\n\nvar threev = flow.get(\"threev.ch\"+chn) || [];\nthreev.push(msg.payload);\nif (threev.length > 3) { threev.shift(); }\nflow.set(\"threev.ch\"+chn, threev);\nthreec = [];\nfor (i = 0; i < threev.length; i++) {\n  threec[i] = 1 * threev[i];\n}\nthreec.sort();\n\n\n\n\nif(msg.io[\"type\"].indexOf(\"PULSE\")>-1) { \n    \n    readin = parseFloat(msg.payload);\n    \n    var p1 = flow.get(\"c\" + chn + \"last\") || 0;\n    \n    var diff = readin - p1;\n    \n    //v = parseInt(100 * 60 * 2 * diff * (1 / 512)) / 100;\n    // rising and falling edge\n    v = parseInt(100 * 60 * 2 * diff * (1 / 1024)) / 100;\n    \n    flow.set(\"c\" + chn + \"last\",readin);\n    \n    if (readin===0) { return null; }\n\n}\n\nelse if(msg.io[\"type\"].indexOf(\"10V\")>-1) { \n    \n    msg.payload = threec[1];\n    readin = parseFloat(msg.payload);\n    \n    msg4.topic=\"alarm/input\" + chn;\n    \n    if(msg.io[\"map\"]==\"1\") { \n        \n        var a1 = parseFloat(msg.io[\"a1\"] || 0);\n        var a2 = parseFloat(msg.io[\"a2\"] || 10);\n        var b1 = parseFloat(msg.io[\"b1\"] || 0);\n        var b2 = parseFloat(msg.io[\"b2\"] || 100);\n        \n        if (a1==a2 || b1 == b2) { return null; }\n        \n        v = (((readin - a1) / (a2 - a1)) * (b2 - b1)) + b1;\n        \n        // out of range\n        if (readin < a1) { msg4.payload = \"Out of range low\"; }\n        else if (readin > a2) { msg4.payload = \"Out of range high\"; }\n        \n    } else {\n        \n        v = 1 * readin;\n    }\n    //v = parseFloat(msg.payload);\n\n    \n\n}\n\nelse if(msg.io[\"type\"].indexOf(\"10K\")>-1) { \n    \n    msg.payload = threec[1];\n    readin = 1000 * parseFloat(msg.payload);\n    \n    msg4.topic=\"alarm/ntc\" + chn;\n    msg1.deadband = 0.5;\n    \n    if (readin == 30000 || readin == 60000) { v = \" \";  msg4.payload = \"Out of range\";  }  // no sensor connected\n    else {\n    \n        var ntc=global.get(\"ntcANA.ana\");\n        var temps=global.get(\"ntcANA.temp\");\n        \n        if(msg.io[\"type\"].indexOf(\"REGIN\")>-1) { \n            \n            ntc=global.get(\"ntcREGIN.ana\");\n            temps=global.get(\"ntcREGIN.temp\");\n        }\n        \n        \n        //var resistance = 4600;  // 4k7\n        //var resistance = 1000;  // 4k7\n        //var vsupply = 24;\n        //var ohms = (resistance * ohmin / vsupply) / (1- (ohmin / vsupply));\n        var temp = 0.0;\n        for (i = 1; i < ntc.length; i++) { \n            \n            if  ((ntc[i-1]<=readin) && (ntc[i]>readin)) { \n                \n                temp = temps[i-1] - ((temps[i] - temps[i-1]) * ((readin - ntc[i-1]) / (ntc[i-1] - ntc[i])));\n                \n                //temp = temp - (5 * ((8600 - 8056) / (10000 -8056)));\n                break;\n            }\n            \n        }\n        \n        v =  parseInt(temp*100)/100;\n    }   \n}\n\nelse { return null; }\n\n\n\n\n\nif (msg.io.topicOut) { \n    \n    msg1.topic = msg.io.topicOut;\n    if (msg.io.units) { msg1.units = msg.io.units; }\n    if (msg.io.titleOut) { msg1.title = msg.io.titleOut; }\n    msg1.points = 500;\n    \n    msg1.payload = v;\n    \n} else { msg1 = null; }\n\nif (msg.io.topicRaw) { \n    msg2.topic = msg.io.topicRaw;\n    if (msg.io.unitsRaw) { msg2.units = msg.io.unitsRaw; }\n    if (msg.io.titleRaw) { msg2.title = msg.io.titleRaw; }\n    msg.points = 50;\n    \n    msg2.payload = readin;\n    \n} else { msg2 = null; }\n\n\nif (msg.io.topic) { \n    msg3.topic = msg.io.topic;\n    if (msg.io.unitsOut) { msg3.units = msg.io.unitsOut; }\n    if (msg.io.title) { msg3.title = msg.io.title; }\n    msg3.points = 50;\n    \n    msg3.payload = v;\n    \n} else { msg3 = null; }\n\nif (!msg4.topic) { msg4 = null; }\n\n\nreturn [msg1,msg2,msg3,msg4];","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":720,"wires":[["4dc45abab77d3b13","36e3d8ed.bb5588","54651d5b.108064"],["951c14da41bab931","36e3d8ed.bb5588","54651d5b.108064"],["7bd5f692209e3f1d","36e3d8ed.bb5588","54651d5b.108064"],["f1f313c7b2a99097","36e3d8ed.bb5588","54651d5b.108064"]]},{"id":"73c6dba5.5c9764","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":780,"y":1360,"wires":[["6583ebab.d71ad4"]]},{"id":"b3a13561.20ecf8","type":"link out","z":"20ef9fcd.7fd3e","name":"","links":["1c855ab3.df0495","bce3fe990dba8ebf","bfb060ea88967456","32890f3b6be6ecc7","92e52d6adc654ea8"],"x":1635,"y":700,"wires":[]},{"id":"ee3515c5.570468","type":"link out","z":"20ef9fcd.7fd3e","name":"","links":["e7b2568c.d33f58","be82c8be0ac9df2c","59c19f397db75d1f","5c6304bbda9e3774","4f3d918b3d094461"],"x":1635,"y":760,"wires":[]},{"id":"36e3d8ed.bb5588","type":"switch","z":"20ef9fcd.7fd3e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"tH","vt":"str"},{"t":"cont","v":"tCo","vt":"str"},{"t":"cont","v":"fC","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1490,"y":720,"wires":[["b3a13561.20ecf8","a93451de.21081"],["ee3515c5.570468"],["37269de920b8b328"]]},{"id":"a93451de.21081","type":"debug","z":"20ef9fcd.7fd3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1670,"y":640,"wires":[]},{"id":"dc6470b5.a1a31","type":"template","z":"20ef9fcd.7fd3e","name":"ntc 10k B 3435K","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-10,42739\n0,27396\n10,17999\n20,12099\n25,10000\n30,8308\n40,5819\n50,4151\n60,3012\n70,2221\n80,1663\n90,1262\n100,970\n110,755","output":"str","x":380,"y":40,"wires":[["55e8b6ca1fc13e3a"]],"info":"https://static1.squarespace.com/static/575837b259827e26b5694200/t/57fcf411ff7c50b4250f2e86/1476195346501/Tasseron_Immersion_temperature_sensor_TSD_v3.0.pdf"},{"id":"ed100cd1.351f5","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":80,"wires":[["1b0f5039392a143a","dc6470b5.a1a31"]]},{"id":"3666177a.4c8798","type":"function","z":"20ef9fcd.7fd3e","name":"store","func":"\nvar ntc=[];\nvar temps=[];\n\nvar lines = msg.payload.split(\"\\n\");\n\nfor (var l in lines) {\n    \n    \n    ntc.unshift(parseFloat(lines[l].split(\",\")[1]));\n    temps.unshift(parseFloat(lines[l].split(\",\")[0]));\n}\n\n\nglobal.set(\"ntcREGIN.ana\",ntc);\nglobal.set(\"ntcREGIN.temp\",temps);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":80,"wires":[[]]},{"id":"9b4ddcff.17176","type":"comment","z":"20ef9fcd.7fd3e","name":"Building Automation Hat ","info":"https://sequentmicrosystems.com/collections/industrial-automation/products/raspberry-pi-building-automation","x":1060,"y":200,"wires":[]},{"id":"a69bda21.d2ffa8","type":"debug","z":"20ef9fcd.7fd3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":280,"wires":[]},{"id":"bcd13164.715d9","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["9882c905.f7dbc8"]]},{"id":"9882c905.f7dbc8","type":"exec","z":"20ef9fcd.7fd3e","command":"megabas 1 rtcrd","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":540,"y":280,"wires":[["a69bda21.d2ffa8"],[],[]]},{"id":"f103f3f6.357e4","type":"exec","z":"20ef9fcd.7fd3e","command":"megabas 1 rs485wr 0 9600 1 0 1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Release RS485","x":520,"y":1580,"wires":[[],[],[]]},{"id":"8303766.477e288","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":1580,"wires":[["f103f3f6.357e4"]]},{"id":"c00286db.00e868","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":190,"y":120,"wires":[["a76dcb55.529e98"]]},{"id":"a76dcb55.529e98","type":"function","z":"20ef9fcd.7fd3e","name":"","func":"\n\nvar io={};\nvar ioin = JSON.parse(global.get(\"settings.io.value\")||\"[]\");\n\nfor (var i in ioin) {\n    \n    io[ioin[i][\"channel\"]] = ioin[i];\n}\n\nglobal.set(\"io\",io);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":120,"wires":[[]]},{"id":"c7ca1a61.1db5e8","type":"exec","z":"20ef9fcd.7fd3e","command":"megabas","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":460,"wires":[["765ae2af.c325ac"],[],["9edf9307ffea74cd"]]},{"id":"e358a745.9e8408","type":"exec","z":"20ef9fcd.7fd3e","command":"megabas","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":380,"wires":[["765ae2af.c325ac"],[],["c67a3f00.094ab"]]},{"id":"776bae4a.830f8","type":"exec","z":"20ef9fcd.7fd3e","command":"megabas","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":540,"wires":[["765ae2af.c325ac"],[],["eb04db12ec6adc4f"]]},{"id":"985a42c9.dde75","type":"exec","z":"20ef9fcd.7fd3e","command":"megabas","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":620,"wires":[["765ae2af.c325ac"],[],["484a4dc1dbbf6f31"]]},{"id":"0b9c086a1d6b9ca8","type":"debug","z":"20ef9fcd.7fd3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":940,"wires":[]},{"id":"7e844a1671abb35a","type":"debug","z":"20ef9fcd.7fd3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":1580,"wires":[]},{"id":"e20459b9b10ff221","type":"exec","z":"20ef9fcd.7fd3e","command":"megabas 1 edgerd 8","addpay":false,"append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":980,"y":1440,"wires":[["e9d59a45d63551ce"],[],[]]},{"id":"7c717efa9d12db85","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":780,"y":1440,"wires":[["e20459b9b10ff221"]]},{"id":"e9d59a45d63551ce","type":"debug","z":"20ef9fcd.7fd3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1440,"wires":[]},{"id":"8edacdee443f7b7a","type":"exec","z":"20ef9fcd.7fd3e","command":"megabas 1 edgewr 8 3","addpay":false,"append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":980,"y":1500,"wires":[["4459089011722e0c"],[],[]]},{"id":"c9cbcaaff09ef531","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1.5","topic":"","payloadType":"date","x":770,"y":1500,"wires":[["8edacdee443f7b7a"]]},{"id":"4459089011722e0c","type":"debug","z":"20ef9fcd.7fd3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1500,"wires":[]},{"id":"e9c871266e529360","type":"subflow:1887c5fb483f5c64","z":"20ef9fcd.7fd3e","name":"","env":[{"name":"board","value":"1","type":"num"}],"x":570,"y":380,"wires":[["e358a745.9e8408","10e650e98f91b59d"],["c67a3f00.094ab"]]},{"id":"9dc8e1b8132db1a6","type":"subflow:1887c5fb483f5c64","z":"20ef9fcd.7fd3e","name":"","env":[{"name":"channel","value":"2","type":"num"},{"name":"board","value":"1","type":"num"}],"x":570,"y":460,"wires":[["c7ca1a61.1db5e8"],["9edf9307ffea74cd"]]},{"id":"10e650e98f91b59d","type":"debug","z":"20ef9fcd.7fd3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":320,"wires":[]},{"id":"93899886a6cf4af0","type":"subflow:1887c5fb483f5c64","z":"20ef9fcd.7fd3e","name":"","env":[{"name":"channel","value":"3","type":"num"},{"name":"board","value":"1","type":"num"}],"x":570,"y":540,"wires":[["776bae4a.830f8"],["eb04db12ec6adc4f"]]},{"id":"9edf9307ffea74cd","type":"delay","z":"20ef9fcd.7fd3e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":390,"y":540,"wires":[["93899886a6cf4af0"]]},{"id":"d9b02ea6f465e334","type":"subflow:1887c5fb483f5c64","z":"20ef9fcd.7fd3e","name":"","env":[{"name":"channel","value":"4","type":"num"},{"name":"board","value":"1","type":"num"}],"x":570,"y":620,"wires":[["985a42c9.dde75"],["484a4dc1dbbf6f31"]]},{"id":"eb04db12ec6adc4f","type":"delay","z":"20ef9fcd.7fd3e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":390,"y":620,"wires":[["d9b02ea6f465e334"]]},{"id":"bf42c3bc8f93f784","type":"subflow:1887c5fb483f5c64","z":"20ef9fcd.7fd3e","name":"","env":[{"name":"channel","value":"5","type":"num"},{"name":"board","value":"1","type":"num"}],"x":570,"y":700,"wires":[["a757c93144b8afd9"],["3fdeb297b6963f7e"]]},{"id":"484a4dc1dbbf6f31","type":"delay","z":"20ef9fcd.7fd3e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":390,"y":700,"wires":[["bf42c3bc8f93f784"]]},{"id":"4b772d19202b031a","type":"subflow:1887c5fb483f5c64","z":"20ef9fcd.7fd3e","name":"","env":[{"name":"channel","value":"6","type":"num"},{"name":"board","value":"1","type":"num"}],"x":570,"y":780,"wires":[["2f9b89af54199b3f"],["dcb4833d052eb1d7"]]},{"id":"3fdeb297b6963f7e","type":"delay","z":"20ef9fcd.7fd3e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":390,"y":780,"wires":[["4b772d19202b031a"]]},{"id":"a757c93144b8afd9","type":"exec","z":"20ef9fcd.7fd3e","command":"megabas","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":700,"wires":[["765ae2af.c325ac"],[],["3fdeb297b6963f7e"]]},{"id":"2f9b89af54199b3f","type":"exec","z":"20ef9fcd.7fd3e","command":"megabas","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":780,"wires":[["765ae2af.c325ac"],[],["dcb4833d052eb1d7"]]},{"id":"b15b8be32cd7b49d","type":"subflow:1887c5fb483f5c64","z":"20ef9fcd.7fd3e","name":"","env":[{"name":"channel","value":"7","type":"num"},{"name":"board","value":"1","type":"num"}],"x":570,"y":860,"wires":[["31377285.b6ebee"],["0149980cb2762038"]]},{"id":"dcb4833d052eb1d7","type":"delay","z":"20ef9fcd.7fd3e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":390,"y":860,"wires":[["b15b8be32cd7b49d"]]},{"id":"ad38443a069248eb","type":"subflow:1887c5fb483f5c64","z":"20ef9fcd.7fd3e","name":"","env":[{"name":"channel","value":"8","type":"num"},{"name":"board","value":"1","type":"num"}],"x":570,"y":940,"wires":[["c7b3a5f81c1e568d","0b9c086a1d6b9ca8"],["8391b9872ca34941"]]},{"id":"0149980cb2762038","type":"delay","z":"20ef9fcd.7fd3e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":390,"y":940,"wires":[["ad38443a069248eb"]]},{"id":"c7b3a5f81c1e568d","type":"exec","z":"20ef9fcd.7fd3e","command":"megabas","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":780,"y":940,"wires":[["765ae2af.c325ac","0b9c086a1d6b9ca8"],[],["8391b9872ca34941"]]},{"id":"1b0f5039392a143a","type":"template","z":"20ef9fcd.7fd3e","name":"ntc 10k Regin","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"-20,97006\n-15,72911\n-10,72911\n-5,42317\n0,32651\n5,25395\n10,19903\n15,15714\n20,12493\n25,10000\n30,8056\n35,6530\n40,5325\n45,4367\n50,3601\n55,2985\n60,2467\n65,2082\n70,1752\n80,1256\n90,916\n100,678\n110,510\n120,388","output":"str","x":380,"y":80,"wires":[["3666177a.4c8798"]],"info":"https://static1.squarespace.com/static/575837b259827e26b5694200/t/57fcf411ff7c50b4250f2e86/1476195346501/Tasseron_Immersion_temperature_sensor_TSD_v3.0.pdf"},{"id":"55e8b6ca1fc13e3a","type":"function","z":"20ef9fcd.7fd3e","name":"store","func":"\nvar ntc=[];\nvar temps=[];\n\nvar lines = msg.payload.split(\"\\n\");\n\nfor (var l in lines) {\n    \n    \n    ntc.unshift(parseFloat(lines[l].split(\",\")[1]));\n    temps.unshift(parseFloat(lines[l].split(\",\")[0]));\n}\n\n\nglobal.set(\"ntcANA.ana\",ntc);\nglobal.set(\"ntcANA.temp\",temps);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":40,"wires":[[]]},{"id":"68601fc880eb4210","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":740,"y":40,"wires":[["ec39306761db58b2"]]},{"id":"ecfba71e59a7ea3c","type":"file","z":"20ef9fcd.7fd3e","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1060,"y":40,"wires":[[]]},{"id":"ec39306761db58b2","type":"function","z":"20ef9fcd.7fd3e","name":"","func":"\nvar n1 = [];\nvar LL = global.get(\"ntcANA\");\nfor (var r in LL[\"temp\"]) {\n    n1.push({\"temp\":LL[\"temp\"][r], \"ohms\": LL[\"ana\"][r]})\n}\n\n\nvar n2 = [];\nLL = global.get(\"ntcREGIN\");\nfor (r in LL[\"temp\"]) {\n    n2.push({\"temp\":LL[\"temp\"][r], \"ohms\": LL[\"ana\"][r]})\n}\n\nvar ntc = {\n    \"ntcANA\":{\"id\":\"ntcANA\", \"title\": \"NTC Tasseron\",\"map\": n1},\n    \"ntcREGIN\":{\"id\":\"ntcREGIN\", \"title\": \"NTC Regin\",\"map\": n2}\n    };\n\nmsg.payload = JSON.stringify(ntc);\nmsg.filename = global.get(\"htmlDirectory\") + \"/files/json/ntc.json\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":40,"wires":[["ecfba71e59a7ea3c","df7b8d96aab096c8"]]},{"id":"df7b8d96aab096c8","type":"debug","z":"20ef9fcd.7fd3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":100,"wires":[]},{"id":"60bada1c265503e4","type":"trigger","z":"20ef9fcd.7fd3e","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":350,"y":1200,"wires":[["76c39f5d0f72dd5a"]]},{"id":"76c39f5d0f72dd5a","type":"trigger","z":"20ef9fcd.7fd3e","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"20","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":530,"y":1200,"wires":[["f4eb6a8b.20e0e8"]]},{"id":"4dc45abab77d3b13","type":"debug","z":"20ef9fcd.7fd3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":540,"wires":[]},{"id":"951c14da41bab931","type":"debug","z":"20ef9fcd.7fd3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":580,"wires":[]},{"id":"7bd5f692209e3f1d","type":"debug","z":"20ef9fcd.7fd3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":620,"wires":[]},{"id":"f1f313c7b2a99097","type":"debug","z":"20ef9fcd.7fd3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":660,"wires":[]},{"id":"37269de920b8b328","type":"link out","z":"20ef9fcd.7fd3e","name":"","mode":"link","links":["f696b3908b9c92d8","1d992aaba2544299","3f62cb66edb019a3","46e83a47851a0136"],"x":1595,"y":800,"wires":[]},{"id":"8326b3aad52a7f55","type":"exec","z":"20ef9fcd.7fd3e","command":"megabas 1 dacwr 1 ","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":930,"y":1040,"wires":[["40672b8ba4dbda0d"],[],[]]},{"id":"20515f636779c86e","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.5","payloadType":"str","x":150,"y":1460,"wires":[["a869142d8ce6febe"]]},{"id":"0cf705c6399fa394","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"str","x":150,"y":1620,"wires":[["a869142d8ce6febe"]]},{"id":"3eb3d5317f603f6e","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"str","x":150,"y":1660,"wires":[["a869142d8ce6febe"]]},{"id":"88279a3fea033a82","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.1","payloadType":"str","x":150,"y":1380,"wires":[["a869142d8ce6febe"]]},{"id":"ed2e881c20e2d4e3","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.2","payloadType":"str","x":150,"y":1420,"wires":[["a869142d8ce6febe"]]},{"id":"40672b8ba4dbda0d","type":"debug","z":"20ef9fcd.7fd3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":1040,"wires":[]},{"id":"a82913c033dccd50","type":"link in","z":"20ef9fcd.7fd3e","name":"","links":["3722b33a59dc93bc"],"x":175,"y":1300,"wires":[["a869142d8ce6febe"]]},{"id":"a869142d8ce6febe","type":"change","z":"20ef9fcd.7fd3e","name":"","rules":[{"t":"set","p":"vOut1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1320,"wires":[[]]},{"id":"cddca6540b6c7c83","type":"change","z":"20ef9fcd.7fd3e","name":"vOut1","rules":[{"t":"set","p":"payload","pt":"msg","to":"vOut1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1040,"wires":[["8326b3aad52a7f55"]]},{"id":"42ff287e64bf5b07","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":150,"y":1340,"wires":[["a869142d8ce6febe"]]},{"id":"8391b9872ca34941","type":"delay","z":"20ef9fcd.7fd3e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":310,"y":1040,"wires":[["60bada1c265503e4","a370bf774de4826c"]]},{"id":"a370bf774de4826c","type":"trigger","z":"20ef9fcd.7fd3e","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":520,"y":1040,"wires":[["cddca6540b6c7c83"]]},{"id":"f9a957a2680af30c","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":150,"y":1580,"wires":[["a869142d8ce6febe"]]},{"id":"d2e943f1aa861eaa","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.6","payloadType":"str","x":150,"y":1500,"wires":[["a869142d8ce6febe"]]},{"id":"cb83e2ef33985c1f","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.8","payloadType":"str","x":150,"y":1540,"wires":[["a869142d8ce6febe"]]},{"id":"9925d5c25b664b4d","type":"inject","z":"20ef9fcd.7fd3e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1010,"y":1140,"wires":[["40672b8ba4dbda0d"]]}]