flows/mods/archive/flow_picv_0_10_dhw_original.json
[{"id":"7a53fbb2e028c807","type":"subflow","name":"rbe 10s","info":"","category":"","in":[{"x":60,"y":160,"wires":[{"id":"cbae8a4eae7e13db"}]}],"out":[{"x":460,"y":160,"wires":[{"id":"e1b6759a4e2a42ea","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"cbae8a4eae7e13db","type":"rbe","z":"7a53fbb2e028c807","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":190,"y":160,"wires":[["e1b6759a4e2a42ea"]]},{"id":"295f6a3a3f232a2c","type":"inject","z":"7a53fbb2e028c807","name":"","props":[{"p":"reset","v":"1","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":240,"y":80,"wires":[["cbae8a4eae7e13db"]]},{"id":"e1b6759a4e2a42ea","type":"switch","z":"7a53fbb2e028c807","name":"","property":"reset","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":160,"wires":[[]]},{"id":"2aa78bc6adc06b59","type":"tab","label":"DHW","disabled":false,"info":"","env":[]},{"id":"084155419d678115","type":"exec","z":"2aa78bc6adc06b59","command":"megabas 1 dacwr 2","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":390,"y":680,"wires":[["f0fc337d2055ddcd"],[],[]]},{"id":"40f0f623f09a435c","type":"inject","z":"2aa78bc6adc06b59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0.0","payloadType":"str","x":170,"y":580,"wires":[["084155419d678115"]]},{"id":"f0fc337d2055ddcd","type":"debug","z":"2aa78bc6adc06b59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":680,"wires":[]},{"id":"48daf5688ad46f2e","type":"inject","z":"2aa78bc6adc06b59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"str","x":163,"y":688,"wires":[["084155419d678115"]]},{"id":"6382c00bef0c461f","type":"inject","z":"2aa78bc6adc06b59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"str","x":170,"y":760,"wires":[["084155419d678115"]]},{"id":"6beec964eb715c26","type":"inject","z":"2aa78bc6adc06b59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"str","x":170,"y":620,"wires":[["084155419d678115"]]},{"id":"dce18a4025d126d6","type":"ui_slider","z":"2aa78bc6adc06b59","name":"","label":"slider","tooltip":"","group":"7209477f8985f3af","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":"0.1","className":"","x":470,"y":560,"wires":[["91db2840c650a6c0","2b95061de9a047c5"]]},{"id":"2b95061de9a047c5","type":"trigger","z":"2aa78bc6adc06b59","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":390,"y":620,"wires":[["084155419d678115"]]},{"id":"32890f3b6be6ecc7","type":"link in","z":"2aa78bc6adc06b59","name":"","links":["c83521c5.371e2","b3a13561.20ecf8"],"x":1135,"y":620,"wires":[[]]},{"id":"5c6304bbda9e3774","type":"link in","z":"2aa78bc6adc06b59","name":"","links":["b3130c7b.4371f","ee3515c5.570468"],"x":155,"y":220,"wires":[["59c6cedefaff23f4"]]},{"id":"3f62cb66edb019a3","type":"link in","z":"2aa78bc6adc06b59","name":"","links":["37269de920b8b328"],"x":135,"y":100,"wires":[["0d5af62b0bec29f6","609d5d21fdbdb068","b78feea927c9549b","0fc32dc03ac84610"]]},{"id":"4a8a556b95c237e7","type":"function","z":"2aa78bc6adc06b59","name":"","func":"msg.topic2 = \"DHW Temperature\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":860,"wires":[["0c89ccc5dd9f7258","b453f68f79439257"]]},{"id":"4f3d918b3d094461","type":"link in","z":"2aa78bc6adc06b59","name":"","links":["b3130c7b.4371f","ee3515c5.570468"],"x":275,"y":860,"wires":[["4a8a556b95c237e7"]]},{"id":"0c89ccc5dd9f7258","type":"change","z":"2aa78bc6adc06b59","name":"t2","rules":[{"t":"set","p":"topic","pt":"msg","to":"topic2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":840,"wires":[["91db2840c650a6c0"]]},{"id":"b453f68f79439257","type":"ui_gauge","z":"2aa78bc6adc06b59","name":"","group":"7209477f8985f3af","order":3,"width":"4","height":"3","gtype":"gage","title":"DHW Temperature","label":"°C","format":"{{value}}","min":"-1","max":"100","colors":["#0080ff","#00ff00","#ca3838"],"seg1":"45","seg2":"65","className":"","x":890,"y":900,"wires":[]},{"id":"82fe09c4a10fc679","type":"function","z":"2aa78bc6adc06b59","name":"","func":"msg.topic2 = \"Flow Temperature\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":820,"wires":[["0c89ccc5dd9f7258","2fc00a61a180b83f"]]},{"id":"91db2840c650a6c0","type":"ui_chart","z":"2aa78bc6adc06b59","name":"","group":"7209477f8985f3af","order":2,"width":"24","height":"8","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#fb5050","#568cd2","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":850,"y":860,"wires":[[]]},{"id":"92e52d6adc654ea8","type":"link in","z":"2aa78bc6adc06b59","name":"","links":["c83521c5.371e2","b3a13561.20ecf8"],"x":275,"y":820,"wires":[["82fe09c4a10fc679"]]},{"id":"2fc00a61a180b83f","type":"ui_gauge","z":"2aa78bc6adc06b59","name":"","group":"7209477f8985f3af","order":1,"width":"4","height":"3","gtype":"gage","title":"Flow Temperature","label":"°C","format":"{{value}}","min":"-1","max":"100","colors":["#0080ff","#00ff00","#ca3838"],"seg1":"65","seg2":"83","className":"","x":890,"y":820,"wires":[]},{"id":"6e7d9fcb65b49c4a","type":"ui_gauge","z":"2aa78bc6adc06b59","name":"","group":"7209477f8985f3af","order":3,"width":"4","height":"3","gtype":"gage","title":"DHW Flow Rate","label":"ltr/min","format":"{{value}}","min":"0","max":"30","colors":["#0080ff","#00ff00","#ca3838"],"seg1":"8","seg2":"16","className":"","x":880,"y":960,"wires":[]},{"id":"896e23ad2fa92021","type":"PID","z":"2aa78bc6adc06b59","d":true,"name":"","setpoint":"50","pb":"200","ti":"10","td":"1","integral_default":"0.5","smooth_factor":3,"max_interval":"2","enable":1,"disabled_op":0,"x":490,"y":220,"wires":[["8a0a8a04f831f777","d61ba967be287fed","3b92fee16e8e06a5"]]},{"id":"8a0a8a04f831f777","type":"debug","z":"2aa78bc6adc06b59","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":200,"wires":[]},{"id":"f3220e2d1b17fd20","type":"debug","z":"2aa78bc6adc06b59","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":200,"wires":[]},{"id":"b78feea927c9549b","type":"switch","z":"2aa78bc6adc06b59","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0.5","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":60,"wires":[["881c23f36ef202f9"],["702de14ed67ac5e5"]]},{"id":"881c23f36ef202f9","type":"change","z":"2aa78bc6adc06b59","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":100,"wires":[["896e23ad2fa92021","8a20b950abbf3bb9"]]},{"id":"702de14ed67ac5e5","type":"change","z":"2aa78bc6adc06b59","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":140,"wires":[["896e23ad2fa92021","8a20b950abbf3bb9"]]},{"id":"d61ba967be287fed","type":"range","z":"2aa78bc6adc06b59","d":true,"minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":720,"y":240,"wires":[["f3220e2d1b17fd20","83525c47f6e85190"]]},{"id":"ea32715fd595df21","type":"debug","z":"2aa78bc6adc06b59","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":340,"wires":[]},{"id":"83525c47f6e85190","type":"ui_gauge","z":"2aa78bc6adc06b59","d":true,"name":"","group":"7209477f8985f3af","order":3,"width":"4","height":"3","gtype":"gage","title":"Valve PID","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#0080ff","#00ff00","#ca3838"],"seg1":"25","seg2":"50","className":"","x":940,"y":240,"wires":[]},{"id":"3b92fee16e8e06a5","type":"trigger","z":"2aa78bc6adc06b59","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"50","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":470,"y":300,"wires":[["17c10fc5bd92edc1"]]},{"id":"fb9e6b33249ef6fc","type":"ui_slider","z":"2aa78bc6adc06b59","d":true,"name":"","label":"slider","tooltip":"","group":"7209477f8985f3af","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":"0.01","className":"","x":230,"y":260,"wires":[["8e330453fa787c0b","57aa29de2a56af3f"]]},{"id":"8e330453fa787c0b","type":"range","z":"2aa78bc6adc06b59","d":true,"minin":"0","maxin":"10","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":760,"y":280,"wires":[["83525c47f6e85190"]]},{"id":"57aa29de2a56af3f","type":"range","z":"2aa78bc6adc06b59","minin":"0","maxin":"10","minout":"1.25","maxout":"5","action":"scale","round":false,"property":"payload","name":"","x":260,"y":300,"wires":[[]]},{"id":"17c10fc5bd92edc1","type":"function","z":"2aa78bc6adc06b59","name":"CONTROL","func":"\nmsg.payload = msg.payload - 0.8;   // -0.5 to +0.5 PID\nmsg.payload = msg.payload * 100;  // percentage  -50% to 50%\n\nvar msg1={};\nmsg.topic = \"vPos\";\nmsg1.topic = \"vV\";\n\nif (flow.get(\"started\")) {\n    \n    var timemnow = new Date().getTime();\n    var tdiff = (timemnow - flow.get(\"started\"))/1000;\n    \n    var fC = flow.get(\"fC\") || 0;\n    var tCo = flow.get(\"tCo\") || 50;\n    \n    var tCoLast = flow.get(\"tCoLast\") || 50;\n    flow.set(\"tCoLast\",tCo);\n    \n    var tErr = 50 - tCo;\n    \n    var diffch = tCo - tCoLast;\n    \n    var offset = flow.get(\"offset\") || 0;\n    \n    offset = offset -  (0.5* diffch);   // differential\n    \n    offset = offset + (fC * 0.0015*(tErr));\n    flow.set(\"offset\",offset);\n     \n    var estpos = 1 * fC;\n    \n    // if (tdiff < 20) {   // startup  (need to add step changes in inputs)\n        \n    //      msg.payload = estpos + ((tdiff/20) * msg.payload);\n        \n    // } else {\n        \n    //      msg.payload = msg.payload + estpos;\n        \n    // }\n    msg.payload = estpos + offset;\n    \n    // Scaling to valve and spindle offset\n    msg1.payload =  msg.payload * 5 / 100   //  5.5v = 100% flow   // 10v?\n    msg1.payload =  msg1.payload + 1; // spindle start\n    \n   \n    \n} else {\n    \n    msg.payload = 0;\n    msg1.payload = 0;\n}\n\n\nmsg.payload = parseInt(1000*msg.payload) / 1000;\nmsg1.payload = parseInt(1000*msg1.payload) / 1000;\n\nif (msg1.payload<0) { msg1.payload = 0; }\nif (msg1.payload>10) { msg1.payload = 10; }\n\n\n\nreturn [msg,msg1];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":320,"wires":[["ea32715fd595df21","9730e23031a3b236"],["c7c96e5f377c99a7","4ae91b04b36f5a27","ce124b518b7b4d5f"]]},{"id":"c7c96e5f377c99a7","type":"ui_gauge","z":"2aa78bc6adc06b59","name":"","group":"7209477f8985f3af","order":3,"width":"4","height":"3","gtype":"gage","title":"Valve Signal","label":"%","format":"{{value}}","min":"0","max":"10","colors":["#0080ff","#00ff00","#ca3838"],"seg1":"3","seg2":"5","className":"","x":990,"y":380,"wires":[]},{"id":"4ae91b04b36f5a27","type":"function","z":"2aa78bc6adc06b59","name":"","func":"msg.payload = msg.payload * 10;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":460,"wires":[["91db2840c650a6c0"]]},{"id":"f60eb008df1fcf0e","type":"inject","z":"2aa78bc6adc06b59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":650,"y":740,"wires":[["91db2840c650a6c0","360b1a149fb666da"]]},{"id":"8a20b950abbf3bb9","type":"rbe","z":"2aa78bc6adc06b59","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":850,"y":100,"wires":[["65074ea90c2bc262"]]},{"id":"f18688f3a41fbc7b","type":"change","z":"2aa78bc6adc06b59","name":"start time","rules":[{"t":"set","p":"started","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":100,"wires":[[]]},{"id":"65074ea90c2bc262","type":"switch","z":"2aa78bc6adc06b59","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":100,"wires":[["f18688f3a41fbc7b"],["a8b5464bc49852b2"]]},{"id":"a8b5464bc49852b2","type":"change","z":"2aa78bc6adc06b59","name":"kill start time","rules":[{"t":"delete","p":"started","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":160,"wires":[[]]},{"id":"0fc32dc03ac84610","type":"change","z":"2aa78bc6adc06b59","name":"","rules":[{"t":"set","p":"fC","pt":"flow","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":160,"wires":[["3170b36b737ba590"]]},{"id":"0d5af62b0bec29f6","type":"smooth","z":"2aa78bc6adc06b59","name":"","property":"payload","action":"min","count":"4","round":"1","mult":"single","reduce":false,"x":240,"y":40,"wires":[[]]},{"id":"9730e23031a3b236","type":"ui_gauge","z":"2aa78bc6adc06b59","name":"","group":"7209477f8985f3af","order":3,"width":"4","height":"3","gtype":"gage","title":"Valve Position","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#0080ff","#00ff00","#ca3838"],"seg1":"25","seg2":"50","className":"","x":980,"y":300,"wires":[]},{"id":"7bd8ad20b6035031","type":"link in","z":"2aa78bc6adc06b59","name":"","links":["3170b36b737ba590"],"x":505,"y":980,"wires":[["91db2840c650a6c0","6e7d9fcb65b49c4a"]]},{"id":"3170b36b737ba590","type":"link out","z":"2aa78bc6adc06b59","name":"","mode":"link","links":["7bd8ad20b6035031"],"x":395,"y":160,"wires":[]},{"id":"609d5d21fdbdb068","type":"debug","z":"2aa78bc6adc06b59","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":150,"y":20,"wires":[]},{"id":"344d9e5f55eb2021","type":"subflow:7a53fbb2e028c807","z":"2aa78bc6adc06b59","name":"","x":480,"y":380,"wires":[["3722b33a59dc93bc","360b1a149fb666da"]]},{"id":"3722b33a59dc93bc","type":"link out","z":"2aa78bc6adc06b59","name":"","mode":"link","links":["df65dc98c5f9de5b","a82913c033dccd50"],"x":635,"y":440,"wires":[]},{"id":"0c6324a114e353ae","type":"inject","z":"2aa78bc6adc06b59","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":240,"y":460,"wires":[["d156e99dc71664bc"]]},{"id":"d156e99dc71664bc","type":"function","z":"2aa78bc6adc06b59","name":"","func":"var tap = flow.get(\"tap\") || 0\n\nvar delta = flow.get(\"delta\") || 0.1\n\ntap = tap + delta;\n\nif (tap > 2.3) {   \n    \n    delta = -0.05;\n    flow.set(\"delta\",delta);\n    \n} else if (flow.get(\"fC\") < 0.6) {   \n    \n    delta = 0.05;\n    flow.set(\"delta\",delta);\n    \n}\n\nflow.set(\"tap\",tap);\n\nmsg.payload = tap;\n\nmsg.topic = \"tas Signal\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":460,"wires":[["dce18a4025d126d6","2b95061de9a047c5","91db2840c650a6c0"]]},{"id":"d44b79bd5c3039d2","type":"inject","z":"2aa78bc6adc06b59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":690,"y":520,"wires":[["f4e66fa60fc3cb73"]]},{"id":"f4e66fa60fc3cb73","type":"change","z":"2aa78bc6adc06b59","name":"","rules":[{"t":"set","p":"tap","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":520,"wires":[[]]},{"id":"59c6cedefaff23f4","type":"change","z":"2aa78bc6adc06b59","name":"","rules":[{"t":"set","p":"tCo","pt":"flow","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":220,"wires":[["896e23ad2fa92021","3b92fee16e8e06a5"]]},{"id":"bb561a8d28e396f7","type":"ui_gauge","z":"2aa78bc6adc06b59","name":"","group":"7209477f8985f3af","order":3,"width":"4","height":"3","gtype":"gage","title":"Offset","label":"%","format":"{{value}}","min":"-10","max":"10","colors":["#0080ff","#00ff00","#ca3838"],"seg1":"3","seg2":"5","className":"","x":1250,"y":380,"wires":[]},{"id":"87e11fa7dc977bbc","type":"inject","z":"2aa78bc6adc06b59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"offset","payloadType":"flow","x":1260,"y":300,"wires":[["bb561a8d28e396f7"]]},{"id":"514f6ada6de56c58","type":"inject","z":"2aa78bc6adc06b59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":700,"y":560,"wires":[["95248b37aa642d34"]]},{"id":"95248b37aa642d34","type":"change","z":"2aa78bc6adc06b59","name":"","rules":[{"t":"set","p":"offset","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":560,"wires":[[]]},{"id":"ce124b518b7b4d5f","type":"function","z":"2aa78bc6adc06b59","name":"VALVE CONTROL","func":"\n  var avgV = flow.get(\"avgV\") || msg.payload;\n  \n \n  \n    \n  var setV = 1 * msg.payload;\n  \n  msg.payload = parseInt(msg.payload * 10) / 10;\n    \n  var previousV = flow.get(\"previousV\") || [];\n  \n\n  \n  var tot = 0;\n  for (var pr in previousV) {\n      tot = tot + previousV[pr];\n  }\n  var avg = tot / previousV.length;\n \n  if (avg<setV) { msg.payload = msg.payload  + 0.1; }\n\n    msg.payload = parseInt(msg.payload * 10) / 10;\n\n  previousV.push(msg.payload);\n  if (previousV.length > 10) { previousV.shift(); }\n  flow.set(\"previousV\",previousV);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":380,"wires":[["344d9e5f55eb2021","8290b7bcf1f8a2c8"]]},{"id":"8290b7bcf1f8a2c8","type":"debug","z":"2aa78bc6adc06b59","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":420,"wires":[]},{"id":"360b1a149fb666da","type":"ui_chart","z":"2aa78bc6adc06b59","name":"","group":"7209477f8985f3af","order":2,"width":"24","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#fb5050","#568cd2","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":710,"y":400,"wires":[[]]},{"id":"d92b96a935379db3","type":"comment","z":"2aa78bc6adc06b59","name":"Test Rig Tap","info":"","x":370,"y":740,"wires":[]},{"id":"7209477f8985f3af","type":"ui_group","name":"Default","tab":"5dbeefd111748237","order":1,"disp":true,"width":"24","collapse":false,"className":""},{"id":"5dbeefd111748237","type":"ui_tab","name":"DHW","icon":"dashboard","disabled":false,"hidden":false}]