flows/mods/archive/flow_novocon_original.json
[{"id":"3d59b117.c5178e","type":"subflow","name":"rbe 3min","info":"","category":"","in":[{"x":80,"y":160,"wires":[{"id":"a2595dfe.e7822"}]}],"out":[{"x":460,"y":160,"wires":[{"id":"5693ea0.6bb3218","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"5693ea0.6bb3218","type":"switch","z":"3d59b117.c5178e","name":"","property":"reset","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":330,"y":160,"wires":[[]]},{"id":"3884281e.9ed2c8","type":"change","z":"3d59b117.c5178e","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":120,"wires":[["a2595dfe.e7822"]]},{"id":"6599b6b1.83e3d8","type":"inject","z":"3d59b117.c5178e","name":"","repeat":"180","crontab":"","once":false,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":210,"y":80,"wires":[["3884281e.9ed2c8"]]},{"id":"a2595dfe.e7822","type":"rbe","z":"3d59b117.c5178e","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":200,"y":160,"wires":[["5693ea0.6bb3218"]]},{"id":"e6b15365.95cc4","type":"tab","label":"Novocon","disabled":false,"info":""},{"id":"4c2493c.6ffb26c","type":"modbus-write","z":"e6b15365.95cc4","name":"Write","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"MHoldingRegisters","adr":"33280","quantity":"2","server":"95c7b447.ae3c78","emptyMsgOnFail":false,"keepMsgProperties":false,"x":1190,"y":260,"wires":[["e822814c.fe763","3306a6cd.a2b0fa"],["4a93a316.13b38c"]]},{"id":"4a93a316.13b38c","type":"modbus-response","z":"e6b15365.95cc4","name":"","registerShowMax":20,"x":1410,"y":280,"wires":[]},{"id":"e822814c.fe763","type":"debug","z":"e6b15365.95cc4","name":"","active":true,"console":"false","complete":"false","x":1390,"y":240,"wires":[]},{"id":"aae28210.fcffd","type":"debug","z":"e6b15365.95cc4","name":"","active":true,"console":"false","complete":"false","x":990,"y":100,"wires":[]},{"id":"c340a9e.dc1d058","type":"join","z":"e6b15365.95cc4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","x":790,"y":160,"wires":[["aae28210.fcffd","6caa6f6b.dca4a"]]},{"id":"8820fa5e.642278","type":"split","z":"e6b15365.95cc4","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":670,"y":160,"wires":[["c340a9e.dc1d058"]]},{"id":"c6aa1e85.b6aeb","type":"function","z":"e6b15365.95cc4","name":"numToFloat32Hex","func":"function numToFloat32Hex(v,le)\n{\n    if(isNaN(v)) return false;\n    var buf = new ArrayBuffer(4);\n    var dv  = new DataView(buf);\n    dv.setFloat32(0, v, true);\n    //return (dv.getUint32(0,!(le||false)));\n    return (\"0000000\"+dv.getUint32(0,!(le||false)).toString(16)).slice(-8).toUpperCase();\n}\n\nmsg.payload = parseInt(msg.payload * 10) / 10;\n\nvar h0 = numToFloat32Hex(msg.payload,false);\n\n\noutmodb = {};\noutmodb[0] = parseInt(h0.substr(0, 4), 16); // hex1a(h0).toString(16);\noutmodb[1] = parseInt(h0.substr(4, 4), 16); //hex2a(h0).toString(16);\nmsg.payload = outmodb;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["8820fa5e.642278"]]},{"id":"114ce6c0.7afd39","type":"link in","z":"e6b15365.95cc4","name":"lphFlow1","links":["15ae019f.03b28e","8ab6d04e.be24d"],"x":115,"y":160,"wires":[["58ed351e.be606c","ad8a7f3d.9e192"]]},{"id":"58ed351e.be606c","type":"trigger","z":"e6b15365.95cc4","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"990","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":260,"y":160,"wires":[["c6aa1e85.b6aeb"]]},{"id":"a0870bd2.ad7258","type":"inject","z":"e6b15365.95cc4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"25","payloadType":"num","x":250,"y":380,"wires":[["c6aa1e85.b6aeb"]]},{"id":"35d50d9c.48c982","type":"inject","z":"e6b15365.95cc4","name":"","repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"0","payloadType":"num","x":250,"y":260,"wires":[["c6aa1e85.b6aeb"]]},{"id":"69c6a5f9.c00b7c","type":"modbus-flex-getter","z":"e6b15365.95cc4","name":"Modbus Read","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"95c7b447.ae3c78","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":660,"y":580,"wires":[["bba243ae.78d3d","8977bf1d.6976"],[]]},{"id":"28fee8ea.b1de48","type":"function","z":"e6b15365.95cc4","name":"t1Nov1","func":"//msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 33280 , 'quantity': 1 } \nmsg.payload = { 'fc': 3, 'unitid': 1, 'address': 33218 , 'quantity': 1 } \nmsg.topic = \"t1Nov1\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":580,"wires":[["69c6a5f9.c00b7c"]]},{"id":"15ad56aa.14c8f9","type":"inject","z":"e6b15365.95cc4","d":true,"name":"","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":270,"y":580,"wires":[["28fee8ea.b1de48"]]},{"id":"7362649c.f0267c","type":"inject","z":"e6b15365.95cc4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":250,"y":420,"wires":[["c6aa1e85.b6aeb"]]},{"id":"e5c5e106.2ffab","type":"inject","z":"e6b15365.95cc4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":250,"y":300,"wires":[["c6aa1e85.b6aeb"]]},{"id":"fea9aad0.1e1e98","type":"function","z":"e6b15365.95cc4","name":"F32tNum","func":"\n\n\nfunction F32tNum(v)\n{\n    //if(isNaN(v)) return false;\n    var buf = new ArrayBuffer(4);\n    var dv  = new DataView(buf);\n    \n    dv.setUint32(0, v, true);\n    //return (dv.getUint32(0,!(le||false)));\n    return (dv.getFloat32(0,true));\n}\n\n//var h0 = numToFloat32Hex(msg.payload,false);\n\n//outmodb = {};\n//outmodb[0] = parseInt(h0.substr(0, 4), 16); // hex1a(h0).toString(16);\n//outmodb[1] = parseInt(h0.substr(4, 4), 16); //hex2a(h0).toString(16);\n\nmsg.payload  = msg.payload[0].toString(16) + \"0000\";\n\nmsg.payload = parseInt(msg.payload,16);\n\nmsg.payload = F32tNum(msg.payload);\n\n\nmsg.payload  = msg.payload * (msg.scale || 1);\n\nmsg.payload  = parseInt(msg.payload * 100) / 100;\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":600,"wires":[["a691acd4.4883e","47a092e.4d7e26c","23ba6589.352e3a"]]},{"id":"23ba6589.352e3a","type":"debug","z":"e6b15365.95cc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1470,"y":500,"wires":[]},{"id":"c12c804c.9cf6f","type":"function","z":"e6b15365.95cc4","name":"t2Nov1","func":"//msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 33280 , 'quantity': 1 } \nmsg.payload = { 'fc': 3, 'unitid': 1, 'address': 33220 , 'quantity': 1 } \nmsg.topic = \"t2Nov1\";\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":620,"wires":[["69c6a5f9.c00b7c"]]},{"id":"ad94ce9e.571f7","type":"inject","z":"e6b15365.95cc4","d":true,"name":"","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":270,"y":620,"wires":[["c12c804c.9cf6f"]]},{"id":"bba243ae.78d3d","type":"debug","z":"e6b15365.95cc4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":660,"wires":[]},{"id":"8682e3d.b4e842","type":"function","z":"e6b15365.95cc4","name":"xpSetNov1","func":"//msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 33280 , 'quantity': 1 } \nmsg.payload = { 'fc': 3, 'unitid': 1, 'address': 33280 , 'quantity': 1 } \nmsg.topic = \"xpSetNov1\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":500,"wires":[["69c6a5f9.c00b7c"]]},{"id":"42ef7fe3.07a7a","type":"inject","z":"e6b15365.95cc4","name":"","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":270,"y":500,"wires":[["8682e3d.b4e842"]]},{"id":"9be1dba3.317c78","type":"inject","z":"e6b15365.95cc4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"98","payloadType":"num","x":250,"y":340,"wires":[["c6aa1e85.b6aeb"]]},{"id":"6caa6f6b.dca4a","type":"trigger","z":"e6b15365.95cc4","name":"2 Sends","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":1000,"y":160,"wires":[["4c2493c.6ffb26c"]]},{"id":"1c917ee.03e8181","type":"function","z":"e6b15365.95cc4","name":"xpNov1","func":"//msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 33280 , 'quantity': 1 } \nmsg.payload = { 'fc': 3, 'unitid': 1, 'address': 33282 , 'quantity': 1 } \nmsg.topic = \"lphNov1\";\n//msg.scale = 100 / (flow.get(lphValveNov1)||900);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":540,"wires":[["69c6a5f9.c00b7c"]]},{"id":"7344de3c.dbdb3","type":"inject","z":"e6b15365.95cc4","name":"","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":270,"y":540,"wires":[["1c917ee.03e8181"]]},{"id":"f0498105.98999","type":"function","z":"e6b15365.95cc4","name":"modeNov1","func":"//msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 33280 , 'quantity': 1 } \nmsg.payload = { 'fc': 3, 'unitid': 1, 'address': 33284 , 'quantity': 1 } \nmsg.topic = \"modeNov1\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":700,"wires":[["69c6a5f9.c00b7c"]]},{"id":"7b3a6ff0.f3a87","type":"inject","z":"e6b15365.95cc4","name":"","repeat":"180","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":270,"y":700,"wires":[["f0498105.98999"]]},{"id":"fc4232ee.66f14","type":"function","z":"e6b15365.95cc4","name":"voltOutNov1","func":"//msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 33280 , 'quantity': 1 } \nmsg.payload = { 'fc': 3, 'unitid': 1, 'address': 33286 , 'quantity': 1 } \nmsg.topic = \"voltOutNov1\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":740,"wires":[["69c6a5f9.c00b7c"]]},{"id":"2280574c.ce1348","type":"inject","z":"e6b15365.95cc4","d":true,"name":"","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":270,"y":740,"wires":[["fc4232ee.66f14"]]},{"id":"7f826343.0150ac","type":"function","z":"e6b15365.95cc4","name":"lphValveNov1","func":"//msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 33280 , 'quantity': 1 } \nmsg.payload = { 'fc': 3, 'unitid': 1, 'address': 33024 , 'quantity': 1 } \nmsg.topic = \"lphValveNov1\";\n//msg.scale = 1 / 60;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":820,"wires":[["69c6a5f9.c00b7c"]]},{"id":"fd7cd341.0016d","type":"inject","z":"e6b15365.95cc4","name":"","repeat":"1800","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"50","payloadType":"num","x":250,"y":820,"wires":[["7f826343.0150ac"]]},{"id":"706ddbe5.b5e764","type":"function","z":"e6b15365.95cc4","name":"voltInNov1","func":"//msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 33280 , 'quantity': 1 } \nmsg.payload = { 'fc': 3, 'unitid': 1, 'address': 33216 , 'quantity': 1 } \nmsg.topic = \"voltInNov1\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":660,"wires":[["69c6a5f9.c00b7c"]]},{"id":"bf0b9a64.769d08","type":"inject","z":"e6b15365.95cc4","d":true,"name":"","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":270,"y":660,"wires":[["706ddbe5.b5e764"]]},{"id":"a691acd4.4883e","type":"rbe","z":"e6b15365.95cc4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1430,"y":580,"wires":[["f6852ebd.1f688"]]},{"id":"ac1dae1.ff5b75","type":"link in","z":"e6b15365.95cc4","name":"lpmFlow1","links":[],"x":115,"y":80,"wires":[["9813669c.771288"]]},{"id":"9813669c.771288","type":"function","z":"e6b15365.95cc4","name":"litres per minute set","func":"msg.payload = msg.payload * 60 * 100 / (flow.get(lphValveNov1)||900);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":80,"wires":[["58ed351e.be606c"]]},{"id":"47a092e.4d7e26c","type":"switch","z":"e6b15365.95cc4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"lphValveNov1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":660,"wires":[["26fa6f75.ffa37"]]},{"id":"26fa6f75.ffa37","type":"change","z":"e6b15365.95cc4","name":"","rules":[{"t":"set","p":"lphValveNov1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":660,"wires":[[]]},{"id":"140b8c6e.03eb64","type":"inject","z":"e6b15365.95cc4","name":"","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"random","payloadType":"str","x":460,"y":360,"wires":[["b9996717.17a178"]]},{"id":"b9996717.17a178","type":"random","z":"e6b15365.95cc4","name":"","low":"1","high":"100","inte":"false","property":"payload","x":600,"y":360,"wires":[[]]},{"id":"8ab6d04e.be24d","type":"link out","z":"e6b15365.95cc4","name":"","links":["114ce6c0.7afd39"],"x":715,"y":360,"wires":[]},{"id":"ad8a7f3d.9e192","type":"debug","z":"e6b15365.95cc4","name":"","active":true,"console":"false","complete":"false","x":230,"y":200,"wires":[]},{"id":"71087eac.f87c5","type":"function","z":"e6b15365.95cc4","name":"speedNov1","func":"//msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 33280 , 'quantity': 1 } \nmsg.payload = { 'fc': 3, 'unitid': 1, 'address': 32803 , 'quantity': 1 } \nmsg.topic = \"speedNov1\";\n//msg.scale = 1 / 60;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":860,"wires":[["69c6a5f9.c00b7c"]]},{"id":"87eb80b7.4bf37","type":"inject","z":"e6b15365.95cc4","name":"","repeat":"1800","crontab":"","once":true,"onceDelay":"11","topic":"","payload":"50","payloadType":"num","x":270,"y":860,"wires":[["71087eac.f87c5"]]},{"id":"80e54aec.8cb9f8","type":"function","z":"e6b15365.95cc4","name":"Signed 32","func":"\nfunction hex2bin(hex){\n    return (\"00000000\" + (parseInt(hex)).toString(2)).substr(-8);\n}\n\nvar result=0;\n \n//result = parseInt(msg.payload[3]) + (255 * parseInt(msg.payload[3]));\n\n\nmsg.payload = hex2bin(msg.responseBuffer.buffer[0]) + hex2bin(msg.responseBuffer.buffer[1]);\n\n\n\n\n//msg.payload = parseInt(msg.payload[3]).toString(10);\nvar mul = 1;\n\nfor (var k=15; k>-1; k--) {\n    \n    \n    result = result + (mul * parseInt(msg.payload.substr(k,1)))\n    mul = mul * 2;\n}\n\n\nmsg.payload  = result * (msg.scale || 1);\n\nmsg.payload  = parseInt(msg.payload * 100) / 100;\n\n\n//1: 3 sec/mm2: 6 sec/mm3: 12 sec/mm4: 24 sec/mm\nif (msg.topic==\"speedNov1\") {\n    \n    \n    if (msg.payload==1) { msg.payload = \"3s/mm\"; }\n    else if (msg.payload==2) { msg.payload = \"6s/mm\"; }\n    else if (msg.payload==3) { msg.payload = \"12s/mm\"; }\n    else if (msg.payload==4) { msg.payload = \"24s/mm\"; }\n    else if (msg.payload==5) { msg.payload = \"special\"; }\n    \n}\n\n//1: Normal2: Calibration3: Flush4: De-Air5: Alarm\nelse if (msg.topic==\"modeNov1\") {\n    \n    \n    if (msg.payload==1) { msg.payload = \"normal\"; }\n    else if (msg.payload==2) { msg.payload = \"callibration\"; }\n    else if (msg.payload==3) { msg.payload = \"flush\"; }\n    else if (msg.payload==4) { msg.payload = \"de-air\"; }\n    else if (msg.payload==5) { msg.payload = \"alarm\"; }\n    \n}\n\n//1AB-QM ISO DN 10LF150L/h2.251202AB-QM ISO DN 10275L/h2.251203AB-QM ISO DN 15LF275L/h2.2512041)AB-QM ISO DN 15450L/h2.251205AB-QM ISO DN 20900L/h2.251206AB-QM ISO DN 25170 0L/h4.51107AB-QM ISO DN 323200L/h4.5110\nelse if (msg.topic==\"typeNov1\") {\n    \n    \n    if (msg.payload==1) { msg.payload = \"AB-QM DN10LF 150L/h\"; }\n    else if (msg.payload==2) { msg.payload = \"AB-QM DN10 275L/h\"; }\n    else if (msg.payload==3) { msg.payload = \"AB-QM DN15LF 275L/h\"; }\n    else if (msg.payload==4) { msg.payload = \"AB-QM DN15 450L/h\"; }\n    else if (msg.payload==5) { msg.payload = \"AB-QM DN20 900L/h\"; }\n    else if (msg.payload==6) { msg.payload = \"AB-QM DN25 1700L/h\"; }\n    else if (msg.payload==7) { msg.payload = \"AB-QM DN32 3200L/h\"; }\n    \n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":540,"wires":[["a691acd4.4883e","ad0db949.9182e8"]]},{"id":"8977bf1d.6976","type":"switch","z":"e6b15365.95cc4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"speedNov1","vt":"str"},{"t":"eq","v":"modeNov1","vt":"str"},{"t":"eq","v":"typeNov1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":830,"y":580,"wires":[["80e54aec.8cb9f8"],["80e54aec.8cb9f8"],["80e54aec.8cb9f8"],["fea9aad0.1e1e98"]]},{"id":"ad0db949.9182e8","type":"debug","z":"e6b15365.95cc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1450,"y":460,"wires":[]},{"id":"58a04a5a.4ab464","type":"function","z":"e6b15365.95cc4","name":"typeNov1","func":"//msg.payload = { value: msg.payload, 'fc': 3, 'unitid': 1, 'address': 33280 , 'quantity': 1 } \nmsg.payload = { 'fc': 3, 'unitid': 1, 'address': 32802 , 'quantity': 1 } \nmsg.topic = \"typeNov1\";\n//msg.scale = 1 / 60;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":780,"wires":[["69c6a5f9.c00b7c"]]},{"id":"a1420e2a.3fb04","type":"inject","z":"e6b15365.95cc4","name":"","repeat":"1800","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"50","payloadType":"num","x":250,"y":780,"wires":[["58a04a5a.4ab464"]]},{"id":"d601405f.f0f0a","type":"catch","z":"e6b15365.95cc4","name":"","scope":["4c2493c.6ffb26c"],"uncaught":false,"x":1230,"y":140,"wires":[["79d73307.60fe3c","51097f4.811c68"]]},{"id":"2cbb64b8.c3673c","type":"link out","z":"e6b15365.95cc4","name":"","links":["50e467e8.673be","25cf0d2a.c0c0d2"],"x":1775,"y":180,"wires":[]},{"id":"79d73307.60fe3c","type":"function","z":"e6b15365.95cc4","name":"","func":"msg.topic = \"alarm/modbus\";\nmsg.payload = msg.error.message;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":140,"wires":[["a56d19c.225b5e8","ff981378.84542"]]},{"id":"3306a6cd.a2b0fa","type":"function","z":"e6b15365.95cc4","name":"","func":"msg.topic = \"alarm/modbus\";\nmsg.payload = \"ok\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":180,"wires":[["a56d19c.225b5e8","9f989a4d.f374f8"]]},{"id":"a56d19c.225b5e8","type":"subflow:3d59b117.c5178e","z":"e6b15365.95cc4","name":"","env":[],"x":1620,"y":180,"wires":[["2cbb64b8.c3673c"]]},{"id":"f6852ebd.1f688","type":"link out","z":"e6b15365.95cc4","name":"","links":["50e467e8.673be","25cf0d2a.c0c0d2"],"x":1675,"y":580,"wires":[]},{"id":"51097f4.811c68","type":"debug","z":"e6b15365.95cc4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1350,"y":60,"wires":[]},{"id":"46c9536b.725e7c","type":"exec","z":"e6b15365.95cc4","d":true,"command":"node-red-restart","addpay":false,"append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1810,"y":80,"wires":[[],[],[]]},{"id":"ff981378.84542","type":"trigger","z":"e6b15365.95cc4","name":"","op1":"","op2":"1","op1type":"nul","op2type":"str","duration":"90","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":1590,"y":80,"wires":[["46c9536b.725e7c"]]},{"id":"9f989a4d.f374f8","type":"change","z":"e6b15365.95cc4","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":140,"wires":[["ff981378.84542"]]},{"id":"95c7b447.ae3c78","type":"modbus-client","name":"","clienttype":"serial","bufferCommands":false,"stateLogEnabled":true,"queueLogEnabled":false,"failureLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyAMA0","serialType":"RTU","serialBaudrate":"38400","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false}]