flows/mods/flow_modbus_novocon.json
[{"id":"663c7c4231d9ca2d","type":"tab","label":"Novocon Modbus","disabled":false,"info":"A Modbus master for connecting to [Danfoss Novocon actuators](https://www.otomatikkontrolteknik.com/Danfoss/003Z8502-teknik-data.pdf).\r\nUses ttyS0 serial connection. Implements fc3, fc6, fc16, float32."},{"id":"3714b53db1f1bff1","type":"function","z":"663c7c4231d9ca2d","name":"","func":"if(Buffer.from(msg.payload, 'ascii')[1]!==3) { \n\n//if (msg.payload[3]!==3) {\n    \n    msg.topic = \"next\";\n    return [msg, null];\n}\n\n\nfunction hex2bin(hex){\n    return (\"00000000\" + (parseInt(hex)).toString(2)).substr(-8);\n}\n\nfunction dec2bin(dec){\n  return (dec >>> 0).toString(2);\n}\n\nfunction Int2Float32(bytes) {\n    var sign = (bytes & 0x80000000) ? -1 : 1;\n    var exponent = ((bytes >> 23) & 0xFF) - 127;\n    var significand = (bytes & ~(-1 << 23));\n\n    if (exponent == 128)\n        return sign * ((significand) ? Number.NaN : Number.POSITIVE_INFINITY);\n\n    if (exponent == -127) {\n        if (significand === 0) return sign * 0.0;\n        exponent = -126;\n        significand /= (1 << 22);\n    } else significand = (significand | (1 << 23)) / (1 << 23);\n\n    return sign * significand * Math.pow(2, exponent);\n}\n\nvar msg2 = { \"payload\": Buffer.from(msg.payload, 'ascii') };\n\nmsg.address = msg.payload[0];\n//msg.register = (256 * msg.payload[2]) + msg.payload[3];\nmsg.register = flow.get(\"curreg\");\n\n\nvar minfo = flow.get(\"registers.r\" + msg.register) || null;\nvar dinfo = flow.get(\"devices.\" + msg.address) || null;\n\nif (!minfo) { return null; }\nif (!dinfo) { return null; }  \n\nflow.set(\"modbusIn\",\"xxx\");\n\n\nif (minfo.datatype==\"bits\") {\n    \n    var oot = {};\n    var bits = minfo.items.split(\",\");\n    var bc=15;\n    for (var bit in bits) {\n    \n        var item = {};\n        item.payload = (256 * msg.payload[3]) + msg.payload[4];        \n        item.payload =   (\"00000000000000000\" + dec2bin(item.payload)).substr(-16);\n        item.payload =  item.payload.substr(bc,1);\n        \n        item.topic = dinfo.device + \"/\" + bits[bit].replace(\".\",\"/\");\n        \n        if (minfo[\"units\"]) { item.units = minfo[\"units\"]; }\n        item.title = (bits[bit].split(\".\")[1]?  bits[bit].split(\".\")[1]:bits[bit]) + \" [Modbus \" + msg.register + \", bit \" + bit + \"]\"; \n\n        if (minfo[\"title\"]) { item.title = minfo[\"title\"] + \", \" + item.title; }\n\n        if (minfo[\"values\"]) {\n            \n            if (minfo[\"values\"][15-bc]) {\n                if (minfo[\"values\"][15-bc][\"\" + item.payload]) { item.payload = minfo[\"values\"][15-bc][\"\" + item.payload]; }\n            }\n        }\n\n\n        \n        oot[item.topic] = item;\n        \n        bc=bc-1;\n\n    }\n    msg.payload = oot;\n    \n    return [null,msg];\n    \n    \n} \n\nelse if (minfo.datatype == \"IEEE754\" || minfo.datatype.toLowerCase() == \"float\") {\n\n    msg.payload = String.fromCharCode(msg.payload[3]) + String.fromCharCode(msg.payload[4]) + String.fromCharCode(msg.payload[5]) + String.fromCharCode(msg.payload[6]);\n    msg.payload = Buffer.from(msg.payload, 'ascii');\n\n    \n    let intValue;\n    // if (typeof msg.payload === \"number\") {\n    //     intValue = msg.payload;\n    // } else if (typeof msg.payload === \"string\") {\n    //     intValue = Number(msg.payload);\n    // } else if (msg.payload.length == 4) {\n        // four byte array or buffer\n        intValue = (((((msg.payload[0] << 8) + msg.payload[1]) << 8) + msg.payload[2]) << 8) + msg.payload[3];\n    // } else {\n    //     node.warn(\"Unrecognised payload type or length\");\n    // }\n\n    msg.payload = Int2Float32(intValue);\n    msg.payload =  msg.payload / parseFloat(minfo[\"multiplier\"] || 1);\n    \n    msg.topic = dinfo.device + \"/\" + minfo[\"reading\"].replace(\".\", \"/\");\n\n\n\n    if (minfo[\"units\"]) { msg.units = minfo[\"units\"]; }\n    //if (minfo[\"title\"]) { msg.title = minfo[\"title\"]; }\n\n\n    if (minfo[\"title\"]) { msg.title = minfo[\"title\"] + \" [Modbus \" + msg.register + \"]\"; }\n    else { msg.title = (minfo[\"reading\"].split(\".\")[1] ? minfo[\"reading\"].split(\".\")[1] : minfo[\"reading\"]) + \" [Modbus \" + msg.register + \"]\"; }\n\n    return [msg, null];\n\n}\n\nelse {\n    \n   \n           \n    msg.payload = (256 * msg.payload[3]) + msg.payload[4];        \n    msg.payload =  msg.payload / parseFloat(minfo[\"multiplier\"] || 1);\n\n    msg.topic = dinfo.device + \"/\" + minfo[\"reading\"].replace(\".\",\"/\");\n\n\n    if (minfo[\"values\"]) {\n        \n        if (minfo[\"values\"]==\"alarmCodes\") { \n            \n            var ac = flow.get(\"alarmCodes\");\n            if (ac[\"\" + msg.payload]) { msg.payload = ac[\"\" + msg.payload]; }\n        }\n        \n        else if (minfo[\"values\"][\"\" + msg.payload]) { msg.payload = minfo[\"values\"][\"\" + msg.payload]; }\n    }\n\n    if (minfo[\"units\"]) { msg.units = minfo[\"units\"]; }\n    //if (minfo[\"title\"]) { msg.title = minfo[\"title\"]; }\n    \n    \n    if (minfo[\"title\"]) { msg.title = minfo[\"title\"] + \" [Modbus \" + msg.register + \"]\"; }\n    else  { msg.title = (minfo[\"reading\"].split(\".\")[1]?  minfo[\"reading\"].split(\".\")[1] : minfo[\"reading\"]) + \" [Modbus \" + msg.register + \"]\"; }\n\n    return [msg,null];\n    \n}\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":780,"wires":[["b644871b5702ef71","fe8420efdb0a4b64","648924557c1cdec1","f482a3e83b7093c0"],["06a42ce42dc4cae6","e3a77069efc7bdf8","fe8420efdb0a4b64"]]},{"id":"b644871b5702ef71","type":"debug","z":"663c7c4231d9ca2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":640,"wires":[]},{"id":"ac091ad91637cc36","type":"function","z":"663c7c4231d9ca2d","name":"Modbus","func":"// http://www.simplymodbus.ca/FC03.htm\n//11 03 006B 0003 7687\n// 11 03 06 AE41 5652 4340 49AD\n\n// uses address 17 as default.\n\n//var offs = 0;\n//if  (msg.payload[0] === 0) { offs = 1; }\nif (!msg.payload) { msg.payload={}; }\n\nvar address = parseInt(msg.payload.address || msg.address || 1);\nvar fc = msg.payload.fc || msg.fc ;\nvar register = parseInt(msg.payload.register || msg.register || 1);\nflow.set(\"curreg\", register);\nflow.set(\"fc\", fc);\n\n//register = register - 1;\n\n\n\nvar r1 = Math.floor(register / 256);\nvar r2 = register % 256;\n\n\nvar minfo = flow.get(\"registers.r\" + register) || {};\n\nvar rlength = minfo.rlength || msg.payload.rlength || msg.rlength || 1;\n\nvar targetv = msg.targetv; //999;\n\n\nif (fc != 3 && fc != 6 && fc != 16) { return null; }\n\nflow.set(\"modbusIn\",\"\");\n\n//targetv = global.get(\"modbus.\"+register+\".value\") || 0;\n\n//targetv = parseInt(global.get(\"modbus.\"+register+\".multiply\") || 1) * targetv;\n\n\nfunction crc16(buffer) {\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < buffer.length; i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n    crc  = \"0000\" + crc.toString(16);\n    crc = crc.substr(-4);\n\n    return crc;\n}\n\n       \nfunction numToFloat32Hex(v,le)\n{\n    if(isNaN(v)) return false;\n    var buf = new ArrayBuffer(4);\n    var dv  = new DataView(buf);\n    dv.setFloat32(0, v, true);\n    //return (dv.getUint32(0,!(le||false)));\n    return (\"0000000\"+dv.getUint32(0,!(le||false)).toString(16)).slice(-8).toUpperCase();\n}\n\nvar tosend = \"\";\nvar crcString =\"\";\nvar msg2={};\n \nif (fc == 3) {   // read\n\n    \n    tosend = String.fromCharCode(address) + String.fromCharCode(3);\n    tosend += String.fromCharCode(r1) + String.fromCharCode(r2);\n    tosend += String.fromCharCode(0) + String.fromCharCode(rlength);\n    \n    crcString = crc16(Buffer.from(tosend, 'ascii'));\n    tosend += String.fromCharCode(parseInt(crcString.substr(2,2),16)) + String.fromCharCode(parseInt(crcString.substr(0,2),16)) ;\n    \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    \n    tosend = \"-\" + tosend;\n    \n    msg2.payload  = Buffer.from(tosend, 'ascii');\n    \n    \n    return [msg,msg2];\n\n} else if (fc == 6 ) {    // write\n\n\n    tosend = String.fromCharCode(address) + String.fromCharCode(6);\n    \n    tosend += String.fromCharCode(r1) + String.fromCharCode(r2);\n    \n    targetv = parseInt(targetv) ;\n    \n   \n    \n        var hexStringValue  = \"0000\" + targetv.toString(16);\n        hexStringValue = hexStringValue.substr(-4);\n        tosend += String.fromCharCode(parseInt(hexStringValue.substr(0,2),16)) + String.fromCharCode(parseInt(hexStringValue.substr(2,2),16)) ;\n        \n    \n        \n   \n    \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    crcString = crc16(msg.payload);\n   \n    tosend += String.fromCharCode(parseInt(crcString.substr(2,2),16)) + String.fromCharCode(parseInt(crcString.substr(0,2),16)) ;\n   \n       \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    tosend = \"-\" + tosend;\n    msg2.payload  = Buffer.from(tosend, 'ascii');\n    \n    \n    return [msg,msg2];\n\n} else if (fc == 16 ) {    // write\n\n\n    tosend = String.fromCharCode(address) + String.fromCharCode(16);\n    \n    tosend += String.fromCharCode(r1) + String.fromCharCode(r2);\n    \n    tosend += String.fromCharCode(0)+ String.fromCharCode(2) + String.fromCharCode(4);\n    \n    targetv = parseInt(targetv) ;\n    \n    if (minfo.datatype == \"IEEE754\" || minfo.datatype.toLowerCase() == \"float\") {\n        \n         \n        \n        msg.payload = parseInt(targetv * 10000) / 10000;\n        \n        var h0 = numToFloat32Hex(msg.payload,false) + \"0000000000\";\n        \n        //if (targetv===0) { h0 = \"0000000000\"; }\n        \n        // outmodb = {};\n        // outmodb[0] = parseInt(h0.substr(0, 4), 16); // hex1a(h0).toString(16);\n        // outmodb[1] = parseInt(h0.substr(4, 4), 16); //hex2a(h0).toString(16);\n        \n        //tosend += h0.substr(0, 4);\n        tosend += String.fromCharCode(parseInt(h0.substr(0,2),16)) + String.fromCharCode(parseInt(h0.substr(2,2),16)) +  String.fromCharCode(parseInt(h0.substr(4,2),16)) + String.fromCharCode(parseInt(h0.substr(6,2),16));\n        \n    } \n    \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    crcString = crc16(msg.payload);\n   \n    tosend += String.fromCharCode(parseInt(crcString.substr(2,2),16)) + String.fromCharCode(parseInt(crcString.substr(0,2),16)) ;\n   \n       \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    tosend = \"-\" + tosend;\n    msg2.payload  = Buffer.from(tosend, 'ascii');\n    \n    \n    return [msg,msg2];\n\n} \n\n\n","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":380,"wires":[["895dbda6284d9373","59589798e2ca75ca","486e7437b4be3c9d"],[]]},{"id":"9a3b4ff293e1b6c7","type":"serial in","z":"663c7c4231d9ca2d","name":"","serial":"0b66d19ca58fb3bb","x":760,"y":780,"wires":[["7536fdb34269049c","3714b53db1f1bff1"]]},{"id":"486e7437b4be3c9d","type":"serial out","z":"663c7c4231d9ca2d","name":"","serial":"0b66d19ca58fb3bb","x":1200,"y":380,"wires":[]},{"id":"7536fdb34269049c","type":"debug","z":"663c7c4231d9ca2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":700,"wires":[]},{"id":"59589798e2ca75ca","type":"debug","z":"663c7c4231d9ca2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":340,"wires":[]},{"id":"461956407bbb2a46","type":"inject","z":"663c7c4231d9ca2d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":"20","topic":"","payload":"registers","payloadType":"flow","x":160,"y":240,"wires":[["c3b6e64f32632bba"]]},{"id":"c3b6e64f32632bba","type":"function","z":"663c7c4231d9ca2d","name":"","func":"\nvar oot = [];\n\nfor (var r in flow.get(\"registers\")) {\n    for (var d in flow.get(\"devices\")) {\n    \n    \n        var item = {};\n        item.fc = 3;\n        item.address = flow.get(\"devices.\"+d+\".address\");\n        item.register = flow.get(\"registers.\"+r+\".register\");\n        item.rlength = flow.get(\"registers.\"+r+\".rlength\") || 1;\n\n        oot.push(item);\n        \n    }\n    \n}\n\nmsg.payload = oot;\n\nflow.set(\"msglist\",[]);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":240,"wires":[["9ad3aee4d70e890d"]]},{"id":"df9c50743c0fb651","type":"split","z":"663c7c4231d9ca2d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":320,"wires":[["3b1de87fdd891785"]]},{"id":"64f3574dc5ca2874","type":"debug","z":"663c7c4231d9ca2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":200,"wires":[]},{"id":"54fba96123884a3b","type":"link out","z":"663c7c4231d9ca2d","name":"","mode":"link","links":["f902689731d7cd93"],"x":1615,"y":700,"wires":[]},{"id":"06a42ce42dc4cae6","type":"split","z":"663c7c4231d9ca2d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":1110,"y":940,"wires":[["3046434c45060e3c"]]},{"id":"8fbb0a8fcd08374c","type":"debug","z":"663c7c4231d9ca2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1430,"y":940,"wires":[]},{"id":"e3a77069efc7bdf8","type":"debug","z":"663c7c4231d9ca2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":900,"wires":[]},{"id":"36326d33f73ad47f","type":"debug","z":"663c7c4231d9ca2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1890,"y":820,"wires":[]},{"id":"e1c365d4945d448e","type":"function","z":"663c7c4231d9ca2d","name":"32768","func":"\nmsg.fc = 3;\nmsg.address = 1;\nmsg.register = 32768;\nmsg.rlength = 2;\n\nflow.set(\"multiply\", 1);\nflow.set(\"rtopic\", \"test\");\n\n\nmsg.targetv = 60;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":560,"wires":[["1b19f457f9234599"]]},{"id":"1f4910abe3c35067","type":"inject","z":"663c7c4231d9ca2d","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":560,"wires":[["e1c365d4945d448e"]]},{"id":"468f775ca1b4ef7a","type":"function","z":"663c7c4231d9ca2d","name":"Read Key Registers","func":"\n\nvar oot = [];\n\n    for (var d in flow.get(\"devices\")) {\n    \n    \n        var item = {};\n        item.fc = 3;\n        item.address = flow.get(\"devices.\"+d+\".address\");\n        item.register = 33280;\n\n        oot.push(item);\n        \n        \n        \n        item = {};\n        item.fc = 3;\n        item.address = flow.get(\"devices.\"+d+\".address\");\n        item.register = 33282;\n\n        oot.push(item);\n        \n   \n        \n        \n    }\n    \n\n\nmsg.payload = oot;\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":320,"wires":[["df9c50743c0fb651"]]},{"id":"956c88c4d31a615e","type":"inject","z":"663c7c4231d9ca2d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":320,"wires":[["468f775ca1b4ef7a"]]},{"id":"3b1de87fdd891785","type":"function","z":"663c7c4231d9ca2d","name":"SHIFT","func":"\nvar msglist=flow.get(\"msglist\") || [];\n\n//if (msglist.length> 100) { msglist = []; }\n    \nif (msg.payload == \"next\") { \n    \n    if (!msglist[0]) { return null; }\n    \n    if (flow.get(\"modbusIn\")===\"\") { return null; }\n    \n    msg = msglist[0];\n    msglist.shift();\n    flow.set(\"msglist\",msglist);\n    return msg;\n}\n\nelse {   \n    \n    msglist.push(msg); \n    flow.set(\"msglist\",msglist);\n    return null;\n    \n}\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":380,"wires":[["ac091ad91637cc36"]]},{"id":"b967909861f0f653","type":"inject","z":"663c7c4231d9ca2d","name":"","props":[{"p":"payload","v":"next","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"next","payloadType":"str","x":610,"y":400,"wires":[["3b1de87fdd891785"]]},{"id":"fe8420efdb0a4b64","type":"link out","z":"663c7c4231d9ca2d","name":"","links":["c4e46a82.1c9e7","8b07820fb7322ccd"],"x":1095,"y":780,"wires":[]},{"id":"895dbda6284d9373","type":"trigger","z":"663c7c4231d9ca2d","name":"","op1":"reading","op2":"done","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","outputs":1,"x":1200,"y":460,"wires":[["29cd11114f5613b1"]]},{"id":"29cd11114f5613b1","type":"change","z":"663c7c4231d9ca2d","name":"","rules":[{"t":"set","p":"modbusIn","pt":"flow","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":460,"wires":[[]]},{"id":"8b07820fb7322ccd","type":"link in","z":"663c7c4231d9ca2d","name":"","links":["fe8420efdb0a4b64"],"x":415,"y":440,"wires":[["a6d0c61d45ab518a"]]},{"id":"4509c97a9fdf9f1f","type":"change","z":"663c7c4231d9ca2d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":440,"wires":[["3b1de87fdd891785"]]},{"id":"1bc981d1be951c05","type":"inject","z":"663c7c4231d9ca2d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":1010,"y":460,"wires":[["895dbda6284d9373"]]},{"id":"dfc85031fc54c8c6","type":"link in","z":"663c7c4231d9ca2d","name":"","links":["d15284185ccc9113","2db0089.690c2f8","be5ca099.80857","5dbf074d.dd7078","315cd92.2bca026"],"x":635,"y":360,"wires":[["3b1de87fdd891785"]]},{"id":"d15284185ccc9113","type":"link out","z":"663c7c4231d9ca2d","name":"","links":["dfc85031fc54c8c6","479e65f4.abc6cc"],"x":815,"y":560,"wires":[]},{"id":"3046434c45060e3c","type":"function","z":"663c7c4231d9ca2d","name":"","func":"msg= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":940,"wires":[["8fbb0a8fcd08374c","6d19f46d44c747af"]]},{"id":"1b19f457f9234599","type":"change","z":"663c7c4231d9ca2d","name":"","rules":[{"t":"delete","p":"msglist","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":560,"wires":[["d15284185ccc9113"]]},{"id":"0d66535fc60b1b94","type":"delay","z":"663c7c4231d9ca2d","d":true,"name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":750,"y":240,"wires":[["3b1de87fdd891785"]]},{"id":"9ad3aee4d70e890d","type":"split","z":"663c7c4231d9ca2d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":470,"y":240,"wires":[["0d66535fc60b1b94","64f3574dc5ca2874","3b1de87fdd891785"]]},{"id":"4405161e4abd1453","type":"change","z":"663c7c4231d9ca2d","name":"","rules":[{"t":"set","p":"points","pt":"msg","to":"5000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":740,"wires":[["54fba96123884a3b"]]},{"id":"648924557c1cdec1","type":"switch","z":"663c7c4231d9ca2d","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"next","vt":"str"},{"t":"cont","v":"AlarmCode","vt":"str"},{"t":"cont","v":"WarningCode","vt":"str"},{"t":"cont","v":"Position","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":1130,"y":720,"wires":[[],["6d98e1e1022b1da4","54fba96123884a3b"],["54fba96123884a3b"],["4405161e4abd1453"],["6d19f46d44c747af"]]},{"id":"73e50478a7d3f5a3","type":"inject","z":"663c7c4231d9ca2d","name":"REGISTERS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"[{\"register\":\"32768\",\"reading\":\"stat.designFlowRate\",\"multiplier\":\"1\",\"datatype\":\"float\",\"rlength\":2,\"units\":\"ltr/hr\"},{\"register\":\"33280\",\"reading\":\"dat.xpVSet\",\"multiplier\":\"1\",\"datatype\":\"float\",\"rlength\":2,\"units\":\"%\"},{\"register\":\"33282\",\"reading\":\"dat.fV\",\"multiplier\":\"60\",\"datatype\":\"float\",\"rlength\":2,\"units\":\"ltr/min\"}]","payloadType":"json","x":150,"y":140,"wires":[["26713db5854d91e5"]]},{"id":"6aa3eee6c07beace","type":"split","z":"663c7c4231d9ca2d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":140,"wires":[["50697d2ac4af7213"]]},{"id":"50697d2ac4af7213","type":"function","z":"663c7c4231d9ca2d","name":"Store Registers","func":"\nvar rin = msg.payload;\nif (rin.register<1) { return null; } \n\n\nvar v = global.get(\"readings.\" + rin.reading + \".value\") || 0\nrin[\"value\"] = v;\n\n\n\nflow.set(\"registers.r\" + rin.register, rin);\n\nmsg.payload = flow.get(\"registers\") ;\n    \nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":700,"y":140,"wires":[[]]},{"id":"cd58a60dbf99ca05","type":"inject","z":"663c7c4231d9ca2d","name":"DEVICES","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"[{\"address\":\"1\",\"device\":\"novocon1\"}]","payloadType":"json","x":1080,"y":60,"wires":[["996de8c4e1fbf578"]]},{"id":"996de8c4e1fbf578","type":"split","z":"663c7c4231d9ca2d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1210,"y":60,"wires":[["b2d6a6010d61af92"]]},{"id":"b2d6a6010d61af92","type":"function","z":"663c7c4231d9ca2d","name":"Store Devices","func":"\nvar rin = msg.payload;\nif (rin.address<1) { return null; } \n\n\nflow.set(\"devices.\" + rin.address, rin);\n\n\n    \nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":1360,"y":60,"wires":[[]]},{"id":"69c3d87b5e79d717","type":"link in","z":"663c7c4231d9ca2d","name":"","links":["1f335ee0.7b9a41","b09805d5.754898","00e1cf328e120f4a"],"x":255,"y":500,"wires":[["e0e4414291ef3b35"]]},{"id":"6d98e1e1022b1da4","type":"function","z":"663c7c4231d9ca2d","name":"","func":"msg.topic = msg.topic.replace(\"/stat/\",\"/alarm/\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":680,"wires":[["54fba96123884a3b"]]},{"id":"e0e4414291ef3b35","type":"delay","z":"663c7c4231d9ca2d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":500,"wires":[["1b19f457f9234599"]]},{"id":"12a9b5ebc3461d64","type":"inject","z":"663c7c4231d9ca2d","name":"REGISTERS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"[{\"register\":\"1\",\"reading\":\"dat.setpoint\",\"multiplier\":\"100\",\"datatype\":\"int16\"},{\"register\":\"2\",\"reading\":\"dat.overrideControl\",\"multiplier\":\"1\",\"datatype\":\"int16\",\"values\":{\"0\":\"none\",\"1\":\"open\",\"2\":\"close\",\"3\":\"min\",\"4\":\"mid\",\"5\":\"max\"}},{\"register\":\"3\",\"reading\":\"dat.command\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"4\",\"reading\":\"dat.actuatorType\",\"multiplier\":\"1\",\"datatype\":\"int16\",\"values\":{\"0\":\"Actuator Not Connected\",\"1\":\"Air / Water\",\"2\":\"VAV / EPIV\",\"3\":\"Fire\",\"4\":\"Energy Valve\",\"5\":\"6way EPIV\"}},{\"register\":\"5\",\"reading\":\"dat.relativePosition\",\"multiplier\":\"100\",\"datatype\":\"int16\",\"units\":\"%\"},{\"register\":\"6\",\"reading\":\"dat.absolutePosition\",\"multiplier\":\"1\",\"datatype\":\"int16\",\"units\":\"mm\"},{\"register\":\"6\",\"reading\":\"dat.sensorValue1\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"13\",\"reading\":\"dat.setpointAnalogue\",\"multiplier\":\"100\",\"datatype\":\"int16\",\"units\":\"%\"},{\"register\":\"100\",\"reading\":\"settings.busTermination\",\"multiplier\":\"1\",\"datatype\":\"int16\",\"values\":{\"0\":\"inactive\",\"1\":\"active\"}},{\"register\":\"101\",\"reading\":\"stat.seriesNumberPart1\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"102\",\"reading\":\"stat.seriesNumberPart2\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"103\",\"reading\":\"stat.seriesNumberPart3\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"104\",\"reading\":\"stat.firmwareVirsion\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"106\",\"reading\":\"settings.min\",\"multiplier\":\"100\",\"datatype\":\"int16\",\"units\":\"%\"},{\"register\":\"107\",\"reading\":\"settings.max\",\"multiplier\":\"100\",\"datatype\":\"int16\",\"units\":\"%\"},{\"register\":\"108\",\"reading\":\"settings.sensorType1\",\"multiplier\":\"1\",\"datatype\":\"int16\",\"values\":{\"0\":\"None\",\"1\":\"Active / Hybrid\",\"2\":\"Passive_1K\",\"3\":\"Passive_20K\",\"4\":\"Switch\",\"5\":\"PT1000_C\",\"6\":\"NI1000_C\",\"7\":\"NTC10K_C\",\"8\":\"PT1000_F\",\"9\":\"NI1000_F\",\"10\":\"NTC10K_F\"}},{\"register\":\"109\",\"reading\":\"settings.busFailPosition\",\"multiplier\":\"1\",\"datatype\":\"int16\",\"values\":{\"0\":\"None / Last setpoint\",\"1\":\"Fast close\",\"2\":\"Fast open\",\"3\":\"Mid position\"}},{\"register\":\"110\",\"reading\":\"settings.watchdogTimeout\",\"multiplier\":\"1\",\"datatype\":\"int16\",\"units\":\"s\"}]","payloadType":"json","x":1090,"y":120,"wires":[[]]},{"id":"26713db5854d91e5","type":"change","z":"663c7c4231d9ca2d","name":"","rules":[{"t":"delete","p":"registers","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":140,"wires":[["6aa3eee6c07beace"]]},{"id":"5e04d9d68e887055","type":"inject","z":"663c7c4231d9ca2d","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":true,"onceDelay":"10","topic":"","payloadType":"date","x":150,"y":80,"wires":[["14ea04632faf33f0"]]},{"id":"14ea04632faf33f0","type":"http request","z":"663c7c4231d9ca2d","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://raw.githubusercontent.com/heatweb/plumbing-controller/main/json/modbus/novocon.json","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":310,"y":80,"wires":[["4faa6ba0ad06df98","0168edd49dc5b13d"]]},{"id":"76d4165b23960e65","type":"debug","z":"663c7c4231d9ca2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":80,"wires":[]},{"id":"4faa6ba0ad06df98","type":"function","z":"663c7c4231d9ca2d","name":"novocon1","func":"\nfunction checkMatch(device) {\n  return device.id == \"novocon1\";\n}\n\nmsg.payload = msg.payload.filter(checkMatch);\n\nif (msg.payload[0]) { msg.payload = msg.payload[0].registers }\n\nelse { return null; }\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":80,"wires":[["76d4165b23960e65","26713db5854d91e5"]]},{"id":"0168edd49dc5b13d","type":"debug","z":"663c7c4231d9ca2d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":40,"wires":[]},{"id":"a6d0c61d45ab518a","type":"delay","z":"663c7c4231d9ca2d","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":550,"y":440,"wires":[["4509c97a9fdf9f1f"]]},{"id":"7e8693443561562b","type":"switch","z":"663c7c4231d9ca2d","name":"","property":"reset","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":1490,"y":880,"wires":[["54fba96123884a3b","36326d33f73ad47f"]]},{"id":"eac5d03341576d03","type":"change","z":"663c7c4231d9ca2d","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":840,"wires":[["6d19f46d44c747af"]]},{"id":"69b5fb06d88c3b3d","type":"inject","z":"663c7c4231d9ca2d","name":"3 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"180","crontab":"","once":false,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":1430,"y":800,"wires":[["eac5d03341576d03"]]},{"id":"6d19f46d44c747af","type":"rbe","z":"663c7c4231d9ca2d","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1370,"y":880,"wires":[["7e8693443561562b"]]},{"id":"c849f199a7e999f7","type":"mqtt out","z":"663c7c4231d9ca2d","name":"","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7ad2997b.42a908","x":1710,"y":620,"wires":[]},{"id":"5d1ce0aba2667791","type":"function","z":"663c7c4231d9ca2d","name":"_/","func":"msg.topic = \"_/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":620,"wires":[["c849f199a7e999f7"]]},{"id":"f902689731d7cd93","type":"link in","z":"663c7c4231d9ca2d","name":"link in 2","links":["54fba96123884a3b"],"x":1495,"y":620,"wires":[["5d1ce0aba2667791"]]},{"id":"cadae70564f9c247","type":"comment","z":"663c7c4231d9ca2d","name":"","info":"https://www.binaryconvert.com/convert_signed_int.html?hexadecimal=000019FD","x":1040,"y":1080,"wires":[]},{"id":"16cc2bf394c34933","type":"function","z":"663c7c4231d9ca2d","name":"32768","func":"\nmsg.fc = 3;\nmsg.address = 1;\nmsg.register = 32768;\nmsg.rlength = 2;\n\nflow.set(\"multiply\", 1);\nflow.set(\"rtopic\", \"test\");\n\n\nmsg.targetv = 60;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":620,"wires":[["1b19f457f9234599"]]},{"id":"6fe8820281aaf328","type":"inject","z":"663c7c4231d9ca2d","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":620,"wires":[["16cc2bf394c34933"]]},{"id":"0c14cbec8f35af4f","type":"trigger","z":"663c7c4231d9ca2d","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"990","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":420,"y":820,"wires":[["5ccd06365ce62120"]]},{"id":"7052eeca6012ffc0","type":"function","z":"663c7c4231d9ca2d","name":"litres per minute set","func":"msg.payload = msg.payload * 60 * 100 / (flow.get(\"lphValveNov1\")||900);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":760,"wires":[["0c14cbec8f35af4f"]]},{"id":"590a6c60cdea0c4e","type":"debug","z":"663c7c4231d9ca2d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":920,"wires":[]},{"id":"4e222fa0fa18cbe9","type":"function","z":"663c7c4231d9ca2d","name":"Modbus","func":"// http://www.simplymodbus.ca/FC03.htm\n//11 03 006B 0003 7687\n// 11 03 06 AE41 5652 4340 49AD\n\n// uses address 17 as default.\n\n//var offs = 0;\n//if  (msg.payload[0] === 0) { offs = 1; }\nif (!msg.payload) { msg.payload={}; }\n\nvar address = parseInt(msg.payload.address || msg.address || 1);\nvar fc = msg.payload.fc || msg.fc ;\nvar register = parseInt(msg.payload.register || msg.register || 1);\nflow.set(\"curreg\", register);\nflow.set(\"fc\", fc);\n\n//register = register - 1;\n\n\n\nvar r1 = Math.floor(register / 256);\nvar r2 = register % 256;\n\n\nvar minfo = flow.get(\"registers.r\" + msg.register) || {};\n\nvar rlength = minfo.rlength || msg.payload.rlength || msg.rlength || 1;\n\nvar targetv = msg.targetv; //999;\n\n\nif (fc != 3 && fc != 6) { return null; }\n\nflow.set(\"modbusIn\",\"\");\n\n//targetv = global.get(\"modbus.\"+register+\".value\") || 0;\n\n//targetv = parseInt(global.get(\"modbus.\"+register+\".multiply\") || 1) * targetv;\n\n\nfunction crc16(buffer) {\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < buffer.length; i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n    crc  = \"0000\" + crc.toString(16);\n    crc = crc.substr(-4);\n\n    return crc;\n}\n\nvar tosend = \"\";\nvar crcString =\"\";\nvar msg2={};\n \nif (fc == 3) {   // read\n\n    \n    tosend = String.fromCharCode(address) + String.fromCharCode(3);\n    tosend += String.fromCharCode(r1) + String.fromCharCode(r2);\n    tosend += String.fromCharCode(0) + String.fromCharCode(rlength);\n    \n    crcString = crc16(Buffer.from(tosend, 'ascii'));\n    tosend += String.fromCharCode(parseInt(crcString.substr(2,2),16)) + String.fromCharCode(parseInt(crcString.substr(0,2),16)) ;\n    \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    \n    tosend = \"-\" + tosend;\n    \n    msg2.payload  = Buffer.from(tosend, 'ascii');\n    \n    \n    return [msg,msg2];\n\n} else if (fc == 6 ) {    // write\n\n\n    tosend = String.fromCharCode(address) + String.fromCharCode(6);\n    \n    tosend += String.fromCharCode(r1) + String.fromCharCode(r2);\n    \n    targetv = parseInt(targetv) ;\n    \n    if (minfo.datatype == \"IEEE754\" || minfo.datatype.toLowerCase() == \"float\") {\n        \n        \n        \n        \n    } else {\n        \n    \n        var hexStringValue  = \"0000\" + targetv.toString(16);\n        hexStringValue = hexStringValue.substr(-4);\n        tosend += String.fromCharCode(parseInt(hexStringValue.substr(0,2),16)) + String.fromCharCode(parseInt(hexStringValue.substr(2,2),16)) ;\n        msg.payload  = Buffer.from(tosend, 'ascii');\n    \n        \n    }\n    \n    crcString = crc16(msg.payload);\n   \n    tosend += String.fromCharCode(parseInt(crcString.substr(2,2),16)) + String.fromCharCode(parseInt(crcString.substr(0,2),16)) ;\n   \n       \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    tosend = \"-\" + tosend;\n    msg2.payload  = Buffer.from(tosend, 'ascii');\n    \n    \n    return [msg,msg2];\n\n} \n\n\n","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":280,"wires":[[],[]]},{"id":"d60a73d5ce5b400c","type":"inject","z":"663c7c4231d9ca2d","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"25","payloadType":"num","x":150,"y":1080,"wires":[["5ccd06365ce62120"]]},{"id":"20e6829d4f4ce85c","type":"inject","z":"663c7c4231d9ca2d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"0","payloadType":"num","x":150,"y":880,"wires":[["5ccd06365ce62120"]]},{"id":"f9a75ce68724a974","type":"inject","z":"663c7c4231d9ca2d","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":150,"y":1120,"wires":[["5ccd06365ce62120"]]},{"id":"e3053dc1392538df","type":"inject","z":"663c7c4231d9ca2d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":150,"y":1000,"wires":[["5ccd06365ce62120"]]},{"id":"79248cd709751a61","type":"inject","z":"663c7c4231d9ca2d","name":"","props":[{"p":"payload","v":"98","vt":"num"},{"p":"topic","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"98","payloadType":"num","x":150,"y":1040,"wires":[["5ccd06365ce62120"]]},{"id":"5ccd06365ce62120","type":"change","z":"663c7c4231d9ca2d","name":"33280","rules":[{"t":"set","p":"register","pt":"msg","to":"33280","tot":"str"},{"t":"set","p":"targetv","pt":"msg","to":"payload","tot":"msg","dc":true},{"t":"set","p":"fc","pt":"msg","to":"16","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":880,"wires":[["00e1cf328e120f4a","590a6c60cdea0c4e"]]},{"id":"00e1cf328e120f4a","type":"link out","z":"663c7c4231d9ca2d","name":"","mode":"link","links":["69c3d87b5e79d717"],"x":415,"y":880,"wires":[]},{"id":"276878ed66edca74","type":"inject","z":"663c7c4231d9ca2d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"1","payloadType":"num","x":150,"y":960,"wires":[["5ccd06365ce62120"]]},{"id":"86c47b2f554a3acb","type":"inject","z":"663c7c4231d9ca2d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"0.5","payloadType":"num","x":150,"y":920,"wires":[["5ccd06365ce62120"]]},{"id":"29c61d300e988213","type":"mqtt in","z":"663c7c4231d9ca2d","name":"","topic":"cmd/lpmVSet","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":760,"wires":[["7052eeca6012ffc0"]]},{"id":"8d57da8b71874d64","type":"mqtt in","z":"663c7c4231d9ca2d","name":"","topic":"cmd/xpVSet","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":820,"wires":[["0c14cbec8f35af4f"]]},{"id":"1e30384fbbfdf91d","type":"comment","z":"663c7c4231d9ca2d","name":"Commands received via local MQTT","info":"","x":200,"y":700,"wires":[]},{"id":"f482a3e83b7093c0","type":"switch","z":"663c7c4231d9ca2d","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"designFlowRate","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":580,"wires":[["7316461331d42693"]]},{"id":"7316461331d42693","type":"function","z":"663c7c4231d9ca2d","name":"litres per minute set","func":"flow.set(\"lphValveNov1\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":580,"wires":[[]]},{"id":"0b66d19ca58fb3bb","type":"serial-port","z":"663c7c4231d9ca2d","serialport":"/dev/ttyS0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"50","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"},{"id":"7ad2997b.42a908","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]