flows/mods/flow_heatweb_influx.json
[{"id":"3bcc1796d56e0e4a","type":"subflow","name":"rbe 24h","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"ed3595ba7ad0e4b1"}]}],"out":[{"x":420,"y":160,"wires":[{"id":"6fdbb2068778d3c9","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"ed3595ba7ad0e4b1","type":"rbe","z":"3bcc1796d56e0e4a","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":190,"y":120,"wires":[["6fdbb2068778d3c9"]]},{"id":"ac6886f7de81d7ca","type":"inject","z":"3bcc1796d56e0e4a","name":"","props":[{"p":"reset","v":"1","vt":"str"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":60,"wires":[["ed3595ba7ad0e4b1"]]},{"id":"6fdbb2068778d3c9","type":"switch","z":"3bcc1796d56e0e4a","name":"","property":"reset","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":160,"wires":[[]]},{"id":"344fa160119932f8","type":"subflow","name":"rbe 5m","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"486403111458df8e"}]}],"out":[{"x":420,"y":160,"wires":[{"id":"c822677b38fcd83c","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"486403111458df8e","type":"rbe","z":"344fa160119932f8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":190,"y":120,"wires":[["c822677b38fcd83c"]]},{"id":"9dd86fca5dcbfcab","type":"inject","z":"344fa160119932f8","name":"","props":[{"p":"reset","v":"1","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":80,"wires":[["486403111458df8e"]]},{"id":"c822677b38fcd83c","type":"switch","z":"344fa160119932f8","name":"","property":"reset","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":160,"wires":[[]]},{"id":"e17b925905a37026","type":"tab","label":"Data","disabled":false,"info":""},{"id":"83ef391a9752a811","type":"link out","z":"e17b925905a37026","name":"link out 9","mode":"link","links":["32c4125311d8d4a0","5a24d1f90f588609"],"x":735,"y":160,"wires":[]},{"id":"e7105fa51b2a48b7","type":"mqtt in","z":"e17b925905a37026","name":"","topic":"","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":false,"inputs":1,"x":610,"y":160,"wires":[["83ef391a9752a811","3e3dd1bfabfe85a2"]]},{"id":"3fd4a09df8a3886d","type":"function","z":"e17b925905a37026","name":"InfluxDB","func":"\nvar oot = {};\nvar tags = {};\nvar tops = msg.topic.split(\"/\");\n\n\n\n\nif (!tops[4]) { return null; }\n\nvar net = global.get(\"networkId\") || \"local\";\nnet = (tops[0] == \"local\" ? net : tops[0])\n\ntags.node = tops[1];\ntags.device = tops[2];\ntags.network = net;\ntags.vargroup = tops[3];\ntags.varkey = tops[4];\n\n//tags.title = flow.get(\"title.\" + tops[2]) || tops[2];\n\nvar msg1={};\nmsg1.topic = \"\"+msg.topic;\n\ntry {\n\n    \n\n    if (isNaN(msg.payload)) { msg1.payload = '' + msg.payload  }\n    else { msg1.payload = parseFloat(msg.payload); }\n    \n\n    oot[tops[3] + '_' + tops[4]] = msg1.payload;\n\n    msg1.measurement = net + '_' + tops[1] + '_' + tops[2];\n    msg1.payload = [oot, tags];\n\n    return msg1;\n\n\n\n\n} catch { return null; }\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":340,"wires":[["4a8db5e0c68539c7"]]},{"id":"90dcfef262eff3a6","type":"subflow:344fa160119932f8","z":"e17b925905a37026","name":"","x":550,"y":300,"wires":[["3fd4a09df8a3886d"]]},{"id":"32c4125311d8d4a0","type":"link in","z":"e17b925905a37026","name":"link in 1","links":["190658415505c339","83ef391a9752a811"],"x":235,"y":340,"wires":[["78d683ad9dd7db8a"]]},{"id":"3e3dd1bfabfe85a2","type":"debug","z":"e17b925905a37026","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":200,"wires":[]},{"id":"78d683ad9dd7db8a","type":"switch","z":"e17b925905a37026","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/raw/","vt":"str"},{"t":"cont","v":"/dat/","vt":"str"},{"t":"cont","v":"/stat/","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":370,"y":340,"wires":[[],["90dcfef262eff3a6"],["90dcfef262eff3a6"],["21a49855dec6a141"]]},{"id":"4a8db5e0c68539c7","type":"influxdb out","z":"e17b925905a37026","influxdb":"a1a40c5149c84832","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"heatweb","bucket":"thechantry","x":970,"y":340,"wires":[]},{"id":"21a49855dec6a141","type":"subflow:3bcc1796d56e0e4a","z":"e17b925905a37026","name":"","x":550,"y":360,"wires":[["3fd4a09df8a3886d"]]},{"id":"a724489e75cdd9d8","type":"inject","z":"e17b925905a37026","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":240,"y":160,"wires":[["7fc46309f1bfefca"]]},{"id":"7fc46309f1bfefca","type":"function","z":"e17b925905a37026","name":"subscriptions","func":"\nmsg.topic = [];\nvar topic = global.get(\"networkId\") + \"/#\";\nmsg.topic.push({\"topic\": topic, \"qos\":0});\n\nmsg.action=\"subscribe\"\nmsg.payload = null;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":160,"wires":[["e7105fa51b2a48b7"]]},{"id":"7ad2997b.42a908","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a1a40c5149c84832","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"heatweb","usetls":false,"tls":"","influxdbVersion":"2.0","url":"https://europe-west1-1.gcp.cloud2.influxdata.com","rejectUnauthorized":true}]