flows/mods/flow_bms_bacnet.json
[
    {
        "id": "0bacc5a663752a4a",
        "type": "tab",
        "label": "BMS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "28e5b93e0a16c27d",
        "type": "discover-devices",
        "z": "0bacc5a663752a4a",
        "name": "",
        "x": 450,
        "y": 240,
        "wires": [
            [
                "dfdd097772738ef4"
            ]
        ]
    },
    {
        "id": "47f8d802f5508082",
        "type": "inject",
        "z": "0bacc5a663752a4a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "28e5b93e0a16c27d"
            ]
        ]
    },
    {
        "id": "dfdd097772738ef4",
        "type": "debug",
        "z": "0bacc5a663752a4a",
        "name": "debug 117",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "733ae64aa85a5e25",
        "type": "read-all-devices",
        "z": "0bacc5a663752a4a",
        "name": "",
        "x": 460,
        "y": 380,
        "wires": [
            [
                "8a9a4d56fc9ab0e6"
            ]
        ]
    },
    {
        "id": "e3485bed83097c08",
        "type": "inject",
        "z": "0bacc5a663752a4a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 380,
        "wires": [
            [
                "733ae64aa85a5e25"
            ]
        ]
    },
    {
        "id": "8a9a4d56fc9ab0e6",
        "type": "debug",
        "z": "0bacc5a663752a4a",
        "name": "debug 118",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 380,
        "wires": []
    },
    {
        "id": "ebf448e20b72896c",
        "type": "read-single-device",
        "z": "0bacc5a663752a4a",
        "name": "",
        "x": 470,
        "y": 500,
        "wires": [
            [
                "777918ac038d5748",
                "7fbae2f60b4a64df"
            ]
        ]
    },
    {
        "id": "23cb2b06e8018aee",
        "type": "inject",
        "z": "0bacc5a663752a4a",
        "name": "33137",
        "props": [
            {
                "p": "deviceId",
                "v": "33137",
                "vt": "num"
            },
            {
                "p": "address",
                "v": "10.99.70.137",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "ebf448e20b72896c"
            ]
        ]
    },
    {
        "id": "777918ac038d5748",
        "type": "debug",
        "z": "0bacc5a663752a4a",
        "name": "debug 119",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "5bb0e9bda4fb1578",
        "type": "read-objects-list-within-device",
        "z": "0bacc5a663752a4a",
        "name": "",
        "x": 530,
        "y": 620,
        "wires": [
            [
                "9a3f1fa82d3b456a"
            ]
        ]
    },
    {
        "id": "c9555523d1b8f98c",
        "type": "inject",
        "z": "0bacc5a663752a4a",
        "name": "33137",
        "props": [
            {
                "p": "deviceId",
                "v": "33137",
                "vt": "num"
            },
            {
                "p": "address",
                "v": "10.99.70.137",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 620,
        "wires": [
            [
                "5bb0e9bda4fb1578"
            ]
        ]
    },
    {
        "id": "9a3f1fa82d3b456a",
        "type": "debug",
        "z": "0bacc5a663752a4a",
        "name": "debug 120",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 620,
        "wires": []
    },
    {
        "id": "a51fcc96f768049e",
        "type": "inject",
        "z": "0bacc5a663752a4a",
        "name": "11013",
        "props": [
            {
                "p": "deviceId",
                "v": "11013",
                "vt": "num"
            },
            {
                "p": "address",
                "v": "10.99.70.136",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "ebf448e20b72896c"
            ]
        ]
    },
    {
        "id": "d31c3d193fa1917f",
        "type": "inject",
        "z": "0bacc5a663752a4a",
        "name": "11005",
        "props": [
            {
                "p": "deviceId",
                "v": "11005",
                "vt": "num"
            },
            {
                "p": "address",
                "v": "10.99.70.12",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 560,
        "wires": [
            [
                "ebf448e20b72896c"
            ]
        ]
    },
    {
        "id": "7fbae2f60b4a64df",
        "type": "function",
        "z": "0bacc5a663752a4a",
        "name": "function 10",
        "func": "var vlist = msg.payload[\"OBJECT_LIST(76)\"];\n\nfor (var v in vlist) {\n\n    var msg1 = {};\n    msg1.topic = vlist[v][\"OBJECT_NAME(77)\"];\n    msg1.payload = vlist[v][\"PRESENT_VALUE(85)\"];\n\n    if (!msg1.topic) { continue; }\n\n    if (msg1.payload == \"INACTIVE(0)\") { msg1.payload = 0; }\n    else if (msg1.payload == \"ACTIVE(1)\") { msg1.payload = 1; }\n\n    msg1.topic = \"bms/dat/\" + msg1.topic.replaceAll(\" - \", \"\").replaceAll(\" \", \"_\").replaceAll(\"_0=No1_1=No2\", \"\").replaceAll(\"=\", \"\");\n\n\n    if (msg1.payload || msg1.payload===0) {\n        node.send(msg1);\n    }\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 460,
        "wires": [
            [
                "c91653250132a0e1",
                "bec07f1cbf7c5406"
            ]
        ]
    },
    {
        "id": "c91653250132a0e1",
        "type": "debug",
        "z": "0bacc5a663752a4a",
        "name": "debug 121",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 420,
        "wires": []
    },
    {
        "id": "bec07f1cbf7c5406",
        "type": "link out",
        "z": "0bacc5a663752a4a",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "349fb91799b23170"
        ],
        "x": 865,
        "y": 480,
        "wires": []
    }
]
