flows/mods/flow_rut956_tunnel.json
[
    {
        "id": "3bcc1796d56e0e4a",
        "type": "subflow",
        "name": "rbe 24h",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "ed3595ba7ad0e4b1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 420,
                "y": 160,
                "wires": [
                    {
                        "id": "6fdbb2068778d3c9",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ed3595ba7ad0e4b1",
        "type": "rbe",
        "z": "3bcc1796d56e0e4a",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "6fdbb2068778d3c9"
            ]
        ]
    },
    {
        "id": "ac6886f7de81d7ca",
        "type": "inject",
        "z": "3bcc1796d56e0e4a",
        "name": "",
        "props": [
            {
                "p": "reset",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "ed3595ba7ad0e4b1"
            ]
        ]
    },
    {
        "id": "6fdbb2068778d3c9",
        "type": "switch",
        "z": "3bcc1796d56e0e4a",
        "name": "",
        "property": "reset",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8b0d9f84e6b72699",
        "type": "tab",
        "label": "RUT956",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f9dfe938fcdf8ef",
        "type": "modbus-flex-getter",
        "z": "8b0d9f84e6b72699",
        "name": "Modbus Flexible Read",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "server": "edc54ac4b14992f2",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": true,
        "keepMsgProperties": false,
        "delayOnStart": true,
        "startDelayTime": "1",
        "x": 540,
        "y": 360,
        "wires": [
            [
                "fc3a66d767fb310a"
            ],
            [
                "3edef183695b2fd5"
            ]
        ]
    },
    {
        "id": "43d1039a53ec3f3b",
        "type": "function",
        "z": "8b0d9f84e6b72699",
        "name": "FC4",
        "func": "\nif (!msg.payload.topic || msg.payload.topic == \"none\") { return null; }\n\nflow.set(\"registers.r\" + msg.payload.rAddress, msg.payload);\n\nmsg.payload = { 'fc': 3, 'unitid': 1, 'address': msg.payload.rAddress, 'quantity': msg.payload.rLength }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 360,
        "wires": [
            [
                "3db1a35347ff3e0f"
            ]
        ]
    },
    {
        "id": "f4961d41421d875e",
        "type": "inject",
        "z": "8b0d9f84e6b72699",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 145,
        "y": 200,
        "wires": [
            [
                "9a4be941b58d9084"
            ]
        ],
        "l": false
    },
    {
        "id": "9a4be941b58d9084",
        "type": "template",
        "z": "8b0d9f84e6b72699",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"title\",\"rAddress\",\"rAddress2\",\"rLength\",\"dType\",\"topic\"\n\"System uptime\",1,2,2,\"32 bit unsigned integer\",\"upTime\"\n\"Mobile signal strength (RSSI in dBm)\",3,4,2,\"32 bit integer\",\"signalStrength\"\n\"System temperature (in 0.1 °C)\",5,6,2,\"32 bit integer\",\"systemTemperature\"\n\"System hostname\",7,8,16,\"Text\",\"systemHostname\"\n\"GSM operator name\",23,24,16,\"Text\",\"gsmOperator\"\n\"Router serial number\",39,40,16,\"Text\",\"serialNumber\"\n\"LAN MAC address\",55,56,16,\"Text\",\"macLAN\"\n\"Router name\",71,72,16,\"Text\",\"routerName\"\n\"Currently active SIM card slot\",87,88,16,\"Text\",\"activeSIM\"\n\"Network registration info\",103,104,16,\"Text\",\"networkRegistration\"\n\"Network type\",119,120,16,\"Text\",\"networkType\"\n\"Digital input (DIN1) state\",135,136,2,\"32 bit integer\",\"digIn1\"\n\"Digital galvanically isolated input (DIN2) state\",137,138,2,\"32 bit integer\",\"digIn2\"\n\"Current WAN IP address\",139,140,2,\"8 bit unsigned integer\",\"ipWAN\"\n\"Analog input (PIN 9) value\",141,142,2,\"32 bit unsigned integer\",\"anaIn1\"\n\"GPS latitude coordinate\",143,144,2,\"32 bit float\",\"latitude\"\n\"GPS longitude coordinate\",145,146,2,\"32 bit float\",\"longitude\"\n\"GPS fix time\",147,148,16,\"Text\" (Unix timestamp×1000),\"gpsFixTime\"\n\"GPS date and time\",163,164,16,\"Text\" (DDMMYYhhmmss),\"gpsDateTime\"\n\"GPS speed\",179,180,2,\"32 bit float\",\"gpsSpeed\"\n\"GPS satellite count\",181,182,2,\"32 bit unsigned integer\",\"gpsSatCount\"\n\"GPS accuracy\",183,184,2,\"32 bit float\",\"gpsAccuracy\"\n\"Mobile data received today (SIM1)\",185,186,2,\"32 bit unsigned integer\",\"dataInToday\"\n\"Mobile data sent today (SIM1)\",187,188,2,\"32 bit unsigned integer\",\"dataOutToday\"\n\"Mobile data received this week (SIM1)\",189,190,2,\"32 bit unsigned integer\",\"dataInWeek\"\n\"Mobile data sent this week (SIM1)\",191,192,2,\"32 bit unsigned integer\",\"dataOutWeek\"\n\"Mobile data received this month (SIM1)\",193,194,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data sent this month (SIM1)\",195,196,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data received last 24h (SIM1)\",197,198,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data sent last 24h (SIM1)\",199,200,2,\"32 bit unsigned integer\",\"none\"\n\"Galvanically isolated open collector output status\",201,202,1,\"16 bit unsigned integer\",\"none\"\n\"Relay output status\",202,203,1,\"16 bit unsigned integer\",\"relayStatus\"\n\"Active SIM card\",205,206,1,\"16 bit unsigned integer\",\"activeSIM\"\n\"Mobile data received last week (SIM1)\",292,293,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data sent last week (SIM1)\",294,295,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data received last month (SIM1)\",296,297,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data sent last month (SIM1)\",298,299,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data received today (SIM2)\",300,301,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data sent today (SIM2)\",302,303,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data received this week (SIM2)\",304,305,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data sent this week (SIM2)\",306,307,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data received this month (SIM2)\",308,309,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data sent this month (SIM2)\",310,311,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data received last 24h (SIM2)\",312,313,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data sent last 24h (SIM2)\",314,315,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data received last week (SIM2)\",316,317,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data sent last week (SIM2)\",318,319,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data received last month(SIM2)\",320,321,2,\"32 bit unsigned integer\",\"none\"\n\"Mobile data sent last month (SIM2)\",322,323,2,\"32 bit unsigned integer\",\"none\"\n\"Digital non-isolated input\",324,325,1,\"16 bit unsigned integer\",\"none\"\n\"Digital open collector output\",325,326,1,\"16 bit unsigned integer\",\"none\"\n\"Modem ID\",328,329,8,\"Text\",\"modemId\"\n\"ACL activity\",345,346,1,\"16 bit unsigned integer\",\"aclActivity\"\n\"ACL status\",346,347,2,\"32 bit float\",\"aclStatus\"\n\"IMSI\",348,349,16,\"Text\",\"imsi\"\n\"Unix timestamp\",364,365,2,\"32 bit unsigned integer\",\"unixTimestamp\"\n\"Local ISO time\",366,367,12,\"Text\",\"localIsoTime\"\n\"UTC time\",378,389,12,\"Text\",\"utcTime\"\n\"LAN IP\",394,395,2,\"8 bit unsigned integer\",\"ipLAN\"\n\"Add SMS\",397,398,90,\"Text\",\"addSMS\"",
        "output": "str",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "73a5a6c74aeac987"
            ]
        ]
    },
    {
        "id": "73a5a6c74aeac987",
        "type": "csv",
        "z": "8b0d9f84e6b72699",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": true,
        "include_null_values": true,
        "x": 475,
        "y": 200,
        "wires": [
            [
                "d63b8092c8fa98fa",
                "43d1039a53ec3f3b"
            ]
        ],
        "l": false
    },
    {
        "id": "d63b8092c8fa98fa",
        "type": "debug",
        "z": "8b0d9f84e6b72699",
        "name": "debug 38",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "3db1a35347ff3e0f",
        "type": "delay",
        "z": "8b0d9f84e6b72699",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "4",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 335,
        "y": 360,
        "wires": [
            [
                "6f9dfe938fcdf8ef",
                "61035013889f4636"
            ]
        ],
        "l": false
    },
    {
        "id": "5f9890fb1e8b76bc",
        "type": "debug",
        "z": "8b0d9f84e6b72699",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "3edef183695b2fd5",
        "type": "function",
        "z": "8b0d9f84e6b72699",
        "name": "function 8",
        "func": "//msg.payload = (msg.payload[0] * 256) + msg.payload[1];\n\nif (!msg.modbusRequest) { return null; }\n\nvar rinfo = flow.get(\"registers.r\" + msg.modbusRequest.address);\n\nif (!rinfo.topic || rinfo.topic == \"none\") { return null; }\nmsg.topic = \"modem/system/\" + rinfo.topic;\n//msg.units = \"s\";\n\nif (rinfo.dType == \"32 bit unsigned integer\") {\n    msg.payload = parseFloat(msg.payload.buffer.readUIntBE(0,4));\n}\nelse if (rinfo.dType == \"16 bit unsigned integer\") {\n    msg.payload = parseFloat(msg.payload.buffer.readUIntBE(0, 2));\n}\nelse if (rinfo.dType == \"8 bit unsigned integer\") {\n    msg.payload = parseFloat(msg.payload.buffer.readUIntBE(0, 1));\n}\nelse if (rinfo.dType == \"32 bit integer\") {\n    msg.payload = parseFloat(msg.payload.buffer.readIntBE(0, 4));\n}\n\nelse if (rinfo.dType == \"32 bit float\") {\n    msg.payload = parseFloat(msg.payload.buffer.readFloatBE(0));\n}\n\nelse if (rinfo.dType == \"Text\") {\n    msg.payload = msg.payload.buffer.toString('utf8');\n}\nelse { return null; }\n\n\nif (rinfo.topic == \"systemTemperature \") {\n    msg.payload = msg.payload/10;\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 440,
        "wires": [
            [
                "5f9890fb1e8b76bc",
                "57cdfc3bdd76a93c"
            ]
        ]
    },
    {
        "id": "61035013889f4636",
        "type": "debug",
        "z": "8b0d9f84e6b72699",
        "name": "debug 39",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "9cb5662f9ff5304f",
        "type": "comment",
        "z": "8b0d9f84e6b72699",
        "name": "https://wiki.teltonika-networks.com/view/RUT955_Modbus",
        "info": "",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "868edcc9c406577d",
        "type": "catch",
        "z": "8b0d9f84e6b72699",
        "name": "",
        "scope": [
            "6f9dfe938fcdf8ef",
            "9b6c16bbf9aad756"
        ],
        "uncaught": false,
        "x": 310,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e4a7f0ef581f4c48",
        "type": "link out",
        "z": "8b0d9f84e6b72699",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "7ccc02cbbc1457e1"
        ],
        "x": 955,
        "y": 440,
        "wires": []
    },
    {
        "id": "57cdfc3bdd76a93c",
        "type": "subflow:3bcc1796d56e0e4a",
        "z": "8b0d9f84e6b72699",
        "name": "",
        "x": 840,
        "y": 440,
        "wires": [
            [
                "e4a7f0ef581f4c48"
            ]
        ]
    },
    {
        "id": "fc3a66d767fb310a",
        "type": "debug",
        "z": "8b0d9f84e6b72699",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "11babf405e1d046f",
        "type": "exec",
        "z": "8b0d9f84e6b72699",
        "command": "lt",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 570,
        "y": 800,
        "wires": [
            [
                "0c9e1d7136da86f3"
            ],
            [
                "30e43095f9010cff"
            ],
            [
                "3c9917850697b75d",
                "92999562a76e2ca8"
            ]
        ]
    },
    {
        "id": "a09a85ba94e6021a",
        "type": "debug",
        "z": "8b0d9f84e6b72699",
        "name": "debug 104",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 720,
        "wires": []
    },
    {
        "id": "30e43095f9010cff",
        "type": "debug",
        "z": "8b0d9f84e6b72699",
        "name": "debug 105",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 800,
        "wires": []
    },
    {
        "id": "a7cc57f18c046952",
        "type": "inject",
        "z": "8b0d9f84e6b72699",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 800,
        "wires": [
            [
                "3bbcee520718ec7f"
            ]
        ]
    },
    {
        "id": "3c9917850697b75d",
        "type": "delay",
        "z": "8b0d9f84e6b72699",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 880,
        "wires": [
            [
                "3bbcee520718ec7f"
            ]
        ]
    },
    {
        "id": "081f478391bb1bf3",
        "type": "inject",
        "z": "8b0d9f84e6b72699",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 960,
        "wires": [
            [
                "58b05d785f9bc285"
            ]
        ]
    },
    {
        "id": "58b05d785f9bc285",
        "type": "exec",
        "z": "8b0d9f84e6b72699",
        "command": "sudo npm install -g localtunnel",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 490,
        "y": 960,
        "wires": [
            [
                "314b77aabd40cf92"
            ],
            [
                "314b77aabd40cf92"
            ],
            []
        ]
    },
    {
        "id": "314b77aabd40cf92",
        "type": "debug",
        "z": "8b0d9f84e6b72699",
        "name": "debug 106",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 960,
        "wires": []
    },
    {
        "id": "6f50ae1f7fcddaa5",
        "type": "inject",
        "z": "8b0d9f84e6b72699",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 600,
        "wires": [
            [
                "805331164d20d533"
            ]
        ]
    },
    {
        "id": "805331164d20d533",
        "type": "http request",
        "z": "8b0d9f84e6b72699",
        "name": "IP",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "icanhazip.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 600,
        "wires": [
            [
                "1dfad81f796e336c"
            ]
        ]
    },
    {
        "id": "0711b208dc4a49b8",
        "type": "debug",
        "z": "8b0d9f84e6b72699",
        "name": "debug 107",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 620,
        "wires": []
    },
    {
        "id": "3bbcee520718ec7f",
        "type": "function",
        "z": "8b0d9f84e6b72699",
        "name": "domain",
        "func": "msg.payload = \"--port 80 --subdomain \" + ((global.get(\"networkId\")||\"rAndD\") + \"-\" + global.get(\"node\")).toLowerCase() + \"-modem --local-host 192.168.1.1\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 800,
        "wires": [
            [
                "11babf405e1d046f",
                "a1cc5f7770dd97cf"
            ]
        ]
    },
    {
        "id": "a1cc5f7770dd97cf",
        "type": "debug",
        "z": "8b0d9f84e6b72699",
        "name": "debug 108",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 680,
        "wires": []
    },
    {
        "id": "92999562a76e2ca8",
        "type": "switch",
        "z": "8b0d9f84e6b72699",
        "name": "not installed error",
        "property": "payload.code",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "-2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 920,
        "wires": [
            [
                "58b05d785f9bc285"
            ]
        ]
    },
    {
        "id": "0c9e1d7136da86f3",
        "type": "function",
        "z": "8b0d9f84e6b72699",
        "name": "url",
        "func": "if (msg.payload.indexOf(\"url is\")>0) {\n    msg.payload = msg.payload.split(\"is: \")[1];\n    flow.set(\"url\",msg.payload);\n\n    msg.topic = \"modem/system/urlModem\";\n    \n} else {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 720,
        "wires": [
            [
                "a09a85ba94e6021a",
                "575b65a1768aae81"
            ]
        ]
    },
    {
        "id": "7608bd9c680d0659",
        "type": "exec",
        "z": "8b0d9f84e6b72699",
        "command": "lt",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 570,
        "y": 1100,
        "wires": [
            [
                "bac8100b39c94ed9"
            ],
            [],
            [
                "4603358d9deb530d"
            ]
        ]
    },
    {
        "id": "957221e3bbeb731b",
        "type": "inject",
        "z": "8b0d9f84e6b72699",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "90",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1100,
        "wires": [
            [
                "30a80a5574f4e72b"
            ]
        ]
    },
    {
        "id": "4603358d9deb530d",
        "type": "delay",
        "z": "8b0d9f84e6b72699",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 1180,
        "wires": [
            [
                "30a80a5574f4e72b"
            ]
        ]
    },
    {
        "id": "30a80a5574f4e72b",
        "type": "function",
        "z": "8b0d9f84e6b72699",
        "name": "nodered domain",
        "func": "msg.payload = \"--port 1880 --subdomain \" + ((global.get(\"networkId\")||\"rAndD\") + \"-\" + global.get(\"node\")).toLowerCase() + \"-nodered\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1100,
        "wires": [
            [
                "7608bd9c680d0659"
            ]
        ]
    },
    {
        "id": "b332b1dc72ea0a48",
        "type": "debug",
        "z": "8b0d9f84e6b72699",
        "name": "debug 109",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1060,
        "wires": []
    },
    {
        "id": "bac8100b39c94ed9",
        "type": "function",
        "z": "8b0d9f84e6b72699",
        "name": "url",
        "func": "if (msg.payload.indexOf(\"url is\") > 0) {\n    var msg1 = {};\n    msg.payload = msg.payload.split(\"is: \")[1].trim();\n    msg1.payload = msg.payload + \"/ui\";\n    flow.set(\"url\", msg.payload);\n\n    msg.topic = \"modem/system/urlNodered\";\n    msg1.topic = \"modem/system/urlNoderedUI\";\n\n} else {\n    return null;\n}\nreturn [msg,msg1];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1040,
        "wires": [
            [
                "b332b1dc72ea0a48",
                "6aa0420f87657ecd"
            ],
            [
                "6aa0420f87657ecd"
            ]
        ]
    },
    {
        "id": "575b65a1768aae81",
        "type": "link out",
        "z": "8b0d9f84e6b72699",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "efee73f0c827a389",
            "f2c3af7eb71d8a8c"
        ],
        "x": 855,
        "y": 680,
        "wires": []
    },
    {
        "id": "efee73f0c827a389",
        "type": "link in",
        "z": "8b0d9f84e6b72699",
        "name": "link in 4",
        "links": [
            "575b65a1768aae81",
            "6aa0420f87657ecd",
            "2730616163c82d8c",
            "696a240d80ac120f",
            "6ea9ac052a27fb22",
            "6c39afe6bdbb3c57"
        ],
        "x": 565,
        "y": 500,
        "wires": [
            [
                "b2342aa2c4d6b938"
            ]
        ]
    },
    {
        "id": "6aa0420f87657ecd",
        "type": "link out",
        "z": "8b0d9f84e6b72699",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "efee73f0c827a389",
            "f2c3af7eb71d8a8c"
        ],
        "x": 815,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2730616163c82d8c",
        "type": "link out",
        "z": "8b0d9f84e6b72699",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "efee73f0c827a389"
        ],
        "x": 935,
        "y": 560,
        "wires": []
    },
    {
        "id": "1dfad81f796e336c",
        "type": "function",
        "z": "8b0d9f84e6b72699",
        "name": "ip",
        "func": "msg.topic = \"modem/system/ipPing\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 600,
        "wires": [
            [
                "0711b208dc4a49b8",
                "2730616163c82d8c"
            ]
        ]
    },
    {
        "id": "f2c3af7eb71d8a8c",
        "type": "link in",
        "z": "8b0d9f84e6b72699",
        "name": "link in 5",
        "links": [
            "6aa0420f87657ecd",
            "575b65a1768aae81"
        ],
        "x": 485,
        "y": 640,
        "wires": [
            [
                "805331164d20d533"
            ]
        ]
    },
    {
        "id": "b2342aa2c4d6b938",
        "type": "trigger",
        "z": "8b0d9f84e6b72699",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-12",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "topic",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 500,
        "wires": [
            [
                "57cdfc3bdd76a93c"
            ]
        ]
    },
    {
        "id": "8acbe3d390bdcadb",
        "type": "inject",
        "z": "8b0d9f84e6b72699",
        "name": "kill",
        "props": [
            {
                "p": "kill",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 450,
        "y": 1040,
        "wires": [
            [
                "7608bd9c680d0659"
            ]
        ]
    },
    {
        "id": "edc54ac4b14992f2",
        "type": "modbus-client",
        "name": "RUT956",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 3000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    }
]
