flows/mods/flow_keyboard.json
[{"id":"35f78f58c8dfbc0a","type":"tab","label":"Keyboard","disabled":false,"info":"","env":[]},{"id":"01fab42416baba34","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":1,"width":"1","height":"1","passthru":false,"label":"1","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":120,"wires":[["88b3d59f93b192a8"]]},{"id":"fcec866a51145aa1","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":2,"width":"1","height":"1","passthru":false,"label":"2","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"2","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":160,"wires":[["88b3d59f93b192a8"]]},{"id":"36927027ab757aeb","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":3,"width":"1","height":"1","passthru":false,"label":"3","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"3","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":200,"wires":[["88b3d59f93b192a8"]]},{"id":"053479d4411f8036","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":4,"width":"1","height":"1","passthru":false,"label":"4","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"4","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":240,"wires":[["88b3d59f93b192a8"]]},{"id":"446bd302beaeb84d","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":5,"width":"1","height":"1","passthru":false,"label":"5","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"5","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":280,"wires":[["88b3d59f93b192a8"]]},{"id":"d5eaad0e23a69968","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":6,"width":"1","height":"1","passthru":false,"label":"6","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"6","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":320,"wires":[["88b3d59f93b192a8"]]},{"id":"87e31fefca7feeb6","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":7,"width":"1","height":"1","passthru":false,"label":"7","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"7","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":360,"wires":[["88b3d59f93b192a8"]]},{"id":"786229673f92526b","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":8,"width":"1","height":"1","passthru":false,"label":"8","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"8","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":400,"wires":[["88b3d59f93b192a8"]]},{"id":"9b05678144f8ede1","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":9,"width":"1","height":"1","passthru":false,"label":"9","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"9","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":440,"wires":[["88b3d59f93b192a8"]]},{"id":"decd9b0b1cd90642","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":10,"width":"1","height":"1","passthru":false,"label":"0","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":480,"wires":[["88b3d59f93b192a8"]]},{"id":"1972b3f11fc549be","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":11,"width":"1","height":"1","passthru":false,"label":" -","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"-","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":520,"wires":[["88b3d59f93b192a8"]]},{"id":"e69b725b99b5932d","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":13,"width":"1","height":"1","passthru":false,"label":"Q","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Q","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":620,"wires":[["88b3d59f93b192a8"]]},{"id":"a3253664a4503f52","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":14,"width":"1","height":"1","passthru":false,"label":"W","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"W","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":660,"wires":[["88b3d59f93b192a8"]]},{"id":"7c6ecec0333ad40b","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":15,"width":"1","height":"1","passthru":false,"label":"E","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"E","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":700,"wires":[["88b3d59f93b192a8"]]},{"id":"42617aa3fc5c237e","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":16,"width":"1","height":"1","passthru":false,"label":"R","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"R","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":740,"wires":[["88b3d59f93b192a8"]]},{"id":"973bc00e5f757b28","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":17,"width":"1","height":"1","passthru":false,"label":"T","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"T","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":780,"wires":[["88b3d59f93b192a8"]]},{"id":"5e4892e6d5b1d444","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":18,"width":"1","height":"1","passthru":false,"label":"Y","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Y","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":820,"wires":[["88b3d59f93b192a8"]]},{"id":"ca21f2a0c2b5cc2b","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":30,"width":"1","height":"1","passthru":false,"label":"J","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"J","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1320,"wires":[["88b3d59f93b192a8"]]},{"id":"a0e525bef77f861e","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":31,"width":"1","height":"1","passthru":false,"label":"K","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"K","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1360,"wires":[["88b3d59f93b192a8"]]},{"id":"6e70685055e7b4be","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":21,"width":"1","height":"1","passthru":false,"label":"O","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"O","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":940,"wires":[["88b3d59f93b192a8"]]},{"id":"dea02ea244500958","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":22,"width":"1","height":"1","passthru":false,"label":"P","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"P","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":980,"wires":[["88b3d59f93b192a8"]]},{"id":"721d26c83c1307c5","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":23,"width":"2","height":"1","passthru":false,"label":" CLEAR","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"CLEAR","payloadType":"str","topic":"topic","topicType":"msg","x":240,"y":1020,"wires":[["88b3d59f93b192a8"]]},{"id":"0fec0ba4f8c3b81c","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":24,"width":"1","height":"1","passthru":false,"label":"A","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"A","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1080,"wires":[["88b3d59f93b192a8"]]},{"id":"2c3ccff8f90cab84","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":25,"width":"1","height":"1","passthru":false,"label":"S","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"S","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1120,"wires":[["88b3d59f93b192a8"]]},{"id":"e720fcbb2b81d815","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":26,"width":"1","height":"1","passthru":false,"label":"D","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"D","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1160,"wires":[["88b3d59f93b192a8"]]},{"id":"0eafa158ff42f835","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":27,"width":"1","height":"1","passthru":false,"label":"F","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"F","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1200,"wires":[["88b3d59f93b192a8"]]},{"id":"f8948443717054bc","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":28,"width":"1","height":"1","passthru":false,"label":"G","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"G","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1240,"wires":[["88b3d59f93b192a8"]]},{"id":"6976e1d133c7df5c","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":29,"width":"1","height":"1","passthru":false,"label":"H","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"H","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1280,"wires":[["88b3d59f93b192a8"]]},{"id":"6a81ee7981ba3e70","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":19,"width":"1","height":"1","passthru":false,"label":"U","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"U","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":860,"wires":[["88b3d59f93b192a8"]]},{"id":"77294a0f5ea51c64","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":20,"width":"1","height":"1","passthru":false,"label":"I","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"I","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":900,"wires":[["88b3d59f93b192a8"]]},{"id":"741c1bb60e9fb513","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":32,"width":"1","height":"1","passthru":false,"label":"L","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"L","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1400,"wires":[["88b3d59f93b192a8"]]},{"id":"2269b627d327c45b","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":34,"width":"1","height":"1","passthru":false,"label":"Z","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Z","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1540,"wires":[["88b3d59f93b192a8"]]},{"id":"cabb812c2b7045ae","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":33,"width":"2","height":"1","passthru":false,"label":"SPACE","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":" ","payloadType":"str","topic":"topic","topicType":"msg","x":240,"y":1500,"wires":[["88b3d59f93b192a8"]]},{"id":"b60aab9e2f6300f3","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":12,"width":"1","height":"1","passthru":false,"label":"DEL","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"DEL","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":560,"wires":[["88b3d59f93b192a8"]]},{"id":"b69ce01944e36f01","type":"link out","z":"35f78f58c8dfbc0a","name":"link out 1","mode":"link","links":["54819530dbee3648"],"x":1145,"y":1080,"wires":[]},{"id":"63ead58bea3e95e8","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":35,"width":"1","height":"1","passthru":false,"label":"X","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"X","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1580,"wires":[["88b3d59f93b192a8"]]},{"id":"5e45884e21b9040d","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":36,"width":"1","height":"1","passthru":false,"label":"C","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"C","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1620,"wires":[["88b3d59f93b192a8"]]},{"id":"7125ed75882477a1","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":37,"width":"1","height":"1","passthru":false,"label":"V","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"V","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1660,"wires":[["88b3d59f93b192a8"]]},{"id":"e625e97c977ce85d","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":38,"width":"1","height":"1","passthru":false,"label":"B","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"B","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1700,"wires":[["88b3d59f93b192a8"]]},{"id":"e6998a532cd7950b","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":39,"width":"1","height":"1","passthru":false,"label":"N","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"N","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1740,"wires":[["88b3d59f93b192a8"]]},{"id":"9421b94d78a62639","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":40,"width":"1","height":"1","passthru":false,"label":"M","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"M","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1780,"wires":[["88b3d59f93b192a8"]]},{"id":"8cf149ddfb617573","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":41,"width":"1","height":"1","passthru":false,"label":".","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":".","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1820,"wires":[["88b3d59f93b192a8"]]},{"id":"5e4f8c46ff1ae720","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":42,"width":"1","height":"1","passthru":false,"label":"/","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"/","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1860,"wires":[["88b3d59f93b192a8"]]},{"id":"50466a52e2219478","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":43,"width":"3","height":"1","passthru":false,"label":"{{payload}}","tooltip":"","color":"","bgcolor":"{{colour}}","className":"","icon":"","payload":"stopstart","payloadType":"flow","topic":"topic","topicType":"msg","x":990,"y":940,"wires":[["6afe896aeedc99eb","86ef1bed2e19d544"]]},{"id":"a5711c6d2b4dba39","type":"ui_button","z":"35f78f58c8dfbc0a","name":"","group":"4b7316cc6524c538","order":32,"width":"1","height":"1","passthru":false,"label":":","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":":","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1440,"wires":[["88b3d59f93b192a8"]]},{"id":"16a6fac4e78efec9","type":"ui_text","z":"35f78f58c8dfbc0a","group":"9d2e1716d2411420","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","className":"","x":1070,"y":760,"wires":[]},{"id":"b80e10d435f641ec","type":"inject","z":"35f78f58c8dfbc0a","name":"","props":[{"p":"payload"},{"p":"colour","v":"green","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"START","payloadType":"str","x":740,"y":860,"wires":[["145da0b5871e02ab"]]},{"id":"605cd172a3a286a9","type":"inject","z":"35f78f58c8dfbc0a","name":"","props":[{"p":"payload"},{"p":"colour","v":"red","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"STOP","payloadType":"str","x":770,"y":940,"wires":[["50466a52e2219478"]]},{"id":"88b3d59f93b192a8","type":"function","z":"35f78f58c8dfbc0a","name":"function 3","func":"\nvar keypadstate = flow.get(\"keypadstate\")||\"0\";\nif (keypadstate==\"0\") {\n\n    flow.set(\"keypadstate\",\"1\");  \n    return null;  \n}\n\nvar job = flow.get(\"job\")||\"\";\n\nif (msg.payload == \"CLEAR\") { job = \"\"; }\nelse if (msg.payload == \"DEL\") { job = job.substring(0, job.length - 1); }\nelse { job += msg.payload; } \n\nmsg.payload = job;\nflow.set(\"job\",job);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":680,"wires":[["c4f8009f068bd340","31b0f14c39f6534d"]]},{"id":"6afe896aeedc99eb","type":"function","z":"35f78f58c8dfbc0a","name":"function 2","func":"\n\nvar msg1={};\nvar msg2={};\n\nif (msg.payload == \"START\") {\n\n    msg1.payload = \"STOP\";\n    msg1.colour = \"red\"\n\n    msg2.payload = flow.get(\"job\") || \"none\"\n\n    flow.set(\"status\", \"Job \" + flow.get(\"job\") + \" started.\");\n\n} else {\n\n    msg1.payload = \"START\";\n    msg1.colour = \"green\"\n\n    msg2.payload = \"\";\n\n\n    flow.set(\"status\", \"Stopped.\");\n\n}\n\nflow.set(\"stopstart\", msg1.payload);\nreturn [msg1, msg2];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1040,"wires":[["50466a52e2219478","9f1ba6dcb254cfa8"],["b69ce01944e36f01","bd51742d3d54acd4"]]},{"id":"c4f8009f068bd340","type":"ui_text_input","z":"35f78f58c8dfbc0a","name":"","label":"","tooltip":"","group":"c2a3fa257a09599d","order":2,"width":"10","height":"1","passthru":true,"mode":"text","delay":"5000","topic":"topic","sendOnBlur":true,"className":"larger","topicType":"msg","x":900,"y":680,"wires":[[]]},{"id":"145da0b5871e02ab","type":"function","z":"35f78f58c8dfbc0a","name":"function 4","func":"flow.set(\"stopstart\", \"START\");\nflow.set(\"status\", \"Enter Job Reference.\");\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":860,"wires":[["50466a52e2219478"]]},{"id":"9f1ba6dcb254cfa8","type":"debug","z":"35f78f58c8dfbc0a","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":1020,"wires":[]},{"id":"86ef1bed2e19d544","type":"debug","z":"35f78f58c8dfbc0a","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1200,"y":940,"wires":[]},{"id":"bd51742d3d54acd4","type":"debug","z":"35f78f58c8dfbc0a","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1180,"y":1120,"wires":[]},{"id":"31b0f14c39f6534d","type":"trigger","z":"35f78f58c8dfbc0a","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"3","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":890,"y":580,"wires":[["af39bf37cb8c5a87"]]},{"id":"af39bf37cb8c5a87","type":"change","z":"35f78f58c8dfbc0a","name":"","rules":[{"t":"set","p":"keypadstate","pt":"flow","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":580,"wires":[[]]},{"id":"8a2685e1080ca7ad","type":"inject","z":"35f78f58c8dfbc0a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"status","payloadType":"flow","x":850,"y":760,"wires":[["16a6fac4e78efec9"]]},{"id":"96b3695556297091","type":"ui_template","z":"35f78f58c8dfbc0a","group":"","name":"","order":0,"width":0,"height":0,"format":"<style>\n\n.larger {\nfont-size: 32px;\n}\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":1140,"y":660,"wires":[[]]},{"id":"4b7316cc6524c538","type":"ui_group","name":"Keyboard","tab":"9d86a08c2c30b28a","order":2,"disp":false,"width":"12","collapse":false,"className":""},{"id":"9d2e1716d2411420","type":"ui_group","name":"Status","tab":"9d86a08c2c30b28a","order":3,"disp":false,"width":"12","collapse":false,"className":""},{"id":"c2a3fa257a09599d","type":"ui_group","name":"Job Reference","tab":"9d86a08c2c30b28a","order":1,"disp":false,"width":"12","collapse":false,"className":""},{"id":"9d86a08c2c30b28a","type":"ui_tab","name":"Jobs","icon":"dashboard","order":1,"disabled":false,"hidden":false}]