flows/mods/flow_dhw_dashboard.json
[{"id":"c99835c529da1eeb","type":"tab","label":"DHW Dashboard","disabled":false,"info":""},{"id":"b71a222e.afa4e","type":"ui_gauge","z":"c99835c529da1eeb","name":"","group":"182a0e62.c0e5d2","order":8,"width":"3","height":"3","gtype":"gage","title":"Output Temp","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#4261f0","#00ff00","#ca3838"],"seg1":"45","seg2":"60","className":"","x":610,"y":100,"wires":[]},{"id":"6b701e6e.036e3","type":"ui_gauge","z":"c99835c529da1eeb","name":"","group":"182a0e62.c0e5d2","order":6,"width":"3","height":"3","gtype":"gage","title":"Supply Temp","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"60","seg2":"80","x":650,"y":220,"wires":[]},{"id":"c600ba35.0fcff8","type":"ui_gauge","z":"c99835c529da1eeb","name":"","group":"182a0e62.c0e5d2","order":1,"width":"3","height":"3","gtype":"gage","title":"Valve Position","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00ff00","#00ff00","#ca3838"],"seg1":"20","seg2":"80","x":620,"y":720,"wires":[]},{"id":"88ea40b7.ccea4","type":"ui_chart","z":"c99835c529da1eeb","name":"","group":"182a0e62.c0e5d2","order":12,"width":"12","height":"7","label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":710,"y":160,"wires":[[]]},{"id":"1e0391c9.feac8e","type":"ui_numeric","z":"c99835c529da1eeb","d":true,"name":"","label":"P Band","tooltip":"","group":"be7340bb.344f","order":12,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"pidP","topicType":"str","format":"{{value}}&deg;C","min":0,"max":"100","step":1,"className":"","x":520,"y":1240,"wires":[["c506dd21.34e22"]]},{"id":"c6f73155.5fce","type":"ui_numeric","z":"c99835c529da1eeb","name":"","label":"I Effect","tooltip":"","group":"be7340bb.344f","order":13,"width":"0","height":"0","wrap":false,"passthru":false,"topic":"pidI","topicType":"str","format":"{{value}}","min":0,"max":"600","step":"0.1","className":"","x":530,"y":1180,"wires":[["c506dd21.34e22"]]},{"id":"1cbfa589.7a130a","type":"ui_numeric","z":"c99835c529da1eeb","name":"","label":"D Effect","tooltip":"","group":"be7340bb.344f","order":14,"width":"0","height":"0","wrap":false,"passthru":false,"topic":"pidD","topicType":"str","format":"{{value}}","min":0,"max":"20","step":"0.1","className":"","x":520,"y":1300,"wires":[["c506dd21.34e22"]]},{"id":"53f6d020.44ce8","type":"ui_numeric","z":"c99835c529da1eeb","name":"","label":"Setpoint","tooltip":"","group":"be7340bb.344f","order":3,"width":"0","height":"0","wrap":false,"passthru":false,"topic":"tSet","topicType":"str","format":"{{value}}&deg;C","min":"20","max":"90","step":"0.5","className":"","x":520,"y":1120,"wires":[["c506dd21.34e22"]]},{"id":"3952d646.74023a","type":"function","z":"c99835c529da1eeb","name":"round","func":"msg.payload = parseInt(msg.payload*10)/10;\nmsg.topic = \"DHW\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":100,"wires":[["88ea40b7.ccea4","b71a222e.afa4e"]]},{"id":"c60fa025.dde6e","type":"function","z":"c99835c529da1eeb","name":"round","func":"msg.payload = parseInt(msg.payload*10)/10;\nmsg.topic = \"Primary Flow\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":220,"wires":[["6b701e6e.036e3","88ea40b7.ccea4"]]},{"id":"adc23a02.d003e8","type":"ui_gauge","z":"c99835c529da1eeb","name":"","group":"182a0e62.c0e5d2","order":7,"width":"3","height":"3","gtype":"gage","title":"Return Temp","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"40","seg2":"60","className":"","x":610,"y":300,"wires":[]},{"id":"599cd33e.01aedc","type":"function","z":"c99835c529da1eeb","name":"round","func":"msg.payload = parseInt(msg.payload*10)/10;\nmsg.topic = \"Primary Return\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":300,"wires":[["adc23a02.d003e8","88ea40b7.ccea4"]]},{"id":"4cd79373.c2496c","type":"ui_text","z":"c99835c529da1eeb","group":"182a0e62.c0e5d2","order":9,"width":"3","height":"1","name":"","label":"Demand","format":"{{msg.payload}}","layout":"row-spread","className":"","x":600,"y":520,"wires":[]},{"id":"95d49b92.8332c8","type":"ui_gauge","z":"c99835c529da1eeb","name":"","group":"182a0e62.c0e5d2","order":2,"width":"3","height":"3","gtype":"gage","title":"Primary Flow Rate","label":"ltr/min","format":"{{value}}","min":0,"max":"30","colors":["#00ff00","#00ff00","#ca3838"],"seg1":"10","seg2":"20","x":630,"y":780,"wires":[]},{"id":"43e97aa1.693184","type":"ui_text","z":"c99835c529da1eeb","d":true,"group":"182a0e62.c0e5d2","order":14,"width":"3","height":"1","name":"","label":"Pump","format":"{{msg.payload}}","layout":"row-spread","className":"","x":590,"y":580,"wires":[]},{"id":"c9164a50.f98498","type":"function","z":"c99835c529da1eeb","name":"","func":"\n\nmsg.payload = msg.payload===true?\"ON\":\"OFF\";\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":580,"wires":[["43e97aa1.693184"]]},{"id":"b9e8f080.49871","type":"link out","z":"c99835c529da1eeb","name":"","links":["d1136cd6.1b1e2"],"x":875,"y":1140,"wires":[]},{"id":"c506dd21.34e22","type":"trigger","z":"c99835c529da1eeb","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"topic","topic":"topic","outputs":1,"x":740,"y":1140,"wires":[["b9e8f080.49871"]]},{"id":"fd6db589.2424d8","type":"ui_chart","z":"c99835c529da1eeb","name":"","group":"182a0e62.c0e5d2","order":13,"width":"12","height":"7","label":"Flow Rate (l/m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":620,"y":840,"wires":[[]]},{"id":"3d5e328.1f399ce","type":"ui_gauge","z":"c99835c529da1eeb","name":"","group":"182a0e62.c0e5d2","order":5,"width":"3","height":"3","gtype":"gage","title":"Power","label":"kW","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#ffff00","#ca3838"],"seg1":"25","seg2":"35","x":590,"y":640,"wires":[]},{"id":"fbbc9274.9cfcc","type":"ui_dropdown","z":"c99835c529da1eeb","name":"","label":"Valve Type","tooltip":"","place":"AB-QM valve selection","group":"be7340bb.344f","order":11,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"DN15 450 l/h","value":"450","type":"str"},{"label":"DN20 900 l/h","value":"900","type":"str"},{"label":"DN25 1700 l/h","value":"1700","type":"str"},{"label":"DN32 3200 l/h","value":"3200","type":"str"}],"payload":"","topic":"lphV","topicType":"str","className":"","x":510,"y":1380,"wires":[["2db5f3c82f60d3c0"]]},{"id":"4ae1f581.7bae9c","type":"ui_text","z":"c99835c529da1eeb","group":"182a0e62.c0e5d2","order":10,"width":"3","height":"1","name":"","label":"Target","format":"{{msg.payload}}°C","layout":"row-spread","className":"","x":590,"y":440,"wires":[]},{"id":"3ea31e17.a82da2","type":"ui_dropdown","z":"c99835c529da1eeb","d":true,"name":"","label":"Run Mode","tooltip":"","place":"Please Select","group":"be7340bb.344f","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Switched","value":"auto","type":"str"},{"label":"On","value":"on","type":"str"},{"label":"Off","value":"off","type":"str"}],"payload":"","topic":"runMode","topicType":"str","className":"","x":510,"y":1560,"wires":[["c506dd21.34e22"]]},{"id":"56489ee3.42e2d","type":"link in","z":"c99835c529da1eeb","name":"","links":["eeff668a.cbd8f8","61544aa.781d3b4"],"x":495,"y":160,"wires":[["88ea40b7.ccea4"]]},{"id":"1ca0665e.08472a","type":"inject","z":"c99835c529da1eeb","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":950,"y":100,"wires":[["61544aa.781d3b4"]]},{"id":"bea34aea.ddd8a8","type":"ui_numeric","z":"c99835c529da1eeb","name":"","label":"Standby Temperature","tooltip":"","group":"be7340bb.344f","order":4,"width":"0","height":"0","wrap":false,"passthru":false,"topic":"tStandby","topicType":"str","format":"{{value}}&deg;C","min":"10","max":"55","step":"0.5","className":"","x":480,"y":1440,"wires":[["c506dd21.34e22"]]},{"id":"61544aa.781d3b4","type":"link out","z":"c99835c529da1eeb","name":"","links":["56489ee3.42e2d","8bfdf282.1beb5"],"x":1055,"y":100,"wires":[]},{"id":"8bfdf282.1beb5","type":"link in","z":"c99835c529da1eeb","name":"","links":["61544aa.781d3b4"],"x":435,"y":840,"wires":[["fd6db589.2424d8"]]},{"id":"566067.f6062f98","type":"ui_switch","z":"c99835c529da1eeb","name":"","label":"Enabled","tooltip":"","group":"be7340bb.344f","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"enable","topicType":"str","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":true,"className":"","x":520,"y":1500,"wires":[["2db5f3c82f60d3c0"]]},{"id":"039bb192bf3d69ae","type":"ui_gauge","z":"c99835c529da1eeb","name":"","group":"182a0e62.c0e5d2","order":4,"width":"3","height":"3","gtype":"gage","title":"Output Flow Rate","label":"ltr/min","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"35","x":630,"y":900,"wires":[]},{"id":"d1136cd6.1b1e2","type":"link in","z":"c99835c529da1eeb","name":"","links":["8291f924.41a148","b9e8f080.49871","933332c18e560276","2db5f3c82f60d3c0"],"x":875,"y":1360,"wires":[["722669a3.3dbe38"]]},{"id":"722669a3.3dbe38","type":"function","z":"c99835c529da1eeb","name":"_/dhw/set/","func":"msg.topic = \"_/dhw/set/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":995,"y":1360,"wires":[["9492cbe90473fa6a","fefecfaaed983b22","7774904cb939fd84"]]},{"id":"e767df0c4e7f7a09","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/dhw/dat/tCo","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":100,"wires":[["3952d646.74023a"]]},{"id":"79f953c409978c4d","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/+/dat/tH","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":220,"wires":[["c60fa025.dde6e"]]},{"id":"c38ba7bfc0915657","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/dhw/dat/tHo","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":300,"wires":[["599cd33e.01aedc"]]},{"id":"bbc8a57de304eb17","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/dhw/settings/tSet","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":440,"wires":[["4ae1f581.7bae9c"]]},{"id":"b7c2f4ee130a9d5b","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/dhw/dat/run","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":520,"wires":[["4cd79373.c2496c"]]},{"id":"77a1833760d8fc91","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/dhw/dat/fC","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":900,"wires":[["d8d4b27cb22a2bdb"]]},{"id":"e3621d70da188957","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/+/dat/xpV","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":720,"wires":[["ed3a4e0fe7d23009"]]},{"id":"90e62efad1cdc2a9","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/dhw/dat/kwTarget","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":640,"wires":[["1e3d7269425fa70c"]]},{"id":"3c22f7cc75d70dfc","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/+/dat/fV","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":780,"wires":[["85dd044e0de85297"]]},{"id":"85dd044e0de85297","type":"function","z":"c99835c529da1eeb","name":"round","func":"msg.payload = parseInt(msg.payload*10)/10;\n\nmsg.topic = \"Valve Flow\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":780,"wires":[["95d49b92.8332c8","fd6db589.2424d8"]]},{"id":"d8d4b27cb22a2bdb","type":"function","z":"c99835c529da1eeb","name":"round","func":"msg.payload = parseInt(msg.payload*10)/10;\n\nmsg.topic = \"Tap Flow\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":900,"wires":[["039bb192bf3d69ae","fd6db589.2424d8"]]},{"id":"ed3a4e0fe7d23009","type":"function","z":"c99835c529da1eeb","name":"round","func":"msg.payload = parseInt(msg.payload*10)/10;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":720,"wires":[["c600ba35.0fcff8"]]},{"id":"1e3d7269425fa70c","type":"function","z":"c99835c529da1eeb","name":"round","func":"msg.payload = parseInt(msg.payload*10)/10;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":640,"wires":[["3d5e328.1f399ce"]]},{"id":"9492cbe90473fa6a","type":"mqtt out","z":"c99835c529da1eeb","name":"","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7ad2997b.42a908","x":1295,"y":1360,"wires":[]},{"id":"1b423231960ab714","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/dhw/settings/tSet","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":1120,"wires":[["53f6d020.44ce8"]]},{"id":"90c187bfdcaaed74","type":"inject","z":"c99835c529da1eeb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"tSet","payload":"51","payloadType":"num","x":930,"y":900,"wires":[["933332c18e560276"]]},{"id":"933332c18e560276","type":"link out","z":"c99835c529da1eeb","name":"pidSet","links":["b06679ae.eca0b8","7267f434.dc0d1c","d1136cd6.1b1e2"],"x":1075,"y":900,"wires":[]},{"id":"6935406719d11d82","type":"inject","z":"c99835c529da1eeb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pidI","payload":"1.5","payloadType":"num","x":930,"y":960,"wires":[["933332c18e560276"]]},{"id":"2cf02fb172580946","type":"inject","z":"c99835c529da1eeb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"pidD","payload":"0.5","payloadType":"num","x":940,"y":1020,"wires":[["933332c18e560276"]]},{"id":"fefecfaaed983b22","type":"debug","z":"c99835c529da1eeb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1025,"y":1300,"wires":[]},{"id":"7774904cb939fd84","type":"trigger","z":"c99835c529da1eeb","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":965,"y":1460,"wires":[["d76e7554a7fe93a1"]]},{"id":"d76e7554a7fe93a1","type":"change","z":"c99835c529da1eeb","name":"request settings","rules":[{"t":"set","p":"payload","pt":"msg","to":"local/+/+/settings/#","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"_/cmd/request","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1460,"wires":[["9492cbe90473fa6a"]]},{"id":"741ec73c09591315","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/dhw/settings/pidI","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":1180,"wires":[["c6f73155.5fce"]]},{"id":"e7d7eaefe59b283f","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/dhw/settings/pidD","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":1300,"wires":[["1cbfa589.7a130a"]]},{"id":"a26058152d8a8fab","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/dhw/settings/lphV","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":1380,"wires":[["fbbc9274.9cfcc"]]},{"id":"0e9dad9224ee7161","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/dhw/settings/tStandby","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":200,"y":1440,"wires":[["bea34aea.ddd8a8"]]},{"id":"4a0b9afca8197623","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/dhw/settings/enable","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":1500,"wires":[["566067.f6062f98"]]},{"id":"d33e69c5e2047b2f","type":"inject","z":"c99835c529da1eeb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payloadType":"date","x":970,"y":1500,"wires":[["d76e7554a7fe93a1"]]},{"id":"66df76721837a791","type":"inject","z":"c99835c529da1eeb","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":940,"y":840,"wires":[["2e05d53e201de183"]]},{"id":"2e05d53e201de183","type":"change","z":"c99835c529da1eeb","name":"","rules":[{"t":"delete","p":"deviceSettings","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":840,"wires":[[]]},{"id":"2db5f3c82f60d3c0","type":"link out","z":"c99835c529da1eeb","name":"","links":["d1136cd6.1b1e2"],"x":695,"y":1440,"wires":[]},{"id":"3cc97be79b24a7cc","type":"ui_text","z":"c99835c529da1eeb","group":"182a0e62.c0e5d2","order":11,"width":"3","height":"1","name":"","label":"Offset","format":"{{msg.payload}} l/m","layout":"row-spread","className":"","x":1050,"y":440,"wires":[]},{"id":"7f58c7fe922dafdd","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/dhw/dat/offset","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":840,"y":440,"wires":[["3cc97be79b24a7cc"]]},{"id":"28a6eeeab921db36","type":"ui_gauge","z":"c99835c529da1eeb","name":"","group":"182a0e62.c0e5d2","order":3,"width":"3","height":"3","gtype":"gage","title":"Est Primary Flow","label":"ltr/min","format":"{{value}}","min":0,"max":"30","colors":["#00ff00","#ffff00","#ca3838"],"seg1":"20","seg2":"25","className":"","x":630,"y":380,"wires":[]},{"id":"825a93eba96515c0","type":"mqtt in","z":"c99835c529da1eeb","name":"","topic":"local/+/dhw/dat/fHTarget","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":380,"wires":[["53766e574ec8085f"]]},{"id":"53766e574ec8085f","type":"function","z":"c99835c529da1eeb","name":"round","func":"msg.payload = parseInt(msg.payload*10)/10;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":380,"wires":[["28a6eeeab921db36"]]},{"id":"182a0e62.c0e5d2","type":"ui_group","z":"c99835c529da1eeb","name":"Readings","tab":"c4ac8cab.d416e","order":3,"disp":false,"width":"12","collapse":false,"className":""},{"id":"be7340bb.344f","type":"ui_group","z":"c99835c529da1eeb","name":"Settings","tab":"95f39f70ebd1cd3e","order":1,"disp":false,"width":"12","collapse":false,"className":""},{"id":"7ad2997b.42a908","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c4ac8cab.d416e","type":"ui_tab","z":"c99835c529da1eeb","name":"Operation","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"95f39f70ebd1cd3e","type":"ui_tab","name":"Settings","icon":"dashboard","order":5,"disabled":false,"hidden":false}]