flows/mods/flow_modutherm_modbus.json
[{"id":"5bab4241.b3501c","type":"subflow","name":"rbe 3min","info":"","category":"","in":[{"x":80,"y":160,"wires":[{"id":"57c470d4.9503b"}]}],"out":[{"x":460,"y":160,"wires":[{"id":"8eda4005.b4715","port":0}]}],"env":[]},{"id":"8eda4005.b4715","type":"switch","z":"5bab4241.b3501c","name":"","property":"reset","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":330,"y":160,"wires":[[]]},{"id":"103b26b5.302e89","type":"change","z":"5bab4241.b3501c","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":120,"wires":[["57c470d4.9503b"]]},{"id":"2e092d62.a20012","type":"inject","z":"5bab4241.b3501c","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":false,"onceDelay":"60","x":210,"y":80,"wires":[["103b26b5.302e89"]]},{"id":"57c470d4.9503b","type":"rbe","z":"5bab4241.b3501c","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":200,"y":160,"wires":[["8eda4005.b4715"]]},{"id":"270af978.c963d6","type":"tab","label":"Modutherm Modbus","disabled":false,"info":"https://www.binaryconvert.com/convert_signed_int.html?hexadecimal=000019FD"},{"id":"a3bc5fb5.3ec18","type":"function","z":"270af978.c963d6","name":"","func":"//if(Buffer.from(msg.payload, 'ascii')[1]!==3) { return null; }\n\nif (msg.payload[1]==6) { return null; }\nif (msg.payload[1] == 16) { return null; }\nif (msg.payload[1] != 3) { return null; }\n\nfunction hex2bin(hex){\n    return (\"00000000\" + (parseInt(hex)).toString(2)).substr(-8);\n}\n\nfunction dec2bin(dec){\n  return (dec >>> 0).toString(2);\n}\n\nfunction Int2Float32(bytes) {\n    var sign = (bytes & 0x80000000) ? -1 : 1;\n    var exponent = ((bytes >> 23) & 0xFF) - 127;\n    var significand = (bytes & ~(-1 << 23));\n\n    if (exponent == 128)\n        return sign * ((significand) ? Number.NaN : Number.POSITIVE_INFINITY);\n\n    if (exponent == -127) {\n        if (significand === 0) return sign * 0.0;\n        exponent = -126;\n        significand /= (1 << 22);\n    } else significand = (significand | (1 << 23)) / (1 << 23);\n\n    return sign * significand * Math.pow(2, exponent);\n}\n\nvar msg2 = { \"payload\": Buffer.from(msg.payload, 'ascii') };\n\nmsg.address = msg.payload[0];\n//msg.register = (256 * msg.payload[2]) + msg.payload[3];\nmsg.register = flow.get(\"curreg\");\n\n\nvar minfo = flow.get(\"registers.r\" + msg.register) || null;\nvar dinfo = flow.get(\"devices.\" + msg.address) || null;\n\nif (!minfo) { return null; }\nif (!dinfo) { return null; }  \n\nflow.set(\"modbusIn\",\"xxx\");\n\n\nif (minfo.datatype==\"bits\") {\n    \n    var oot = {};\n    var bits = minfo.items.split(\",\");\n    var bc=15;\n    for (var bit in bits) {\n    \n        var item = {};\n        item.payload = (256 * msg.payload[3]) + msg.payload[4];        \n        item.payload =   (\"00000000000000000\" + dec2bin(item.payload)).substr(-16);\n        item.payload =  item.payload.substr(bc,1);\n        \n        item.topic = dinfo.device + \"/\" + bits[bit].replace(\".\",\"/\");\n        \n        if (minfo[\"units\"]) { item.units = minfo[\"units\"]; }\n        item.title = (bits[bit].split(\".\")[1]?  bits[bit].split(\".\")[1]:bits[bit]) + \" [Modbus \" + msg.register + \", bit \" + bit + \"]\"; \n\n        if (minfo[\"title\"]) { item.title = minfo[\"title\"] + \", \" + item.title; }\n\n        if (minfo[\"values\"]) {\n            \n            if (minfo[\"values\"][15-bc]) {\n                if (minfo[\"values\"][15-bc][\"\" + item.payload]) { item.payload = minfo[\"values\"][15-bc][\"\" + item.payload]; }\n            }\n        }\n\n\n        \n        oot[item.topic] = item;\n        \n        bc=bc-1;\n\n    }\n    msg.payload = oot;\n    \n    return [null,msg];\n    \n    \n} \n\nelse if (minfo.datatype == \"UInt32LE\") {\n\n    msg.payload = String.fromCharCode(msg.payload[3]) + String.fromCharCode(msg.payload[4]) + String.fromCharCode(msg.payload[5]) + String.fromCharCode(msg.payload[6]);\n    msg.payload = Buffer.from(msg.payload, 'ascii');\n\n\n\n    msg.payload = msg.payload.readUInt32LE(0);\n    if (minfo[\"multiplier\"]>1) { msg.payload = msg.payload / minfo[\"multiplier\"]; }\n\n    msg.topic = dinfo.device + \"/\" + minfo[\"reading\"].replace(\".\", \"/\");\n\n\n\n    if (minfo[\"units\"]) { msg.units = minfo[\"units\"]; }\n    //if (minfo[\"title\"]) { msg.title = minfo[\"title\"]; }\n\n\n    if (minfo[\"title\"]) { msg.title = minfo[\"title\"] + \" [Modbus \" + msg.register + \"]\"; }\n    else { msg.title = (minfo[\"reading\"].split(\".\")[1] ? minfo[\"reading\"].split(\".\")[1] : minfo[\"reading\"]) + \" [Modbus \" + msg.register + \"]\"; }\n\n    return [msg, null];\n\n}\n\nelse if (minfo.datatype == \"IEEE754\") {\n\n    msg.payload = String.fromCharCode(msg.payload[3]) + String.fromCharCode(msg.payload[4]) + String.fromCharCode(msg.payload[5]) + String.fromCharCode(msg.payload[6]);\n    msg.payload = Buffer.from(msg.payload, 'ascii');\n\n    \n    let intValue;\n    // if (typeof msg.payload === \"number\") {\n    //     intValue = msg.payload;\n    // } else if (typeof msg.payload === \"string\") {\n    //     intValue = Number(msg.payload);\n    // } else if (msg.payload.length == 4) {\n        // four byte array or buffer\n        intValue = (((((msg.payload[0] << 8) + msg.payload[1]) << 8) + msg.payload[2]) << 8) + msg.payload[3];\n    // } else {\n    //     node.warn(\"Unrecognised payload type or length\");\n    // }\n\n    msg.payload = Int2Float32(intValue);\n\n    if (minfo[\"multiplier\"] > 1) { msg.payload = msg.payload / minfo[\"multiplier\"]; }    \n\n    msg.topic = dinfo.device + \"/\" + minfo[\"reading\"].replace(\".\", \"/\");\n\n\n\n    if (minfo[\"units\"]) { msg.units = minfo[\"units\"]; }\n    //if (minfo[\"title\"]) { msg.title = minfo[\"title\"]; }\n\n\n    if (minfo[\"title\"]) { msg.title = minfo[\"title\"] + \" [Modbus \" + msg.register + \"]\"; }\n    else { msg.title = (minfo[\"reading\"].split(\".\")[1] ? minfo[\"reading\"].split(\".\")[1] : minfo[\"reading\"]) + \" [Modbus \" + msg.register + \"]\"; }\n\n    return [msg, null];\n\n}\n\nelse {\n    \n   \n           \n    msg.payload = (256 * msg.payload[3]) + msg.payload[4];        \n    msg.payload =  msg.payload / parseFloat(minfo[\"multiplier\"] || 1);\n\n    msg.topic = dinfo.device + \"/\" + minfo[\"reading\"].replace(\".\",\"/\");\n\n\n    if (minfo[\"values\"]) {\n        \n        if (minfo[\"values\"]==\"alarmCodes\") { \n            \n            var ac = flow.get(\"alarmCodes\");\n            if (ac[\"\" + msg.payload]) { msg.payload = ac[\"\" + msg.payload]; }\n        }\n        \n        else if (minfo[\"values\"][\"\" + msg.payload]) { msg.payload = minfo[\"values\"][\"\" + msg.payload]; }\n    }\n\n    if (minfo[\"units\"]) { msg.units = minfo[\"units\"]; }\n    //if (minfo[\"title\"]) { msg.title = minfo[\"title\"]; }\n    \n    \n    if (minfo[\"title\"]) { msg.title = minfo[\"title\"] + \" [Modbus \" + msg.register + \"]\"; }\n    else  { msg.title = (minfo[\"reading\"].split(\".\")[1]?  minfo[\"reading\"].split(\".\")[1] : minfo[\"reading\"]) + \" [Modbus \" + msg.register + \"]\"; }\n\n    return [msg,null];\n    \n}\n\n","outputs":2,"noerr":0,"x":390,"y":1020,"wires":[["bf055897.3b1668","60179422.0c554c","72aa7188.ad45d"],["11081127.d02e2f","c466f666.2fdfc8","60179422.0c554c"]]},{"id":"bf055897.3b1668","type":"debug","z":"270af978.c963d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":900,"wires":[]},{"id":"404f8383.5cf40c","type":"function","z":"270af978.c963d6","name":"Modbus","func":"// http://www.simplymodbus.ca/FC03.htm\n//11 03 006B 0003 7687\n// 11 03 06 AE41 5652 4340 49AD\n\n// uses address 17 as default.\n\n//var offs = 0;\n//if  (msg.payload[0] === 0) { offs = 1; }\nif (!msg.payload) { msg.payload={}; }\n\nvar address = msg.payload.address || msg.address ||8;\nvar fc = msg.payload.fc || msg.fc ;\nvar register = msg.payload.register || msg.register || 1;\nflow.set(\"curreg\", register);\nflow.set(\"fc\", fc);\n\n//register = register - 1;\n\nvar rlength = msg.payload.rlength || msg.rlength || 1;\n\nvar r1 = Math.floor(register / 256);\nvar r2 = register % 256;\n\n\n\n\nvar targetv = msg.targetv; //999;\n\n\nif (fc != 3 && fc != 6 && fc != 16) { return null; }\n\nflow.set(\"modbusIn\",\"\");\n\n//targetv = global.get(\"modbus.\"+register+\".value\") || 0;\n\n//targetv = parseInt(global.get(\"modbus.\"+register+\".multiply\") || 1) * targetv;\n\n\nfunction crc16(buffer) {\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < buffer.length; i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n    crc  = \"0000\" + crc.toString(16);\n    crc = crc.substr(-4);\n\n    return crc;\n}\n\nvar tosend = \"\";\nvar crcString =\"\";\nvar msg2={};\n \nif (fc == 3) {   // read\n\n    \n    tosend = String.fromCharCode(address) + String.fromCharCode(3);\n    tosend += String.fromCharCode(r1) + String.fromCharCode(r2);\n    tosend += String.fromCharCode(0) + String.fromCharCode(rlength);\n    \n    crcString = crc16(Buffer.from(tosend, 'ascii'));\n    tosend += String.fromCharCode(parseInt(crcString.substr(2,2),16)) + String.fromCharCode(parseInt(crcString.substr(0,2),16)) ;\n    \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    \n    tosend = \"-\" + tosend;\n    \n    msg2.payload  = Buffer.from(tosend, 'ascii');\n    \n    \n    return [msg,msg2];\n\n} else if (fc == 6 ) {    // write\n\n\n    tosend = String.fromCharCode(address) + String.fromCharCode(6);\n    \n    tosend += String.fromCharCode(r1) + String.fromCharCode(r2);\n    \n    targetv = parseInt(targetv) ;\n    var hexStringValue  = \"0000\" + targetv.toString(16);\n    hexStringValue = hexStringValue.substring(-4);\n    \n    \n    //tosend += String.fromCharCode(parseInt(hexStringValue.substring(6, 2), 16)) + String.fromCharCode(parseInt(hexStringValue.substring(4, 16), 32)) ;\n    tosend += String.fromCharCode(parseInt(hexStringValue.substring(2, 2), 16)) + String.fromCharCode(parseInt(hexStringValue.substring(0, 16), 32));\n\n    \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    \n    crcString = crc16(msg.payload);\n   \n    tosend += String.fromCharCode(parseInt(crcString.substring(2, 2), 16)) + String.fromCharCode(parseInt(crcString.substring(0,2),16)) ;\n   \n       \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    tosend = \"-\" + tosend;\n    msg2.payload  = Buffer.from(tosend, 'ascii');\n    \n    \n    return [msg,msg2];\n\n} else if (fc == 16) {    // write\n\n\n    tosend = String.fromCharCode(address) + String.fromCharCode(16);\n\n    tosend += String.fromCharCode(r1) + String.fromCharCode(r2);\n\n    tosend += String.fromCharCode(0) + String.fromCharCode(2) + String.fromCharCode(4);\n\n    targetv = parseInt(targetv);\n    var hexStringValue = \"0000\" + targetv.toString(16);\n    hexStringValue = hexStringValue.substring(-4);\n    \n    //hexStringValue = hexStringValue.substring(hexStringValue.length-8, 8);\n\n    tosend += String.fromCharCode(targetv) + String.fromCharCode(0) + String.fromCharCode(0) + String.fromCharCode(0);\n\n    // tosend += String.fromCharCode(parseInt(hexStringValue.substring(6, 2), 16)) + String.fromCharCode(parseInt(hexStringValue.substring(4, 2), 16));\n    // tosend += String.fromCharCode(parseInt(hexStringValue.substring(2, 2), 16)) + String.fromCharCode(parseInt(hexStringValue.substring(0, 2), 16));\n\n    crcString = crc16(Buffer.from(tosend, 'ascii'));\n    tosend += String.fromCharCode(parseInt(crcString.substr(2,2),16)) + String.fromCharCode(parseInt(crcString.substr(0,2),16)) ;\n    \n    // msg.payload = Buffer.from(tosend, 'ascii');\n\n    // crcString = crc16(msg.payload);\n\n    // tosend += String.fromCharCode(parseInt(crcString.substring(2, 2), 16)) + String.fromCharCode(parseInt(crcString.substring(0, 2), 16));\n\n\n    msg.payload = Buffer.from(tosend, 'ascii');\n    tosend = \"-\" + tosend;\n    msg2.payload = Buffer.from(tosend, 'ascii');\n\n\n    return [msg, msg2];\n\n} \n\n\n","outputs":"2","noerr":0,"x":860,"y":380,"wires":[["729c7e4b.e7232","a37f2805.7466c8","1ba8109c.0877df","51f10c9a.0e9574"],[]]},{"id":"177f0986.4f7456","type":"serial in","z":"270af978.c963d6","name":"","serial":"48bad482.f5bbcc","x":190,"y":1020,"wires":[["a3bc5fb5.3ec18","fdc825a2.6d1078","4386083b.1ecfe8"]]},{"id":"729c7e4b.e7232","type":"serial out","z":"270af978.c963d6","name":"","serial":"48bad482.f5bbcc","x":1090,"y":380,"wires":[]},{"id":"475de446.35e4dc","type":"debug","z":"270af978.c963d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":900,"wires":[]},{"id":"b3c5bd0c.54b62","type":"debug","z":"270af978.c963d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":280,"wires":[]},{"id":"c8940278.4faea","type":"inject","z":"270af978.c963d6","name":"","topic":"","payload":"registers","payloadType":"flow","repeat":"30","crontab":"","once":true,"onceDelay":"20","x":180,"y":300,"wires":[["a478e5be.ae55b8"]]},{"id":"a478e5be.ae55b8","type":"function","z":"270af978.c963d6","name":"","func":"\nif (flow.get(\"msglist\") && flow.get(\"msglist\").length > 3) { return null; }\n\nvar oot = [];\n\nfor (var r in flow.get(\"registers\")) {\n    for (var d in flow.get(\"devices\")) {\n    \n    \n        var item = {};\n        item.fc = 3;\n        item.address = flow.get(\"devices.\"+d+\".address\");\n        item.register = flow.get(\"registers.\"+r+\".register\");\n        item.rlength = 2;\n\n        oot.push(item);\n        \n    }\n    \n}\n\nmsg.payload = oot;\n\n//flow.set(\"msglist\",[]);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["744777bc.3addf8"]]},{"id":"dc8d6d60.e6ec8","type":"debug","z":"270af978.c963d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":240,"wires":[]},{"id":"5ef5a64c.a13008","type":"link out","z":"270af978.c963d6","name":"","links":["72fc070f.39dd8","b354dfea.7000f"],"x":1035,"y":940,"wires":[]},{"id":"11081127.d02e2f","type":"split","z":"270af978.c963d6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":590,"y":1100,"wires":[["5939d7a5.946648"]]},{"id":"e794bf50.eacac","type":"debug","z":"270af978.c963d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1100,"wires":[]},{"id":"c466f666.2fdfc8","type":"debug","z":"270af978.c963d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1060,"wires":[]},{"id":"cb2775d1.df32d8","type":"debug","z":"270af978.c963d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":1040,"wires":[]},{"id":"afb32d42.359f9","type":"function","z":"270af978.c963d6","name":"SHIFT","func":"\nvar msglist=flow.get(\"msglist\") || [];\n\n//if (msglist.length> 100) { msglist = []; }\n    \nif (msg.payload == \"next\") { \n    \n    if (!msglist[0]) { return null; }\n    \n    if (flow.get(\"modbusIn\")===\"\") { return null; }\n    \n    msg = msglist[0];\n    msglist.shift();\n    flow.set(\"msglist\",msglist);\n    return msg;\n}\n\nelse {   \n    \n    msglist.push(msg); \n    flow.set(\"msglist\",msglist);\n    return null;\n    \n}\n\n\n\n\n","outputs":1,"noerr":0,"x":710,"y":380,"wires":[["404f8383.5cf40c","795a2a08.e46694"]]},{"id":"df12b777.2ea848","type":"inject","z":"270af978.c963d6","name":"","topic":"","payload":"next","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":360,"wires":[["6e951e7.b0875e"]]},{"id":"60179422.0c554c","type":"link out","z":"270af978.c963d6","name":"","links":["c4e46a82.1c9e7","fe09f0ca.6075a"],"x":555,"y":1020,"wires":[]},{"id":"fb311688.6da368","type":"change","z":"270af978.c963d6","name":"","rules":[{"t":"set","p":"modbusIn","pt":"flow","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":460,"wires":[[]]},{"id":"fe09f0ca.6075a","type":"link in","z":"270af978.c963d6","name":"","links":["60179422.0c554c"],"x":415,"y":400,"wires":[["b66ab750.ddc968"]]},{"id":"848b7703.e29c48","type":"change","z":"270af978.c963d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":400,"wires":[["afb32d42.359f9"]],"l":false},{"id":"60e5d235.6deb5c","type":"link in","z":"270af978.c963d6","name":"","links":["ebaa901f.9ce37","2db0089.690c2f8","be5ca099.80857","5dbf074d.dd7078","315cd92.2bca026"],"x":535,"y":440,"wires":[["afb32d42.359f9"]]},{"id":"ebaa901f.9ce37","type":"link out","z":"270af978.c963d6","name":"","links":["60e5d235.6deb5c","479e65f4.abc6cc"],"x":835,"y":560,"wires":[]},{"id":"5939d7a5.946648","type":"function","z":"270af978.c963d6","name":"","func":"msg= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1100,"wires":[["e794bf50.eacac","a4d24a2c.ddd748"]]},{"id":"a4d24a2c.ddd748","type":"subflow:5bab4241.b3501c","z":"270af978.c963d6","name":"","x":820,"y":1020,"wires":[["5ef5a64c.a13008","cb2775d1.df32d8"]]},{"id":"d42fbe2.44ee64","type":"change","z":"270af978.c963d6","name":"not used","rules":[{"t":"set","p":"lastset","pt":"flow","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":560,"wires":[["ebaa901f.9ce37"]]},{"id":"744777bc.3addf8","type":"split","z":"270af978.c963d6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":300,"wires":[["dc8d6d60.e6ec8","afb32d42.359f9"]]},{"id":"c2e2a578.0b48b8","type":"change","z":"270af978.c963d6","name":"","rules":[{"t":"set","p":"points","pt":"msg","to":"5000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":980,"wires":[["5ef5a64c.a13008"]]},{"id":"72aa7188.ad45d","type":"switch","z":"270af978.c963d6","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"AlarmCode","vt":"str"},{"t":"cont","v":"WarningCode","vt":"str"},{"t":"cont","v":"Position","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":590,"y":960,"wires":[["f9abed30.5ccb6","5ef5a64c.a13008"],["5ef5a64c.a13008"],["c2e2a578.0b48b8"],["a4d24a2c.ddd748"]]},{"id":"e68f5ead.a9157","type":"inject","z":"270af978.c963d6","name":"DEVICES","topic":"","payload":"[{\"address\":\"1\",\"device\":\"modutherm1\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":180,"y":60,"wires":[["fc5a738.b1bec9"]]},{"id":"fc5a738.b1bec9","type":"split","z":"270af978.c963d6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":275,"y":60,"wires":[["b289a6b7.d3cd68"]],"l":false},{"id":"b289a6b7.d3cd68","type":"function","z":"270af978.c963d6","name":"Store Devices","func":"\nvar rin = msg.payload;\nif (rin.address<1) { return null; } \n\n\nflow.set(\"devices.\" + rin.address, rin);\n\n\n    \nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":400,"y":60,"wires":[[]]},{"id":"d30940dc.b7366","type":"link in","z":"270af978.c963d6","name":"","links":["1f335ee0.7b9a41","b09805d5.754898"],"x":225,"y":500,"wires":[["f9d541a6.f61d"]]},{"id":"f9abed30.5ccb6","type":"function","z":"270af978.c963d6","name":"","func":"msg.topic = msg.topic.replace(\"/stat/\",\"/alarm/\");\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":920,"wires":[["5ef5a64c.a13008"]]},{"id":"f9d541a6.f61d","type":"delay","z":"270af978.c963d6","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":500,"wires":[["d42fbe2.44ee64"]]},{"id":"e7f5e3cf.2ea8d","type":"inject","z":"270af978.c963d6","name":"REGISTERS","topic":"","payload":"[{\"register\":\"0\",\"reading\":\"sensor.tOutDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water temperature\",\"period\":1,\"units\":\"°C\"},{\"register\":\"2\",\"reading\":\"sensor.tCWS\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Cold water temperature\",\"period\":10,\"units\":\"°C\"},{\"register\":\"4\",\"reading\":\"sensor.tTank\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"External tank temperature\",\"period\":30,\"units\":\"°C\"},{\"register\":\"6\",\"reading\":\"sensor.fDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"DHW water flow rate\",\"period\":1,\"units\":\"l/min\"},{\"register\":\"8\",\"reading\":\"sensor.kwDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water power\",\"period\":1,\"units\":\"kW\"},{\"register\":\"10\",\"reading\":\"sensor.tSetHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating reference temperature\",\"period\":10,\"units\":\"°C\"},{\"register\":\"12\",\"reading\":\"sensor.tOutHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating outlet temperature\",\"period\":1,\"units\":\"°C\"},{\"register\":\"14\",\"reading\":\"sensor.tInHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating inlet temperature\",\"period\":5,\"units\":\"°C\"},{\"register\":\"16\",\"reading\":\"sensor.tOutdoor\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Outdoor temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"18\",\"reading\":\"sensor.fHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating flow rate\",\"period\":1,\"units\":\"l/min\"},{\"register\":\"20\",\"reading\":\"sensor.pwmPump\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Pump PWM\",\"period\":1,\"units\":\"%\"},{\"register\":\"22\",\"reading\":\"sensor.kwHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating power\",\"period\":5,\"units\":\"kW\"},{\"register\":\"24\",\"reading\":\"sensor.pHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating pressure\",\"period\":30,\"units\":\"bar\"},{\"register\":\"26\",\"reading\":\"sensor.tOutPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"District Outlet temperature\",\"period\":5,\"units\":\"°C\"},{\"register\":\"28\",\"reading\":\"sensor.tInPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"District inlet temperature\",\"period\":5,\"units\":\"°C\"},{\"register\":\"30\",\"reading\":\"sensor.dpPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"District differential pressure\",\"period\":10,\"units\":\"bar\"},{\"register\":\"32\",\"reading\":\"sensor.fPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"District flow rate\",\"period\":1,\"units\":\"l/min\"},{\"register\":\"34\",\"reading\":\"sensor.stepDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water valve step count\",\"period\":1,\"units\":\"/300\"},{\"register\":\"36\",\"reading\":\"sensor.stepHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating valve step count\",\"period\":1,\"units\":\"/300\"},{\"register\":\"38\",\"reading\":\"sensor.stepDP\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Differential pressure valve step count\",\"period\":1,\"units\":\"/300\"},{\"register\":\"42\",\"reading\":\"config.mode\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Current Unit mode\",\"period\":1},{\"register\":\"46\",\"reading\":\"setpoint.tSetDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water reference temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"48\",\"reading\":\"setpoint.tSetHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating reference temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"50\",\"reading\":\"config.modeHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating mode\",\"period\":10},{\"register\":\"52\",\"reading\":\"config.tRefDiffHTG\",\"multiplier\":\"1\",\"datatype\":\"UInt32LE\",\"title\":\"Heating reference differential temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"54\",\"reading\":\"config.dpReference\",\"multiplier\":10,\"datatype\":\"UInt32LE\",\"title\":\"Primary reference differential pressure\",\"period\":60,\"units\":\"bar\"},{\"register\":\"56\",\"reading\":\"config.fMaxDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Primary max flowrate in hot water regulation\",\"period\":60,\"units\":\"l/min\"},{\"register\":\"58\",\"reading\":\"config.fMaxHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Primary max flowrate in heating regulation\",\"period\":60,\"units\":\"l/min\"},{\"register\":\"60\",\"reading\":\"config.pwmPumpMax\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Max pump PWM\",\"period\":60,\"units\":\"%\"},{\"register\":\"62\",\"reading\":\"config.pwmPumpMin\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Min pump PWM\",\"period\":60,\"units\":\"%\"},{\"register\":\"64\",\"reading\":\"config.useTPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Use Heating inlet temperature for regulation\",\"period\":60},{\"register\":\"66\",\"reading\":\"config.stepMaxDP\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Primary differential pressure valve max step\",\"period\":60,\"units\":\"%\"},{\"register\":\"68\",\"reading\":\"config.stepMaxDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water valve max step\",\"period\":60,\"units\":\"/300\"},{\"register\":\"70\",\"reading\":\"config.stepMaxHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating valve max step\",\"period\":60,\"units\":\"/300\"},{\"register\":\"72\",\"reading\":\"config.pMaxHTG\",\"multiplier\":10,\"datatype\":\"UInt32LE\",\"title\":\"Heating max pressure\",\"period\":60,\"units\":\"bar\"},{\"register\":\"74\",\"reading\":\"config.pMinHTG\",\"multiplier\":10,\"datatype\":\"UInt32LE\",\"title\":\"Heating min pressure\",\"period\":60,\"units\":\"bar\"},{\"register\":\"76\",\"reading\":\"config.extSFactor\",\"multiplier\":10,\"datatype\":\"UInt32LE\",\"title\":\"External sensor factor\",\"period\":60},{\"register\":\"78\",\"reading\":\"config.extSoffset\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"External sensor factor\",\"period\":60,\"units\":\"°C\"},{\"register\":\"80\",\"reading\":\"config.extSEnable\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"External sensor enable\",\"period\":60},{\"register\":\"82\",\"reading\":\"config.cylSensorEnable\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heat cylinder sensor enable\",\"period\":60},{\"register\":\"84\",\"reading\":\"config.unitModel\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Unit model\",\"period\":60},{\"register\":\"86\",\"reading\":\"config.eCountEnable\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Energy counter enable\",\"period\":60},{\"register\":\"88\",\"reading\":\"config.modbusAddress\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Modbus address\",\"period\":60},{\"register\":\"90\",\"reading\":\"config.mbusAddress\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Mbus address\",\"period\":60},{\"register\":\"92\",\"reading\":\"config.extEValve\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"External electric valve\",\"period\":60},{\"register\":\"94\",\"reading\":\"config.warmEnable\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Keep warm enable\",\"period\":60},{\"register\":\"96\",\"reading\":\"config.tWarm\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Keep warm temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"98\",\"reading\":\"config.tWarmHyst\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Keep warm hysteresis\",\"period\":60,\"units\":\"°C\"},{\"register\":\"100\",\"reading\":\"config.antiFreeze\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Antifreeze enable\",\"period\":60},{\"register\":\"102\",\"reading\":\"config.tOnAFreeze\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Antifreeze temperature on\",\"period\":60,\"units\":\"°C\"},{\"register\":\"104\",\"reading\":\"config.tOffAFreeze\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Antifreeze temperature off\",\"period\":60,\"units\":\"°C\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":170,"y":120,"wires":[["b64d43ed.a7346"]]},{"id":"b66ab750.ddc968","type":"delay","z":"270af978.c963d6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":485,"y":400,"wires":[["848b7703.e29c48"]],"l":false},{"id":"aa760b7.65922f8","type":"split","z":"270af978.c963d6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":335,"y":120,"wires":[["4a44c3ed.c8500c"]],"l":false},{"id":"4a44c3ed.c8500c","type":"function","z":"270af978.c963d6","name":"Store Registers","func":"\nvar rin = msg.payload;\nif (rin.register01) { return null; } \n\n\nvar v = global.get(\"readings.\" + rin.reading + \".value\") || 0\nrin[\"value\"] = v;\n\n\n\nflow.set(\"registers.r\" + rin.register, rin);\n\nmsg.payload = flow.get(\"registers\") ;\n    \nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":460,"y":120,"wires":[[]]},{"id":"b64d43ed.a7346","type":"function","z":"270af978.c963d6","name":"Store Registers","func":"\nflow.set(\"registers\" , {});\n\n    \nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":275,"y":120,"wires":[["aa760b7.65922f8"]],"l":false},{"id":"af5d96a6.f97378","type":"function","z":"270af978.c963d6","name":"fc16","func":"\nmsg.fc = 16;\nmsg.address = 1;\nmsg.register = 46;\nmsg.rlength = 2;\n\nflow.set(\"multiply\", 1);\nflow.set(\"rtopic\", \"test\");\n\n\nmsg.targetv = 48;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":600,"wires":[["d42fbe2.44ee64"]]},{"id":"a3f73976.2bc9f8","type":"inject","z":"270af978.c963d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":600,"wires":[["af5d96a6.f97378"]]},{"id":"9c552d22.62b3e","type":"function","z":"270af978.c963d6","name":"fc16","func":"\nmsg.fc = 16;\nmsg.address = 1;\nmsg.register = 48;\nmsg.rlength = 2;\n\nflow.set(\"multiply\", 1);\nflow.set(\"rtopic\", \"test\");\n\n\nmsg.targetv = 47;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":640,"wires":[["d42fbe2.44ee64"]]},{"id":"71ffa29d.4952cc","type":"inject","z":"270af978.c963d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":640,"wires":[["9c552d22.62b3e"]]},{"id":"2e76fd88.8992e2","type":"link in","z":"270af978.c963d6","name":"link in 4","links":["a561f6ed.059d18"],"x":185,"y":720,"wires":[["eaebf8da.36efb8"]]},{"id":"8f8277a0.868c68","type":"function","z":"270af978.c963d6","name":"fc16","func":"msg.fc = 16;\nmsg.address = 1;\nmsg.rlength = 2;\n\nflow.set(\"multiply\", 1);\n//flow.set(\"rtopic\", \"test\");\n\nmsg.register = -1;\n\nvar varkey = msg.topic.split(\"/\")[4];\n\nvar regs = flow.get(\"registers\");\nfor (var r in regs) {\n\n    if ((regs[r].reading.split('.')[0] == \"config\" || regs[r].reading.split('.')[0] == \"setpoint\" || regs[r].reading.split('.')[0] == \"settings\") && regs[r].reading.split('.')[1] == varkey) {\n        msg.register = parseInt(regs[r].register);\n        \n        if (regs[r].multiplier > 1) { msg.payload = msg.payload * regs[r].multiplier; }\n        msg.targetv = msg.payload;\n\n        break;\n    }\n\n}\n\nif (msg.register == -1) {return null;}\n\n// if (msg.topic.indexOf(\"set/tSetDHW\") > 0) { msg.register = 46; }\n// else if (msg.topic.indexOf(\"set/tSetHTG\") > 0) { msg.register = 48; }\n// else { return null; }\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":720,"wires":[["d42fbe2.44ee64"]]},{"id":"a37f2805.7466c8","type":"switch","z":"270af978.c963d6","name":"","property":"payload[3]","propertyType":"msg","rules":[{"t":"eq","v":"46","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1035,"y":280,"wires":[["b3c5bd0c.54b62"]],"l":false},{"id":"fdc825a2.6d1078","type":"switch","z":"270af978.c963d6","name":"","property":"payload[3]","propertyType":"msg","rules":[{"t":"eq","v":"46","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":275,"y":900,"wires":[["475de446.35e4dc"]],"l":false},{"id":"4386083b.1ecfe8","type":"debug","z":"270af978.c963d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":940,"wires":[]},{"id":"c47d5ef4.a1db5","type":"debug","z":"270af978.c963d6","name":"debug 49","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":780,"wires":[]},{"id":"eaebf8da.36efb8","type":"delay","z":"270af978.c963d6","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":720,"wires":[["8f8277a0.868c68","c47d5ef4.a1db5"]]},{"id":"39df182f.5973c8","type":"mqtt in","z":"270af978.c963d6","name":"","topic":"modutherm/bb400-0e68/+/set/#","qos":"2","datatype":"auto-detect","broker":"c4c17745.e443c8","x":750,"y":60,"wires":[["a561f6ed.059d18"]]},{"id":"a561f6ed.059d18","type":"link out","z":"270af978.c963d6","name":"link out 2","links":["2e76fd88.8992e2"],"x":975,"y":80,"wires":[]},{"id":"50d36599.8ab6ec","type":"mqtt in","z":"270af978.c963d6","name":"","topic":"modutherm/bb400-0e68/+/cmd/#","qos":"2","datatype":"auto-detect","broker":"c4c17745.e443c8","x":750,"y":120,"wires":[["a561f6ed.059d18"]]},{"id":"6e951e7.b0875e","type":"switch","z":"270af978.c963d6","name":"","property":"modbusin","propertyType":"flow","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":535,"y":360,"wires":[["afb32d42.359f9"]],"l":false},{"id":"1ba8109c.0877df","type":"debug","z":"270af978.c963d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":320,"wires":[]},{"id":"51f10c9a.0e9574","type":"trigger","z":"270af978.c963d6","op1":"","op2":"done","op1type":"nul","op2type":"str","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1035,"y":460,"wires":[["fb311688.6da368"]],"l":false},{"id":"17b45abc.c312a5","type":"mqtt out","z":"270af978.c963d6","name":"","topic":"","qos":"0","retain":"false","broker":"c4c17745.e443c8","x":1070,"y":200,"wires":[]},{"id":"b354dfea.7000f","type":"link in","z":"270af978.c963d6","name":"","links":["5ef5a64c.a13008"],"x":635,"y":200,"wires":[["c35d06cf.b84678"]]},{"id":"c35d06cf.b84678","type":"function","z":"270af978.c963d6","name":"modutherm/bb400-0e68","func":"msg.topic = \"modutherm/bb400-0e68/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":200,"wires":[["17b45abc.c312a5","2d5f3ebb.806012"]]},{"id":"2d5f3ebb.806012","type":"debug","z":"270af978.c963d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":160,"wires":[]},{"id":"7a413929.0cab68","type":"delay","z":"270af978.c963d6","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":640,"wires":[["ebaa901f.9ce37"]]},{"id":"4f9a6231.b901fc","type":"delay","z":"270af978.c963d6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":700,"wires":[["ebaa901f.9ce37"]]},{"id":"a83957f8.c71958","type":"function","z":"270af978.c963d6","name":"fc16","func":"msg.fc = 16;\nmsg.address = 1;\nmsg.rlength = 2;\n\nflow.set(\"multiply\", 1);\n//flow.set(\"rtopic\", \"test\");\n\nmsg.register = -1;\n\nvar varkey = msg.topic.split(\"/\")[4];\n\nvar regs = flow.get(\"registers\");\nfor (var r in regs) {\n\n    if ((regs[r].reading.split('.')[0] == \"config\" || regs[r].reading.split('.')[0] == \"setpoint\" || regs[r].reading.split('.')[0] == \"settings\") && regs[r].reading.split('.')[1] == varkey) {\n        msg.register = parseInt(regs[r].register);\n        \n        if (regs[r].multiplier > 1) { msg.payload = msg.payload * regs[r].multiplier; }\n        msg.targetv = msg.payload;\n\n        break;\n    }\n\n}\n\nif (msg.register == -1) {return null;}\n\n// if (msg.topic.indexOf(\"set/tSetDHW\") > 0) { msg.register = 46; }\n// else if (msg.topic.indexOf(\"set/tSetHTG\") > 0) { msg.register = 48; }\n// else { return null; }\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":760,"wires":[[]]},{"id":"795a2a08.e46694","type":"debug","z":"270af978.c963d6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":320,"wires":[]},{"id":"48bad482.f5bbcc","type":"serial-port","z":"","serialport":"/dev/ttySC0","serialbaud":"19200","databits":"8","parity":"even","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"50","bin":"bin","out":"time","addchar":"","responsetimeout":""},{"id":"c4c17745.e443c8","type":"mqtt-broker","z":"","name":"","broker":"mqtt.heatweb.cloud","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
