flows/mods/flow_8mosfet_hat.json
[
    {
        "id": "344fa160119932f8",
        "type": "subflow",
        "name": "rbe 5m",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "486403111458df8e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 420,
                "y": 160,
                "wires": [
                    {
                        "id": "c822677b38fcd83c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "486403111458df8e",
        "type": "rbe",
        "z": "344fa160119932f8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "c822677b38fcd83c"
            ]
        ]
    },
    {
        "id": "9dd86fca5dcbfcab",
        "type": "inject",
        "z": "344fa160119932f8",
        "name": "",
        "props": [
            {
                "p": "reset",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "486403111458df8e"
            ]
        ]
    },
    {
        "id": "c822677b38fcd83c",
        "type": "switch",
        "z": "344fa160119932f8",
        "name": "",
        "property": "reset",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "83c63b74701903e0",
        "type": "tab",
        "label": "Sequent 8 Mosfet",
        "disabled": false,
        "info": "Flow for switching 8 Mosfets",
        "env": []
    },
    {
        "id": "9031afbd3c6127d1",
        "type": "link in",
        "z": "83c63b74701903e0",
        "name": "",
        "links": [
            "c52dea4958c2f7ea",
            "eb51995aa1e13f3b"
        ],
        "x": 835,
        "y": 100,
        "wires": [
            [
                "0ec7ff9831ebc73b",
                "5042b7546a2e60e5"
            ]
        ]
    },
    {
        "id": "0ec7ff9831ebc73b",
        "type": "debug",
        "z": "83c63b74701903e0",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 100,
        "wires": []
    },
    {
        "id": "eb51995aa1e13f3b",
        "type": "link out",
        "z": "83c63b74701903e0",
        "d": true,
        "name": "",
        "mode": "link",
        "links": [
            "72fc070f.39dd8",
            "9031afbd3c6127d1"
        ],
        "x": 915,
        "y": 400,
        "wires": []
    },
    {
        "id": "624be02d954a3c70",
        "type": "exec",
        "z": "83c63b74701903e0",
        "command": "8mosind 0 write 1 on",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1460,
        "y": 340,
        "wires": [
            [
                "3d1333dccb5bd49e"
            ],
            [
                "3d1333dccb5bd49e"
            ],
            []
        ]
    },
    {
        "id": "f622c5af66d3be6e",
        "type": "rbe",
        "z": "83c63b74701903e0",
        "name": "",
        "func": "deadbandEq",
        "gap": "0.1",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 960,
        "y": 920,
        "wires": [
            [
                "c82957524da9bde9"
            ]
        ]
    },
    {
        "id": "ac4c1abd0627dd8b",
        "type": "inject",
        "z": "83c63b74701903e0",
        "name": "",
        "props": [
            {
                "p": "reset",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 950,
        "y": 860,
        "wires": [
            [
                "f622c5af66d3be6e",
                "0eef7e433d70b2cb"
            ]
        ]
    },
    {
        "id": "c82957524da9bde9",
        "type": "switch",
        "z": "83c63b74701903e0",
        "name": "",
        "property": "reset",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1110,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "85c346601eced1fb",
        "type": "comment",
        "z": "83c63b74701903e0",
        "name": "8mosind Hat Commands",
        "info": "https://sequentmicrosystems.com/collections/industrial-automation/products/eight-mosfets-8-layer-stackable-card-for-raspberry-pi\n\n8mosind: Usage:  8mosind -h <command>\n         8mosind -v\n         8mosind -warranty\n         8mosind -list\n         8mosind <id> write <channel> <on/off>\n         8mosind <id> write <value>\n         8mosind <id> read <channel>\n         8mosind <id> read\n         8mosind <id> test\nWhere: <id> = Board level id = 0..7\nType 8mosind -h <command> for more help",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "0eef7e433d70b2cb",
        "type": "rbe",
        "z": "83c63b74701903e0",
        "d": true,
        "name": "",
        "func": "deadbandEq",
        "gap": "10",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 960,
        "y": 960,
        "wires": [
            [
                "c82957524da9bde9"
            ]
        ]
    },
    {
        "id": "ad0e912918b61670",
        "type": "mqtt out",
        "z": "83c63b74701903e0",
        "d": true,
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7ad2997b.42a908",
        "x": 1090,
        "y": 180,
        "wires": []
    },
    {
        "id": "5042b7546a2e60e5",
        "type": "function",
        "z": "83c63b74701903e0",
        "name": "_/",
        "func": "msg.topic = \"_/\" + msg.topic;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 180,
        "wires": [
            [
                "ad0e912918b61670"
            ]
        ]
    },
    {
        "id": "3d1333dccb5bd49e",
        "type": "debug",
        "z": "83c63b74701903e0",
        "name": "debug 31",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 340,
        "wires": []
    },
    {
        "id": "e0f49195d46cc369",
        "type": "inject",
        "z": "83c63b74701903e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "08976f4e439171dd"
            ]
        ]
    },
    {
        "id": "08976f4e439171dd",
        "type": "exec",
        "z": "83c63b74701903e0",
        "command": "8mosind -list",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "8mosind -list",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "91c09bb1fb560a1c"
            ],
            [],
            []
        ]
    },
    {
        "id": "91c09bb1fb560a1c",
        "type": "debug",
        "z": "83c63b74701903e0",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "cc51cc40908d4fa0",
        "type": "inject",
        "z": "83c63b74701903e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1260,
        "y": 340,
        "wires": [
            [
                "624be02d954a3c70"
            ]
        ]
    },
    {
        "id": "647071c3872e692d",
        "type": "exec",
        "z": "83c63b74701903e0",
        "command": "8mosind 0 write 1 off",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1460,
        "y": 420,
        "wires": [
            [
                "a428bf93cc354bcf"
            ],
            [
                "a428bf93cc354bcf"
            ],
            []
        ]
    },
    {
        "id": "a428bf93cc354bcf",
        "type": "debug",
        "z": "83c63b74701903e0",
        "name": "debug 33",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 420,
        "wires": []
    },
    {
        "id": "c50b7eab270ebb1a",
        "type": "inject",
        "z": "83c63b74701903e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1260,
        "y": 420,
        "wires": [
            [
                "647071c3872e692d"
            ]
        ]
    },
    {
        "id": "7e2bb533b6044360",
        "type": "exec",
        "z": "83c63b74701903e0",
        "command": "8mosind 0 read 1",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1450,
        "y": 500,
        "wires": [
            [
                "933f37c1f3c4a98e"
            ],
            [
                "933f37c1f3c4a98e"
            ],
            []
        ]
    },
    {
        "id": "933f37c1f3c4a98e",
        "type": "debug",
        "z": "83c63b74701903e0",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1720,
        "y": 500,
        "wires": []
    },
    {
        "id": "47dcf33a2669288e",
        "type": "inject",
        "z": "83c63b74701903e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1260,
        "y": 500,
        "wires": [
            [
                "7e2bb533b6044360"
            ]
        ]
    },
    {
        "id": "ca21080e596df888",
        "type": "exec",
        "z": "83c63b74701903e0",
        "command": "8mosind 0 read 1 && 8mosind 0 read 2 && 8mosind 0 read 3 && 8mosind 0 read 4 && 8mosind 0 read 5 && 8mosind 0 read 6 && 8mosind 0 read 7 && 8mosind 0 read 8",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "real all 8",
        "x": 400,
        "y": 400,
        "wires": [
            [
                "2316ce8928d2d796"
            ],
            [],
            []
        ]
    },
    {
        "id": "9045abef84e1ded0",
        "type": "debug",
        "z": "83c63b74701903e0",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 440,
        "wires": []
    },
    {
        "id": "b6fcb1f7cd556525",
        "type": "inject",
        "z": "83c63b74701903e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "ca21080e596df888"
            ]
        ]
    },
    {
        "id": "2316ce8928d2d796",
        "type": "function",
        "z": "83c63b74701903e0",
        "name": "function 1",
        "func": "var relays = msg.payload.split(\"\\n\");\n\nvar rc=0;\nfor (var r in relays) {\n\n    rc++;\n    node.send({\"topic\":\"relay\" + rc + \"/dat/switch\", \"payload\":relays[r]});\n\n    if (rc==8) { break; }\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 400,
        "wires": [
            [
                "2d2af00fc02b19fb"
            ]
        ]
    },
    {
        "id": "2d2af00fc02b19fb",
        "type": "subflow:344fa160119932f8",
        "z": "83c63b74701903e0",
        "name": "",
        "x": 760,
        "y": 400,
        "wires": [
            [
                "9045abef84e1ded0",
                "eb51995aa1e13f3b"
            ]
        ]
    },
    {
        "id": "e17b4b30db59240d",
        "type": "exec",
        "z": "83c63b74701903e0",
        "command": "8mosind 0 write",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 420,
        "y": 280,
        "wires": [
            [
                "ad065cc0095a5375"
            ],
            [
                "ad065cc0095a5375"
            ],
            [
                "93b337636fcc8ae2"
            ]
        ]
    },
    {
        "id": "ad065cc0095a5375",
        "type": "debug",
        "z": "83c63b74701903e0",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 280,
        "wires": []
    },
    {
        "id": "eab90630e1018cc5",
        "type": "function",
        "z": "83c63b74701903e0",
        "name": "function 2",
        "func": "\n// relay1 0/off/1/on\n//1 on\n\nif (msg.topic.indexOf(\"relay\")!==0) { return null; }\n\nvar channel = parseFloat(msg.topic.replace(\"relay\",\"\"));\nvar state = msg.payload;\n\nif (state == \"0\" || state == 0 || state == \"off\" ) { msg.payload = channel + \" 0\"; }\nelse if (state == \"1\" || state == 1 || state == \"on\") { msg.payload = channel + \" 1\"; }\nelse {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 280,
        "wires": [
            [
                "e17b4b30db59240d"
            ]
        ]
    },
    {
        "id": "0ef98d651330db4d",
        "type": "link in",
        "z": "83c63b74701903e0",
        "name": "link in 4",
        "links": [
            "673019583cbf736d",
            "b5701dac19ca5363",
            "05b78230f7663523",
            "3ed4ce143c0c6b77"
        ],
        "x": 135,
        "y": 280,
        "wires": [
            [
                "eab90630e1018cc5"
            ]
        ]
    },
    {
        "id": "8d65b06da2d5d9a8",
        "type": "inject",
        "z": "83c63b74701903e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "relay1",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "673019583cbf736d"
            ]
        ]
    },
    {
        "id": "7884df209e196705",
        "type": "inject",
        "z": "83c63b74701903e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "relay1",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "673019583cbf736d"
            ]
        ]
    },
    {
        "id": "673019583cbf736d",
        "type": "link out",
        "z": "83c63b74701903e0",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "0ef98d651330db4d"
        ],
        "x": 345,
        "y": 540,
        "wires": []
    },
    {
        "id": "08e66c7aa5f7b810",
        "type": "inject",
        "z": "83c63b74701903e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "relay2",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "b5701dac19ca5363"
            ]
        ]
    },
    {
        "id": "33b4dc858d0e3375",
        "type": "inject",
        "z": "83c63b74701903e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "relay2",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "b5701dac19ca5363"
            ]
        ]
    },
    {
        "id": "b5701dac19ca5363",
        "type": "link out",
        "z": "83c63b74701903e0",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "0ef98d651330db4d"
        ],
        "x": 345,
        "y": 660,
        "wires": []
    },
    {
        "id": "eaeb53304b16319a",
        "type": "inject",
        "z": "83c63b74701903e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "relay3",
        "payload": "1",
        "payloadType": "num",
        "x": 530,
        "y": 520,
        "wires": [
            [
                "05b78230f7663523"
            ]
        ]
    },
    {
        "id": "1a2540384b78bba7",
        "type": "inject",
        "z": "83c63b74701903e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "relay3",
        "payload": "0",
        "payloadType": "num",
        "x": 530,
        "y": 560,
        "wires": [
            [
                "05b78230f7663523"
            ]
        ]
    },
    {
        "id": "05b78230f7663523",
        "type": "link out",
        "z": "83c63b74701903e0",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "0ef98d651330db4d"
        ],
        "x": 685,
        "y": 540,
        "wires": []
    },
    {
        "id": "0447b3e1f152a41b",
        "type": "inject",
        "z": "83c63b74701903e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "relay4",
        "payload": "1",
        "payloadType": "num",
        "x": 530,
        "y": 640,
        "wires": [
            [
                "3ed4ce143c0c6b77"
            ]
        ]
    },
    {
        "id": "97d27765ab4e58f5",
        "type": "inject",
        "z": "83c63b74701903e0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "relay4",
        "payload": "0",
        "payloadType": "num",
        "x": 530,
        "y": 680,
        "wires": [
            [
                "3ed4ce143c0c6b77"
            ]
        ]
    },
    {
        "id": "3ed4ce143c0c6b77",
        "type": "link out",
        "z": "83c63b74701903e0",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "0ef98d651330db4d"
        ],
        "x": 685,
        "y": 660,
        "wires": []
    },
    {
        "id": "93b337636fcc8ae2",
        "type": "trigger",
        "z": "83c63b74701903e0",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "date",
        "duration": "250",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "ca21080e596df888"
            ]
        ]
    },
    {
        "id": "7ad2997b.42a908",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
