flows/mods/flow_waveshare_bba.json
[
    {
        "id": "b927acc1b874b6c2",
        "type": "tab",
        "label": "Waveshare BBA",
        "disabled": false,
        "info": "Installation script for Waveshare Base Board type A.\r\nRequired ofor LCD operation.\r\n\r\nhttps://www.waveshare.com/wiki/CM4-IO-BASE-A#CSI_DSI",
        "env": []
    },
    {
        "id": "8ca8b78215248e9b",
        "type": "comment",
        "z": "b927acc1b874b6c2",
        "name": "Waveshare Board Versioning",
        "info": "https://www.waveshare.com/wiki/CM4-IO-BASE-A#CSI_DSI\n\nwget https://www.waveshare.com/w/upload/7/75/CM4_dt_blob_Source.zip\n unzip -o  CM4_dt_blob_Source.zip -d ./CM4_dt_blob_Source\n sudo chmod 777 -R CM4_dt_blob_Source\n cd CM4_dt_blob_Source/\n #If you want to use two cameras and DSI0, please execute\n sudo  dtc -I dts -O dtb -o /boot/dt-blob.bin dt-blob-disp0-double_cam.dts\n #If you want to use two cameras and DSI1, please execute\n sudo  dtc -I dts -O dtb -o /boot/dt-blob.bin dt-blob-disp1-double_cam.dts\n #When using any DSI interface, HDMI1 will have no image output, even if you do not connect the DSI screen, as long as you compile the corresponding file, then HDMI1 will not output\n  #If you need to restore, please delete the corresponding dt-blob.bin: sudo rm -rf /boot/dt-blob.bin\n  # After execution, turn off the power and restart the CM4",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "bb960e0e39b82f06",
        "type": "inject",
        "z": "b927acc1b874b6c2",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "3f04fba177be312c"
            ]
        ]
    },
    {
        "id": "3f04fba177be312c",
        "type": "template",
        "z": "b927acc1b874b6c2",
        "name": "Fetch",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "cd /home/pi/node-hiu\nwget https://www.waveshare.com/w/upload/7/75/CM4_dt_blob_Source.zip\nunzip -o  CM4_dt_blob_Source.zip -d ./CM4_dt_blob_Source\nsudo chmod 777 -R CM4_dt_blob_Source",
        "output": "str",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "ae97fd64caabccdb"
            ]
        ]
    },
    {
        "id": "5e0f2c7bbf09f9ae",
        "type": "exec",
        "z": "b927acc1b874b6c2",
        "command": "sudo bash /home/pi/node-hiu/wavesharesetup.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 890,
        "y": 440,
        "wires": [
            [
                "ed011c731af0e8a6"
            ],
            [
                "ed011c731af0e8a6"
            ],
            []
        ]
    },
    {
        "id": "561e120430c4c5a3",
        "type": "file",
        "z": "b927acc1b874b6c2",
        "name": "",
        "filename": "/home/pi/node-hiu/wavesharesetup.sh",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 850,
        "y": 360,
        "wires": [
            [
                "9c621bce3566fda1"
            ]
        ]
    },
    {
        "id": "ae97fd64caabccdb",
        "type": "delay",
        "z": "b927acc1b874b6c2",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 280,
        "wires": [
            [
                "561e120430c4c5a3"
            ]
        ]
    },
    {
        "id": "0d19b8081640ba0a",
        "type": "template",
        "z": "b927acc1b874b6c2",
        "name": "Old < v4",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "cd /home/pi/node-hiu/CM4_dt_blob_Source/\nsudo rm -rf /boot/dt-blob.bin\nsudo  dtc -I dts -O dtb -o /boot/dt-blob.bin dt-blob-disp0-double_cam.dts",
        "output": "str",
        "x": 500,
        "y": 360,
        "wires": [
            [
                "ae97fd64caabccdb"
            ]
        ]
    },
    {
        "id": "216ef8fd13507c3f",
        "type": "template",
        "z": "b927acc1b874b6c2",
        "name": "Ver 4+",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "cd /home/pi/node-hiu/CM4_dt_blob_Source/\nsudo rm -rf /boot/dt-blob.bin\nsudo  dtc -I dts -O dtb -o /boot/dt-blob.bin dt-blob-disp1-double_cam.dts",
        "output": "str",
        "x": 490,
        "y": 480,
        "wires": [
            [
                "ae97fd64caabccdb"
            ]
        ]
    },
    {
        "id": "66400151e8726fd5",
        "type": "inject",
        "z": "b927acc1b874b6c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "30",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "ac3c1e3aa6f740ba"
            ]
        ]
    },
    {
        "id": "1a00e17162f0511f",
        "type": "link out",
        "z": "b927acc1b874b6c2",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "72fc070f.39dd8"
        ],
        "x": 465,
        "y": 420,
        "wires": []
    },
    {
        "id": "ed011c731af0e8a6",
        "type": "debug",
        "z": "b927acc1b874b6c2",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 540,
        "wires": []
    },
    {
        "id": "ac3c1e3aa6f740ba",
        "type": "exec",
        "z": "b927acc1b874b6c2",
        "command": "ls /home/pi/node-hiu/wavesharesetup.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 600,
        "wires": [
            [],
            [
                "46ca6209a3a86f23"
            ],
            []
        ]
    },
    {
        "id": "46ca6209a3a86f23",
        "type": "change",
        "z": "b927acc1b874b6c2",
        "name": "V4",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "V4",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set/waveshareBBVer",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 480,
        "wires": [
            [
                "1a00e17162f0511f",
                "216ef8fd13507c3f"
            ]
        ]
    },
    {
        "id": "132a4c46760e9775",
        "type": "change",
        "z": "b927acc1b874b6c2",
        "name": "V3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "V3",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set/waveshareBBVer",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "0d19b8081640ba0a",
                "1a00e17162f0511f"
            ]
        ]
    },
    {
        "id": "8c2064d7997d59ad",
        "type": "inject",
        "z": "b927acc1b874b6c2",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "132a4c46760e9775"
            ]
        ]
    },
    {
        "id": "e21d39dc867e8651",
        "type": "inject",
        "z": "b927acc1b874b6c2",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "46ca6209a3a86f23"
            ]
        ]
    },
    {
        "id": "683b0c2476cafe8b",
        "type": "inject",
        "z": "b927acc1b874b6c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "9c7b3c658f7c08bb"
            ]
        ]
    },
    {
        "id": "9c7b3c658f7c08bb",
        "type": "exec",
        "z": "b927acc1b874b6c2",
        "command": "ls /home/pi/node-hiu/CM4_dt_blob_Source.zip",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 420,
        "y": 180,
        "wires": [
            [],
            [
                "3f04fba177be312c"
            ],
            []
        ]
    },
    {
        "id": "9c621bce3566fda1",
        "type": "delay",
        "z": "b927acc1b874b6c2",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1080,
        "y": 360,
        "wires": [
            [
                "5e0f2c7bbf09f9ae"
            ]
        ]
    },
    {
        "id": "46742c10cec76511",
        "type": "inject",
        "z": "b927acc1b874b6c2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 700,
        "wires": [
            [
                "79eea67ea22eb89f"
            ]
        ]
    },
    {
        "id": "79eea67ea22eb89f",
        "type": "exec",
        "z": "b927acc1b874b6c2",
        "command": "rm /home/pi/node-hiu/wavesharesetup.sh",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 400,
        "y": 700,
        "wires": [
            [],
            [],
            []
        ]
    }
]
