flows/mods/flow_dhw_control.json
[{"id":"1063c9cb6d287011","type":"tab","label":"DHW Control","disabled":false,"info":"Control loop for DHW plate heat exchanger using  PICV valve. ","env":[]},{"id":"b78feea927c9549b","type":"switch","z":"1063c9cb6d287011","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0.5","vt":"num"},{"t":"gt","v":"0.25","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":750,"y":140,"wires":[["881c23f36ef202f9"],[],["702de14ed67ac5e5"]]},{"id":"881c23f36ef202f9","type":"change","z":"1063c9cb6d287011","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":120,"wires":[["8a20b950abbf3bb9"]]},{"id":"702de14ed67ac5e5","type":"change","z":"1063c9cb6d287011","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"enable","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":160,"wires":[["8a20b950abbf3bb9"]]},{"id":"3b92fee16e8e06a5","type":"trigger","z":"1063c9cb6d287011","name":"","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"-1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":800,"y":240,"wires":[["17c10fc5bd92edc1"]]},{"id":"17c10fc5bd92edc1","type":"function","z":"1063c9cb6d287011","name":"CONTROL cmd/fVSet","func":"\n// msg.payload = msg.payload - 0.8;   // -0.5 to +0.5 PID\n// msg.payload = msg.payload * 100;  // percentage  -50% to 50%\n\n\nmsg.topic = \"dhw/cmd/fVSet\";\nvar msg1={};\n\nvar fC = flow.get(\"fC\") || 0;\nvar tCo = flow.get(\"tCo\") || 50;\nvar tH = flow.get(\"tH\") || 70;\nvar tHo = flow.get(\"tHo\") || 25;\nvar tC = 18;  // estimated\n\nif (flow.get(\"started\") && flow.get(\"enable\")==1) {\n    \n    var tTarget =  flow.get(\"tSet\") || 51;\n    \n    var timemnow = new Date().getTime();\n    var tdiff = (timemnow - flow.get(\"started\"))/1000;\n    \n  \n    \n    var tCoLast = flow.get(\"tCoLast\") || 50;\n    flow.set(\"tCoLast\",tCo);\n    \n    var tErr = 50 - tCo;\n    \n    var diffch = tCo - tCoLast;\n    \n    // integral.. offset (lpm) is linked to tap flow\n    // offsetP = aditional hot input (lpm) for a cold flow rate of 1 lpm.\n    // It is retained between tap calls\n    \n    var offsetP = flow.get(\"offsetP\") || 0;  \n    \n    var offset = fC * offsetP;  \n    \n    var pidI = flow.get(\"pidI\") || 1.5;\n    offset = offset + (fC * (pidI/1000)*(tErr));\n    \n    // A warm cold mains supply would give a lower negative offset\n    if (offset<-30) { offset = -30; }\n    if (offset>10) { offset = 10; }\n    \n    // Store offset if there is significant flow\n    if (fC>0.5) { flow.set(\"offsetP\",offset/fC);  }\n     \n    var pidD = flow.get(\"pidD\") || 0.5;\n    offset = offset -  (pidD * diffch);   // differential\n    \n     \n    //Calculate primary flow required from energy in = energy out.\n    var kwTarget = (tTarget - tCo) * 4.2 * (fC/60);\n    var fHTarget = kwTarget / (Math.max((tH - tHo),20) * 4.2 * 60);\n    \n    msg.payload = fHTarget + offset;\n    \n    msg1.topic = \"dhw/dat/tTarget\";\n    msg1.payload =  tTarget ;\n    msg1.units = \"°C\";\n    msg1.title = \"Target temperature\";\n    node.send(msg1);\n    \n    msg1.topic = \"dhw/dat/run\";\n    msg1.payload =  \"on\" ;\n    msg1.title = \"Run state\";\n    node.send(msg1);\n    \n    msg1.topic = \"dhw/dat/kwTarget\";\n    msg1.payload =  parseInt(10*kwTarget) / 10 ;\n    msg1.units = \"kW\";\n    msg1.title = \"Estimated power\";\n    node.send(msg1);\n    \n    msg1.topic = \"dhw/dat/offset\";\n    msg1.payload =  parseInt(10*offset) / 10 ;\n    msg1.units = \"ltr/min\";\n    msg1.title = \"Offset flow\";\n    node.send(msg1);\n    \n    msg1.topic = \"dhw/dat/offsetP\";\n    msg1.payload =  parseInt(10*offsetP) / 10 ;\n    msg1.units = \"ltr/min\";\n    msg1.title = \"Offset flow @ 1 ltr/min\";\n    node.send(msg1);\n\n\n} \n\nelse if (flow.get(\"enable\")==1) {\n   \n   // standby keep warm.\n   \n   var tStandby =  flow.get(\"tStandby\") || 10;\n   \n   if (tHo < tStandby) {  msg.payload = 5; }\n   else { msg.payload = 0; }\n   \n} \n\nelse {\n    \n    msg.payload = 0;\n    \n    \n    msg1.topic = \"dhw/dat/run\";\n    msg1.payload =  \"off\" ;\n    msg1.title = \"Run state\";\n    node.send(msg1);\n    \n    msg1.topic = \"dhw/dat/kwTarget\";\n    msg1.payload =  0 ;\n    msg1.units = \"kW\";\n    msg1.title = \"Target power\";\n    node.send(msg1);\n    \n    msg1.topic = \"dhw/dat/offset\";\n    msg1.payload =  0 ;\n    msg1.units = \"ltr/min\";\n    msg1.title = \"Offset flow\";\n    node.send(msg1);\n    \n}\n\n\nmsg.payload = parseInt(1000*msg.payload) / 1000;\n\n\nif (msg.payload<0) { msg.payload = 0; }\nif (msg.payload>100) { msg.payload = 100; }\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":240,"wires":[["5b4892b87239aaac","e48680f3d8729455"]]},{"id":"8a20b950abbf3bb9","type":"rbe","z":"1063c9cb6d287011","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":1150,"y":140,"wires":[["65074ea90c2bc262"]]},{"id":"f18688f3a41fbc7b","type":"change","z":"1063c9cb6d287011","name":"start time","rules":[{"t":"set","p":"started","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":120,"wires":[[]]},{"id":"65074ea90c2bc262","type":"switch","z":"1063c9cb6d287011","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":140,"wires":[["f18688f3a41fbc7b"],["a8b5464bc49852b2"]]},{"id":"a8b5464bc49852b2","type":"change","z":"1063c9cb6d287011","name":"kill start time","rules":[{"t":"delete","p":"started","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":160,"wires":[[]]},{"id":"0fc32dc03ac84610","type":"change","z":"1063c9cb6d287011","name":"","rules":[{"t":"set","p":"fC","pt":"flow","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":200,"wires":[["b78feea927c9549b","3b92fee16e8e06a5"]]},{"id":"609d5d21fdbdb068","type":"debug","z":"1063c9cb6d287011","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":100,"wires":[]},{"id":"446f4f575cdffa4a","type":"inject","z":"1063c9cb6d287011","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":370,"y":100,"wires":[["0fc32dc03ac84610"]]},{"id":"80c084fc8f970e1e","type":"mqtt out","z":"1063c9cb6d287011","name":"","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7ad2997b.42a908","x":1290,"y":540,"wires":[]},{"id":"6ba36c26387ffcc9","type":"function","z":"1063c9cb6d287011","name":"_/","func":"msg.topic = \"_/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":540,"wires":[["80c084fc8f970e1e"]]},{"id":"8312d5d41957561d","type":"link in","z":"1063c9cb6d287011","name":"","links":["5b4892b87239aaac"],"x":735,"y":540,"wires":[["c004d5b31fdb4b06"]]},{"id":"5b4892b87239aaac","type":"link out","z":"1063c9cb6d287011","name":"","mode":"link","links":["8312d5d41957561d"],"x":1195,"y":240,"wires":[]},{"id":"e48680f3d8729455","type":"debug","z":"1063c9cb6d287011","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":280,"wires":[]},{"id":"74f343f1235ad27c","type":"inject","z":"1063c9cb6d287011","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":370,"y":140,"wires":[["0fc32dc03ac84610"]]},{"id":"7cc3b3b95c66b9b3","type":"mqtt in","z":"1063c9cb6d287011","name":"","topic":"local/+/dhw/dat/tCo","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":360,"wires":[["f2b4096c9f2e63e2"]]},{"id":"4d35ae58d4cbbafb","type":"mqtt in","z":"1063c9cb6d287011","name":"","topic":"local/+/dhw/dat/tH","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":480,"wires":[["f2b4096c9f2e63e2"]]},{"id":"f0b4375756795fc9","type":"mqtt in","z":"1063c9cb6d287011","name":"","topic":"local/+/dhw/dat/tHo","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":600,"wires":[["f2b4096c9f2e63e2"]]},{"id":"dab37a0b30a6544e","type":"switch","z":"1063c9cb6d287011","name":"","property":"reset","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":970,"y":540,"wires":[["6ba36c26387ffcc9"]]},{"id":"f23598fad9989ac5","type":"change","z":"1063c9cb6d287011","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":500,"wires":[["c004d5b31fdb4b06"]]},{"id":"bb7d9d2c7a7f107c","type":"inject","z":"1063c9cb6d287011","name":"5s","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":"60","topic":"","payloadType":"date","x":910,"y":460,"wires":[["f23598fad9989ac5"]]},{"id":"c004d5b31fdb4b06","type":"rbe","z":"1063c9cb6d287011","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":850,"y":540,"wires":[["dab37a0b30a6544e"]]},{"id":"a437d4acbbc3c59d","type":"mqtt in","z":"1063c9cb6d287011","name":"","topic":"local/+/dhw/dat/fC","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":200,"wires":[["de104bcc4e9ff9ec","fa2254b94083f6ed"]]},{"id":"de104bcc4e9ff9ec","type":"debug","z":"1063c9cb6d287011","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":240,"wires":[]},{"id":"fa2254b94083f6ed","type":"function","z":"1063c9cb6d287011","name":"parseFloat","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":200,"wires":[["0fc32dc03ac84610"]]},{"id":"80173ca65ec065ac","type":"mqtt in","z":"1063c9cb6d287011","name":"","topic":"local/+/dhw/settings/#","qos":"0","datatype":"auto","broker":"7ad2997b.42a908","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":720,"wires":[["f2b4096c9f2e63e2"]]},{"id":"f7f1f98ffd377181","type":"debug","z":"1063c9cb6d287011","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":720,"wires":[]},{"id":"f2b4096c9f2e63e2","type":"function","z":"1063c9cb6d287011","name":"parseFloat and save","func":"msg.payload = parseFloat(msg.payload);\n\nflow.set(msg.topic.split(\"/\")[4], msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":720,"wires":[["f7f1f98ffd377181"]]},{"id":"0dc928a27f4cbf9a","type":"inject","z":"1063c9cb6d287011","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":440,"y":380,"wires":[["e4f33b3cf350452b"]]},{"id":"e4f33b3cf350452b","type":"change","z":"1063c9cb6d287011","name":"","rules":[{"t":"set","p":"enable","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":380,"wires":[[]]},{"id":"7ad2997b.42a908","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]