flows/mods/flow_heatweb_mqtt.json
[
    {
        "id": "3bcc1796d56e0e4a",
        "type": "subflow",
        "name": "rbe 24h",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "ed3595ba7ad0e4b1"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 420,
                "y": 160,
                "wires": [
                    {
                        "id": "6fdbb2068778d3c9",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ed3595ba7ad0e4b1",
        "type": "rbe",
        "z": "3bcc1796d56e0e4a",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "6fdbb2068778d3c9"
            ]
        ]
    },
    {
        "id": "ac6886f7de81d7ca",
        "type": "inject",
        "z": "3bcc1796d56e0e4a",
        "name": "",
        "props": [
            {
                "p": "reset",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "ed3595ba7ad0e4b1"
            ]
        ]
    },
    {
        "id": "6fdbb2068778d3c9",
        "type": "switch",
        "z": "3bcc1796d56e0e4a",
        "name": "",
        "property": "reset",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "344fa160119932f8",
        "type": "subflow",
        "name": "rbe 5m",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "486403111458df8e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 420,
                "y": 160,
                "wires": [
                    {
                        "id": "c822677b38fcd83c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "486403111458df8e",
        "type": "rbe",
        "z": "344fa160119932f8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "c822677b38fcd83c"
            ]
        ]
    },
    {
        "id": "9dd86fca5dcbfcab",
        "type": "inject",
        "z": "344fa160119932f8",
        "name": "",
        "props": [
            {
                "p": "reset",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "486403111458df8e"
            ]
        ]
    },
    {
        "id": "c822677b38fcd83c",
        "type": "switch",
        "z": "344fa160119932f8",
        "name": "",
        "property": "reset",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "95392948581508a6",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0c64a4036937576",
        "type": "mqtt out",
        "z": "95392948581508a6",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ed2e804206dda3d1",
        "x": 910,
        "y": 420,
        "wires": []
    },
    {
        "id": "82ee4a0bd4f0878c",
        "type": "mqtt in",
        "z": "95392948581508a6",
        "d": true,
        "name": "",
        "topic": "rAndD/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ed2e804206dda3d1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "f43d6c7ceb68e85c"
            ]
        ]
    },
    {
        "id": "f43d6c7ceb68e85c",
        "type": "debug",
        "z": "95392948581508a6",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "349fb91799b23170",
        "type": "link in",
        "z": "95392948581508a6",
        "name": "MQTT Out",
        "links": [
            "8e9d9944abf87a8d",
            "26f1ad336f82aeeb",
            "bec07f1cbf7c5406"
        ],
        "x": 225,
        "y": 300,
        "wires": [
            [
                "4233d272c8860dbe"
            ]
        ]
    },
    {
        "id": "df74aaf72c2998d6",
        "type": "function",
        "z": "95392948581508a6",
        "name": "function 9",
        "func": "\nvar tops = msg.topic.split(\"/\");\n\n\nif (!tops[1]) { msg.topic = \"dat/\" + msg.topic; }\nif (!tops[2]) { msg.topic = global.get(\"node\") + \"/\" + msg.topic; }\nif (!tops[3]) { msg.topic = global.get(\"node\") + \"/\" + msg.topic; }\nif (!tops[4]) { msg.topic = global.get(\"networkId\") + \"/\" + msg.topic; }\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 340,
        "wires": [
            [
                "11c94c62164f0eef",
                "a0c64a4036937576"
            ]
        ]
    },
    {
        "id": "11c94c62164f0eef",
        "type": "debug",
        "z": "95392948581508a6",
        "name": "debug 110",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "5946370b073b06c0",
        "type": "subflow:344fa160119932f8",
        "z": "95392948581508a6",
        "name": "",
        "x": 500,
        "y": 300,
        "wires": [
            [
                "df74aaf72c2998d6"
            ]
        ]
    },
    {
        "id": "4233d272c8860dbe",
        "type": "switch",
        "z": "95392948581508a6",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "/raw/",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "local/",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "/dat/t",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "/dat/",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "/stat/",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 330,
        "y": 300,
        "wires": [
            [],
            [],
            [
                "5946370b073b06c0"
            ],
            [
                "5946370b073b06c0"
            ],
            [
                "5946370b073b06c0"
            ],
            [
                "240e4d04c7368189"
            ]
        ]
    },
    {
        "id": "240e4d04c7368189",
        "type": "subflow:3bcc1796d56e0e4a",
        "z": "95392948581508a6",
        "name": "",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "df74aaf72c2998d6"
            ]
        ]
    },
    {
        "id": "9504961de29220a9",
        "type": "rbe",
        "z": "95392948581508a6",
        "name": "",
        "func": "deadbandEq",
        "gap": "0.2",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "5ce8e54f7733f124"
            ]
        ]
    },
    {
        "id": "7f8475b59142867d",
        "type": "inject",
        "z": "95392948581508a6",
        "name": "",
        "props": [
            {
                "p": "reset",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 520,
        "y": 140,
        "wires": [
            [
                "9504961de29220a9"
            ]
        ]
    },
    {
        "id": "5ce8e54f7733f124",
        "type": "switch",
        "z": "95392948581508a6",
        "name": "",
        "property": "reset",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "df74aaf72c2998d6"
            ]
        ]
    },
    {
        "id": "ed2e804206dda3d1",
        "type": "mqtt-broker",
        "name": "heatweb",
        "broker": "zc62a82b.ala.us-east-1.emqxsl.com",
        "port": "8883",
        "tls": "9f9c6dadedecb2af",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9f9c6dadedecb2af",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "/boot/heatweb/emqxsl-ca.crt",
        "certname": "",
        "keyname": "",
        "caname": "emqxsl-ca.crt",
        "servername": "heatweb",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]
