flows/mods/flow_modbus_service_v1.json
[{"id":"deb8c433.612b88","type":"tab","label":"Flex Server as Slave","disabled":false,"info":""},{"id":"9c282eb0.8bbe8","type":"modbus-flex-getter","z":"deb8c433.612b88","name":"Modbus Flexible Read","showStatusActivities":false,"showErrors":true,"logIOActivities":false,"server":"d8abc557.3572e8","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":500,"y":640,"wires":[["25e2b1b8.1d2c8e","31fe28eb.909538","ba8ed927.d43cc8"],["d7583275.fe3f7","fe119a19.58afc8"]]},{"id":"361377c5.c958e8","type":"inject","z":"deb8c433.612b88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":580,"wires":[["c8503ec5.0e15"]]},{"id":"c8503ec5.0e15","type":"function","z":"deb8c433.612b88","name":"FC1","func":"msg.payload = { 'fc': 1, 'unitid': 1, 'address': 0 , 'quantity': 16 }\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":580,"wires":[["9c282eb0.8bbe8"]]},{"id":"25e2b1b8.1d2c8e","type":"debug","z":"deb8c433.612b88","name":"","active":true,"console":"false","complete":"payload","x":750,"y":540,"wires":[]},{"id":"d7583275.fe3f7","type":"debug","z":"deb8c433.612b88","name":"","active":false,"console":"false","complete":"true","x":730,"y":680,"wires":[]},{"id":"fe119a19.58afc8","type":"modbus-response","z":"deb8c433.612b88","name":"","registerShowMax":20,"x":770,"y":720,"wires":[]},{"id":"ba8ed927.d43cc8","type":"debug","z":"deb8c433.612b88","name":"","active":false,"console":"false","complete":"true","x":730,"y":620,"wires":[]},{"id":"31fe28eb.909538","type":"debug","z":"deb8c433.612b88","name":"","active":false,"console":"false","complete":"responseBuffer","x":780,"y":580,"wires":[]},{"id":"26fa835b.ed73bc","type":"inject","z":"deb8c433.612b88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":620,"wires":[["331bc049.0ba52"]]},{"id":"331bc049.0ba52","type":"function","z":"deb8c433.612b88","name":"FC2","func":"msg.payload = { 'fc': 2, 'unitid': 1, 'address': 0 , 'quantity': 8 }\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":620,"wires":[["9c282eb0.8bbe8"]]},{"id":"a7ee5d64.763ab","type":"inject","z":"deb8c433.612b88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":660,"wires":[["679c77e7.6ba4b8"]]},{"id":"679c77e7.6ba4b8","type":"function","z":"deb8c433.612b88","name":"FC3","func":"msg.payload = { 'fc': 3, 'unitid': 1, 'address': 0 , 'quantity': 8 }\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":660,"wires":[["9c282eb0.8bbe8"]]},{"id":"a7a6d8d0.017df8","type":"inject","z":"deb8c433.612b88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":700,"wires":[["693218e.4d49fe8"]]},{"id":"693218e.4d49fe8","type":"function","z":"deb8c433.612b88","name":"FC4","func":"msg.payload = { 'fc': 4, 'unitid': 1, 'address': 0 , 'quantity': 10 }\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":700,"wires":[["9c282eb0.8bbe8"]]},{"id":"1afe8778.7b5ec9","type":"comment","z":"deb8c433.612b88","name":"Flexible Read and Write","info":"","x":140,"y":520,"wires":[]},{"id":"c92dd1d9.cb092","type":"comment","z":"deb8c433.612b88","name":"Registers","info":"1: Pr Flow Temp [C] [x10]\n2: Pr Diff Pressure [bar] [x100]\n3: State [0-10]\n4: PowerUpCounter [x1]\n5: ErrorCounter [x1]\n6: PressureModeAuto [0/1]\n10: Setpoint DHW [C] [x10]\n11: WarmupBoost [l/m] [x10]\n12: EcoMode [0/1]\n13: DHWAntiLegionella [0/1]\n14: DHWEcoHeatTemp [C] [x10]\n15: DHWEcoHeatTime [minutes] [x1]\n20: DHW Flow Rate [l/m] [x10]\n21: DHW Output Temp [C] [x10]\n22: Pr Rtn Temp DHW [C] [x10]\n23: Valve Position DHW [0-270] [x1]\n24: Pr Flow Rate DHW [l/m] [x10]\n30: DHReturnLimit [C] [x10]\n31: HESupply [C] [x10]\n32: PumpTimeout [s]\n33: HEProtectionMode [0/1]\n40: Room Thermostat [0/1]\n41: CH Output Temp [C] [x10]\n42: Pr Rtn Temp CH [C] [x10]\n43: Valve Position CH [0-270] [x1]\n44: Pr Flow Rate CH [l/m] [x10]\n45: CH System Pressure [bar] [x100]\n46: CH Pump [0/1] ","x":280,"y":100,"wires":[]},{"id":"493b43a1.6ee1ec","type":"comment","z":"deb8c433.612b88","name":"Links","info":"http://www.simplymodbus.ca/FC03.htm\n","x":422.49998474121094,"y":99.80000305175781,"wires":[]},{"id":"7a75b7f5.4c5568","type":"inject","z":"deb8c433.612b88","d":true,"name":"REGISTERS","topic":"","payload":"[{\"register\":\"1\",\"reading\":\"dat.tH\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"2\",\"reading\":\"dat.dpH\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"3\",\"reading\":\"dat.st\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"4\",\"reading\":\"settings.PowerUpCounter\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"5\",\"reading\":\"settings.ErrorCounter\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"6\",\"reading\":\"settings.PressureMode\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"10\",\"reading\":\"settings.setpoint\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"11\",\"reading\":\"settings.WarmupBoost\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"12\",\"reading\":\"settings.EcoMode\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"13\",\"reading\":\"settings.DHWExchangerAntiLegionella\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"14\",\"reading\":\"settings.DHWExchangerEcoHeatTemperature\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"15\",\"reading\":\"settings.DHWExchangerEcoHeatTime\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"20\",\"reading\":\"dat.fC\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"21\",\"reading\":\"dat.tCo\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"22\",\"reading\":\"dat.tHoDHW\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"23\",\"reading\":\"dat.xDHW\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"24\",\"reading\":\"dat.fHDHW\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"25\",\"reading\":\"stat.vC\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"30\",\"reading\":\"settings.DHReturnLimit\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"31\",\"reading\":\"settings.HESupply\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"32\",\"reading\":\"settings.PumpTimeout\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"33\",\"reading\":\"settings.HEProtectionMode\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"34\",\"reading\":\"settings.CentralHeatingControl\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"40\",\"reading\":\"dat.stat\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"41\",\"reading\":\"dat.tCHo\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"42\",\"reading\":\"dat.tHoCH\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"43\",\"reading\":\"dat.xCH\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"44\",\"reading\":\"dat.fHCH\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"45\",\"reading\":\"dat.pCH\",\"multiplier\":\"100\",\"datatype\":\"int16\"},{\"register\":\"46\",\"reading\":\"dat.pump\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"50\",\"reading\":\"settings.PrePayShutOff\",\"multiplier\":\"1\",\"datatype\":\"int16\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"10","x":870,"y":60,"wires":[["f453d251.b9596"]]},{"id":"88ed7dec.6da41","type":"link in","z":"deb8c433.612b88","name":"mbinDHW","links":["c047e302.09df3"],"x":195,"y":200,"wires":[["44ead552.65668c"]]},{"id":"c05c1035.c00f8","type":"debug","z":"deb8c433.612b88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":200,"wires":[]},{"id":"44ead552.65668c","type":"function","z":"deb8c433.612b88","name":"","func":"\nvar hiu = msg.topic.split(\"/\")[2];\nvar net = msg.topic.split(\"/\")[0];\n\nvar v = parseFloat(msg.payload);\n\nvar regs = flow.get(\"registers.dhw\")||[];\n\nfor (var reg in regs) {\n    \n    if (msg.topic.split(\"/\")[3] + \".\" + msg.topic.split(\"/\")[4] ==  regs[reg].reading) {\n        \n        //var v = global.get(\"readings.\" + net + \".\" + hiu + \".\" + regs[reg].reading + \".value\") || 0;\n        v = parseInt(v * regs[reg].multiplier);\n        \n        msg.payload = { 'value':v, 'fc': 6, 'unitid': 1, 'address': parseInt(regs[reg].register) , 'quantity': 1 }\n        \n        msg.payloadx = { \n            'value': v, \n            'register': 'holding', \n            'address': parseInt(regs[reg].register) ,\n            'disablemsg' : 1\n        } ;\n                \n        break;\n    }\n    //regs[reg].rawvalue = global.get(\"readings.\" + net + \".\" + hiu + \".\" + regs[reg].reading + \".value\") || 0\n    //regs[reg].value = parseInt(regs[reg].rawvalue * regs[reg].multiplier);\n}\n\n//flow.set(\"registers\", regs);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["c05c1035.c00f8","2aba88ba.2a5508"]]},{"id":"b99dca09.a986a8","type":"comment","z":"deb8c433.612b88","name":"DHW Feed","info":"","x":160,"y":160,"wires":[]},{"id":"2aba88ba.2a5508","type":"modbus-flex-write","z":"deb8c433.612b88","name":"","showStatusActivities":false,"showErrors":false,"server":"d8abc557.3572e8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":510,"y":260,"wires":[["caf1f64d.4a9d08"],["a75b942.2184f68"]]},{"id":"caf1f64d.4a9d08","type":"debug","z":"deb8c433.612b88","name":"","active":false,"console":"false","complete":"payload","x":710,"y":240,"wires":[]},{"id":"a75b942.2184f68","type":"debug","z":"deb8c433.612b88","name":"","active":false,"console":"false","complete":"payload","x":710,"y":280,"wires":[]},{"id":"f453d251.b9596","type":"change","z":"deb8c433.612b88","name":"","rules":[{"t":"set","p":"registers","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":60,"wires":[[]]},{"id":"6d055cfb.7ac5a4","type":"inject","z":"deb8c433.612b88","name":"REGISTERS","topic":"","payload":"{\"dhw\":[{\"register\":\"1\",\"reading\":\"dat.tH\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"2\",\"reading\":\"dat.dpH\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"3\",\"reading\":\"dat.st\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"4\",\"reading\":\"settings.PowerUpCounter\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"5\",\"reading\":\"settings.ErrorCounter\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"6\",\"reading\":\"settings.PressureMode\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"10\",\"reading\":\"settings.setpoint\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"11\",\"reading\":\"settings.WarmupBoost\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"12\",\"reading\":\"settings.EcoMode\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"13\",\"reading\":\"settings.DHWExchangerAntiLegionella\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"14\",\"reading\":\"settings.DHWExchangerEcoHeatTemperature\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"15\",\"reading\":\"settings.DHWExchangerEcoHeatTime\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"20\",\"reading\":\"dat.fC\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"21\",\"reading\":\"dat.tCo\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"22\",\"reading\":\"dat.tHoDHW\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"23\",\"reading\":\"dat.xDHW\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"24\",\"reading\":\"dat.fHDHW\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"25\",\"reading\":\"stat.vC\",\"multiplier\":\"10\",\"datatype\":\"int16\"}],\"ch\":[{\"register\":\"30\",\"reading\":\"settings.tHoLimit\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"31\",\"reading\":\"settings.tSetCH\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"32\",\"reading\":\"settings.PumpTimeout\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"33\",\"reading\":\"settings.enableHoLimit\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"40\",\"reading\":\"dat.stat\",\"multiplier\":\"1\",\"datatype\":\"int16\"},{\"register\":\"41\",\"reading\":\"dat.tCo\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"42\",\"reading\":\"dat.tHo\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"44\",\"reading\":\"dat.fVCH\",\"multiplier\":\"10\",\"datatype\":\"int16\"},{\"register\":\"46\",\"reading\":\"dat.pumpCH\",\"multiplier\":\"1\",\"datatype\":\"int16\"}]}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":870,"y":120,"wires":[["a7fde286.e0776"]]},{"id":"a7fde286.e0776","type":"change","z":"deb8c433.612b88","name":"","rules":[{"t":"set","p":"registers","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":120,"wires":[[]]},{"id":"882f2818.4b7888","type":"link in","z":"deb8c433.612b88","name":"mbinCH","links":["c3424dc2.79367","bddd1e2f.c8855","4a243d65.cf36b4"],"x":195,"y":320,"wires":[["2b4659b6.8c1886"]]},{"id":"2b4659b6.8c1886","type":"function","z":"deb8c433.612b88","name":"","func":"\nvar hiu = msg.topic.split(\"/\")[2];\nvar net = msg.topic.split(\"/\")[0];\n\nvar v = parseFloat(msg.payload);\n\nvar regs = flow.get(\"registers.ch\")||[];\n\nfor (var reg in regs) {\n    \n    if (msg.topic.split(\"/\")[3] + \".\" + msg.topic.split(\"/\")[4] ==  regs[reg].reading) {\n        \n        //var v = global.get(\"readings.\" + net + \".\" + hiu + \".\" + regs[reg].reading + \".value\") || 0;\n        v = parseInt(v * regs[reg].multiplier);\n        \n        msg.payload = { 'value':v, 'fc': 6, 'unitid': 1, 'address': parseInt(regs[reg].register) , 'quantity': 1 }\n        \n        msg.payloadx = { \n            'value': v, \n            'register': 'holding', \n            'address': parseInt(regs[reg].register) ,\n            'disablemsg' : 1\n        } ;\n                \n        break;\n    }\n    //regs[reg].rawvalue = global.get(\"readings.\" + net + \".\" + hiu + \".\" + regs[reg].reading + \".value\") || 0\n    //regs[reg].value = parseInt(regs[reg].rawvalue * regs[reg].multiplier);\n}\n\n//flow.set(\"registers\", regs);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["2aba88ba.2a5508","73313b16.545074"]]},{"id":"e544d08c.769c5","type":"comment","z":"deb8c433.612b88","name":"CH Feed","info":"","x":160,"y":280,"wires":[]},{"id":"73313b16.545074","type":"debug","z":"deb8c433.612b88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":320,"wires":[]},{"id":"d8abc557.3572e8","type":"modbus-client","z":"","name":"local","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"11502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]