flows/flows_bb400_modbus_suite.json
[{"id":"60661d53.352844","type":"tab","label":"Taytech Modbus","disabled":false,"info":"https://www.binaryconvert.com/convert_signed_int.html?hexadecimal=000019FD"},{"id":"39aec563.56ad6a","type":"tab","label":"Modutherm Modbus","disabled":true,"info":"https://www.binaryconvert.com/convert_signed_int.html?hexadecimal=000019FD"},{"id":"43ab3449.1fee2c","type":"tab","label":"[BB-400] REST","disabled":true,"info":"# REST Example\nThis flow gives you an example on how you can use REST in Node-RED, with a Brainboxes BB-400.\n\n\n# **Brainboxes Node-RED FAQ**\nNeed more help or tutorials on using Node-RED? Go to: \nhttps://www.brainboxes.com/faqs/search/Node-RED"},{"id":"313b5f47.51867","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1ad3499d.131d16","type":"tab","label":"[ED-Digital] Modbus","disabled":true,"info":"# Modbus Example\nThis flow gives you an example on how you can use Modbus in Node-RED, talking to a Brainboxes ED device from a BB-400.\n\nFor this flow to work:\n* Your Brainboxes ED device needs to be configured to use the Modbus TCP protocol.\n* The IP address for your Brainboxes ED device, needs to be configured inside each of the Modbus nodes found on this flow.\n\n# **Brainboxes Node-RED FAQ**\nNeed more help or tutorials on using Node-RED? Go to: \nhttps://www.brainboxes.com/faqs/search/Node-RED"},{"id":"30407e48.6a4082","type":"tab","label":"BMS","disabled":true,"info":""},{"id":"4d586c32.af27a4","type":"subflow","name":"rbe 3min","info":"","category":"","in":[{"x":80,"y":160,"wires":[{"id":"1993232f.c3cb7d"}]}],"out":[{"x":460,"y":160,"wires":[{"id":"66c03b32.259d94","port":0}]}],"env":[]},{"id":"86f02aa.50d38d8","type":"subflow","name":"rbe 3min (2)","info":"","category":"","in":[{"x":80,"y":160,"wires":[{"id":"d1e2a7d3.f44948"}]}],"out":[{"x":460,"y":160,"wires":[{"id":"bd697da4.2a046","port":0}]}],"env":[]},{"id":"2d38213a.e96ace","type":"modbus-client","z":"","name":"Modutherm HIU","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.127.254","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyAMA0","serialType":"RTU-BUFFERD","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"2000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"f7bb78b.ca5a088","type":"ui_group","z":0,"name":"All DIO Change","tab":"b9b97e02.332e6","order":1,"disp":false,"width":"3","collapse":false},{"id":"415ae4d.a83e01c","type":"ui_group","z":0,"name":"Buttons","tab":"b9b97e02.332e6","order":3,"disp":false,"width":"4","collapse":false},{"id":"47243699.4d3198","type":"ui_group","z":0,"name":"Gauge 0-3","tab":"b9b97e02.332e6","order":4,"disp":false,"width":"5","collapse":false},{"id":"bad0ebf4.07d468","type":"ui_group","z":0,"name":"Gauge 4-7","tab":"b9b97e02.332e6","order":6,"disp":false,"width":"5","collapse":false},{"id":"4871696b.c32438","type":"ui_group","z":0,"name":"Chart 4-7","tab":"b9b97e02.332e6","order":7,"disp":false,"width":"6","collapse":false},{"id":"f13e3807.4e4978","type":"ui_group","z":0,"name":"Chart 0-3","tab":"b9b97e02.332e6","order":5,"disp":false,"width":"6","collapse":false},{"id":"b9b97e02.332e6","type":"ui_tab","z":"","name":"Modbus","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"eb273173.15c07","type":"ui_group","z":0,"name":"All DIO Change","tab":"b0ed51e6.e5d5a","order":2,"disp":false,"width":"3","collapse":false},{"id":"4e60941d.5ee7bc","type":"ui_group","z":0,"name":"Buttons","tab":"b0ed51e6.e5d5a","order":3,"disp":false,"width":"4","collapse":false},{"id":"dc68551.f51e8a8","type":"ui_group","z":0,"name":"Status","tab":"b0ed51e6.e5d5a","order":4,"disp":false,"width":"1","collapse":false},{"id":"b0ed51e6.e5d5a","type":"ui_tab","z":"","name":"REST","icon":"dashboard","disabled":false,"hidden":false},{"id":"3bfdfbae.3d7b74","type":"serial-port","z":"","serialport":"/dev/ttySC0","serialbaud":"19200","databits":"8","parity":"even","stopbits":"1","waitfor":"","newline":"50","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"},{"id":"b9b0b8d9.0077d8","type":"ui_group","z":"","name":"Chart","tab":"a79707e6.01d7e8","disp":false,"width":"20","collapse":false},{"id":"ecf322dd.8f4e2","type":"ui_group","z":"","name":"Gauge","tab":"a79707e6.01d7e8","disp":false,"width":"6","collapse":false},{"id":"a79707e6.01d7e8","type":"ui_tab","z":"","name":"Serial","icon":"dashboard","disabled":false,"hidden":false},{"id":"1177fb9.183c804","type":"websocket-client","z":"","path":"ws://localhost:8989/","tls":"","wholemsg":"false"},{"id":"5f0838cd.4bb938","type":"websocket-client","z":"","path":"ws://localhost:8989","tls":"","wholemsg":"false"},{"id":"21f17f00.ba3ba2","type":"ui_group","z":0,"name":"All DIO Change","tab":"672992ab.499c0c","order":1,"disp":false,"width":"3","collapse":false},{"id":"d2633159.622d","type":"ui_group","z":0,"name":"Buttons","tab":"672992ab.499c0c","order":2,"disp":false,"width":"4","collapse":false},{"id":"e012d827.21ca18","type":"ui_group","z":0,"name":"Status","tab":"672992ab.499c0c","order":3,"disp":false,"width":"1","collapse":false},{"id":"672992ab.499c0c","type":"ui_tab","z":0,"name":"WebSockets","icon":"dashboard"},{"id":"e0d52363.f231d","type":"mqtt-broker","z":"","name":"Send Data","broker":"","port":"8883","tls":"6ba48b1.79f5e74","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8edb809e.ee81b","type":"websocket-client","z":"","path":"ws://localhost:8989","tls":"","wholemsg":"false"},{"id":"d021bf7c.8e358","type":"websocket-client","z":"","path":"ws://localhost:8989/","tls":"","wholemsg":"false"},{"id":"6ba48b1.79f5e74","type":"tls-config","z":"","name":"bb400","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"69ddbd9d.254fa4","type":"fred-client","z":"","endpoint":"","private":true,"username":"","wholemsg":"false"},{"id":"895e3748.955148","type":"ui_group","z":0,"name":"All DIO Change","tab":"2848e33d.1b167c","order":2,"disp":false,"width":"3","collapse":false},{"id":"39d4ede7.094282","type":"ui_group","z":0,"name":"Buttons","tab":"2848e33d.1b167c","order":3,"disp":false,"width":"4","collapse":false},{"id":"8fbdfa7e.df3338","type":"ui_group","z":0,"name":"Status","tab":"2848e33d.1b167c","order":4,"disp":false,"width":"1","collapse":false},{"id":"2848e33d.1b167c","type":"ui_tab","z":"","name":"REST","icon":"dashboard","disabled":false,"hidden":false},{"id":"420f158d.6837cc","type":"websocket-client","z":"","path":"ws://localhost:8989/","tls":"","wholemsg":"false"},{"id":"1bbdbc27.92ec24","type":"websocket-client","z":"","path":"ws://localhost:8989","tls":"","wholemsg":"false"},{"id":"54d1581b.72e978","type":"ui_group","z":0,"name":"All DIO Change","tab":"63c8b2de.866fac","order":1,"disp":false,"width":"3","collapse":false},{"id":"291ac6cd.c2efda","type":"ui_group","z":0,"name":"Buttons","tab":"63c8b2de.866fac","order":2,"disp":false,"width":"4","collapse":false},{"id":"24276eb4.b575a2","type":"ui_group","z":0,"name":"Status","tab":"63c8b2de.866fac","order":3,"disp":false,"width":"1","collapse":false},{"id":"63c8b2de.866fac","type":"ui_tab","z":0,"name":"WebSockets","icon":"dashboard"},{"id":"cd9e68d6.30ed68","type":"fred-client","z":"","endpoint":"","private":true,"username":"","wholemsg":"false"},{"id":"139708b7.b5a8a7","type":"modbus-client","z":"","name":"Brainboxes Digital In ED-588/516/008","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.127.254","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":255,"commandDelay":1,"clientTimeout":2000,"reconnectTimeout":2000},{"id":"f6000b8f.b70f38","type":"modbus-client","z":"","name":"Brainboxes Digital Out ED-588/527/008","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.127.254","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"2000","reconnectTimeout":"2000"},{"id":"43c1d400.b4a79c","type":"ui_group","z":"","name":"Gauge (0-3)","tab":"b0fbb617.f50b98","order":2,"disp":false,"width":"5","collapse":false},{"id":"36cb686c.c78a78","type":"ui_group","z":"","name":"Chart (0-3)","tab":"b0fbb617.f50b98","order":3,"disp":false,"width":"6","collapse":false},{"id":"e0f46775.33d0c8","type":"ui_group","z":"","name":"Gauge (4-7)","tab":"b0fbb617.f50b98","order":4,"disp":false,"width":"5","collapse":false},{"id":"de5e4b8.cb055b8","type":"ui_group","z":"","name":"Chart (4-7)","tab":"b0fbb617.f50b98","order":5,"disp":false,"width":"6","collapse":false},{"id":"b6cd0cb8.0326e","type":"ui_group","z":"","name":"Sliders & Numbers","tab":"b0fbb617.f50b98","order":1,"disp":false,"width":"8","collapse":false},{"id":"b0fbb617.f50b98","type":"ui_tab","z":"","name":"Modbus: Brainboxes ED-Analog","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"f820973f.df37c8","type":"websocket-client","z":"","path":"ws://localhost:8989/","tls":"","wholemsg":"false"},{"id":"9941f3e2.06e11","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a0c8eb7d.cfe418","type":"serial-port","z":"","serialport":"/dev/ttySC0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"50","bin":"bin","out":"time","addchar":"","responsetimeout":""},{"id":"5ece81b4.51ef","type":"mqtt-broker","z":"","name":"","broker":"mqtt.heatweb.cloud","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7edf5f03.744f4","type":"modbus-client","z":"","name":"Brainboxes Digital In ED-588/516/008","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.127.254","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":255,"commandDelay":1,"clientTimeout":2000,"reconnectTimeout":2000},{"id":"8ac941de.00017","type":"modbus-client","z":"","name":"Modutherm","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.127.254","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttySC0","serialType":"RTU-BUFFERD","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"1","serialParity":"even","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":2000,"reconnectOnTimeout":false,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false},{"id":"a35ad5c.779a228","type":"inject","z":"43ab3449.1fee2c","name":"GET IO Lines","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["b21f453.ae341b8"]]},{"id":"b21f453.ae341b8","type":"http request","z":"43ab3449.1fee2c","name":"REST GET IO STATE","method":"GET","ret":"obj","paytoqs":false,"url":"localhost:9000/io","tls":"","proxy":"","x":320,"y":140,"wires":[["83f42e71.651a1","2bf96899.d9bb28","1bc1bee5.54ae21"]]},{"id":"cf744b9c.f0afe8","type":"inject","z":"43ab3449.1fee2c","name":"All Outputs CLOSED","topic":"","payload":"[1,1,1,1,1,1,1,1]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["c30b85f2.9e0ac8"]]},{"id":"f54f5862.3fbc08","type":"inject","z":"43ab3449.1fee2c","name":"All Outputs OPEN","topic":"","payload":"[0,0,0,0,0,0,0,0]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["c30b85f2.9e0ac8"]]},{"id":"c30b85f2.9e0ac8","type":"http request","z":"43ab3449.1fee2c","name":"REST SET OUTPUT STATE","method":"POST","ret":"txt","paytoqs":false,"url":"localhost:9000/io/outputs","tls":"","proxy":"","x":360,"y":320,"wires":[[]]},{"id":"3a301819.af8d18","type":"http request","z":"43ab3449.1fee2c","name":"REST SET OUTPUT","method":"POST","ret":"txt","paytoqs":false,"url":"localhost:9000/io/outputs/{{topic}}","tls":"","proxy":"","x":1120,"y":640,"wires":[[]]},{"id":"21e329b2.8fae66","type":"comment","z":"43ab3449.1fee2c","name":"1. Enable this flow by double clicking \"[BB-400] REST\" above","info":"","x":240,"y":20,"wires":[]},{"id":"9a63dd03.c75eb","type":"comment","z":"43ab3449.1fee2c","name":"2. Then make sure to DEPLOY this flow by clicking the button located in the top right","info":"","x":310,"y":60,"wires":[]},{"id":"83f42e71.651a1","type":"function","z":"43ab3449.1fee2c","name":"Function: LED State","func":"var inputs = msg.payload.inputs;\nvar outputs = msg.payload.outputs;\n\n// the DIO status leds on the bb-400 are on \n// if the output is closed and the input is high\n\nreturn outputs.map(function (output, index) {\n    var isOn = (output === 0 && inputs[index] === 1);\n    return {payload: isOn};\n});","outputs":8,"noerr":0,"x":600,"y":200,"wires":[["da51defc.61fb9"],["f55919c9.b3d118"],["cbdc5ade.8fbe78"],["ad207d27.9d221"],["ff348d4e.9c56d"],["daa7fb11.8b9c98"],["257b5402.aae5ec"],["4200d57c.760a3c"]]},{"id":"14083a1c.2b82c6","type":"ui_button","z":"43ab3449.1fee2c","name":"All Outputs CLOSED","group":"895e3748.955148","order":1,"width":"0","height":"0","passthru":false,"label":"ALL OUTPUTS CLOSED","tooltip":"","color":"","bgcolor":"Red","icon":"","payload":"[1,1,1,1,1,1,1,1]","payloadType":"json","topic":"","x":100,"y":300,"wires":[["c30b85f2.9e0ac8"]]},{"id":"b2fa3e4a.59c97","type":"ui_button","z":"43ab3449.1fee2c","name":"All Outputs OPEN","group":"895e3748.955148","order":2,"width":"0","height":"0","passthru":false,"label":"ALL OUTPUTS OPEN","tooltip":"","color":"","bgcolor":"Green","icon":"","payload":"[0,0,0,0,0,0,0,0]","payloadType":"json","topic":"","x":110,"y":380,"wires":[["c30b85f2.9e0ac8"]]},{"id":"c5fc3562.276cb8","type":"ui_switch","z":"43ab3449.1fee2c","name":"Toggle DIO0","label":"DIO0","tooltip":"","group":"39d4ede7.094282","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"0","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":850,"y":500,"wires":[["3a301819.af8d18"]]},{"id":"ac64d4be.fb7b58","type":"ui_switch","z":"43ab3449.1fee2c","name":"Toggle DIO1","label":"DIO1","tooltip":"","group":"39d4ede7.094282","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"1","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":850,"y":540,"wires":[["3a301819.af8d18"]]},{"id":"88ea45c3.5c37a8","type":"ui_switch","z":"43ab3449.1fee2c","name":"Toggle DIO2","label":"DIO2","tooltip":"","group":"39d4ede7.094282","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"2","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":850,"y":580,"wires":[["3a301819.af8d18"]]},{"id":"a1456d0b.f696b","type":"ui_switch","z":"43ab3449.1fee2c","name":"Toggle DIO3","label":"DIO3","tooltip":"","group":"39d4ede7.094282","order":4,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"3","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":850,"y":620,"wires":[["3a301819.af8d18"]]},{"id":"41c622d1.90779c","type":"ui_switch","z":"43ab3449.1fee2c","name":"Toggle DIO4","label":"DIO4","tooltip":"","group":"39d4ede7.094282","order":5,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"4","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":850,"y":660,"wires":[["3a301819.af8d18"]]},{"id":"27cea98f.735d56","type":"ui_switch","z":"43ab3449.1fee2c","name":"Toggle DIO5","label":"DIO5","tooltip":"","group":"39d4ede7.094282","order":6,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"5","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":850,"y":700,"wires":[["3a301819.af8d18"]]},{"id":"daefb179.f322a","type":"ui_switch","z":"43ab3449.1fee2c","name":"Toggle DIO6","label":"DIO6","tooltip":"","group":"39d4ede7.094282","order":7,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"6","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":850,"y":740,"wires":[["3a301819.af8d18"]]},{"id":"7ea01b07.845a84","type":"ui_switch","z":"43ab3449.1fee2c","name":"Toggle DIO7","label":"DIO7","tooltip":"","group":"39d4ede7.094282","order":8,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"7","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":850,"y":780,"wires":[["3a301819.af8d18"]]},{"id":"da51defc.61fb9","type":"ui_text","z":"43ab3449.1fee2c","group":"8fbdfa7e.df3338","order":1,"width":0,"height":0,"name":"DIO0 LED","label":"","format":"<font color={{msg.payload == 1 ? \"lime\":\"red\"}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":850,"y":140,"wires":[]},{"id":"cbdc5ade.8fbe78","type":"ui_text","z":"43ab3449.1fee2c","group":"8fbdfa7e.df3338","order":3,"width":0,"height":0,"name":"DIO2 LED","label":"","format":"<font color={{msg.payload == 1 ? \"lime\":\"red\"}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":850,"y":220,"wires":[]},{"id":"f55919c9.b3d118","type":"ui_text","z":"43ab3449.1fee2c","group":"8fbdfa7e.df3338","order":2,"width":0,"height":0,"name":"DIO1 LED","label":"","format":"<font color={{msg.payload == 1 ? \"lime\":\"red\"}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":850,"y":180,"wires":[]},{"id":"ad207d27.9d221","type":"ui_text","z":"43ab3449.1fee2c","group":"8fbdfa7e.df3338","order":4,"width":0,"height":0,"name":"DIO3 LED","label":"","format":"<font color={{msg.payload == 1 ? \"lime\":\"red\"}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":850,"y":260,"wires":[]},{"id":"ff348d4e.9c56d","type":"ui_text","z":"43ab3449.1fee2c","group":"8fbdfa7e.df3338","order":5,"width":0,"height":0,"name":"DIO4 LED","label":"","format":"<font color={{msg.payload == 1 ? \"lime\":\"red\"}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":850,"y":300,"wires":[]},{"id":"daa7fb11.8b9c98","type":"ui_text","z":"43ab3449.1fee2c","group":"8fbdfa7e.df3338","order":6,"width":0,"height":0,"name":"DIO5 LED","label":"","format":"<font color={{msg.payload == 1 ? \"lime\":\"red\"}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":850,"y":340,"wires":[]},{"id":"257b5402.aae5ec","type":"ui_text","z":"43ab3449.1fee2c","group":"8fbdfa7e.df3338","order":7,"width":0,"height":0,"name":"DIO6 LED","label":"","format":"<font color={{msg.payload == 1 ? \"lime\":\"red\"}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":850,"y":380,"wires":[]},{"id":"4200d57c.760a3c","type":"ui_text","z":"43ab3449.1fee2c","group":"8fbdfa7e.df3338","order":8,"width":0,"height":0,"name":"DIO7 LED","label":"","format":"<font color={{msg.payload == 1 ? \"lime\":\"red\"}}><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>","layout":"row-left","x":850,"y":420,"wires":[]},{"id":"2bf96899.d9bb28","type":"function","z":"43ab3449.1fee2c","name":"Function: Output State","func":"// convert the array of outputs to 8 node payloads\n\nreturn msg.payload.outputs.map(function (output, index) {\n    return {payload: output};\n});","outputs":8,"noerr":0,"x":600,"y":620,"wires":[["c5fc3562.276cb8"],["ac64d4be.fb7b58"],["88ea45c3.5c37a8"],["a1456d0b.f696b"],["41c622d1.90779c"],["27cea98f.735d56"],["daefb179.f322a"],["7ea01b07.845a84"]]},{"id":"1bc1bee5.54ae21","type":"debug","z":"43ab3449.1fee2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":100,"wires":[]},{"id":"cebf8dfd.3fc7a","type":"comment","z":"43ab3449.1fee2c","name":"3. Visit your dashboard! http://bb400-xxxx:1880/ui (where bb400-xxxx is your BB-400 hostname or IP address)","info":"","x":390,"y":460,"wires":[]},{"id":"66c03b32.259d94","type":"switch","z":"4d586c32.af27a4","name":"","property":"reset","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":330,"y":160,"wires":[[]]},{"id":"4a7ff6e5.9820f8","type":"change","z":"4d586c32.af27a4","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":120,"wires":[["1993232f.c3cb7d"]]},{"id":"c4823dd0.b74a5","type":"inject","z":"4d586c32.af27a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":false,"onceDelay":"60","x":210,"y":80,"wires":[["4a7ff6e5.9820f8"]]},{"id":"1993232f.c3cb7d","type":"rbe","z":"4d586c32.af27a4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":200,"y":160,"wires":[["66c03b32.259d94"]]},{"id":"566f0117.a673c","type":"function","z":"39aec563.56ad6a","name":"","func":"//if(Buffer.from(msg.payload, 'ascii')[1]!==3) { return null; }\n\nif (msg.payload[1]==6) { return null; }\nif (msg.payload[1] == 16) { return null; }\nif (msg.payload[1] != 3) { return null; }\n\nfunction hex2bin(hex){\n    return (\"00000000\" + (parseInt(hex)).toString(2)).substr(-8);\n}\n\nfunction dec2bin(dec){\n  return (dec >>> 0).toString(2);\n}\n\nfunction Int2Float32(bytes) {\n    var sign = (bytes & 0x80000000) ? -1 : 1;\n    var exponent = ((bytes >> 23) & 0xFF) - 127;\n    var significand = (bytes & ~(-1 << 23));\n\n    if (exponent == 128)\n        return sign * ((significand) ? Number.NaN : Number.POSITIVE_INFINITY);\n\n    if (exponent == -127) {\n        if (significand === 0) return sign * 0.0;\n        exponent = -126;\n        significand /= (1 << 22);\n    } else significand = (significand | (1 << 23)) / (1 << 23);\n\n    return sign * significand * Math.pow(2, exponent);\n}\n\nvar msg2 = { \"payload\": Buffer.from(msg.payload, 'ascii') };\n\nmsg.address = msg.payload[0];\n//msg.register = (256 * msg.payload[2]) + msg.payload[3];\nmsg.register = flow.get(\"curreg\");\n\n\nvar minfo = flow.get(\"registers.r\" + msg.register) || null;\nvar dinfo = flow.get(\"devices.\" + msg.address) || null;\n\nif (!minfo) { return null; }\nif (!dinfo) { return null; }  \n\nflow.set(\"modbusIn\",\"xxx\");\n\n\nif (minfo.datatype==\"bits\") {\n    \n    var oot = {};\n    var bits = minfo.items.split(\",\");\n    var bc=15;\n    for (var bit in bits) {\n    \n        var item = {};\n        item.payload = (256 * msg.payload[3]) + msg.payload[4];        \n        item.payload =   (\"00000000000000000\" + dec2bin(item.payload)).substr(-16);\n        item.payload =  item.payload.substr(bc,1);\n        \n        item.topic = dinfo.device + \"/\" + bits[bit].replace(\".\",\"/\");\n        \n        if (minfo[\"units\"]) { item.units = minfo[\"units\"]; }\n        item.title = (bits[bit].split(\".\")[1]?  bits[bit].split(\".\")[1]:bits[bit]) + \" [Modbus \" + msg.register + \", bit \" + bit + \"]\"; \n\n        if (minfo[\"title\"]) { item.title = minfo[\"title\"] + \", \" + item.title; }\n\n        if (minfo[\"values\"]) {\n            \n            if (minfo[\"values\"][15-bc]) {\n                if (minfo[\"values\"][15-bc][\"\" + item.payload]) { item.payload = minfo[\"values\"][15-bc][\"\" + item.payload]; }\n            }\n        }\n\n\n        \n        oot[item.topic] = item;\n        \n        bc=bc-1;\n\n    }\n    msg.payload = oot;\n    \n    return [null,msg];\n    \n    \n} \n\nelse if (minfo.datatype == \"UInt32LE\") {\n\n    msg.payload = String.fromCharCode(msg.payload[3]) + String.fromCharCode(msg.payload[4]) + String.fromCharCode(msg.payload[5]) + String.fromCharCode(msg.payload[6]);\n    msg.payload = Buffer.from(msg.payload, 'ascii');\n\n\n\n    msg.payload = msg.payload.readUInt32LE(0);\n    if (minfo[\"multiplier\"]>1) { msg.payload = msg.payload / minfo[\"multiplier\"]; }\n\n    msg.topic = dinfo.device + \"/\" + minfo[\"reading\"].replace(\".\", \"/\");\n\n\n\n    if (minfo[\"units\"]) { msg.units = minfo[\"units\"]; }\n    //if (minfo[\"title\"]) { msg.title = minfo[\"title\"]; }\n\n\n    if (minfo[\"title\"]) { msg.title = minfo[\"title\"] + \" [Modbus \" + msg.register + \"]\"; }\n    else { msg.title = (minfo[\"reading\"].split(\".\")[1] ? minfo[\"reading\"].split(\".\")[1] : minfo[\"reading\"]) + \" [Modbus \" + msg.register + \"]\"; }\n\n    return [msg, null];\n\n}\n\nelse if (minfo.datatype == \"IEEE754\") {\n\n    msg.payload = String.fromCharCode(msg.payload[3]) + String.fromCharCode(msg.payload[4]) + String.fromCharCode(msg.payload[5]) + String.fromCharCode(msg.payload[6]);\n    msg.payload = Buffer.from(msg.payload, 'ascii');\n\n    \n    let intValue;\n    // if (typeof msg.payload === \"number\") {\n    //     intValue = msg.payload;\n    // } else if (typeof msg.payload === \"string\") {\n    //     intValue = Number(msg.payload);\n    // } else if (msg.payload.length == 4) {\n        // four byte array or buffer\n        intValue = (((((msg.payload[0] << 8) + msg.payload[1]) << 8) + msg.payload[2]) << 8) + msg.payload[3];\n    // } else {\n    //     node.warn(\"Unrecognised payload type or length\");\n    // }\n\n    msg.payload = Int2Float32(intValue);\n\n    if (minfo[\"multiplier\"] > 1) { msg.payload = msg.payload / minfo[\"multiplier\"]; }    \n\n    msg.topic = dinfo.device + \"/\" + minfo[\"reading\"].replace(\".\", \"/\");\n\n\n\n    if (minfo[\"units\"]) { msg.units = minfo[\"units\"]; }\n    //if (minfo[\"title\"]) { msg.title = minfo[\"title\"]; }\n\n\n    if (minfo[\"title\"]) { msg.title = minfo[\"title\"] + \" [Modbus \" + msg.register + \"]\"; }\n    else { msg.title = (minfo[\"reading\"].split(\".\")[1] ? minfo[\"reading\"].split(\".\")[1] : minfo[\"reading\"]) + \" [Modbus \" + msg.register + \"]\"; }\n\n    return [msg, null];\n\n}\n\nelse {\n    \n   \n           \n    msg.payload = (256 * msg.payload[3]) + msg.payload[4];        \n    msg.payload =  msg.payload / parseFloat(minfo[\"multiplier\"] || 1);\n\n    msg.topic = dinfo.device + \"/\" + minfo[\"reading\"].replace(\".\",\"/\");\n\n\n    if (minfo[\"values\"]) {\n        \n        if (minfo[\"values\"]==\"alarmCodes\") { \n            \n            var ac = flow.get(\"alarmCodes\");\n            if (ac[\"\" + msg.payload]) { msg.payload = ac[\"\" + msg.payload]; }\n        }\n        \n        else if (minfo[\"values\"][\"\" + msg.payload]) { msg.payload = minfo[\"values\"][\"\" + msg.payload]; }\n    }\n\n    if (minfo[\"units\"]) { msg.units = minfo[\"units\"]; }\n    //if (minfo[\"title\"]) { msg.title = minfo[\"title\"]; }\n    \n    \n    if (minfo[\"title\"]) { msg.title = minfo[\"title\"] + \" [Modbus \" + msg.register + \"]\"; }\n    else  { msg.title = (minfo[\"reading\"].split(\".\")[1]?  minfo[\"reading\"].split(\".\")[1] : minfo[\"reading\"]) + \" [Modbus \" + msg.register + \"]\"; }\n\n    return [msg,null];\n    \n}\n\n","outputs":2,"noerr":0,"x":390,"y":1020,"wires":[["d9cf0f2c.8c46e","39d2ec40.f72c24","1010a596.d3ee8a"],["83ef02d9.c6614","72027f73.93f6e","39d2ec40.f72c24"]]},{"id":"d9cf0f2c.8c46e","type":"debug","z":"39aec563.56ad6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":900,"wires":[]},{"id":"c617a493.a9c2e8","type":"function","z":"39aec563.56ad6a","name":"Modbus","func":"// http://www.simplymodbus.ca/FC03.htm\n//11 03 006B 0003 7687\n// 11 03 06 AE41 5652 4340 49AD\n\n// uses address 17 as default.\n\n//var offs = 0;\n//if  (msg.payload[0] === 0) { offs = 1; }\nif (!msg.payload) { msg.payload={}; }\n\nvar address = msg.payload.address || msg.address ||8;\nvar fc = msg.payload.fc || msg.fc ;\nvar register = msg.payload.register || msg.register || 1;\nflow.set(\"curreg\", register);\nflow.set(\"fc\", fc);\n\n//register = register - 1;\n\nvar rlength = msg.payload.rlength || msg.rlength || 1;\n\nvar r1 = Math.floor(register / 256);\nvar r2 = register % 256;\n\n\n\n\nvar targetv = msg.targetv; //999;\n\n\nif (fc != 3 && fc != 6 && fc != 16) { return null; }\n\nflow.set(\"modbusIn\",\"\");\n\n//targetv = global.get(\"modbus.\"+register+\".value\") || 0;\n\n//targetv = parseInt(global.get(\"modbus.\"+register+\".multiply\") || 1) * targetv;\n\n\nfunction crc16(buffer) {\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < buffer.length; i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n    crc  = \"0000\" + crc.toString(16);\n    crc = crc.substr(-4);\n\n    return crc;\n}\n\nvar tosend = \"\";\nvar crcString =\"\";\nvar msg2={};\n \nif (fc == 3) {   // read\n\n    \n    tosend = String.fromCharCode(address) + String.fromCharCode(3);\n    tosend += String.fromCharCode(r1) + String.fromCharCode(r2);\n    tosend += String.fromCharCode(0) + String.fromCharCode(rlength);\n    \n    crcString = crc16(Buffer.from(tosend, 'ascii'));\n    tosend += String.fromCharCode(parseInt(crcString.substr(2,2),16)) + String.fromCharCode(parseInt(crcString.substr(0,2),16)) ;\n    \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    \n    tosend = \"-\" + tosend;\n    \n    msg2.payload  = Buffer.from(tosend, 'ascii');\n    \n    \n    return [msg,msg2];\n\n} else if (fc == 6 ) {    // write\n\n\n    tosend = String.fromCharCode(address) + String.fromCharCode(6);\n    \n    tosend += String.fromCharCode(r1) + String.fromCharCode(r2);\n    \n    targetv = parseInt(targetv) ;\n    var hexStringValue  = \"0000\" + targetv.toString(16);\n    hexStringValue = hexStringValue.substring(-4);\n    \n    \n    //tosend += String.fromCharCode(parseInt(hexStringValue.substring(6, 2), 16)) + String.fromCharCode(parseInt(hexStringValue.substring(4, 16), 32)) ;\n    tosend += String.fromCharCode(parseInt(hexStringValue.substring(2, 2), 16)) + String.fromCharCode(parseInt(hexStringValue.substring(0, 16), 32));\n\n    \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    \n    crcString = crc16(msg.payload);\n   \n    tosend += String.fromCharCode(parseInt(crcString.substring(2, 2), 16)) + String.fromCharCode(parseInt(crcString.substring(0,2),16)) ;\n   \n       \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    tosend = \"-\" + tosend;\n    msg2.payload  = Buffer.from(tosend, 'ascii');\n    \n    \n    return [msg,msg2];\n\n} else if (fc == 16) {    // write\n\n\n    tosend = String.fromCharCode(address) + String.fromCharCode(16);\n\n    tosend += String.fromCharCode(r1) + String.fromCharCode(r2);\n\n    tosend += String.fromCharCode(0) + String.fromCharCode(2) + String.fromCharCode(4);\n\n    targetv = parseInt(targetv);\n    var hexStringValue = \"0000\" + targetv.toString(16);\n    hexStringValue = hexStringValue.substring(-4);\n    \n    //hexStringValue = hexStringValue.substring(hexStringValue.length-8, 8);\n\n    tosend += String.fromCharCode(targetv) + String.fromCharCode(0) + String.fromCharCode(0) + String.fromCharCode(0);\n\n    // tosend += String.fromCharCode(parseInt(hexStringValue.substring(6, 2), 16)) + String.fromCharCode(parseInt(hexStringValue.substring(4, 2), 16));\n    // tosend += String.fromCharCode(parseInt(hexStringValue.substring(2, 2), 16)) + String.fromCharCode(parseInt(hexStringValue.substring(0, 2), 16));\n\n    crcString = crc16(Buffer.from(tosend, 'ascii'));\n    tosend += String.fromCharCode(parseInt(crcString.substr(2,2),16)) + String.fromCharCode(parseInt(crcString.substr(0,2),16)) ;\n    \n    // msg.payload = Buffer.from(tosend, 'ascii');\n\n    // crcString = crc16(msg.payload);\n\n    // tosend += String.fromCharCode(parseInt(crcString.substring(2, 2), 16)) + String.fromCharCode(parseInt(crcString.substring(0, 2), 16));\n\n\n    msg.payload = Buffer.from(tosend, 'ascii');\n    tosend = \"-\" + tosend;\n    msg2.payload = Buffer.from(tosend, 'ascii');\n\n\n    return [msg, msg2];\n\n} \n\n\n","outputs":"2","noerr":0,"x":860,"y":380,"wires":[["86ee5b49.8113e8","6cc7dd9a.990fd4","f213b565.e29138","a32518ff.181648"],[]]},{"id":"e47deff7.66193","type":"serial in","z":"39aec563.56ad6a","name":"","serial":"3bfdfbae.3d7b74","x":190,"y":1020,"wires":[["566f0117.a673c","6c0f7b3e.9c1934","77a440ef.62282"]]},{"id":"86ee5b49.8113e8","type":"serial out","z":"39aec563.56ad6a","name":"","serial":"3bfdfbae.3d7b74","x":1090,"y":380,"wires":[]},{"id":"a0263185.cb427","type":"debug","z":"39aec563.56ad6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":900,"wires":[]},{"id":"4d56ead7.efcfb4","type":"debug","z":"39aec563.56ad6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":280,"wires":[]},{"id":"141529f3.b6f2e6","type":"inject","z":"39aec563.56ad6a","name":"","topic":"","payload":"registers","payloadType":"flow","repeat":"30","crontab":"","once":true,"onceDelay":"20","x":180,"y":300,"wires":[["88033da2.f9a1"]]},{"id":"88033da2.f9a1","type":"function","z":"39aec563.56ad6a","name":"","func":"\nif (flow.get(\"msglist\") && flow.get(\"msglist\").length > 3) { return null; }\n\nvar oot = [];\n\nfor (var r in flow.get(\"registers\")) {\n    for (var d in flow.get(\"devices\")) {\n    \n    \n        var item = {};\n        item.fc = 3;\n        item.address = flow.get(\"devices.\"+d+\".address\");\n        item.register = flow.get(\"registers.\"+r+\".register\");\n        item.rlength = 2;\n\n        oot.push(item);\n        \n    }\n    \n}\n\nmsg.payload = oot;\n\n//flow.set(\"msglist\",[]);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":300,"wires":[["37503dcb.f65d42"]]},{"id":"426bb5bd.b973cc","type":"debug","z":"39aec563.56ad6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":300,"wires":[]},{"id":"ad21e8ce.e4e9f8","type":"link out","z":"39aec563.56ad6a","name":"","links":["72fc070f.39dd8","7029bbd1.c8b684"],"x":1035,"y":940,"wires":[]},{"id":"83ef02d9.c6614","type":"split","z":"39aec563.56ad6a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":590,"y":1100,"wires":[["bb93ca18.bba9e8"]]},{"id":"486fe4cd.f9c34c","type":"debug","z":"39aec563.56ad6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1100,"wires":[]},{"id":"72027f73.93f6e","type":"debug","z":"39aec563.56ad6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1060,"wires":[]},{"id":"93f84953.97a738","type":"debug","z":"39aec563.56ad6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":1040,"wires":[]},{"id":"1fd688d.1a6ef77","type":"function","z":"39aec563.56ad6a","name":"SHIFT","func":"\nvar msglist=flow.get(\"msglist\") || [];\n\n//if (msglist.length> 100) { msglist = []; }\n    \nif (msg.payload == \"next\") { \n    \n    if (!msglist[0]) { return null; }\n    \n    if (flow.get(\"modbusIn\")===\"\") { return null; }\n    \n    msg = msglist[0];\n    msglist.shift();\n    flow.set(\"msglist\",msglist);\n    return msg;\n}\n\nelse {   \n    \n    msglist.push(msg); \n    flow.set(\"msglist\",msglist);\n    return null;\n    \n}\n\n\n\n\n","outputs":1,"noerr":0,"x":730,"y":380,"wires":[["c617a493.a9c2e8"]]},{"id":"1837f7a3.935068","type":"inject","z":"39aec563.56ad6a","name":"","topic":"","payload":"next","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":360,"wires":[["d808717e.17f09"]]},{"id":"39d2ec40.f72c24","type":"link out","z":"39aec563.56ad6a","name":"","links":["c4e46a82.1c9e7","bebb44e0.cc0588"],"x":555,"y":1020,"wires":[]},{"id":"11c2cf0f.2ff611","type":"change","z":"39aec563.56ad6a","name":"","rules":[{"t":"set","p":"modbusIn","pt":"flow","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":460,"wires":[[]]},{"id":"bebb44e0.cc0588","type":"link in","z":"39aec563.56ad6a","name":"","links":["39d2ec40.f72c24"],"x":415,"y":400,"wires":[["d091f5dd.69a8e8"]]},{"id":"61b9179e.1fdea8","type":"change","z":"39aec563.56ad6a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":400,"wires":[["1fd688d.1a6ef77"]],"l":false},{"id":"408e6b7d.e51024","type":"link in","z":"39aec563.56ad6a","name":"","links":["f7266450.2431e8","2db0089.690c2f8","be5ca099.80857","5dbf074d.dd7078","315cd92.2bca026"],"x":535,"y":440,"wires":[["1fd688d.1a6ef77"]]},{"id":"f7266450.2431e8","type":"link out","z":"39aec563.56ad6a","name":"","links":["408e6b7d.e51024","479e65f4.abc6cc"],"x":835,"y":560,"wires":[]},{"id":"bb93ca18.bba9e8","type":"function","z":"39aec563.56ad6a","name":"","func":"msg= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1100,"wires":[["486fe4cd.f9c34c","bcc9a.7c7d73668"]]},{"id":"bcc9a.7c7d73668","type":"subflow:4d586c32.af27a4","z":"39aec563.56ad6a","name":"","x":820,"y":1020,"wires":[["ad21e8ce.e4e9f8","93f84953.97a738"]]},{"id":"4cccebef.5c9454","type":"change","z":"39aec563.56ad6a","name":"not used","rules":[{"t":"set","p":"lastset","pt":"flow","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":560,"wires":[["f7266450.2431e8"]]},{"id":"37503dcb.f65d42","type":"split","z":"39aec563.56ad6a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":300,"wires":[["426bb5bd.b973cc","1fd688d.1a6ef77"]]},{"id":"edb10a89.e86378","type":"change","z":"39aec563.56ad6a","name":"","rules":[{"t":"set","p":"points","pt":"msg","to":"5000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":980,"wires":[["ad21e8ce.e4e9f8"]]},{"id":"1010a596.d3ee8a","type":"switch","z":"39aec563.56ad6a","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"AlarmCode","vt":"str"},{"t":"cont","v":"WarningCode","vt":"str"},{"t":"cont","v":"Position","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":590,"y":960,"wires":[["167f40fd.ba05ef","ad21e8ce.e4e9f8"],["ad21e8ce.e4e9f8"],["edb10a89.e86378"],["bcc9a.7c7d73668"]]},{"id":"ad8cd76c.e94828","type":"inject","z":"39aec563.56ad6a","name":"DEVICES","topic":"","payload":"[{\"address\":\"1\",\"device\":\"modutherm1\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":180,"y":60,"wires":[["2fd28f30.3ad77"]]},{"id":"2fd28f30.3ad77","type":"split","z":"39aec563.56ad6a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":275,"y":60,"wires":[["e33aaec2.e6349"]],"l":false},{"id":"e33aaec2.e6349","type":"function","z":"39aec563.56ad6a","name":"Store Devices","func":"\nvar rin = msg.payload;\nif (rin.address<1) { return null; } \n\n\nflow.set(\"devices.\" + rin.address, rin);\n\n\n    \nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":400,"y":60,"wires":[[]]},{"id":"8b2d9890.0090b8","type":"link in","z":"39aec563.56ad6a","name":"","links":["1f335ee0.7b9a41","b09805d5.754898"],"x":225,"y":500,"wires":[["d7a65496.11de38"]]},{"id":"167f40fd.ba05ef","type":"function","z":"39aec563.56ad6a","name":"","func":"msg.topic = msg.topic.replace(\"/stat/\",\"/alarm/\");\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":920,"wires":[["ad21e8ce.e4e9f8"]]},{"id":"d7a65496.11de38","type":"delay","z":"39aec563.56ad6a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":500,"wires":[["4cccebef.5c9454"]]},{"id":"b4b412eb.2618a","type":"inject","z":"39aec563.56ad6a","name":"REGISTERS","topic":"","payload":"[{\"register\":\"0\",\"reading\":\"sensor.tOutDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water temperature\",\"period\":1,\"units\":\"°C\"},{\"register\":\"2\",\"reading\":\"sensor.tCWS\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Cold water temperature\",\"period\":10,\"units\":\"°C\"},{\"register\":\"4\",\"reading\":\"sensor.tTank\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"External tank temperature\",\"period\":30,\"units\":\"°C\"},{\"register\":\"6\",\"reading\":\"sensor.fDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"DHW water flow rate\",\"period\":1,\"units\":\"l/min\"},{\"register\":\"8\",\"reading\":\"sensor.kwDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water power\",\"period\":1,\"units\":\"kW\"},{\"register\":\"10\",\"reading\":\"sensor.tSetHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating reference temperature\",\"period\":10,\"units\":\"°C\"},{\"register\":\"12\",\"reading\":\"sensor.tOutHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating outlet temperature\",\"period\":1,\"units\":\"°C\"},{\"register\":\"14\",\"reading\":\"sensor.tInHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating inlet temperature\",\"period\":5,\"units\":\"°C\"},{\"register\":\"16\",\"reading\":\"sensor.tOutdoor\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Outdoor temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"18\",\"reading\":\"sensor.fHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating flow rate\",\"period\":1,\"units\":\"l/min\"},{\"register\":\"20\",\"reading\":\"sensor.pwmPump\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Pump PWM\",\"period\":1,\"units\":\"%\"},{\"register\":\"22\",\"reading\":\"sensor.kwHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating power\",\"period\":5,\"units\":\"kW\"},{\"register\":\"24\",\"reading\":\"sensor.pHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating pressure\",\"period\":30,\"units\":\"bar\"},{\"register\":\"26\",\"reading\":\"sensor.tOutPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"District Outlet temperature\",\"period\":5,\"units\":\"°C\"},{\"register\":\"28\",\"reading\":\"sensor.tInPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"District inlet temperature\",\"period\":5,\"units\":\"°C\"},{\"register\":\"30\",\"reading\":\"sensor.dpPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"District differential pressure\",\"period\":10,\"units\":\"bar\"},{\"register\":\"32\",\"reading\":\"sensor.fPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"District flow rate\",\"period\":1,\"units\":\"l/min\"},{\"register\":\"34\",\"reading\":\"sensor.stepDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water valve step count\",\"period\":1,\"units\":\"/300\"},{\"register\":\"36\",\"reading\":\"sensor.stepHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating valve step count\",\"period\":1,\"units\":\"/300\"},{\"register\":\"38\",\"reading\":\"sensor.stepDP\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Differential pressure valve step count\",\"period\":1,\"units\":\"/300\"},{\"register\":\"42\",\"reading\":\"config.mode\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Current Unit mode\",\"period\":1},{\"register\":\"46\",\"reading\":\"setpoint.tSetDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water reference temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"48\",\"reading\":\"setpoint.tSetHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating reference temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"50\",\"reading\":\"config.modeHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating mode\",\"period\":10},{\"register\":\"52\",\"reading\":\"config.tRefDiffHTG\",\"multiplier\":\"1\",\"datatype\":\"UInt32LE\",\"title\":\"Heating reference differential temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"54\",\"reading\":\"config.dpReference\",\"multiplier\":10,\"datatype\":\"UInt32LE\",\"title\":\"Primary reference differential pressure\",\"period\":60,\"units\":\"bar\"},{\"register\":\"56\",\"reading\":\"config.fMaxDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Primary max flowrate in hot water regulation\",\"period\":60,\"units\":\"l/min\"},{\"register\":\"58\",\"reading\":\"config.fMaxHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Primary max flowrate in heating regulation\",\"period\":60,\"units\":\"l/min\"},{\"register\":\"60\",\"reading\":\"config.pwmPumpMax\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Max pump PWM\",\"period\":60,\"units\":\"%\"},{\"register\":\"62\",\"reading\":\"config.pwmPumpMin\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Min pump PWM\",\"period\":60,\"units\":\"%\"},{\"register\":\"64\",\"reading\":\"config.useTPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Use Heating inlet temperature for regulation\",\"period\":60},{\"register\":\"66\",\"reading\":\"config.stepMaxDP\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Primary differential pressure valve max step\",\"period\":60,\"units\":\"%\"},{\"register\":\"68\",\"reading\":\"config.stepMaxDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water valve max step\",\"period\":60,\"units\":\"/300\"},{\"register\":\"70\",\"reading\":\"config.stepMaxHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating valve max step\",\"period\":60,\"units\":\"/300\"},{\"register\":\"72\",\"reading\":\"config.pMaxHTG\",\"multiplier\":10,\"datatype\":\"UInt32LE\",\"title\":\"Heating max pressure\",\"period\":60,\"units\":\"bar\"},{\"register\":\"74\",\"reading\":\"config.pMinHTG\",\"multiplier\":10,\"datatype\":\"UInt32LE\",\"title\":\"Heating min pressure\",\"period\":60,\"units\":\"bar\"},{\"register\":\"76\",\"reading\":\"config.extSFactor\",\"multiplier\":10,\"datatype\":\"UInt32LE\",\"title\":\"External sensor factor\",\"period\":60},{\"register\":\"78\",\"reading\":\"config.extSoffset\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"External sensor factor\",\"period\":60,\"units\":\"°C\"},{\"register\":\"80\",\"reading\":\"config.extSEnable\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"External sensor enable\",\"period\":60},{\"register\":\"82\",\"reading\":\"config.cylSensorEnable\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heat cylinder sensor enable\",\"period\":60},{\"register\":\"84\",\"reading\":\"config.unitModel\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Unit model\",\"period\":60},{\"register\":\"86\",\"reading\":\"config.eCountEnable\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Energy counter enable\",\"period\":60},{\"register\":\"88\",\"reading\":\"config.modbusAddress\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Modbus address\",\"period\":60},{\"register\":\"90\",\"reading\":\"config.mbusAddress\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Mbus address\",\"period\":60},{\"register\":\"92\",\"reading\":\"config.extEValve\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"External electric valve\",\"period\":60},{\"register\":\"94\",\"reading\":\"config.warmEnable\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Keep warm enable\",\"period\":60},{\"register\":\"96\",\"reading\":\"config.tWarm\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Keep warm temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"98\",\"reading\":\"config.tWarmHyst\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Keep warm hysteresis\",\"period\":60,\"units\":\"°C\"},{\"register\":\"100\",\"reading\":\"config.antiFreeze\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Antifreeze enable\",\"period\":60},{\"register\":\"102\",\"reading\":\"config.tOnAFreeze\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Antifreeze temperature on\",\"period\":60,\"units\":\"°C\"},{\"register\":\"104\",\"reading\":\"config.tOffAFreeze\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Antifreeze temperature off\",\"period\":60,\"units\":\"°C\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":170,"y":120,"wires":[["62c339e9.aae528"]]},{"id":"d091f5dd.69a8e8","type":"delay","z":"39aec563.56ad6a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":485,"y":400,"wires":[["61b9179e.1fdea8"]],"l":false},{"id":"ddd2c462.65e1a8","type":"split","z":"39aec563.56ad6a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":335,"y":120,"wires":[["4b97628e.5d13dc"]],"l":false},{"id":"4b97628e.5d13dc","type":"function","z":"39aec563.56ad6a","name":"Store Registers","func":"\nvar rin = msg.payload;\nif (rin.register01) { return null; } \n\n\nvar v = global.get(\"readings.\" + rin.reading + \".value\") || 0\nrin[\"value\"] = v;\n\n\n\nflow.set(\"registers.r\" + rin.register, rin);\n\nmsg.payload = flow.get(\"registers\") ;\n    \nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":460,"y":120,"wires":[[]]},{"id":"62c339e9.aae528","type":"function","z":"39aec563.56ad6a","name":"Store Registers","func":"\nflow.set(\"registers\" , {});\n\n    \nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":275,"y":120,"wires":[["ddd2c462.65e1a8"]],"l":false},{"id":"f9a70856.9d61e8","type":"function","z":"39aec563.56ad6a","name":"fc16","func":"\nmsg.fc = 16;\nmsg.address = 1;\nmsg.register = 46;\nmsg.rlength = 2;\n\nflow.set(\"multiply\", 1);\nflow.set(\"rtopic\", \"test\");\n\n\nmsg.targetv = 48;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":600,"wires":[["4cccebef.5c9454"]]},{"id":"1e7b5f2f.2e3381","type":"inject","z":"39aec563.56ad6a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":600,"wires":[["f9a70856.9d61e8"]]},{"id":"f125382e.011438","type":"function","z":"39aec563.56ad6a","name":"fc16","func":"\nmsg.fc = 16;\nmsg.address = 1;\nmsg.register = 48;\nmsg.rlength = 2;\n\nflow.set(\"multiply\", 1);\nflow.set(\"rtopic\", \"test\");\n\n\nmsg.targetv = 47;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":640,"wires":[["4cccebef.5c9454"]]},{"id":"df329860.f9df48","type":"inject","z":"39aec563.56ad6a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":640,"wires":[["f125382e.011438"]]},{"id":"11432c7f.97f2e4","type":"link in","z":"39aec563.56ad6a","name":"link in 4","links":["e68106e9.b31548"],"x":185,"y":720,"wires":[["5a225630.855278"]]},{"id":"3e09ade1.b2f3d2","type":"function","z":"39aec563.56ad6a","name":"fc16","func":"msg.fc = 16;\nmsg.address = 1;\nmsg.rlength = 2;\n\nflow.set(\"multiply\", 1);\n//flow.set(\"rtopic\", \"test\");\n\nmsg.register = -1;\n\nvar varkey = msg.topic.split(\"/\")[4];\n\nvar regs = flow.get(\"registers\");\nfor (var r in regs) {\n\n    if ((regs[r].reading.split('.')[0] == \"config\" || regs[r].reading.split('.')[0] == \"setpoint\" || regs[r].reading.split('.')[0] == \"settings\") && regs[r].reading.split('.')[1] == varkey) {\n        msg.register = parseInt(regs[r].register);\n        \n        if (regs[r].multiplier > 1) { msg.payload = msg.payload * regs[r].multiplier; }\n        msg.targetv = msg.payload;\n\n        break;\n    }\n\n}\n\nif (msg.register == -1) {return null;}\n\n// if (msg.topic.indexOf(\"set/tSetDHW\") > 0) { msg.register = 46; }\n// else if (msg.topic.indexOf(\"set/tSetHTG\") > 0) { msg.register = 48; }\n// else { return null; }\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":720,"wires":[["4cccebef.5c9454"]]},{"id":"6cc7dd9a.990fd4","type":"switch","z":"39aec563.56ad6a","name":"","property":"payload[3]","propertyType":"msg","rules":[{"t":"eq","v":"46","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1035,"y":280,"wires":[["4d56ead7.efcfb4"]],"l":false},{"id":"6c0f7b3e.9c1934","type":"switch","z":"39aec563.56ad6a","name":"","property":"payload[3]","propertyType":"msg","rules":[{"t":"eq","v":"46","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":275,"y":900,"wires":[["a0263185.cb427"]],"l":false},{"id":"77a440ef.62282","type":"debug","z":"39aec563.56ad6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":940,"wires":[]},{"id":"3a698a44.4b0f26","type":"debug","z":"39aec563.56ad6a","name":"debug 49","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":780,"wires":[]},{"id":"5a225630.855278","type":"delay","z":"39aec563.56ad6a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":720,"wires":[["3e09ade1.b2f3d2","3a698a44.4b0f26"]]},{"id":"d1563762.6a6038","type":"mqtt in","z":"39aec563.56ad6a","name":"","topic":"modutherm/bb400-0cc8/+/set/#","qos":"2","datatype":"auto-detect","broker":"5ece81b4.51ef","x":750,"y":60,"wires":[["e68106e9.b31548"]]},{"id":"e68106e9.b31548","type":"link out","z":"39aec563.56ad6a","name":"link out 2","links":["11432c7f.97f2e4"],"x":975,"y":80,"wires":[]},{"id":"807eb84c.4840c8","type":"mqtt in","z":"39aec563.56ad6a","name":"","topic":"modutherm/bb400-0cc8/+/cmd/#","qos":"2","datatype":"auto-detect","broker":"5ece81b4.51ef","x":750,"y":120,"wires":[["e68106e9.b31548"]]},{"id":"d808717e.17f09","type":"switch","z":"39aec563.56ad6a","name":"","property":"modbusin","propertyType":"flow","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":535,"y":360,"wires":[["1fd688d.1a6ef77"]],"l":false},{"id":"f213b565.e29138","type":"debug","z":"39aec563.56ad6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":320,"wires":[]},{"id":"a32518ff.181648","type":"trigger","z":"39aec563.56ad6a","op1":"","op2":"done","op1type":"nul","op2type":"str","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1035,"y":460,"wires":[["11c2cf0f.2ff611"]],"l":false},{"id":"4c36b211.30107c","type":"mqtt out","z":"39aec563.56ad6a","name":"","topic":"","qos":"0","retain":"false","broker":"5ece81b4.51ef","x":1070,"y":200,"wires":[]},{"id":"7029bbd1.c8b684","type":"link in","z":"39aec563.56ad6a","name":"","links":["ad21e8ce.e4e9f8"],"x":635,"y":200,"wires":[["81854d19.6b0fb"]]},{"id":"81854d19.6b0fb","type":"function","z":"39aec563.56ad6a","name":"modutherm/bb400-0cc8","func":"msg.topic = \"modutherm/bb400-0cc8/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":200,"wires":[["4c36b211.30107c","a30c135b.723e6"]]},{"id":"a30c135b.723e6","type":"debug","z":"39aec563.56ad6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":160,"wires":[]},{"id":"3b8678ee.61e768","type":"delay","z":"39aec563.56ad6a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":640,"wires":[["f7266450.2431e8"]]},{"id":"a7f521a6.bbfac","type":"delay","z":"39aec563.56ad6a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":700,"wires":[["f7266450.2431e8"]]},{"id":"1332d8e6.b8a0e7","type":"inject","z":"313b5f47.51867","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":260,"wires":[["11edec68.b70794"]]},{"id":"11edec68.b70794","type":"exec","z":"313b5f47.51867","command":"sudo apt-get install apt-transport-https","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":610,"y":260,"wires":[["956e9234.fd432"],["956e9234.fd432"],[]]},{"id":"956e9234.fd432","type":"debug","z":"313b5f47.51867","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":260,"wires":[]},{"id":"281125fe.ced97a","type":"inject","z":"313b5f47.51867","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":180,"wires":[["413fed5a.4284e4"]]},{"id":"413fed5a.4284e4","type":"exec","z":"313b5f47.51867","command":"sudo apt-get update","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":560,"y":180,"wires":[["5b9f1e66.08256"],["5b9f1e66.08256"],[]]},{"id":"5b9f1e66.08256","type":"debug","z":"313b5f47.51867","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":180,"wires":[]},{"id":"84f00c62.cfb6b","type":"inject","z":"313b5f47.51867","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":340,"wires":[["1e3560f7.b5e29f"]]},{"id":"1e3560f7.b5e29f","type":"exec","z":"313b5f47.51867","command":"curl -fsSL https://pkgs.tailscale.com/stable/raspbian/stretch.asc | sudo apt-key add -","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":750,"y":340,"wires":[["ee72eee9.812b4"],["ee72eee9.812b4"],[]]},{"id":"ee72eee9.812b4","type":"debug","z":"313b5f47.51867","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":340,"wires":[]},{"id":"8a719f29.3099e","type":"inject","z":"313b5f47.51867","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":420,"wires":[["f0ab6375.af1ae"]]},{"id":"f0ab6375.af1ae","type":"exec","z":"313b5f47.51867","command":"curl -fsSL https://pkgs.tailscale.com/stable/raspbian/stretch.list | sudo tee /etc/apt/sources.list.d/tailscale.list","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":820,"y":420,"wires":[["3427c89e.c5eb58"],["3427c89e.c5eb58"],[]]},{"id":"3427c89e.c5eb58","type":"debug","z":"313b5f47.51867","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":420,"wires":[]},{"id":"89d9d92c.fc4de8","type":"inject","z":"313b5f47.51867","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":500,"wires":[["fa402a78.b632a8"]]},{"id":"fa402a78.b632a8","type":"exec","z":"313b5f47.51867","command":"sudo apt-get update","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":560,"y":500,"wires":[["8788cf8.ba1413"],["8788cf8.ba1413"],[]]},{"id":"8788cf8.ba1413","type":"debug","z":"313b5f47.51867","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":500,"wires":[]},{"id":"9ba8b3d6.b61b4","type":"inject","z":"313b5f47.51867","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":600,"wires":[["d7691727.69d948"]]},{"id":"d7691727.69d948","type":"exec","z":"313b5f47.51867","command":"sudo apt-get install tailscale","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":580,"y":600,"wires":[["8883c988.fc1288"],["8883c988.fc1288"],[]]},{"id":"8883c988.fc1288","type":"debug","z":"313b5f47.51867","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":600,"wires":[]},{"id":"84092658.578f48","type":"inject","z":"313b5f47.51867","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":700,"wires":[["13758f16.a0a9b1"]]},{"id":"13758f16.a0a9b1","type":"change","z":"313b5f47.51867","name":"","rules":[{"t":"set","p":"kill","pt":"msg","to":"SIGINT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":700,"wires":[["d7691727.69d948"]]},{"id":"3e526bfb.943f34","type":"comment","z":"1ad3499d.131d16","name":"1. Enable this flow by double clicking \"[ED-XXX] Modbus\" above","info":"","x":250,"y":20,"wires":[]},{"id":"1c95e6d7.4ed529","type":"comment","z":"1ad3499d.131d16","name":"2. Then make sure to DEPLOY this flow by clicking the button located in the top right","info":"","x":310,"y":60,"wires":[]},{"id":"47ea266a.8203f8","type":"modbus-read","z":"1ad3499d.131d16","name":"ED Read Outputs","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"46","quantity":"2","rate":"1000","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"8ac941de.00017","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":180,"y":600,"wires":[["c44a4fad.b76bf"],["65e86c0a.5cd494"]]},{"id":"baa6f891.b45e98","type":"comment","z":"1ad3499d.131d16","name":"3. Visit your dashboard! http://bb400-xxxx:1880/ui (where bb400-xxxx is your BB-400 hostname or IP address)","info":"","x":390,"y":460,"wires":[]},{"id":"65e86c0a.5cd494","type":"modbus-response","z":"1ad3499d.131d16","name":"","registerShowMax":20,"x":480,"y":640,"wires":[]},{"id":"c44a4fad.b76bf","type":"debug","z":"1ad3499d.131d16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":580,"wires":[]},{"id":"fe883c62.eff7e","type":"discover-devices","z":"30407e48.6a4082","name":"","x":450,"y":240,"wires":[["654d87f8.ffde58"]]},{"id":"67f762ce.18808c","type":"inject","z":"30407e48.6a4082","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":240,"wires":[["fe883c62.eff7e"]]},{"id":"654d87f8.ffde58","type":"debug","z":"30407e48.6a4082","name":"debug 117","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":240,"wires":[]},{"id":"78dd26f5.56a7d8","type":"read-all-devices","z":"30407e48.6a4082","name":"","x":460,"y":380,"wires":[["aa490d5d.023de"]]},{"id":"7cc26ac3.28c7c4","type":"inject","z":"30407e48.6a4082","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":380,"wires":[["78dd26f5.56a7d8"]]},{"id":"aa490d5d.023de","type":"debug","z":"30407e48.6a4082","name":"debug 118","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":380,"wires":[]},{"id":"6976d780.924038","type":"read-single-device","z":"30407e48.6a4082","name":"","x":470,"y":500,"wires":[["89056e4f.49f7","4aff00a4.a42cf"]]},{"id":"c71a9008.833cc","type":"inject","z":"30407e48.6a4082","name":"33137","topic":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":520,"wires":[["6976d780.924038"]]},{"id":"89056e4f.49f7","type":"debug","z":"30407e48.6a4082","name":"debug 119","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":520,"wires":[]},{"id":"b1d8bbff.dcec68","type":"read-objects-list-within-device","z":"30407e48.6a4082","name":"","x":530,"y":620,"wires":[["afda0098.7d0e8"]]},{"id":"5214bed6.40d98","type":"inject","z":"30407e48.6a4082","name":"33137","topic":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":620,"wires":[["b1d8bbff.dcec68"]]},{"id":"afda0098.7d0e8","type":"debug","z":"30407e48.6a4082","name":"debug 120","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":620,"wires":[]},{"id":"22a963bf.ac9d0c","type":"inject","z":"30407e48.6a4082","name":"11013","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":460,"wires":[["6976d780.924038"]]},{"id":"39a1fb6a.6c1bf4","type":"inject","z":"30407e48.6a4082","name":"11005","topic":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":560,"wires":[["6976d780.924038"]]},{"id":"4aff00a4.a42cf","type":"function","z":"30407e48.6a4082","name":"function 10","func":"var vlist = msg.payload[\"OBJECT_LIST(76)\"];\n\nfor (var v in vlist) {\n\n    var msg1 = {};\n    msg1.topic = vlist[v][\"OBJECT_NAME(77)\"];\n    msg1.payload = vlist[v][\"PRESENT_VALUE(85)\"];\n\n    if (!msg1.topic) { continue; }\n\n    if (msg1.payload == \"INACTIVE(0)\") { msg1.payload = 0; }\n    else if (msg1.payload == \"ACTIVE(1)\") { msg1.payload = 1; }\n\n    msg1.topic = \"bms/dat/\" + msg1.topic.replaceAll(\" - \", \"\").replaceAll(\" \", \"_\").replaceAll(\"_0=No1_1=No2\", \"\").replaceAll(\"=\", \"\");\n\n\n    if (msg1.payload || msg1.payload===0) {\n        node.send(msg1);\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":670,"y":460,"wires":[["304b7486.fb226c","4367924e.f1b2bc"]]},{"id":"304b7486.fb226c","type":"debug","z":"30407e48.6a4082","name":"debug 121","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":420,"wires":[]},{"id":"4367924e.f1b2bc","type":"link out","z":"30407e48.6a4082","name":"link out 9","links":["349fb91799b23170"],"x":865,"y":480,"wires":[]},{"id":"90c8edb.72b0d1","type":"comment","z":"30407e48.6a4082","name":"https://flows.nodered.org/node/node-bacnet-contrib-extended","info":"https://flows.nodered.org/node/node-bacnet-contrib-extended","x":400,"y":140,"wires":[]},{"id":"bd697da4.2a046","type":"switch","z":"86f02aa.50d38d8","name":"","property":"reset","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":330,"y":160,"wires":[[]]},{"id":"2090a722.ea33a8","type":"change","z":"86f02aa.50d38d8","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":120,"wires":[["d1e2a7d3.f44948"]]},{"id":"1891090b.b8a9e7","type":"inject","z":"86f02aa.50d38d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":false,"onceDelay":"60","x":210,"y":80,"wires":[["2090a722.ea33a8"]]},{"id":"d1e2a7d3.f44948","type":"rbe","z":"86f02aa.50d38d8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":200,"y":160,"wires":[["bd697da4.2a046"]]},{"id":"4e41830f.16512c","type":"function","z":"60661d53.352844","name":"","func":"//if(Buffer.from(msg.payload, 'ascii')[1]!==3) { return null; }\n\nif (msg.payload[1]==6) { return null; }\nif (msg.payload[1] == 16) { return null; }\nif (msg.payload[1] < 3) { return null; }\nif (msg.payload[1] > 4) { return null; }\n\nfunction hex2bin(hex){\n    return (\"00000000\" + (parseInt(hex)).toString(2)).substr(-8);\n}\n\nfunction dec2bin(dec){\n  return (dec >>> 0).toString(2);\n}\n\nfunction Int2Float32(bytes) {\n    var sign = (bytes & 0x80000000) ? -1 : 1;\n    var exponent = ((bytes >> 23) & 0xFF) - 127;\n    var significand = (bytes & ~(-1 << 23));\n\n    if (exponent == 128)\n        return sign * ((significand) ? Number.NaN : Number.POSITIVE_INFINITY);\n\n    if (exponent == -127) {\n        if (significand === 0) return sign * 0.0;\n        exponent = -126;\n        significand /= (1 << 22);\n    } else significand = (significand | (1 << 23)) / (1 << 23);\n\n    return sign * significand * Math.pow(2, exponent);\n}\n\nvar msg2 = { \"payload\": Buffer.from(msg.payload, 'ascii') };\n\nmsg.address = msg.payload[0];\n//msg.register = (256 * msg.payload[2]) + msg.payload[3];\nmsg.register = flow.get(\"curreg\");\n\n\nvar minfo = flow.get(\"registers.r\" + msg.register) || null;\nvar dinfo = flow.get(\"devices.\" + msg.address) || null;\n\nif (!minfo) { return null; }\nif (!dinfo) { return null; }  \n\nflow.set(\"modbusIn\",\"xxx\");\n\n\nif (minfo.datatype==\"bits\") {\n    \n    var oot = {};\n    var bits = minfo.items.split(\",\");\n    var bc=15;\n    for (var bit in bits) {\n    \n        var item = {};\n        item.payload = (256 * msg.payload[3]) + msg.payload[4];        \n        item.payload =   (\"00000000000000000\" + dec2bin(item.payload)).substr(-16);\n        item.payload =  item.payload.substr(bc,1);\n        \n        item.topic = dinfo.device + \"/\" + bits[bit].replace(\".\",\"/\");\n        \n        if (minfo[\"units\"]) { item.units = minfo[\"units\"]; }\n        item.title = (bits[bit].split(\".\")[1]?  bits[bit].split(\".\")[1]:bits[bit]) + \" [Modbus \" + msg.register + \", bit \" + bit + \"]\"; \n\n        if (minfo[\"title\"]) { item.title = minfo[\"title\"] + \", \" + item.title; }\n\n        if (minfo[\"values\"]) {\n            \n            if (minfo[\"values\"][15-bc]) {\n                if (minfo[\"values\"][15-bc][\"\" + item.payload]) { item.payload = minfo[\"values\"][15-bc][\"\" + item.payload]; }\n            }\n        }\n\n\n        \n        oot[item.topic] = item;\n        \n        bc=bc-1;\n\n    }\n    msg.payload = oot;\n    \n    return [null,msg];\n    \n    \n} \n\nelse if (minfo.datatype == \"UInt32LE\") {\n\n    msg.payload = String.fromCharCode(msg.payload[3]) + String.fromCharCode(msg.payload[4]) + String.fromCharCode(msg.payload[5]) + String.fromCharCode(msg.payload[6]);\n    msg.payload = Buffer.from(msg.payload, 'ascii');\n\n\n\n    msg.payload = msg.payload.readUInt32LE(0);\n    if (minfo[\"multiplier\"]>1) { msg.payload = msg.payload / minfo[\"multiplier\"]; }\n\n    msg.topic = dinfo.device + \"/\" + minfo[\"reading\"].replace(\".\", \"/\");\n\n\n\n    if (minfo[\"units\"]) { msg.units = minfo[\"units\"]; }\n    //if (minfo[\"title\"]) { msg.title = minfo[\"title\"]; }\n\n\n    if (minfo[\"title\"]) { msg.title = minfo[\"title\"] + \" [Modbus \" + msg.register + \"]\"; }\n    else { msg.title = (minfo[\"reading\"].split(\".\")[1] ? minfo[\"reading\"].split(\".\")[1] : minfo[\"reading\"]) + \" [Modbus \" + msg.register + \"]\"; }\n\n    return [msg, null];\n\n}\n\nelse if (minfo.datatype == \"Float32MLE\") {\n\n    //msg.payload = String.fromCharCode(msg.payload[3]) + String.fromCharCode(msg.payload[4]) + String.fromCharCode(msg.payload[5]) + String.fromCharCode(msg.payload[6]);\n    msg.payload = String.fromCharCode(msg.payload[5]) + String.fromCharCode(msg.payload[6]) + String.fromCharCode(msg.payload[3]) + String.fromCharCode(msg.payload[4]);\n    msg.payload = Buffer.from(msg.payload, 'ascii');\n\n    msg.payload = msg.payload.readFloatBE(0);\n    if (minfo[\"multiplier\"] > 1) { msg.payload = msg.payload / minfo[\"multiplier\"]; }\n\n    msg.payload = Math.round((msg.payload + Number.EPSILON) * 100) / 100\n\n    msg.topic = dinfo.device + \"/\" + minfo[\"reading\"].replace(\".\", \"/\");\n\n\n    if (minfo[\"units\"]) { msg.units = minfo[\"units\"]; }\n    //if (minfo[\"title\"]) { msg.title = minfo[\"title\"]; }\n\n\n    if (minfo[\"title\"]) { msg.title = minfo[\"title\"] + \" [Modbus \" + msg.register + \"]\"; }\n    else { msg.title = (minfo[\"reading\"].split(\".\")[1] ? minfo[\"reading\"].split(\".\")[1] : minfo[\"reading\"]) + \" [Modbus \" + msg.register + \"]\"; }\n\n    return [msg, null];\n\n}\n\nelse if (minfo.datatype == \"IEEE754\" || minfo.datatype == \"Float32\") {\n\n    msg.payload = String.fromCharCode(msg.payload[3]) + String.fromCharCode(msg.payload[4]) + String.fromCharCode(msg.payload[5]) + String.fromCharCode(msg.payload[6]);\n    msg.payload = Buffer.from(msg.payload, 'ascii');\n\n    \n    let intValue;\n    // if (typeof msg.payload === \"number\") {\n    //     intValue = msg.payload;\n    // } else if (typeof msg.payload === \"string\") {\n    //     intValue = Number(msg.payload);\n    // } else if (msg.payload.length == 4) {\n        // four byte array or buffer\n        intValue = (((((msg.payload[0] << 8) + msg.payload[1]) << 8) + msg.payload[2]) << 8) + msg.payload[3];\n    // } else {\n    //     node.warn(\"Unrecognised payload type or length\");\n    // }\n\n    msg.payload = Int2Float32(intValue);\n\n    if (minfo[\"multiplier\"] > 1) { msg.payload = msg.payload / minfo[\"multiplier\"]; }    \n\n    msg.topic = dinfo.device + \"/\" + minfo[\"reading\"].replace(\".\", \"/\");\n\n\n\n    if (minfo[\"units\"]) { msg.units = minfo[\"units\"]; }\n    //if (minfo[\"title\"]) { msg.title = minfo[\"title\"]; }\n\n\n    if (minfo[\"title\"]) { msg.title = minfo[\"title\"] + \" [Modbus \" + msg.register + \"]\"; }\n    else { msg.title = (minfo[\"reading\"].split(\".\")[1] ? minfo[\"reading\"].split(\".\")[1] : minfo[\"reading\"]) + \" [Modbus \" + msg.register + \"]\"; }\n\n    return [msg, null];\n\n}\n\nelse {\n    \n   \n           \n    msg.payload = (256 * msg.payload[3]) + msg.payload[4];        \n    msg.payload =  msg.payload / parseFloat(minfo[\"multiplier\"] || 1);\n\n    msg.topic = dinfo.device + \"/\" + minfo[\"reading\"].replace(\".\",\"/\");\n\n\n    if (minfo[\"values\"]) {\n        \n        if (minfo[\"values\"]==\"alarmCodes\") { \n            \n            var ac = flow.get(\"alarmCodes\");\n            if (ac[\"\" + msg.payload]) { msg.payload = ac[\"\" + msg.payload]; }\n        }\n        \n        else if (minfo[\"values\"][\"\" + msg.payload]) { msg.payload = minfo[\"values\"][\"\" + msg.payload]; }\n    }\n\n    if (minfo[\"units\"]) { msg.units = minfo[\"units\"]; }\n    //if (minfo[\"title\"]) { msg.title = minfo[\"title\"]; }\n    \n    \n    if (minfo[\"title\"]) { msg.title = minfo[\"title\"] + \" [Modbus \" + msg.register + \"]\"; }\n    else  { msg.title = (minfo[\"reading\"].split(\".\")[1]?  minfo[\"reading\"].split(\".\")[1] : minfo[\"reading\"]) + \" [Modbus \" + msg.register + \"]\"; }\n\n    return [msg,null];\n    \n}\n\n","outputs":2,"noerr":0,"x":390,"y":1020,"wires":[["83eb0039.0ceb4","24adf54.5b4d40a","a724f4b0.eb4f28"],["ab971430.ce76a8","fd635361.40a7e","24adf54.5b4d40a"]]},{"id":"83eb0039.0ceb4","type":"debug","z":"60661d53.352844","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":900,"wires":[]},{"id":"7eed9767.0ff7a8","type":"function","z":"60661d53.352844","name":"Modbus","func":"// http://www.simplymodbus.ca/FC03.htm\n//11 03 006B 0003 7687\n// 11 03 06 AE41 5652 4340 49AD\n\n// uses address 17 as default.\n\n//var offs = 0;\n//if  (msg.payload[0] === 0) { offs = 1; }\nif (!msg.payload) { msg.payload={}; }\n\nvar address = msg.payload.address || msg.address ||8;\nvar fc = msg.payload.fc || msg.fc ;\nvar register = msg.payload.register || msg.register || 1;\nflow.set(\"curreg\", register);\nflow.set(\"fc\", fc);\n\n//register = register - 1;\n\nvar rlength = msg.payload.rlength || msg.rlength || 1;\n\nvar r1 = Math.floor(register / 256);\nvar r2 = register % 256;\n\n\n\n\nvar targetv = msg.targetv; //999;\n\n\nif (fc != 4 && fc != 3 && fc != 6 && fc != 16) { return null; }\n\nflow.set(\"modbusIn\",\"\");\n\n//targetv = global.get(\"modbus.\"+register+\".value\") || 0;\n\n//targetv = parseInt(global.get(\"modbus.\"+register+\".multiply\") || 1) * targetv;\n\n\nfunction crc16(buffer) {\n    var crc = 0xFFFF;\n    var odd;\n\n    for (var i = 0; i < buffer.length; i++) {\n        crc = crc ^ buffer[i];\n\n        for (var j = 0; j < 8; j++) {\n            odd = crc & 0x0001;\n            crc = crc >> 1;\n            if (odd) {\n                crc = crc ^ 0xA001;\n            }\n        }\n    }\n\n    crc  = \"0000\" + crc.toString(16);\n    crc = crc.substr(-4);\n\n    return crc;\n}\n\nvar tosend = \"\";\nvar crcString =\"\";\nvar msg2={};\n \nif (fc == 3 || fc == 4) {   // read\n\n    \n    tosend = String.fromCharCode(address) + String.fromCharCode(fc);\n    tosend += String.fromCharCode(r1) + String.fromCharCode(r2);\n    tosend += String.fromCharCode(0) + String.fromCharCode(rlength);\n    \n    crcString = crc16(Buffer.from(tosend, 'ascii'));\n    tosend += String.fromCharCode(parseInt(crcString.substr(2,2),16)) + String.fromCharCode(parseInt(crcString.substr(0,2),16)) ;\n    \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    \n    tosend = \"-\" + tosend;\n    \n    msg2.payload  = Buffer.from(tosend, 'ascii');\n    \n    \n    return [msg,msg2];\n\n} else if (fc == 6 ) {    // write\n\n\n    tosend = String.fromCharCode(address) + String.fromCharCode(6);\n    \n    tosend += String.fromCharCode(r1) + String.fromCharCode(r2);\n    \n    targetv = parseInt(targetv) ;\n    var hexStringValue  = \"0000\" + targetv.toString(16);\n    hexStringValue = hexStringValue.substring(-4);\n    \n    \n    //tosend += String.fromCharCode(parseInt(hexStringValue.substring(6, 2), 16)) + String.fromCharCode(parseInt(hexStringValue.substring(4, 16), 32)) ;\n    tosend += String.fromCharCode(parseInt(hexStringValue.substring(2, 2), 16)) + String.fromCharCode(parseInt(hexStringValue.substring(0, 16), 32));\n\n    \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    \n    crcString = crc16(msg.payload);\n   \n    tosend += String.fromCharCode(parseInt(crcString.substring(2, 2), 16)) + String.fromCharCode(parseInt(crcString.substring(0,2),16)) ;\n   \n       \n    msg.payload  = Buffer.from(tosend, 'ascii');\n    tosend = \"-\" + tosend;\n    msg2.payload  = Buffer.from(tosend, 'ascii');\n    \n    \n    return [msg,msg2];\n\n} else if (fc == 16) {    // write\n\n\n    tosend = String.fromCharCode(address) + String.fromCharCode(16);\n\n    tosend += String.fromCharCode(r1) + String.fromCharCode(r2);\n\n    tosend += String.fromCharCode(0) + String.fromCharCode(2) + String.fromCharCode(4);\n\n    targetv = parseInt(targetv);\n    var hexStringValue = \"000000\" + targetv.toString(16);\n    //hexStringValue = hexStringValue.substring(hexStringValue.length-8, 8);\n\n    tosend += String.fromCharCode(targetv) + String.fromCharCode(0) + String.fromCharCode(0) + String.fromCharCode(0);\n\n    // tosend += String.fromCharCode(parseInt(hexStringValue.substring(6, 2), 16)) + String.fromCharCode(parseInt(hexStringValue.substring(4, 2), 16));\n    // tosend += String.fromCharCode(parseInt(hexStringValue.substring(2, 2), 16)) + String.fromCharCode(parseInt(hexStringValue.substring(0, 2), 16));\n\n\n    msg.payload = Buffer.from(tosend, 'ascii');\n\n    crcString = crc16(msg.payload);\n\n    tosend += String.fromCharCode(parseInt(crcString.substring(2, 2), 16)) + String.fromCharCode(parseInt(crcString.substring(0, 2), 16));\n\n\n    msg.payload = Buffer.from(tosend, 'ascii');\n    tosend = \"-\" + tosend;\n    msg2.payload = Buffer.from(tosend, 'ascii');\n\n\n    return [msg, msg2];\n\n} \n\n\n","outputs":"2","noerr":0,"x":860,"y":380,"wires":[["d34ef1a7.ed49d","dcff0389.10799","a5477723.e58fe8","e7f778d0.c83d08"],[]]},{"id":"f142b218.9775","type":"serial in","z":"60661d53.352844","name":"","serial":"a0c8eb7d.cfe418","x":190,"y":1020,"wires":[["4e41830f.16512c","ba929332.553b1","815a7bd1.8b0088"]]},{"id":"e7f778d0.c83d08","type":"serial out","z":"60661d53.352844","name":"","serial":"a0c8eb7d.cfe418","x":1090,"y":380,"wires":[]},{"id":"e51a45e7.79ee48","type":"debug","z":"60661d53.352844","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":900,"wires":[]},{"id":"62e7b4c0.b229bc","type":"debug","z":"60661d53.352844","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":280,"wires":[]},{"id":"c22cedd0.193e5","type":"inject","z":"60661d53.352844","name":"","topic":"","payload":"registers","payloadType":"flow","repeat":"3","crontab":"","once":true,"onceDelay":"10","x":180,"y":260,"wires":[["27172e26.2231d2"]]},{"id":"27172e26.2231d2","type":"function","z":"60661d53.352844","name":"","func":"\n\nif (flow.get(\"msglist\") && flow.get(\"msglist\").length>1) { return null;}\n\n\nvar oot = [];\n\nvar fregisters = {};\n\nfregisters.r30042 = flow.get(\"registers.r30042\");\nfregisters.r30056 = flow.get(\"registers.r30056\");\n\nfor (var r in fregisters) {\n\n    var cr = flow.get(\"registers.\" + r);\n    //var cr = flow.get(\"registers.r30056\");\n\n    for (var d in flow.get(\"devices\")) {\n    \n    \n        var item = {};\n        item.fc = 3;\n        // item.address = flow.get(\"devices.\"+d+\".address\");\n        // item.register = flow.get(\"registers.\"+r+\".register\");\n        // item.rlength = flow.get(\"registers.\" + r + \".length\") || 1;\n\n        if (cr.cmd == \"INP\") { item.fc = 4; }\n        else if (cr.cmd == \"HO\") { item.fc = 3; }\n\n\n        item.address = flow.get(\"devices.\" + d + \".address\");\n        item.register = cr.register;\n        item.rlength = cr.length;\n\n        //if (item.register != 30040) { continue; }  // !!!!!!!!!!!!!!!!!!\n        oot.push(item);\n        \n    }\n    \n}\n\nmsg.payload = oot;\n\nflow.set(\"msglist\",[]);\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["9fc9ceb4.678b8"]]},{"id":"fba4da3d.4331a8","type":"debug","z":"60661d53.352844","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":300,"wires":[]},{"id":"480e912a.32081","type":"link out","z":"60661d53.352844","name":"","links":["72fc070f.39dd8","1870a6c4.796c89"],"x":1035,"y":940,"wires":[]},{"id":"ab971430.ce76a8","type":"split","z":"60661d53.352844","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":590,"y":1100,"wires":[["84ff91bf.75936"]]},{"id":"e66b640b.feb678","type":"debug","z":"60661d53.352844","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":910,"y":1100,"wires":[]},{"id":"fd635361.40a7e","type":"debug","z":"60661d53.352844","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":1060,"wires":[]},{"id":"c2f371b4.33a35","type":"debug","z":"60661d53.352844","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":1040,"wires":[]},{"id":"837cd77a.5657c8","type":"function","z":"60661d53.352844","name":"34 - set PIR delay to 60s","func":"\nmsg.fc = 6;\nmsg.address = 1;\nmsg.register = 47;\nmsg.rlength = 2;\n\nflow.set(\"multiply\", 1);\nflow.set(\"rtopic\", \"test\");\n\n\nmsg.targetv = 47;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":560,"wires":[["23fc5883.474fc8"]]},{"id":"1e0a36bf.ed56e9","type":"inject","z":"60661d53.352844","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":560,"wires":[["837cd77a.5657c8"]]},{"id":"6bb0edee.20d434","type":"function","z":"60661d53.352844","name":"SHIFT","func":"\nvar msglist=flow.get(\"msglist\") || [];\n\n//if (msglist.length> 100) { msglist = []; }\n    \nif (msg.payload == \"next\") { \n    \n    if (!msglist[0]) { return null; }\n    \n    if (flow.get(\"modbusIn\")===\"\") { return null; }\n    \n    msg = msglist[0];\n    msglist.shift();\n    flow.set(\"msglist\",msglist);\n    return msg;\n}\n\nelse {   \n    \n    msglist.push(msg); \n    flow.set(\"msglist\",msglist);\n    return null;\n    \n}\n\n\n\n\n","outputs":1,"noerr":0,"x":730,"y":380,"wires":[["7eed9767.0ff7a8"]]},{"id":"c054ab6c.1c4148","type":"inject","z":"60661d53.352844","name":"","topic":"","payload":"next","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":450,"y":360,"wires":[["e87d0568.efa708"]]},{"id":"24adf54.5b4d40a","type":"link out","z":"60661d53.352844","name":"","links":["c4e46a82.1c9e7","d16e95d0.c73938"],"x":555,"y":1020,"wires":[]},{"id":"3b6805f3.b0b97a","type":"change","z":"60661d53.352844","name":"","rules":[{"t":"set","p":"modbusIn","pt":"flow","to":"xxx","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":460,"wires":[[]]},{"id":"d16e95d0.c73938","type":"link in","z":"60661d53.352844","name":"","links":["24adf54.5b4d40a"],"x":415,"y":400,"wires":[["2bed8a60.5fdbd6"]]},{"id":"3a631d4.3e034e2","type":"change","z":"60661d53.352844","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"next","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":400,"wires":[["6bb0edee.20d434"]],"l":false},{"id":"2d7d5a1.3b59aa6","type":"link in","z":"60661d53.352844","name":"","links":["595520b0.f033d","2db0089.690c2f8","be5ca099.80857","5dbf074d.dd7078","315cd92.2bca026"],"x":535,"y":440,"wires":[["6bb0edee.20d434"]]},{"id":"595520b0.f033d","type":"link out","z":"60661d53.352844","name":"","links":["2d7d5a1.3b59aa6","479e65f4.abc6cc"],"x":835,"y":560,"wires":[]},{"id":"84ff91bf.75936","type":"function","z":"60661d53.352844","name":"","func":"msg= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1100,"wires":[["e66b640b.feb678","e6365e77.52ccb"]]},{"id":"e6365e77.52ccb","type":"subflow:86f02aa.50d38d8","z":"60661d53.352844","name":"","x":820,"y":1020,"wires":[["480e912a.32081","c2f371b4.33a35"]]},{"id":"23fc5883.474fc8","type":"change","z":"60661d53.352844","name":"not used","rules":[{"t":"set","p":"lastset","pt":"flow","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":560,"wires":[["595520b0.f033d"]]},{"id":"9fc9ceb4.678b8","type":"split","z":"60661d53.352844","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":300,"wires":[["fba4da3d.4331a8","6bb0edee.20d434"]]},{"id":"60a47fb9.c2cae","type":"change","z":"60661d53.352844","name":"","rules":[{"t":"set","p":"points","pt":"msg","to":"5000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":980,"wires":[["480e912a.32081"]]},{"id":"a724f4b0.eb4f28","type":"switch","z":"60661d53.352844","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"AlarmCode","vt":"str"},{"t":"cont","v":"WarningCode","vt":"str"},{"t":"cont","v":"Position","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":590,"y":960,"wires":[["92281602.396658","480e912a.32081"],["480e912a.32081"],["60a47fb9.c2cae"],["e6365e77.52ccb"]]},{"id":"2d9583d4.fd40dc","type":"inject","z":"60661d53.352844","name":"DEVICES","topic":"","payload":"[{\"address\":\"12\",\"device\":\"taytech1\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":180,"y":60,"wires":[["d7659ebb.d1f37"]]},{"id":"d7659ebb.d1f37","type":"split","z":"60661d53.352844","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":275,"y":60,"wires":[["91451cd7.d9b4c"]],"l":false},{"id":"91451cd7.d9b4c","type":"function","z":"60661d53.352844","name":"Store Devices","func":"\nvar rin = msg.payload;\nif (rin.address<1) { return null; } \n\n\nflow.set(\"devices.\" + rin.address, rin);\n\n\n    \nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":400,"y":60,"wires":[[]]},{"id":"388848c.4cc31b8","type":"link in","z":"60661d53.352844","name":"","links":["1f335ee0.7b9a41","b09805d5.754898"],"x":225,"y":500,"wires":[["752925c9.9ed63c"]]},{"id":"92281602.396658","type":"function","z":"60661d53.352844","name":"","func":"msg.topic = msg.topic.replace(\"/stat/\",\"/alarm/\");\n\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":920,"wires":[["480e912a.32081"]]},{"id":"752925c9.9ed63c","type":"delay","z":"60661d53.352844","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":500,"wires":[["23fc5883.474fc8"]]},{"id":"7101492c.8f11a8","type":"inject","z":"60661d53.352844","name":"REGISTERS","topic":"","payload":"[{\"register\":\"40064\",\"length\":2,\"reading\":\"setpoint.tSetDHW\",\"multiplier\":1,\"datatype\":\"UInt16LE\",\"title\":\"Hot water reference temperature\",\"period\":1,\"units\":\"°C\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":150,"y":120,"wires":[["fb6e3b8d.4b5e38"]]},{"id":"2bed8a60.5fdbd6","type":"delay","z":"60661d53.352844","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":485,"y":400,"wires":[["3a631d4.3e034e2"]],"l":false},{"id":"fd8ef14e.c6af9","type":"split","z":"60661d53.352844","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":335,"y":120,"wires":[["c043b22c.8100b"]],"l":false},{"id":"c043b22c.8100b","type":"function","z":"60661d53.352844","name":"Store Registers","func":"\nvar rin = msg.payload;\nif (rin.register01) { return null; } \n\n\nvar v = global.get(\"readings.\" + rin.reading + \".value\") || 0\nrin[\"value\"] = v;\n\n\n\nflow.set(\"registers.r\" + rin.register, rin);\n\nmsg.payload = flow.get(\"registers\") ;\n    \nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":460,"y":120,"wires":[[]]},{"id":"fb6e3b8d.4b5e38","type":"function","z":"60661d53.352844","name":"Store Registers","func":"\nflow.set(\"registers\" , {});\n\n    \nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":275,"y":120,"wires":[["fd8ef14e.c6af9"]],"l":false},{"id":"a0fed538.058398","type":"function","z":"60661d53.352844","name":"fc16","func":"\nmsg.fc = 16;\nmsg.address = 1;\nmsg.register = 46;\nmsg.rlength = 2;\n\nflow.set(\"multiply\", 1);\nflow.set(\"rtopic\", \"test\");\n\n\nmsg.targetv = 48;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":600,"wires":[["23fc5883.474fc8"]]},{"id":"7199e854.a0bc28","type":"inject","z":"60661d53.352844","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":600,"wires":[["a0fed538.058398"]]},{"id":"251d31e9.cfab0e","type":"function","z":"60661d53.352844","name":"fc16","func":"\nmsg.fc = 16;\nmsg.address = 1;\nmsg.register = 48;\nmsg.rlength = 2;\n\nflow.set(\"multiply\", 1);\nflow.set(\"rtopic\", \"test\");\n\n\nmsg.targetv = 47;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":640,"wires":[["23fc5883.474fc8"]]},{"id":"dff2e717.0c36d8","type":"inject","z":"60661d53.352844","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":640,"wires":[["251d31e9.cfab0e"]]},{"id":"f0752815.449228","type":"link in","z":"60661d53.352844","name":"link in 4","links":["ace58f87.90612"],"x":185,"y":720,"wires":[["58655102.fd97f"]]},{"id":"f0db95be.c7bee8","type":"function","z":"60661d53.352844","name":"fc16","func":"msg.fc = 16;\nmsg.address = 1;\nmsg.rlength = 2;\n\nflow.set(\"multiply\", 1);\n//flow.set(\"rtopic\", \"test\");\n\nmsg.register = -1;\n\nvar varkey = msg.topic.split(\"/\")[4];\n\nvar regs = flow.get(\"registers\");\nfor (var r in regs) {\n\n    if ((regs[r].reading.split('.')[0] == \"config\" || regs[r].reading.split('.')[0] == \"setpoint\" || regs[r].reading.split('.')[0] == \"settings\") && regs[r].reading.split('.')[1] == varkey) {\n        msg.register = parseInt(regs[r].register);\n        \n        if (regs[r].multiplier > 1) { msg.payload = msg.payload * regs[r].multiplier; }\n        msg.targetv = msg.payload;\n\n        break;\n    }\n\n}\n\nif (msg.register == -1) {return null;}\n\n// if (msg.topic.indexOf(\"set/tSetDHW\") > 0) { msg.register = 46; }\n// else if (msg.topic.indexOf(\"set/tSetHTG\") > 0) { msg.register = 48; }\n// else { return null; }\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":720,"wires":[["23fc5883.474fc8"]]},{"id":"d34ef1a7.ed49d","type":"switch","z":"60661d53.352844","name":"","property":"payload[1]","propertyType":"msg","rules":[{"t":"neq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1035,"y":280,"wires":[["62e7b4c0.b229bc"]],"l":false},{"id":"ba929332.553b1","type":"switch","z":"60661d53.352844","name":"","property":"payload[1]","propertyType":"msg","rules":[{"t":"neq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":275,"y":900,"wires":[["e51a45e7.79ee48"]],"l":false},{"id":"815a7bd1.8b0088","type":"debug","z":"60661d53.352844","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":940,"wires":[]},{"id":"5815b8c8.628608","type":"debug","z":"60661d53.352844","name":"debug 49","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":780,"wires":[]},{"id":"58655102.fd97f","type":"delay","z":"60661d53.352844","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":720,"wires":[["f0db95be.c7bee8","5815b8c8.628608"]]},{"id":"371e4a6f.a628b6","type":"mqtt in","z":"60661d53.352844","name":"","topic":"rivermead/bb400-0cc8/+/set/#","qos":"2","datatype":"auto-detect","broker":"5ece81b4.51ef","x":740,"y":60,"wires":[["ace58f87.90612"]]},{"id":"ace58f87.90612","type":"link out","z":"60661d53.352844","name":"link out 2","links":["f0752815.449228"],"x":975,"y":80,"wires":[]},{"id":"f0f4b6d6.2d8918","type":"mqtt in","z":"60661d53.352844","name":"","topic":"rivermead/bb400-0cc8/+/cmd/#","qos":"2","datatype":"auto-detect","broker":"5ece81b4.51ef","x":750,"y":120,"wires":[["ace58f87.90612"]]},{"id":"e87d0568.efa708","type":"switch","z":"60661d53.352844","name":"","property":"modbusin","propertyType":"flow","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":535,"y":360,"wires":[["6bb0edee.20d434"]],"l":false},{"id":"dcff0389.10799","type":"debug","z":"60661d53.352844","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":320,"wires":[]},{"id":"a5477723.e58fe8","type":"trigger","z":"60661d53.352844","op1":"","op2":"done","op1type":"nul","op2type":"str","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1035,"y":460,"wires":[["3b6805f3.b0b97a"]],"l":false},{"id":"1870a6c4.796c89","type":"link in","z":"60661d53.352844","name":"","links":["480e912a.32081"],"x":635,"y":200,"wires":[["43fb81fe.54218"]]},{"id":"43fb81fe.54218","type":"function","z":"60661d53.352844","name":"rivermead/bb400-0cc8","func":"msg.topic = \"rivermead/bb400-0cc8/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":200,"wires":[["514ca016.3e095","fe34b57d.5462b8"]]},{"id":"514ca016.3e095","type":"debug","z":"60661d53.352844","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":160,"wires":[]},{"id":"85537130.435fa","type":"inject","z":"60661d53.352844","name":"REGISTERS","topic":"","payload":"[{\"register\":\"0\",\"reading\":\"sensor.tOutDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water temperature\",\"period\":1,\"units\":\"°C\"},{\"register\":\"2\",\"reading\":\"sensor.tCWS\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Cold water temperature\",\"period\":10,\"units\":\"°C\"},{\"register\":\"4\",\"reading\":\"sensor.tTank\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"External tank temperature\",\"period\":30,\"units\":\"°C\"},{\"register\":\"6\",\"reading\":\"sensor.fDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"DHW water flow rate\",\"period\":1,\"units\":\"l/min\"},{\"register\":\"8\",\"reading\":\"sensor.kwDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water power\",\"period\":1,\"units\":\"kW\"},{\"register\":\"10\",\"reading\":\"sensor.tSetHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating reference temperature\",\"period\":10,\"units\":\"°C\"},{\"register\":\"12\",\"reading\":\"sensor.tOutHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating outlet temperature\",\"period\":1,\"units\":\"°C\"},{\"register\":\"14\",\"reading\":\"sensor.tInHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating inlet temperature\",\"period\":5,\"units\":\"°C\"},{\"register\":\"16\",\"reading\":\"sensor.tOutdoor\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Outdoor temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"18\",\"reading\":\"sensor.fHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating flow rate\",\"period\":1,\"units\":\"l/min\"},{\"register\":\"20\",\"reading\":\"sensor.pwmPump\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Pump PWM\",\"period\":1,\"units\":\"%\"},{\"register\":\"22\",\"reading\":\"sensor.kwHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating power\",\"period\":5,\"units\":\"kW\"},{\"register\":\"24\",\"reading\":\"sensor.pHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating pressure\",\"period\":30,\"units\":\"bar\"},{\"register\":\"26\",\"reading\":\"sensor.tOutPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"District Outlet temperature\",\"period\":5,\"units\":\"°C\"},{\"register\":\"28\",\"reading\":\"sensor.tInPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"District inlet temperature\",\"period\":5,\"units\":\"°C\"},{\"register\":\"30\",\"reading\":\"sensor.dpPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"District differential pressure\",\"period\":10,\"units\":\"bar\"},{\"register\":\"32\",\"reading\":\"sensor.fPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"District flow rate\",\"period\":1,\"units\":\"l/min\"},{\"register\":\"34\",\"reading\":\"sensor.stepDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water valve step count\",\"period\":1,\"units\":\"/300\"},{\"register\":\"36\",\"reading\":\"sensor.stepHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating valve step count\",\"period\":1,\"units\":\"/300\"},{\"register\":\"38\",\"reading\":\"sensor.stepDP\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Differential pressure valve step count\",\"period\":1,\"units\":\"/300\"},{\"register\":\"42\",\"reading\":\"config.mode\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Current Unit mode\",\"period\":1},{\"register\":\"46\",\"reading\":\"setpoint.tSetDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water reference temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"48\",\"reading\":\"setpoint.tSetHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating reference temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"50\",\"reading\":\"config.modeHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating mode\",\"period\":10},{\"register\":\"52\",\"reading\":\"config.tRefDiffHTG\",\"multiplier\":\"1\",\"datatype\":\"UInt32LE\",\"title\":\"Heating reference differential temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"54\",\"reading\":\"config.dpReference\",\"multiplier\":10,\"datatype\":\"UInt32LE\",\"title\":\"Primary reference differential pressure\",\"period\":60,\"units\":\"bar\"},{\"register\":\"56\",\"reading\":\"config.fMaxDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Primary max flowrate in hot water regulation\",\"period\":60,\"units\":\"l/min\"},{\"register\":\"58\",\"reading\":\"config.fMaxHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Primary max flowrate in heating regulation\",\"period\":60,\"units\":\"l/min\"},{\"register\":\"60\",\"reading\":\"config.pwmPumpMax\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Max pump PWM\",\"period\":60,\"units\":\"%\"},{\"register\":\"62\",\"reading\":\"config.pwmPumpMin\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Min pump PWM\",\"period\":60,\"units\":\"%\"},{\"register\":\"64\",\"reading\":\"config.useTPrimary\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Use Heating inlet temperature for regulation\",\"period\":60},{\"register\":\"66\",\"reading\":\"config.stepMaxDP\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Primary differential pressure valve max step\",\"period\":60,\"units\":\"%\"},{\"register\":\"68\",\"reading\":\"config.stepMaxDHW\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Hot water valve max step\",\"period\":60,\"units\":\"/300\"},{\"register\":\"70\",\"reading\":\"config.stepMaxHTG\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heating valve max step\",\"period\":60,\"units\":\"/300\"},{\"register\":\"72\",\"reading\":\"config.pMaxHTG\",\"multiplier\":10,\"datatype\":\"UInt32LE\",\"title\":\"Heating max pressure\",\"period\":60,\"units\":\"bar\"},{\"register\":\"74\",\"reading\":\"config.pMinHTG\",\"multiplier\":10,\"datatype\":\"UInt32LE\",\"title\":\"Heating min pressure\",\"period\":60,\"units\":\"bar\"},{\"register\":\"76\",\"reading\":\"config.extSFactor\",\"multiplier\":10,\"datatype\":\"UInt32LE\",\"title\":\"External sensor factor\",\"period\":60},{\"register\":\"78\",\"reading\":\"config.extSoffset\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"External sensor factor\",\"period\":60,\"units\":\"°C\"},{\"register\":\"80\",\"reading\":\"config.extSEnable\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"External sensor enable\",\"period\":60},{\"register\":\"82\",\"reading\":\"config.cylSensorEnable\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Heat cylinder sensor enable\",\"period\":60},{\"register\":\"84\",\"reading\":\"config.unitModel\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Unit model\",\"period\":60},{\"register\":\"86\",\"reading\":\"config.eCountEnable\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Energy counter enable\",\"period\":60},{\"register\":\"88\",\"reading\":\"config.modbusAddress\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Modbus address\",\"period\":60},{\"register\":\"90\",\"reading\":\"config.mbusAddress\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Mbus address\",\"period\":60},{\"register\":\"92\",\"reading\":\"config.extEValve\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"External electric valve\",\"period\":60},{\"register\":\"94\",\"reading\":\"config.warmEnable\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Keep warm enable\",\"period\":60},{\"register\":\"96\",\"reading\":\"config.tWarm\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Keep warm temperature\",\"period\":60,\"units\":\"°C\"},{\"register\":\"98\",\"reading\":\"config.tWarmHyst\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Keep warm hysteresis\",\"period\":60,\"units\":\"°C\"},{\"register\":\"100\",\"reading\":\"config.antiFreeze\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Antifreeze enable\",\"period\":60},{\"register\":\"102\",\"reading\":\"config.tOnAFreeze\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Antifreeze temperature on\",\"period\":60,\"units\":\"°C\"},{\"register\":\"104\",\"reading\":\"config.tOffAFreeze\",\"multiplier\":1,\"datatype\":\"UInt32LE\",\"title\":\"Antifreeze temperature off\",\"period\":60,\"units\":\"°C\"}]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"10","x":210,"y":180,"wires":[["fb6e3b8d.4b5e38"]]},{"id":"6e20a375.10101c","type":"debug","z":"60661d53.352844","name":"debug 355","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":1260,"wires":[]},{"id":"e93c0c04.b61be","type":"book","z":"60661d53.352844","name":"","raw":false,"x":550,"y":1260,"wires":[["6e20a375.10101c","2469137b.f78fdc"]]},{"id":"70d8aff0.17ada","type":"http request","z":"60661d53.352844","name":"","method":"GET","ret":"bin","paytoqs":false,"url":"https://heatweb.b-cdn.net/sites/rivermead/TTLogic_ModbusParameters_rev2.71r_A.xlsx","tls":"","proxy":"","authType":"","x":410,"y":1260,"wires":[["e93c0c04.b61be"]]},{"id":"2469137b.f78fdc","type":"sheet","z":"60661d53.352844","name":"","sheetName":"TTLOGICBOX MODBUS TABLE","x":550,"y":1340,"wires":[["f84be9be.945be8"]]},{"id":"364bab0.a6f4156","type":"inject","z":"60661d53.352844","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1260,"wires":[["70d8aff0.17ada"]]},{"id":"f84be9be.945be8","type":"sheet-to-json","z":"60661d53.352844","name":"","raw":"false","range":"","header":"default","blankrows":false,"x":570,"y":1440,"wires":[["eb95c221.8a437","ef9d77f8.970de8"]]},{"id":"eb95c221.8a437","type":"debug","z":"60661d53.352844","name":"debug 356","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":1440,"wires":[]},{"id":"ef9d77f8.970de8","type":"function","z":"60661d53.352844","name":"function 1","func":"\n\n\n\nvar rr = {};\nfor (var inr in msg.payload)  {\n\n    var br = {\n        \"register\": 1,\n        \"length\": 2,\n        \"reading\": \"sensor.test\",\n        \"multiplier\": 1,\n        \"datatype\": \"UInt16LE\",\n        \"title\": \"Hot water temperature\",\n        \"period\": 1,\n        \"units\": \"°C\"\n    }\n\n   \n\n    if (msg.payload[inr][\"CMD\"] == \"INP\" && msg.payload[inr][\"TYPE\"] == \"F\" && msg.payload[inr][\"ADDR\"]) {\n\n        br.register = parseInt(msg.payload[inr][\"ADDR\"]);\n        br.length = 2;\n        br.reading = \"sensor.\" + msg.payload[inr][\"NAME\"].split(\"_\")[1];\n        br.multiplier = 1;\n        br.datatype = \"Float32MLE\";\n        br.title = msg.payload[inr][\"DESCRIPTION\"].split(\"\\n\")[0];\n        br.period = 10;\n        br.units = msg.payload[inr][\"UNITS\"];\n        br.cmd = msg.payload[inr][\"CMD\"];\n        br.rw = msg.payload[inr][\"RW\"];\n\n        rr[\"r\"+br.register] = br;\n\n    }\n\n}\n\nflow.set(\"registers\",rr);\n\nmsg.payload = rr;\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1520,"wires":[["dcf001d8.3e9a8"]]},{"id":"fe34b57d.5462b8","type":"mqtt out","z":"60661d53.352844","name":"","topic":"","qos":"0","retain":"false","broker":"5ece81b4.51ef","x":1050,"y":200,"wires":[]},{"id":"dcf001d8.3e9a8","type":"file","z":"60661d53.352844","name":"","filename":"registers.json","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":830,"y":1520,"wires":[[]]},{"id":"bd211740.0e4478","type":"file in","z":"60661d53.352844","name":"","filename":"registers.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1030,"y":1360,"wires":[["c5437b49.5f7758","ecf2bbbf.2cb618"]]},{"id":"c5437b49.5f7758","type":"debug","z":"60661d53.352844","name":"debug 357","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":1420,"wires":[]},{"id":"f63d0d1c.c87dc","type":"inject","z":"60661d53.352844","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":850,"y":1360,"wires":[["bd211740.0e4478"]]},{"id":"ecf2bbbf.2cb618","type":"function","z":"60661d53.352844","name":"function 2","func":"flow.set(\"registers\", JSON.parse(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":1360,"wires":[[]]},{"id":"375c1a5b.efe726","type":"inject","z":"60661d53.352844","name":"","topic":"","payload":"registers","payloadType":"flow","repeat":"30","crontab":"","once":true,"onceDelay":"11","x":180,"y":320,"wires":[["5688351a.f76a0c"]]},{"id":"5688351a.f76a0c","type":"function","z":"60661d53.352844","name":"","func":"\n\nif (flow.get(\"msglist\") && flow.get(\"msglist\").length>3) { return null;}\n\n\nvar oot = [];\n\nfor (var r in flow.get(\"registers\")) {\n\n    var cr = flow.get(\"registers.\" + r);\n\n    for (var d in flow.get(\"devices\")) {\n    \n    \n        var item = {};\n        item.fc = 3;\n        // item.address = flow.get(\"devices.\"+d+\".address\");\n        // item.register = flow.get(\"registers.\"+r+\".register\");\n        // item.rlength = flow.get(\"registers.\" + r + \".length\") || 1;\n\n        if (cr.cmd == \"INP\") { item.fc = 4; }\n        else if (cr.cmd == \"HO\") { item.fc = 3; }\n\n\n        item.address = flow.get(\"devices.\" + d + \".address\");\n        item.register = cr.register;\n        item.rlength = cr.length;\n\n        //if (item.register != 30040) { continue; }  // !!!!!!!!!!!!!!!!!!\n        oot.push(item);\n        \n    }\n    \n}\n\nmsg.payload = oot;\n\nflow.set(\"msglist\",[]);\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["9fc9ceb4.678b8"]]}]