flows/flow_mysql_influxdb.json
[
    {
        "id": "d1f3d002.63ee48",
        "type": "subflow",
        "name": "rbe 5m",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "dd19c0de.9bebd"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 420,
                "y": 160,
                "wires": [
                    {
                        "id": "29eae4ad.d68f2c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "dd19c0de.9bebd",
        "type": "rbe",
        "z": "d1f3d002.63ee48",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "29eae4ad.d68f2c"
            ]
        ]
    },
    {
        "id": "8b22fc2a.83d07",
        "type": "inject",
        "z": "d1f3d002.63ee48",
        "name": "",
        "props": [
            {
                "p": "reset",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "dd19c0de.9bebd"
            ]
        ]
    },
    {
        "id": "29eae4ad.d68f2c",
        "type": "switch",
        "z": "d1f3d002.63ee48",
        "name": "",
        "property": "reset",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "27ba92fdd543e7c1",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "536010b714fb4c2f",
        "name": "",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "heatweb",
        "bucket": "heatweb",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "1fc0f22e5611efa8",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "fa2630848688178b",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "5020304693266723",
        "name": "",
        "x": 900,
        "y": 360,
        "wires": [
            [
                "e52eeebaa2dfd8af"
            ]
        ]
    },
    {
        "id": "a27b23988abd0a33",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "SELECT * FROM systems",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM systems",
        "payload": "",
        "payloadType": "date",
        "x": 670,
        "y": 420,
        "wires": [
            [
                "fa2630848688178b"
            ]
        ]
    },
    {
        "id": "e52eeebaa2dfd8af",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 360,
        "wires": []
    },
    {
        "id": "cedc9de4dd964642",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "SQL",
        "func": "\nvar t = msg.topic.split(\"/\");\nmsg.topic = \"INSERT INTO `readings` (`topic`, `network`, `node`, `device`, `vargroup`, `varkey`, `value` ) VALUES ( '\" + msg.topic +\"', '\" + t[0] + \"', '\" + t[1] + \"', '\" + t[2] + \"', '\" + t[3] + \"', '\" + t[4] + \"', '\" + msg.payload +\"') \";\n\nmsg.topic += ' ON DUPLICATE KEY UPDATE value = \"' + msg.payload + '\", timestamp = CURRENT_TIMESTAMP;';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 360,
        "wires": [
            [
                "fa2630848688178b",
                "cc314aa6cdf128b0"
            ]
        ]
    },
    {
        "id": "cc314aa6cdf128b0",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 300,
        "wires": []
    },
    {
        "id": "56f925dd66127bbb",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "link in 3",
        "links": [
            "82572bd7fa2754e2"
        ],
        "x": 585,
        "y": 600,
        "wires": [
            [
                "c9f49c81a1917c83"
            ]
        ]
    },
    {
        "id": "c9f49c81a1917c83",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "settings/title",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 600,
        "wires": [
            [
                "f2bf02533363b1b0"
            ]
        ]
    },
    {
        "id": "f2bf02533363b1b0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "store titles",
        "func": "flow.set(\"title.\"+msg.topic.split(\"/\")[2], msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "b8cdb329577a495b",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "SELECT titles",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "SELECT * FROM readings WHERE varkey=\"title\" AND value!=\"RHGs SLIM\"",
        "payload": "",
        "payloadType": "date",
        "x": 660,
        "y": 500,
        "wires": [
            [
                "11856a2cd1c3b214"
            ]
        ]
    },
    {
        "id": "11856a2cd1c3b214",
        "type": "mysql",
        "z": "f6f2187d.f17ca8",
        "mydb": "5020304693266723",
        "name": "",
        "x": 820,
        "y": 500,
        "wires": [
            [
                "309aa7172d98764d",
                "9d161dfe804e860d"
            ]
        ]
    },
    {
        "id": "309aa7172d98764d",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 500,
        "wires": []
    },
    {
        "id": "9d161dfe804e860d",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "load titles",
        "func": "\nfor (var mynode in msg.payload) {\n\n    flow.set(\"title.\" + msg.payload[mynode].topic.split(\"/\")[2], msg.payload[mynode].value);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "82572bd7fa2754e2",
        "type": "link out",
        "z": "f6f2187d.f17ca8",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "058f796bc37b7250",
            "56f925dd66127bbb"
        ],
        "x": 435,
        "y": 460,
        "wires": []
    },
    {
        "id": "7fddbf716a47caa3",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "#",
        "qos": "0",
        "datatype": "auto",
        "broker": "61c70212c61507f5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 250,
        "y": 460,
        "wires": [
            [
                "82572bd7fa2754e2",
                "f04495f04028c894"
            ]
        ]
    },
    {
        "id": "5b24a3ea71452cd8",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "time series ?",
        "func": "\nvar oot = {};\nvar tags = {};\nvar tops = msg.topic.split(\"/\");\n\n// if (tops[3] == \"settings\") { return [null,msg]; }\n// if (tops[3] == \"system\") { return [null, msg]; }\n// //if (tops[4] == \"state\") { return [null, msg]; }\n// if (tops[3] == \"iot\") { return [null, msg]; }\n// if (tops[3] == \"cpu\") { return [null, msg]; }\n\n\nif (!tops[4]) { return null; }\n\nif (tops[3] == \"dat\") {  }\nelse if (tops[3] == \"stat\") { }\nelse if (tops[3] == \"cpu\") { }\n//else if (tops[3] !== \"dat\") { return null; }\nelse { return [null, msg]; }\n\n\n\ntags.node = tops[1];\ntags.device = tops[2];\ntags.network = tops[0];\ntags.vargroup = tops[3];\ntags.varkey = tops[4];\n\ntags.title = flow.get(\"title.\" + tops[2]) || tops[2];\n\n//if (!isNaN(msg.payload)) { msg.payload = parseFloat(msg.payload); }\n\nvar msg1={};\nmsg1.topic = \"\"+msg.topic;\n\ntry {\n\n    if (tops[4]==\"state\") {\n\n        if (msg.payload==\"ok\") { msg1.payload = 1;}\n        else if (msg.payload == \"on\") { msg1.payload = 1; }\n        else if (msg.payload == \"off\") { msg1.payload = 0; }\n        else if (msg.payload.indexOf(\"warning\") > -1) { msg1.payload = 2; }\n        else { msg1.payload = 3; }    \n    \n    } else {\n\n        if (isNaN(msg.payload)) { return [null, msg]; }\n        msg1.payload = parseFloat(msg.payload);\n    }\n\n\n\n    oot[tops[3] + '/' + tops[4]] = msg1.payload;\n\n    msg1.measurement = tops[0] + '/' + tops[1] + '/' + tops[2];\n    msg1.payload = [oot, tags];\n\n    return [msg1, msg];\n\n\n\n\n} catch { return [null, msg]; }\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 260,
        "wires": [
            [
                "27ba92fdd543e7c1",
                "1fc0f22e5611efa8"
            ],
            [
                "cedc9de4dd964642"
            ]
        ]
    },
    {
        "id": "873f73b8bd187f78",
        "type": "subflow:d1f3d002.63ee48",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "5b24a3ea71452cd8"
            ]
        ]
    },
    {
        "id": "058f796bc37b7250",
        "type": "link in",
        "z": "f6f2187d.f17ca8",
        "name": "link in 1",
        "links": [
            "190658415505c339",
            "82572bd7fa2754e2"
        ],
        "x": 215,
        "y": 260,
        "wires": [
            [
                "873f73b8bd187f78"
            ]
        ]
    },
    {
        "id": "ca84dd2f975ecb0d",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Includes numeric state",
        "info": "",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "f04495f04028c894",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 540,
        "wires": []
    },
    {
        "id": "63209b3d832ab1c5",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/grafanapost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 370,
        "y": 900,
        "wires": [
            [
                "aa0e54d823be4b74",
                "9da1affa83043392"
            ]
        ]
    },
    {
        "id": "0bc413acc4e44582",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 900,
        "wires": []
    },
    {
        "id": "aa0e54d823be4b74",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 980,
        "wires": []
    },
    {
        "id": "9da1affa83043392",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "ok",
        "output": "str",
        "x": 560,
        "y": 900,
        "wires": [
            [
                "0bc413acc4e44582"
            ]
        ]
    },
    {
        "id": "7d4d106f64feea48",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/grafanapost",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 840,
        "wires": [
            [
                "db9e8e37622b437c"
            ]
        ]
    },
    {
        "id": "b46b090bc6759d6b",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 870,
        "y": 840,
        "wires": []
    },
    {
        "id": "db9e8e37622b437c",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{ \"tSet\": \"15\", \"tSet2\": 10.5 }",
        "output": "str",
        "x": 560,
        "y": 840,
        "wires": [
            [
                "b46b090bc6759d6b",
                "e69556b50bdf776e"
            ]
        ]
    },
    {
        "id": "e69556b50bdf776e",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 800,
        "wires": []
    },
    {
        "id": "536010b714fb4c2f",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "5020304693266723",
        "type": "MySQLdatabase",
        "name": "",
        "host": "mysql",
        "port": "3306",
        "db": "heatweb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "61c70212c61507f5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]