flows/mods/testing/flow_picv_phe_1.json
[{"id":"79ba49db.be5388","type":"tab","label":"PICV PHE","disabled":false,"info":""},{"id":"73aa5416.823a6c","type":"comment","z":"79ba49db.be5388","name":"Notes","info":"http://www.syxthsense.com/product/product_pdf/MOD3.97-MOD-IO10-DIN.pdf","x":110,"y":240,"wires":[]},{"id":"4af45028.7d89","type":"PID","z":"79ba49db.be5388","name":"","setpoint":"65","pb":"100","ti":"120","td":"15","integral_default":"0","smooth_factor":3,"max_interval":"15","enable":1,"disabled_op":"0","x":850,"y":600,"wires":[["eadd7da7.1becd","72c1837f.4b02dc"]]},{"id":"eadd7da7.1becd","type":"range","z":"79ba49db.be5388","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"clamp","round":false,"property":"payload","name":"","x":1080,"y":600,"wires":[["d77996f4.3b4ea8","d6d946a8.3d5a08"]]},{"id":"b71a222e.afa4e","type":"ui_gauge","z":"79ba49db.be5388","name":"","group":"182a0e62.c0e5d2","order":3,"width":"3","height":"3","gtype":"gage","title":"Output Temp","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#4261f0","#00ff00","#ca3838"],"seg1":"55","seg2":"75","x":1090,"y":440,"wires":[]},{"id":"6b701e6e.036e3","type":"ui_gauge","z":"79ba49db.be5388","name":"","group":"182a0e62.c0e5d2","order":4,"width":"3","height":"3","gtype":"gage","title":"Supply Temp","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"60","seg2":"80","x":950,"y":260,"wires":[]},{"id":"c600ba35.0fcff8","type":"ui_gauge","z":"79ba49db.be5388","name":"","group":"182a0e62.c0e5d2","order":7,"width":"3","height":"3","gtype":"gage","title":"Valve Position","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00ff00","#00ff00","#ca3838"],"seg1":"20","seg2":"80","x":1700,"y":600,"wires":[]},{"id":"d77996f4.3b4ea8","type":"function","z":"79ba49db.be5388","name":"Valve Control","func":"msg.topic = \"Valve Position\";\n\n\nvar fHCHLimit = parseFloat(global.get(\"settings.fHCHLimit\") || 15);\nvar lphVCH = parseFloat(global.get(\"settings.lphVCH\") || 900);\n\nvar tStandby = parseFloat(global.get(\"settings.tStandby\") || 45);\nvar tH = flow.get(\"tH\") || 45 ;\n\n\nvar runCH = flow.get(\"runCH\") || \"1\" ;\nif (runCH==\"0\") { \n    \n    if (tH < tStandby) { \n    \n        msg.payload = 5; \n    \n    } else {\n         \n         msg.payload = 0; \n    }\n}\n\n\n\n\nelse {\n\n    //get limits\n    \n    \n    \n    //startup flo setting\n    var countDown = flow.get(\"countDown\") || 0;\n    var estimateF = flow.get(\"estimateF\") || 0;\n    //var actualF = flow.get(\"actualF\") || 0;\n    var estPos = estimateF*6000/lphVCH;\n    \n    \n    if (countDown < 0.3) { countDown = 0; }\n    else { countDown = (countDown - 0.3) * 1 / 0.7; }\n    var rErr = 1 - countDown;\n    msg.payload = ((1-rErr) * msg.payload) + (rErr * estPos);\n    \n    \n    var scaleFlow = flow.get(\"scaleFlow\") || 1;\n    msg.payload = msg.payload * scaleFlow;\n    \n}\n//apply limits\nvar maxpos = fHCHLimit*6000/lphVCH;\nif (maxpos>100) {  maxpos = 100; }\n\nif (msg.payload > maxpos) { msg.payload = maxpos; }\nif (msg.payload <0 ) { msg.payload = 0; }\n\nvar enableCH = \"\" + global.get(\"settings.enableCH\");\nif (enableCH ===\"\") {  enableCH = \"1\"; }\nif (parseInt(enableCH)!==1) { msg.payload = 0; }\n\nmsg.payload = parseInt(msg.payload*10)/10;\n\nmsg2 = {};\nmsg2.topic = \"fHCH\";\nmsg2.payload = parseInt((lphVCH/60) * msg.payload) / 100;\n\nreturn [msg,msg2];","outputs":2,"noerr":0,"x":1280,"y":660,"wires":[["c600ba35.0fcff8","e0aaba0b.5343e8","daeeab26.f2faf8"],["60897ef4.56ecb"]]},{"id":"55aa888a.51aef8","type":"change","z":"79ba49db.be5388","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tSet","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"Setpoint","tot":"str"},{"t":"set","p":"dattopic","pt":"msg","to":"setpointCH","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":400,"wires":[["88ea40b7.ccea4"]]},{"id":"d6d946a8.3d5a08","type":"debug","z":"79ba49db.be5388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":600,"wires":[]},{"id":"33ea7962.000316","type":"link out","z":"79ba49db.be5388","name":"","links":["25cf0d2a.c0c0d2"],"x":1855,"y":820,"wires":[]},{"id":"e0aaba0b.5343e8","type":"function","z":"79ba49db.be5388","name":"dat","func":"if (msg.reset) { return null; }\n\nmsg.topic = \"ihiu/ei3boogh/ei3boogh/dat/xpVCH\";\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":640,"wires":[["33ea7962.000316"]]},{"id":"88ea40b7.ccea4","type":"ui_chart","z":"79ba49db.be5388","name":"","group":"182a0e62.c0e5d2","order":10,"width":"24","height":"6","label":"Output Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1140,"y":360,"wires":[[]]},{"id":"7267f434.dc0d1c","type":"link in","z":"79ba49db.be5388","name":"pid2set","links":["db2b1d1e.8e5cc8","8291f924.41a148","8ba4c3c6.a4afe"],"x":355,"y":600,"wires":[["1a9ab46b.aeba8c","7c2ba3da.af0dec"]]},{"id":"1e0391c9.feac8e","type":"ui_numeric","z":"79ba49db.be5388","name":"","label":"P Band","tooltip":"","group":"be7340bb.344f","order":12,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"pidPbCH","format":"{{value}}&deg;C","min":0,"max":"100","step":1,"x":600,"y":1220,"wires":[["3bc6f48a.543dbc"]]},{"id":"c6f73155.5fce","type":"ui_numeric","z":"79ba49db.be5388","name":"","label":"I Time","tooltip":"","group":"be7340bb.344f","order":13,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"pidItCH","format":"{{value}}s","min":0,"max":"600","step":1,"x":590,"y":1160,"wires":[["6ef0b6ff.425338"]]},{"id":"1cbfa589.7a130a","type":"ui_numeric","z":"79ba49db.be5388","name":"","label":"D Time","tooltip":"","group":"be7340bb.344f","order":14,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"pidDtCH","format":"{{value}}s","min":0,"max":"20","step":"0.1","x":600,"y":1280,"wires":[["e1a6ed69.3f642"]]},{"id":"40853936.5afc58","type":"ui_numeric","z":"79ba49db.be5388","name":"","label":"D Smooth","tooltip":"","group":"be7340bb.344f","order":15,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"pidDsCH","format":"{{value}}","min":0,"max":"10","step":".1","x":600,"y":1340,"wires":[["8ee714a9.7fd968"]]},{"id":"53f6d020.44ce8","type":"ui_numeric","z":"79ba49db.be5388","name":"","label":"Setpoint","tooltip":"","group":"be7340bb.344f","order":3,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"tSetCH","format":"{{value}}&deg;C","min":"20","max":"90","step":"0.5","x":600,"y":1100,"wires":[["11fe7fb5.49836"]]},{"id":"8291f924.41a148","type":"link out","z":"79ba49db.be5388","name":"pidSet","links":["b06679ae.eca0b8","7267f434.dc0d1c","d1136cd6.1b1e2"],"x":995,"y":1340,"wires":[]},{"id":"fa6f6e56.15f08","type":"change","z":"79ba49db.be5388","name":"","rules":[{"t":"set","p":"tSet","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1100,"wires":[[]]},{"id":"aa167da6.2796a","type":"link in","z":"79ba49db.be5388","name":"dhw_tCo","links":["9940feb8.ca7df"],"x":275,"y":440,"wires":[["d0df42d1.0190a"]]},{"id":"77baf450.0fe45c","type":"link in","z":"79ba49db.be5388","name":"dhw_tH","links":["6ba97dc.126b284"],"x":275,"y":340,"wires":[["d264a6d4.12e0d8"]]},{"id":"ad1828e1.bc8758","type":"link in","z":"79ba49db.be5388","name":"dhw_tHo","links":["e279ce2c.6c408"],"x":275,"y":300,"wires":[["6af32f55.21fe5"]]},{"id":"15ae019f.03b28e","type":"link out","z":"79ba49db.be5388","name":"","links":["666c1788.87bf48","fe0a35f7.3fad98","114ce6c0.7afd39"],"x":1975,"y":540,"wires":[]},{"id":"d0df42d1.0190a","type":"change","z":"79ba49db.be5388","name":"","rules":[{"t":"set","p":"tOutput","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Output","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":440,"wires":[["55aa888a.51aef8","3952d646.74023a"]]},{"id":"3952d646.74023a","type":"function","z":"79ba49db.be5388","name":"round","func":"msg.payload = parseInt(msg.payload*10)/10;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":440,"wires":[["88ea40b7.ccea4","b71a222e.afa4e"]]},{"id":"d264a6d4.12e0d8","type":"change","z":"79ba49db.be5388","name":"","rules":[{"t":"set","p":"tH","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":340,"wires":[["c60fa025.dde6e"]]},{"id":"c60fa025.dde6e","type":"function","z":"79ba49db.be5388","name":"round","func":"msg.payload = parseInt(msg.payload*10)/10;\n\nmsg.topic = \"tH\";\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["6b701e6e.036e3","88ea40b7.ccea4"]]},{"id":"6af32f55.21fe5","type":"change","z":"79ba49db.be5388","name":"","rules":[{"t":"set","p":"tHo","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":300,"wires":[["599cd33e.01aedc"]]},{"id":"adc23a02.d003e8","type":"ui_gauge","z":"79ba49db.be5388","name":"","group":"182a0e62.c0e5d2","order":6,"width":"3","height":"3","gtype":"gage","title":"Return Temp","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00ff00","#ffff00","#ff0000"],"seg1":"40","seg2":"60","x":950,"y":220,"wires":[]},{"id":"599cd33e.01aedc","type":"function","z":"79ba49db.be5388","name":"round","func":"msg.payload = parseInt(msg.payload*10)/10;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":300,"wires":[["adc23a02.d003e8"]]},{"id":"73a988b6.2580c8","type":"link in","z":"79ba49db.be5388","name":"","links":["7571a0ff.555d7"],"x":155,"y":760,"wires":[["c2f79f0e.30b","1ac096b7.89a229"]]},{"id":"37a7e663.c7f2ca","type":"function","z":"79ba49db.be5388","name":"runCH","func":"msg.payload = \"\" + msg.payload;\n\n\nvar modeCH = global.get(\"settings.modeCH\") || \"auto\";\n\nif (modeCH == \"on\") { msg.payload = \"1\"; }\nelse if (modeCH == \"off\") { msg.payload = \"0\"; }\n\nvar enableCH = \"\" + global.get(\"settings.enableCH\");\nif (enableCH ===\"\") {  enableCH = \"1\"; }\nif (parseInt(enableCH)!==1) { msg.payload = \"0\"; }\n\n\n\nflow.set(\"runCH\",msg.payload);\n\n\nmsg.topic=\"enable\";\n\nmsg.payload = (msg.payload==\"1\" || msg.payload==1)?true:false;\n\nvar msg2={};\nmsg2.payload = msg.payload===true?\"ON\":\"OFF\";\n\nvar msg3={};\nmsg3.payload = msg.payload===true?\"on\":\"off\";\n\n\n// overide msg.payload to run down integral value\n\nif (msg.payload===false) {\n    \n    var pidintegral = flow.get(\"pidintegral\") || 0;\n    if (pidintegral<0) { msg.payload = true; }\n    \n}\n\n\n\n\n\n\nreturn [msg,msg2,msg3];","outputs":3,"noerr":0,"x":630,"y":760,"wires":[["cbfa750f.a99da8","bd4688c3.3b41a8","4af45028.7d89"],["4cd79373.c2496c"],["38067434.d4853c"]]},{"id":"c2f79f0e.30b","type":"delay","z":"79ba49db.be5388","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":290,"y":760,"wires":[["90a87179.d6eba"]]},{"id":"4cd79373.c2496c","type":"ui_text","z":"79ba49db.be5388","group":"182a0e62.c0e5d2","order":1,"width":"3","height":"1","name":"","label":"Demand","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":820,"wires":[]},{"id":"100fa53d.4fccdb","type":"debug","z":"79ba49db.be5388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1950,"y":460,"wires":[]},{"id":"95d49b92.8332c8","type":"ui_gauge","z":"79ba49db.be5388","name":"","group":"182a0e62.c0e5d2","order":8,"width":"3","height":"3","gtype":"gage","title":"Primary Flow Rate","label":"ltr/min","format":"{{value}}","min":0,"max":"30","colors":["#00ff00","#00ff00","#ca3838"],"seg1":"10","seg2":"20","x":1690,"y":1000,"wires":[]},{"id":"247f5b44.23cee4","type":"link in","z":"79ba49db.be5388","name":"fHgauge","links":["70b67978.6b95a8","9a4121c2.67f1","60897ef4.56ecb"],"x":1415,"y":900,"wires":[["95d49b92.8332c8","fd6db589.2424d8","4aaa87f1.ac89f8","e2ee5b0c.553eb8"]]},{"id":"d1136cd6.1b1e2","type":"link in","z":"79ba49db.be5388","name":"","links":["8291f924.41a148","b9e8f080.49871"],"x":1115,"y":1440,"wires":[["722669a3.3dbe38"]]},{"id":"5f3b42a4.07398c","type":"link out","z":"79ba49db.be5388","name":"","links":["25cf0d2a.c0c0d2"],"x":1510,"y":1440,"wires":[]},{"id":"e2023ed8.72ad1","type":"function","z":"79ba49db.be5388","name":"settings","func":"\nmsg.topic = \"ihiu/ei3boogh/ei3boogh/settings/\" + msg.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1395,"y":1440,"wires":[["5f3b42a4.07398c"]]},{"id":"d8365c2d.8c659","type":"link in","z":"79ba49db.be5388","name":"","links":["ebbd26c8.cb6378","7a3c32b2.dc7a2c"],"x":235,"y":1120,"wires":[["f4f37f12.82dd3"]]},{"id":"f4f37f12.82dd3","type":"function","z":"79ba49db.be5388","name":"Setup","func":"\nmsg2={};\nmsg2.payload = msg.payload.tSetCH || 60;\nmsg2.topic = \"tSetCH\";\n\nmsg3={};\nmsg3.payload = msg.payload.pidItCH || 15;\nmsg3.topic = \"pidItCH\";\n\nmsg4={};\nmsg4.payload = msg.payload.pidPbCH || 70;\nmsg4.topic = \"pidPbCH\";\n\nmsg5={};\nmsg5.payload = msg.payload.pidDtCH || 6;\nmsg5.topic = \"pidDtCH\";\n\nmsg6={};\nmsg6.payload = msg.payload.pidDsCH || 2;\nmsg6.topic = \"pidDsCH\";\n\nmsg7={};\nmsg7.payload = \"\" + msg.payload.enableHoLimit;\nif (msg7.payload === \"\") { msg7.payload =  \"1\"; }\nmsg7.topic = \"enableHoLimit\";\n\nmsg8={};\nmsg8.payload = msg.payload.tHoLimit || 55;\nmsg8.topic = \"tHoLimit\";\n\n\nmsg9={};\nmsg9.payload = msg.payload.bandHoLimit || 2;\nmsg9.topic = \"bandHoLimit\";\n\nmsg10={};\nmsg10.payload = msg.payload.pumpTimeout || 60;\nmsg10.topic = \"pumpTimeout\";\n\nmsg11={};\nmsg11.payload = msg.payload.fHCHLimit || 15;\nmsg11.topic = \"fHCHLimit\";\n\n\nmsg12={};\nmsg12.payload = msg.payload.lphVCH || 900;\nmsg12.topic = \"lphVCH\";\n\n\nmsg13={};\nmsg13.payload = msg.payload.tApproachCH || 3;\nmsg13.topic = \"tApproachCH\";\n\n\nmsg14={};\nmsg14.payload = msg.payload.tStandby || 45;\nmsg14.topic = \"tStandby\";\n\n\nmsg15={};\nmsg15.payload = \"\" + msg.payload.enableCH;\nif (msg15.payload === \"\") { msg15.payload =  \"1\"; }\nmsg15.topic = \"enableCH\";\n\n\nmsg16={};\nmsg16.payload = msg.payload.modeCH || \"auto\";\nmsg16.topic = \"modeCH\";\n\n\n\nreturn [msg,msg2,msg3,msg4,msg5,msg6,msg7,msg8,msg9,msg10,msg11,msg12,msg13,msg14,msg15,msg16];","outputs":16,"noerr":0,"x":350,"y":1120,"wires":[[],["53f6d020.44ce8","8ba4c3c6.a4afe"],["c6f73155.5fce","8ba4c3c6.a4afe"],["1e0391c9.feac8e","8ba4c3c6.a4afe"],["1cbfa589.7a130a","8ba4c3c6.a4afe"],["40853936.5afc58","8ba4c3c6.a4afe"],["ef4f5781.b91268"],["16a663ce.03df5c"],["923b4589.a75898"],["1b0ff50c.8b359b"],["9f4eedb6.5fa49"],["fbbc9274.9cfcc"],["4c92d39e.9edbbc"],["bea34aea.ddd8a8"],["566067.f6062f98"],["3ea31e17.a82da2"]]},{"id":"5dd8608e.0a754","type":"link out","z":"79ba49db.be5388","name":"","links":["977364e0.51fe58"],"x":1350,"y":1500,"wires":[]},{"id":"722669a3.3dbe38","type":"function","z":"79ba49db.be5388","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1225,"y":1440,"wires":[["e2023ed8.72ad1","5dd8608e.0a754"]]},{"id":"1a9ab46b.aeba8c","type":"function","z":"79ba49db.be5388","name":"Setup","func":"\n\nmsg.topic = msg.topic.replace(\"tSetCH\",\"setpoint\");\nmsg.topic = msg.topic.replace(\"pidItCH\",\"t_integral\");\nmsg.topic = msg.topic.replace(\"pidPbCH\",\"prop_band\");\nmsg.topic = msg.topic.replace(\"pidDtCH\",\"t_derivative\");\nmsg.topic = msg.topic.replace(\"pidDsCH\",\"smooth_factor\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":600,"wires":[["4af45028.7d89"]]},{"id":"8ba4c3c6.a4afe","type":"link out","z":"79ba49db.be5388","name":"pidSet","links":["b06679ae.eca0b8","7267f434.dc0d1c"],"x":495,"y":1040,"wires":[]},{"id":"7c2ba3da.af0dec","type":"debug","z":"79ba49db.be5388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":640,"wires":[]},{"id":"3f014852.858528","type":"link out","z":"79ba49db.be5388","name":"","links":["7341d767.77fe38","393d1368.4b909c"],"x":1495,"y":720,"wires":[]},{"id":"cbfa750f.a99da8","type":"switch","z":"79ba49db.be5388","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":850,"y":727,"wires":[["86b782e5.12d46","7f319901.f26b98"],["5ebe43b2.125ddc"]]},{"id":"86b782e5.12d46","type":"change","z":"79ba49db.be5388","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"htgtime","pt":"flow","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":760,"wires":[["b121f3f9.27233"]]},{"id":"b121f3f9.27233","type":"delay","z":"79ba49db.be5388","name":"","pauseType":"delayv","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":1020,"y":880,"wires":[["a29e0d2a.6e319"]]},{"id":"a29e0d2a.6e319","type":"switch","z":"79ba49db.be5388","name":"","property":"reset","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":1160,"y":880,"wires":[["7f319901.f26b98"]]},{"id":"43e97aa1.693184","type":"ui_text","z":"79ba49db.be5388","group":"182a0e62.c0e5d2","order":12,"width":"3","height":"1","name":"","label":"Pump","format":"{{msg.payload}}","layout":"row-spread","x":1210,"y":1020,"wires":[]},{"id":"c9164a50.f98498","type":"function","z":"79ba49db.be5388","name":"","func":"\n\nmsg.payload = msg.payload===true?\"ON\":\"OFF\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1020,"wires":[["43e97aa1.693184"]]},{"id":"393d1368.4b909c","type":"link in","z":"79ba49db.be5388","name":"","links":["3f014852.858528"],"x":975,"y":1020,"wires":[["c9164a50.f98498"]]},{"id":"16a663ce.03df5c","type":"ui_numeric","z":"79ba49db.be5388","name":"","label":"Return Limit Temp","tooltip":"","group":"be7340bb.344f","order":6,"width":"0","height":"0","wrap":false,"passthru":false,"topic":"tHoLimit","format":"{{value}}째C","min":"25","max":"60","step":"0.5","x":630,"y":1460,"wires":[["c506dd21.34e22"]]},{"id":"ef4f5781.b91268","type":"ui_switch","z":"79ba49db.be5388","name":"","label":"Return Limit Enabled","tooltip":"","group":"be7340bb.344f","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"enableHoLimit","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":640,"y":1400,"wires":[["c506dd21.34e22"]]},{"id":"b9e8f080.49871","type":"link out","z":"79ba49db.be5388","name":"","links":["d1136cd6.1b1e2"],"x":1075,"y":1960,"wires":[]},{"id":"923b4589.a75898","type":"ui_numeric","z":"79ba49db.be5388","name":"","label":"Return Limit Band","tooltip":"","group":"be7340bb.344f","order":7,"width":"0","height":"0","wrap":false,"passthru":false,"topic":"bandHoLimit","format":"{{value}}째C","min":"1","max":"10","step":"0.1","x":630,"y":1520,"wires":[["c506dd21.34e22"]]},{"id":"668c489b.594468","type":"function","z":"79ba49db.be5388","name":"Setpoint","func":"\nvar runCH = flow.get(\"runCH\") || \"1\" ;\nif (runCH==\"0\") { \n    \n    \n    msg.setpoint = 0;\n    return msg;\n    \n}\n\n\n\nvar enableHoLimit = global.get(\"settings.enableHoLimit\") || \"0\";\n\nvar tApproachCH = parseFloat(global.get(\"settings.tApproachCH\") || 3);\nvar tH = parseFloat(flow.get(\"tH\") || 65);\nvar tSetCH = parseFloat(global.get(\"settings.tSetCH\") || 55);\n\nif ((flow.get(\"applyTracking\") || \"0\")==\"1\") {\n    if (tH > msg.payload) { \n        if (tH - tApproachCH < tSetCH) { \n            \n            tSetCH = tH - tApproachCH; \n            \n            \n        }\n    }\n}\nmsg.setpoint = tSetCH;\nmsg.setpointPossible = tSetCH;\n\nif (enableHoLimit !== true || (parseInt(enableHoLimit) !== 1)) { return msg; }\n\nvar tHoLimit = parseFloat(global.get(\"settings.tHoLimit\") || 55);\nvar tHo = parseFloat(flow.get(\"tHo\") || 55);\nvar bandHoLimit = parseFloat(global.get(\"settings.bandHoLimit\") || 2);\n\nif(tHo < (tHoLimit-bandHoLimit)) { return msg; }\n\n\n\n\nvar rErr = tHo - tHoLimit;\nif (rErr>bandHoLimit) { rErr=bandHoLimit; }\nrErr = rErr / bandHoLimit;\n\n\n//msg.setpoint = tHoLimit;\n//msg.payload = tHo;\n\nmsg.setpoint = ((1-rErr) * tSetCH) + (rErr * tHoLimit);\nmsg.payload = ((1-rErr) * msg.payload) + (rErr * tHo);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":500,"wires":[["2a2627fa.cd86c8","4ae1f581.7bae9c","289369e6.802ea6"]]},{"id":"33f64b8f.4e8364","type":"inject","z":"79ba49db.be5388","name":"","repeat":"2","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"tOutput","payloadType":"flow","x":410,"y":500,"wires":[["668c489b.594468"]]},{"id":"c506dd21.34e22","type":"trigger","z":"79ba49db.be5388","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"units":"s","reset":"","bytopic":"topic","outputs":1,"x":940,"y":1960,"wires":[["b9e8f080.49871"]]},{"id":"13db47cb.437908","type":"debug","z":"79ba49db.be5388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1070,"y":680,"wires":[]},{"id":"2a2627fa.cd86c8","type":"debug","z":"79ba49db.be5388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"setpoint","targetType":"msg","x":850,"y":500,"wires":[]},{"id":"fd6db589.2424d8","type":"ui_chart","z":"79ba49db.be5388","name":"","group":"182a0e62.c0e5d2","order":11,"width":"24","height":"5","label":"Flow Rate (l/m)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1680,"y":1040,"wires":[[]]},{"id":"af252af1.2e8108","type":"switch","z":"79ba49db.be5388","name":"","property":"reset","propertyType":"msg","rules":[{"t":"null"}],"checkall":"false","repair":false,"outputs":1,"x":1790,"y":540,"wires":[["15ae019f.03b28e","100fa53d.4fccdb"]]},{"id":"21b794e8.dc8d8c","type":"change","z":"79ba49db.be5388","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":500,"wires":[["daeeab26.f2faf8"]]},{"id":"683fefcd.f1ed4","type":"inject","z":"79ba49db.be5388","name":"","repeat":"60","crontab":"","once":false,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":1690,"y":460,"wires":[["21b794e8.dc8d8c"]]},{"id":"daeeab26.f2faf8","type":"rbe","z":"79ba49db.be5388","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1670,"y":540,"wires":[["af252af1.2e8108"]]},{"id":"4aaa87f1.ac89f8","type":"function","z":"79ba49db.be5388","name":"kwCH","func":"var tH = parseFloat(flow.get(\"tH\") || 60);\nvar tHo = parseFloat(flow.get(\"tHo\") || 50);\n\nmsg.payload = parseInt(100 * (tH - tHo) * 4.2 * (msg.payload/60))/100;\nmsg.topic = \"kwCH\"\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":940,"wires":[["3d5e328.1f399ce","9d097ba9.4f6e08"]]},{"id":"3d5e328.1f399ce","type":"ui_gauge","z":"79ba49db.be5388","name":"","group":"182a0e62.c0e5d2","order":9,"width":"3","height":"3","gtype":"gage","title":"Power","label":"kW","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#ffff00","#ca3838"],"seg1":"25","seg2":"35","x":1810,"y":940,"wires":[]},{"id":"9d097ba9.4f6e08","type":"function","z":"79ba49db.be5388","name":"dat","func":"if (msg.reset) { return null; }\n\nmsg.topic = \"ihiu/ei3boogh/ei3boogh/dat/kwCH\";\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":900,"wires":[["33ea7962.000316"]]},{"id":"1b0ff50c.8b359b","type":"ui_numeric","z":"79ba49db.be5388","name":"","label":"Pump Off Timer","tooltip":"","group":"be7340bb.344f","order":9,"width":"0","height":"0","wrap":false,"passthru":false,"topic":"pumpTimeout","format":"{{value}}s","min":"0","max":"900","step":"1","x":620,"y":1580,"wires":[["c506dd21.34e22"]]},{"id":"5ebe43b2.125ddc","type":"function","z":"79ba49db.be5388","name":"","func":"msg.delay = (global.get(\"settings.pumpTimeout\") || 60) * 1000;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":800,"wires":[["b121f3f9.27233"]]},{"id":"9f4eedb6.5fa49","type":"ui_numeric","z":"79ba49db.be5388","name":"","label":"Primary Flow Limit","tooltip":"","group":"be7340bb.344f","order":10,"width":"0","height":"0","wrap":false,"passthru":false,"topic":"fHCHLimit","format":"{{value}} l/m","min":"5","max":"60","step":"0.5","x":630,"y":1640,"wires":[["c506dd21.34e22"]]},{"id":"fbbc9274.9cfcc","type":"ui_dropdown","z":"79ba49db.be5388","name":"","label":"Valve Type","tooltip":"","place":"AB-QM valve selection","group":"be7340bb.344f","order":11,"width":0,"height":0,"passthru":false,"options":[{"label":"DN15 450 l/h","value":"450","type":"str"},{"label":"DN20 900 l/h","value":"900","type":"str"},{"label":"DN25 1700 l/h","value":"1700","type":"str"},{"label":"DN32 3200 l/h","value":"3200","type":"str"}],"payload":"","topic":"lphVCH","x":610,"y":1700,"wires":[["c506dd21.34e22"]]},{"id":"e2ee5b0c.553eb8","type":"function","z":"79ba49db.be5388","name":"dat","func":"if (msg.reset) { return null; }\n\nmsg.topic = \"ihiu/ei3boogh/ei3boogh/dat/fHCH\";\n\nflow.set(\"fHCH\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":860,"wires":[["33ea7962.000316"]]},{"id":"60897ef4.56ecb","type":"link out","z":"79ba49db.be5388","name":"","links":["247f5b44.23cee4"],"x":1415,"y":680,"wires":[]},{"id":"4c92d39e.9edbbc","type":"ui_numeric","z":"79ba49db.be5388","name":"","label":"Approach Temperature","tooltip":"","group":"be7340bb.344f","order":8,"width":"0","height":"0","wrap":false,"passthru":false,"topic":"tApproachCH","format":"{{value}}째C","min":"1","max":"10","step":"0.1","x":650,"y":1760,"wires":[["c506dd21.34e22"]]},{"id":"90a87179.d6eba","type":"change","z":"79ba49db.be5388","name":"","rules":[{"t":"set","p":"timin","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":760,"wires":[["37a7e663.c7f2ca"]]},{"id":"bd4688c3.3b41a8","type":"rbe","z":"79ba49db.be5388","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":810,"y":820,"wires":[["6c416883.f2ce58"]]},{"id":"6c416883.f2ce58","type":"switch","z":"79ba49db.be5388","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":810,"y":860,"wires":[["e412906a.461ed"],["3fea256c.ba958a"]]},{"id":"e412906a.461ed","type":"trigger","z":"79ba49db.be5388","name":"","op1":"0","op2":"1","op1type":"str","op2type":"str","duration":"45","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":750,"y":940,"wires":[["b568ddc9.58d64"]]},{"id":"6e05cfcd.3ee09","type":"change","z":"79ba49db.be5388","name":"","rules":[{"t":"set","p":"applyTracking","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1040,"wires":[[]]},{"id":"3fea256c.ba958a","type":"change","z":"79ba49db.be5388","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":940,"wires":[["e412906a.461ed","6e05cfcd.3ee09"]]},{"id":"b568ddc9.58d64","type":"switch","z":"79ba49db.be5388","name":"","property":"reset","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":1000,"wires":[["6e05cfcd.3ee09"]]},{"id":"4ae1f581.7bae9c","type":"ui_text","z":"79ba49db.be5388","group":"182a0e62.c0e5d2","order":13,"width":"3","height":"1","name":"","label":"Target","format":"{{msg.setpoint}}째C","layout":"row-spread","x":910,"y":540,"wires":[]},{"id":"7f319901.f26b98","type":"function","z":"79ba49db.be5388","name":"exercise","func":"\nvar pumptime = flow.get(\"pumptime\") || 0;\n\nif (msg.payload===true) {\n    \n    pumptime = msg.timin;\n    \n    \n}\n\nvar offtime = msg.timin - pumptime;\n\nif (offtime > (24 * 60 * 60 * 1000)) { \n    \n    \n    msg.payload=true;\n    pumptime = msg.timin;\n    \n}    \n\nflow.set(\"pumptime\",pumptime);\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":720,"wires":[["3f014852.858528","60daf48a.12013c"]]},{"id":"3ea31e17.a82da2","type":"ui_dropdown","z":"79ba49db.be5388","name":"","label":"Run Mode","tooltip":"","place":"Please Select","group":"be7340bb.344f","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Switched","value":"auto","type":"str"},{"label":"On","value":"on","type":"str"},{"label":"Off","value":"off","type":"str"}],"payload":"","topic":"modeCH","x":610,"y":1960,"wires":[["c506dd21.34e22"]]},{"id":"1ac096b7.89a229","type":"debug","z":"79ba49db.be5388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":720,"wires":[]},{"id":"60daf48a.12013c","type":"function","z":"79ba49db.be5388","name":"dat","func":"if (msg.reset) { return null; }\n\nmsg.payload = (msg.payload===true)?\"1\":\"0\";\n\n\nmsg.topic = \"ihiu/ei3boogh/ei3boogh/dat/pumpCH\";\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":820,"wires":[["33ea7962.000316"]]},{"id":"38067434.d4853c","type":"function","z":"79ba49db.be5388","name":"dat","func":"if (msg.reset) { return null; }\n\n\nmsg.topic = \"ihiu/ei3boogh/ei3boogh/dat/runCH\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":860,"wires":[["53e4a63e.201678"]]},{"id":"53e4a63e.201678","type":"link out","z":"79ba49db.be5388","name":"","links":["25cf0d2a.c0c0d2"],"x":535,"y":860,"wires":[]},{"id":"72c1837f.4b02dc","type":"change","z":"79ba49db.be5388","name":"","rules":[{"t":"set","p":"pidintegral","pt":"flow","to":"integral","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":680,"wires":[["13db47cb.437908"]]},{"id":"eb3305f7.34f568","type":"mqtt in","z":"79ba49db.be5388","d":true,"name":"","topic":"ihiu/Ahb3Eis7/Ahb3Eis7/dat/t0C0107FF9001","qos":"0","datatype":"auto","broker":"8ecdde6c.d669b","inputs":0,"x":430,"y":2160,"wires":[["daeed979.b7cfe8","fdeac198.7020d","eeff668a.cbd8f8","77329122.6ad14"]]},{"id":"daeed979.b7cfe8","type":"debug","z":"79ba49db.be5388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":2160,"wires":[]},{"id":"fdeac198.7020d","type":"ui_gauge","z":"79ba49db.be5388","d":true,"name":"","group":"182a0e62.c0e5d2","order":5,"width":"3","height":"3","gtype":"gage","title":"Supply Temp DS","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#0000ff","#00ff00","#ff0000"],"seg1":"60","seg2":"80","x":740,"y":2080,"wires":[]},{"id":"56489ee3.42e2d","type":"link in","z":"79ba49db.be5388","name":"","links":["eeff668a.cbd8f8","61544aa.781d3b4"],"x":915,"y":300,"wires":[["88ea40b7.ccea4"]]},{"id":"eeff668a.cbd8f8","type":"link out","z":"79ba49db.be5388","name":"","links":["56489ee3.42e2d"],"x":605,"y":2040,"wires":[]},{"id":"13646715.cff889","type":"inject","z":"79ba49db.be5388","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"readings.ihiu.ei3boogh.dat.anaIn1.value","payloadType":"global","x":560,"y":2320,"wires":[["18e6a030.1bfc6"]]},{"id":"18e6a030.1bfc6","type":"debug","z":"79ba49db.be5388","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":2320,"wires":[]},{"id":"19843624.f4657a","type":"function","z":"79ba49db.be5388","name":"","func":"msg.payload = \"\" + msg.payload + \",\" + global.get(\"readings.ihiu.ei3boogh.dat.anaIn2.value\") + \",\" + global.get(\"readings.ihiu.ei3boogh.dat.anaIn1.value\");\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":2240,"wires":[["18e6a030.1bfc6","1239ba27.a41f76"]]},{"id":"1239ba27.a41f76","type":"file","z":"79ba49db.be5388","name":"","filename":"/home/pi/node-hiu/logs/ntclog4.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":2240,"wires":[[]]},{"id":"7a9bd0e2.d216a","type":"inject","z":"79ba49db.be5388","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":2420,"wires":[["9d5833ec.57829"]]},{"id":"9d5833ec.57829","type":"file in","z":"79ba49db.be5388","name":"","filename":"/home/pi/node-hiu/logs/ntclog4.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":610,"y":2420,"wires":[["18e6a030.1bfc6"]]},{"id":"77329122.6ad14","type":"rbe","z":"79ba49db.be5388","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":430,"y":2240,"wires":[["183c51e5.94cfae"]]},{"id":"183c51e5.94cfae","type":"delay","z":"79ba49db.be5388","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":570,"y":2240,"wires":[["19843624.f4657a"]]},{"id":"98616b05.f1c918","type":"link in","z":"79ba49db.be5388","name":"","links":["e432cb7f.7a0ff","957d1265.55973","1f12f1bf5faf08a6"],"x":1335,"y":1100,"wires":[["3e68f067.aab66"]]},{"id":"3e68f067.aab66","type":"change","z":"79ba49db.be5388","name":"","rules":[{"t":"set","p":"fC","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1100,"wires":[["fd6db589.2424d8"]]},{"id":"43bd0dd2.0db794","type":"link in","z":"79ba49db.be5388","name":"","links":["970454c.e269d28","5d86f2a7.bbf10c","ea14d9d10135d1ea"],"x":275,"y":1960,"wires":[["4db74461.77570c"]]},{"id":"4db74461.77570c","type":"function","z":"79ba49db.be5388","name":"","func":"global.set(\"settings.modeCH\", msg.payload);\n\nmsg.topic = \"modeCH\";\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1960,"wires":[["3ea31e17.a82da2"]]},{"id":"289369e6.802ea6","type":"function","z":"79ba49db.be5388","name":"DHW Startup","func":"\nvar runtimeDHW = flow.get(\"runtimeDHW\") || 0 ;\nvar fC = flow.get(\"fC\") || 0 ;\nvar fHCH = flow.get(\"fHCH\") || 0 ;\nvar tH = flow.get(\"tH\") || 80 ;\nvar tHo = flow.get(\"tHo\") || 30 ;\nvar tSetCH = parseFloat(global.get(\"settings.tSetCH\") || 55);\n\n\nif (runtimeDHW ===0 ) { return msg; }\n//if (runtimeDHW > 30) { return msg; }\n\n//smooth change from targetting flow to temperature. \n// rErr of 0 = temperature, 1 = flow\n\nvar countDown = runtimeDHW / 30;\nif (countDown>1) { countDown = 1; }\nflow.set(\"countDown\",countDown);\n\nif (runtimeDHW < 10) { flow.set(\"initialFlow\",fC); flow.set(\"scaleFlow\",1); }\nelse { \n    \n    initialFlow = flow.get(\"initialFlow\");\n    flow.set(\"scaleFlow\",fC/initialFlow);\n    //flow.set(\"scaleFlow\",2);\n    \n}\n\n\nvar rErr = 1 - countDown;\n// estimate flow based on secondary flow scaled on temperature differences\n//var estimateF = fC * (tH - tHo) / ((msg.setpointPossible || tSetCH) - ((tHo+25)/2));\n\nvar estimateF = 0.7 * fC; // * (tH-((tHo+25)/2)) / ((msg.setpointPossible || tSetCH) - ((tHo+25)/2));\n\nif (fC<8) { estimateF = fC; }\nvar actualF = fHCH;\n\nflow.set(\"estimateF\",estimateF);\n//flow.set(\"actualF\",actualF);\n\n//msg.setpoint = ((1-rErr) * msg.setpoint) + (rErr * estimateF);\n//msg.payload = ((1-rErr) * msg.payload) + (rErr * actualF);\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":560,"wires":[["4af45028.7d89"]]},{"id":"c366df11.07979","type":"link in","z":"79ba49db.be5388","name":"","links":["72705c6d.ecd204","9a6b06bae4ab601e"],"x":1335,"y":1140,"wires":[["b32e9028.1877"]]},{"id":"63adcd87.53af44","type":"link in","z":"79ba49db.be5388","name":"","links":["6390ec52.a27f44","f7523981b4462b90"],"x":1335,"y":1180,"wires":[["90e9e881.44d0a8","c99ac3d4.f1baa"]]},{"id":"b32e9028.1877","type":"change","z":"79ba49db.be5388","name":"","rules":[{"t":"set","p":"runtimeDHW","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":1140,"wires":[[]]},{"id":"90e9e881.44d0a8","type":"change","z":"79ba49db.be5388","name":"","rules":[{"t":"set","p":"fCRate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":1180,"wires":[[]]},{"id":"c99ac3d4.f1baa","type":"debug","z":"79ba49db.be5388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1490,"y":1220,"wires":[]},{"id":"affe068c.6899f8","type":"inject","z":"79ba49db.be5388","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"estimateF","payloadType":"flow","x":1140,"y":500,"wires":[["9dcc0a22.b668f8"]]},{"id":"9dcc0a22.b668f8","type":"debug","z":"79ba49db.be5388","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1320,"y":500,"wires":[]},{"id":"1ca0665e.08472a","type":"inject","z":"79ba49db.be5388","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":1270,"y":260,"wires":[["61544aa.781d3b4"]]},{"id":"bea34aea.ddd8a8","type":"ui_numeric","z":"79ba49db.be5388","name":"","label":"Standby Temperature","tooltip":"","group":"be7340bb.344f","order":4,"width":"0","height":"0","wrap":false,"passthru":true,"topic":"tStandby","format":"{{value}}&deg;C","min":"20","max":"55","step":"0.5","x":640,"y":1820,"wires":[["c506dd21.34e22"]]},{"id":"61544aa.781d3b4","type":"link out","z":"79ba49db.be5388","name":"","links":["56489ee3.42e2d","8bfdf282.1beb5"],"x":1375,"y":260,"wires":[]},{"id":"3ff2d1a.b7ed92e","type":"link in","z":"79ba49db.be5388","name":"","links":["bfc53fe5.79a98","9aeeee20.b1cd8"],"x":1115,"y":640,"wires":[["d77996f4.3b4ea8"]]},{"id":"8bfdf282.1beb5","type":"link in","z":"79ba49db.be5388","name":"","links":["61544aa.781d3b4"],"x":1475,"y":1020,"wires":[["fd6db589.2424d8"]]},{"id":"566067.f6062f98","type":"ui_switch","z":"79ba49db.be5388","name":"","label":"Enabled","tooltip":"","group":"be7340bb.344f","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"enableCH","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":600,"y":1880,"wires":[["c506dd21.34e22"]]},{"id":"11fe7fb5.49836","type":"trigger","z":"79ba49db.be5388","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"units":"s","reset":"","bytopic":"topic","outputs":1,"x":780,"y":1100,"wires":[["fa6f6e56.15f08","8291f924.41a148"]]},{"id":"6ef0b6ff.425338","type":"trigger","z":"79ba49db.be5388","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"units":"s","reset":"","bytopic":"topic","outputs":1,"x":780,"y":1160,"wires":[["8291f924.41a148"]]},{"id":"3bc6f48a.543dbc","type":"trigger","z":"79ba49db.be5388","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"units":"s","reset":"","bytopic":"topic","outputs":1,"x":780,"y":1220,"wires":[["8291f924.41a148"]]},{"id":"e1a6ed69.3f642","type":"trigger","z":"79ba49db.be5388","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"units":"s","reset":"","bytopic":"topic","outputs":1,"x":780,"y":1280,"wires":[["8291f924.41a148"]]},{"id":"8ee714a9.7fd968","type":"trigger","z":"79ba49db.be5388","name":"","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"3","extend":true,"units":"s","reset":"","bytopic":"topic","outputs":1,"x":780,"y":1340,"wires":[["8291f924.41a148"]]},{"id":"06b8497b3ee05cc5","type":"debug","z":"79ba49db.be5388","name":"","active":false,"console":"false","complete":"false","x":1350,"y":40,"wires":[]},{"id":"9a6b06bae4ab601e","type":"link out","z":"79ba49db.be5388","name":"valveControl1","links":["9c252fc0.43e828","3da77d70.300bda","c366df11.07979"],"x":1635,"y":220,"wires":[]},{"id":"039bb192bf3d69ae","type":"ui_gauge","z":"79ba49db.be5388","name":"","group":"182a0e62.c0e5d2","order":2,"width":"3","height":"3","gtype":"gage","title":"Output Flow Rate","label":"ltr/min","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"35","x":1690,"y":140,"wires":[]},{"id":"af691bd659c74671","type":"smooth","z":"79ba49db.be5388","name":"","property":"payload","action":"mean","count":"4","round":"1","mult":"single","reduce":false,"x":1400,"y":120,"wires":[["b72919f5bf7694dc"]]},{"id":"1f12f1bf5faf08a6","type":"link out","z":"79ba49db.be5388","name":"","links":["98616b05.f1c918"],"x":1635,"y":180,"wires":[]},{"id":"ea14d9d10135d1ea","type":"link out","z":"79ba49db.be5388","name":"","links":["43bd0dd2.0db794"],"x":1635,"y":260,"wires":[]},{"id":"ac69e2c437746b1a","type":"switch","z":"79ba49db.be5388","name":"is flow","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1210,"y":120,"wires":[["af691bd659c74671","06b8497b3ee05cc5"],["b72919f5bf7694dc"]]},{"id":"b72919f5bf7694dc","type":"function","z":"79ba49db.be5388","name":"","func":"\n\nvar runtimeDHW = flow.get(\"runtimeDHW\") || 0;\nvar fC = msg.payload;\nvar lastfC = flow.get(\"fC\") || 0;\n\nflow.set(\"fC\",fC);\n\nif (fC>0) { \n    \n    runtimeDHW++;\n    \n} else { runtimeDHW=0; }\n\nflow.set(\"runtimeDHW\",runtimeDHW);\n\n\nvar fCRate = fC - lastfC;\n\n\n\nvar msg2 = {};\nmsg2.topic = \"runtimeDHW\";\nmsg2.payload = runtimeDHW;\n\n\nvar msg3 = {};\nmsg3.topic = \"modeCH\";\n\nif (msg.payload>0.5) { msg3.payload = \"on\"; }\nelse { msg3.payload = \"off\"; }\n\nvar msg4 = {};\nmsg4.topic = \"fCRate\";\nmsg4.payload = fCRate;\n\n\nreturn [msg,msg2,msg3,msg4]","outputs":4,"noerr":0,"x":1480,"y":200,"wires":[["039bb192bf3d69ae","1f12f1bf5faf08a6"],["9a6b06bae4ab601e"],["ea14d9d10135d1ea"],["f7523981b4462b90"]]},{"id":"f7523981b4462b90","type":"link out","z":"79ba49db.be5388","name":"","links":["1b022de8.c7c182","63adcd87.53af44"],"x":1640,"y":320,"wires":[]},{"id":"182a0e62.c0e5d2","type":"ui_group","name":"Readings","tab":"c4ac8cab.d416e","order":3,"disp":true,"width":"24","collapse":false},{"id":"be7340bb.344f","type":"ui_group","name":"Settings","tab":"c4ac8cab.d416e","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ecdde6c.d669b","type":"mqtt-broker","name":"","broker":"192.168.1.17","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c4ac8cab.d416e","type":"ui_tab","name":"Operation","icon":"dashboard","order":4,"disabled":false,"hidden":false}]