flows/mods/testing/flow_lcd_buttons.json
[
    {
        "id": "bd2720a215ee3f3e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1bb0b9f18ae0fad4",
        "type": "rpi-gpio in",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "pin": "26",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 180,
        "y": 680,
        "wires": [
            [
                "fec17fbc3b8dea86",
                "cf3732914d026d25",
                "6f1b669431f29b0c"
            ]
        ]
    },
    {
        "id": "33cd9ae47fe4a63e",
        "type": "debug",
        "z": "bd2720a215ee3f3e",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 120,
        "wires": []
    },
    {
        "id": "8e6f6809cd5bc75c",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp swird",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 590,
        "y": 680,
        "wires": [
            [
                "e6df8fc3a58f5a39",
                "38e8eb72ba3bb8c8",
                "1816b8717a9c6ea5",
                "2de23575b51fabfc",
                "be97a0aea0d67d38"
            ],
            [],
            []
        ]
    },
    {
        "id": "1816b8717a9c6ea5",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "d": true,
        "command": "tidisp txtwrat 4 1 ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1000,
        "y": 760,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6faa3ca6fa3c9f85",
        "type": "inject",
        "z": "bd2720a215ee3f3e",
        "name": "Init Display",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "15",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "aa9bed75d8a2baa5"
            ]
        ]
    },
    {
        "id": "0b3edb37276866f5",
        "type": "delay",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "f978490f2b3b0135"
            ]
        ]
    },
    {
        "id": "16e39016fdf5bc4e",
        "type": "delay",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "20",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "3d68933c6fb3abe5"
            ]
        ]
    },
    {
        "id": "770c170225c04f05",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp cmdwr 60",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 580,
        "y": 100,
        "wires": [
            [
                "33cd9ae47fe4a63e"
            ],
            [
                "33cd9ae47fe4a63e"
            ],
            [
                "33cd9ae47fe4a63e"
            ]
        ]
    },
    {
        "id": "f978490f2b3b0135",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp cmdwr 12",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 580,
        "y": 160,
        "wires": [
            [
                "33cd9ae47fe4a63e"
            ],
            [
                "33cd9ae47fe4a63e"
            ],
            [
                "33cd9ae47fe4a63e"
            ]
        ]
    },
    {
        "id": "3d68933c6fb3abe5",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp cmdwr 6",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 580,
        "y": 220,
        "wires": [
            [
                "33cd9ae47fe4a63e"
            ],
            [
                "33cd9ae47fe4a63e"
            ],
            [
                "33cd9ae47fe4a63e"
            ]
        ]
    },
    {
        "id": "fb8f82b73f04919d",
        "type": "inject",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 880,
        "wires": [
            [
                "a6d2c33e1f825b62"
            ]
        ]
    },
    {
        "id": "60eea33b6f3774ce",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "ti bckbrd",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 580,
        "y": 880,
        "wires": [
            [
                "abfb4b27aa432aaa"
            ],
            [],
            []
        ]
    },
    {
        "id": "abfb4b27aa432aaa",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp txtwrat 2 1 Battery: ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 810,
        "y": 880,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e6df8fc3a58f5a39",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp red ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 960,
        "y": 700,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "38e8eb72ba3bb8c8",
        "type": "delay",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 950,
        "y": 640,
        "wires": [
            [
                "4011a1d501a7dc9c"
            ]
        ]
    },
    {
        "id": "4011a1d501a7dc9c",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp red 0",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1130,
        "y": 640,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7349ed90a8bdacd4",
        "type": "inject",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 980,
        "wires": [
            [
                "99766f1ee3fc7bdf"
            ]
        ]
    },
    {
        "id": "99766f1ee3fc7bdf",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp testl",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 500,
        "y": 980,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "458b6f85b9a7b1a7",
        "type": "inject",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 1100,
        "wires": [
            [
                "14c49a2fa7c3c9df",
                "c486f9e9fc30b52f"
            ]
        ]
    },
    {
        "id": "14c49a2fa7c3c9df",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp red 2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 530,
        "y": 1100,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c486f9e9fc30b52f",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp blue 2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 530,
        "y": 1160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "a6d2c33e1f825b62",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp cmdwr 1",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Clear Display",
        "x": 410,
        "y": 880,
        "wires": [
            [],
            [],
            [
                "60eea33b6f3774ce"
            ]
        ]
    },
    {
        "id": "bafec7e52bb6f510",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp txtwrat 3 1 ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1260,
        "y": 480,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8b84c7590c0fda38",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "ti board",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 680,
        "y": 360,
        "wires": [
            [
                "4bfe227db06bb199"
            ],
            [],
            []
        ]
    },
    {
        "id": "aa9bed75d8a2baa5",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp cmdwr 1",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Clear Display",
        "x": 510,
        "y": 360,
        "wires": [
            [],
            [],
            [
                "8b84c7590c0fda38"
            ]
        ]
    },
    {
        "id": "4bfe227db06bb199",
        "type": "function",
        "z": "bd2720a215ee3f3e",
        "name": "function 1",
        "func": "\n\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\n\nmsg1.payload = msg.payload.split(\",\")[0].trim();\nmsg2.payload = msg.payload.split(\",\")[1].trim();\nmsg3.payload = msg.payload.split(\",\")[2].trim();\n\nreturn [msg1,msg2,msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 360,
        "wires": [
            [
                "7b2c5215bf8d849e",
                "b94c025e6a2c7986"
            ],
            [
                "f7180dc481d2fa74"
            ],
            [
                "c64681e1692fd7c2"
            ]
        ]
    },
    {
        "id": "f7180dc481d2fa74",
        "type": "delay",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1070,
        "y": 480,
        "wires": [
            [
                "bafec7e52bb6f510"
            ]
        ]
    },
    {
        "id": "8e879ed0afa04282",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp txtwrat 2 1 ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1260,
        "y": 420,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c9e9b54e16c0060d",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp txtwrat 4 1 ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1260,
        "y": 540,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c64681e1692fd7c2",
        "type": "delay",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "15",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1070,
        "y": 540,
        "wires": [
            [
                "c9e9b54e16c0060d"
            ]
        ]
    },
    {
        "id": "7b2c5215bf8d849e",
        "type": "delay",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1070,
        "y": 420,
        "wires": [
            [
                "8e879ed0afa04282"
            ]
        ]
    },
    {
        "id": "b94c025e6a2c7986",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp txtwrat 1 1  Heatweb Controller",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1150,
        "y": 340,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "f9f889adfd75e3a4",
        "type": "link in",
        "z": "bd2720a215ee3f3e",
        "name": "link in 2",
        "links": [],
        "x": 365,
        "y": 420,
        "wires": [
            [
                "aa9bed75d8a2baa5"
            ]
        ]
    },
    {
        "id": "fec17fbc3b8dea86",
        "type": "debug",
        "z": "bd2720a215ee3f3e",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 580,
        "wires": []
    },
    {
        "id": "2de23575b51fabfc",
        "type": "debug",
        "z": "bd2720a215ee3f3e",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 580,
        "wires": []
    },
    {
        "id": "146b96d53905886e",
        "type": "inject",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 940,
        "y": 980,
        "wires": [
            [
                "f61c2d9bd86e36d5"
            ]
        ]
    },
    {
        "id": "f61c2d9bd86e36d5",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp blue 0",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1130,
        "y": 980,
        "wires": [
            [],
            [],
            [
                "27e69d28619ff2e1"
            ]
        ]
    },
    {
        "id": "bb1099929c61dcbe",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp blue 2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1130,
        "y": 1140,
        "wires": [
            [],
            [],
            [
                "9ba747996407752a"
            ]
        ]
    },
    {
        "id": "9ba747996407752a",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp blue 4",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1130,
        "y": 1220,
        "wires": [
            [],
            [],
            [
                "f6571b938e096b76"
            ]
        ]
    },
    {
        "id": "f6571b938e096b76",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp blue 8",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1130,
        "y": 1300,
        "wires": [
            [],
            [],
            [
                "c0cee9914bcd5af8"
            ]
        ]
    },
    {
        "id": "c0cee9914bcd5af8",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp blue 16",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1130,
        "y": 1380,
        "wires": [
            [],
            [],
            [
                "3f1860106330ad20"
            ]
        ]
    },
    {
        "id": "3f1860106330ad20",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp blue 32",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1130,
        "y": 1460,
        "wires": [
            [],
            [],
            [
                "c8ab69fafc5c147d"
            ]
        ]
    },
    {
        "id": "27e69d28619ff2e1",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp blue 1",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1130,
        "y": 1060,
        "wires": [
            [],
            [],
            [
                "bb1099929c61dcbe"
            ]
        ]
    },
    {
        "id": "c8ab69fafc5c147d",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp blue 16",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1130,
        "y": 1540,
        "wires": [
            [],
            [],
            [
                "0956762b89a2aac7"
            ]
        ]
    },
    {
        "id": "0956762b89a2aac7",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp blue 8",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1130,
        "y": 1620,
        "wires": [
            [],
            [],
            [
                "38ea9039b327f517"
            ]
        ]
    },
    {
        "id": "38ea9039b327f517",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp blue 4",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1130,
        "y": 1700,
        "wires": [
            [],
            [],
            [
                "3d7aee0e3e4f1153"
            ]
        ]
    },
    {
        "id": "3d7aee0e3e4f1153",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp blue 2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1130,
        "y": 1780,
        "wires": [
            [],
            [],
            [
                "f74b43873880a297"
            ]
        ]
    },
    {
        "id": "f74b43873880a297",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp blue 1",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1130,
        "y": 1860,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "62bd61fc99f2366b",
        "type": "inject",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 1300,
        "wires": [
            [
                "edf06fbc65582417"
            ]
        ]
    },
    {
        "id": "edf06fbc65582417",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp crs 2 2",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 590,
        "y": 1300,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "cf3732914d026d25",
        "type": "switch",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 680,
        "wires": [
            [
                "8e6f6809cd5bc75c"
            ]
        ]
    },
    {
        "id": "bad10b52d51592ef",
        "type": "inject",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 620,
        "wires": [
            [
                "8e6f6809cd5bc75c"
            ]
        ]
    },
    {
        "id": "3dcb74f4263472ab",
        "type": "comment",
        "z": "bd2720a215ee3f3e",
        "name": "https://github.com/SequentMicrosystems/ti_display-rpi",
        "info": " tidisp\n \n -v              Display the tidisp command version number\n        -h              Display the list of command options or one command option details\n        -warranty       Display the warranty\n        -list:          List all display boards connected\n                        return the # of boards and stack level for every board\n        board           Display the board status and firmware version number\n        cmdwr           Send a command to display\n        dtwr            Send a byte of data to display\n        txtwr           Send a text to display\n        txtwrat         Send a text to display at certain position\n        crs             Set cursor position for 4x20 character display\n        blwr            Set the backlight intensity [0..100]\n        red             Turn on or off one or all the red  LED's\n        green           Turn on or off one or all the green LED's\n        blue            Turn on or off one or all the blue LED's\n        testl           Test all LED's\n        swrd            Read one push button or all as a bitmap\n        swird           Read one push button interrupt flag or all as a bitmap and clear them\n",
        "x": 1280,
        "y": 80,
        "wires": []
    },
    {
        "id": "6f1b669431f29b0c",
        "type": "trigger",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "op1": "100",
        "op2": "2",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 410,
        "y": 520,
        "wires": [
            [
                "b44d5fe3e519c994"
            ]
        ]
    },
    {
        "id": "b44d5fe3e519c994",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "tidisp blwr ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 577,
        "y": 519,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b4ba119d513272a0",
        "type": "inject",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "6f1b669431f29b0c"
            ]
        ]
    },
    {
        "id": "87e845c0d46fffa2",
        "type": "inject",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "770c170225c04f05",
                "0b3edb37276866f5",
                "16e39016fdf5bc4e"
            ]
        ]
    },
    {
        "id": "a3a58f21f36fbbc1",
        "type": "inject",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"screens\":{\"standby\":{\"lines\":[\"Heatweb Controller\",\"{{system.nodeId}}\"],\"actions\":[{\"if\":32,\"goto\":\"mainmenu\"}]},\"mainmenu\":{\"lines\":[\"Please select from:\",{\"text\":\"> Exit\",\"actions\":{\"goto\":\"standby\"}},{\"text\":\"> Enter Code\",\"actions\":{\"goto\":\"entercode\"}},{\"text\":\"> Networking\",\"actions\":{\"goto\":\"networking\"}}],\"cursor\":\">\",\"actions\":[{\"if\":1,\"goto\":\"standby\"}]},\"entercode\":{\"lines\":[\"Please enter code:\",{\"text\":\"> Enter Code\",\"actions\":{\"goto\":\"entercode\"}},{\"text\":\"> Networking\",\"actions\":{\"goto\":\"networking\"}}],\"actions\":[{\"if\":1,\"goto\":\"mainmenu\"}]}}}",
        "payloadType": "json",
        "x": 230,
        "y": 1500,
        "wires": [
            [
                "1d39ae9aa7a1a2ef"
            ]
        ]
    },
    {
        "id": "1d39ae9aa7a1a2ef",
        "type": "change",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "menu",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "be97a0aea0d67d38",
        "type": "link out",
        "z": "bd2720a215ee3f3e",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "ddc2d080d8ea07fc"
        ],
        "x": 665,
        "y": 580,
        "wires": []
    },
    {
        "id": "ddc2d080d8ea07fc",
        "type": "link in",
        "z": "bd2720a215ee3f3e",
        "name": "link in 3",
        "links": [
            "be97a0aea0d67d38"
        ],
        "x": 265,
        "y": 1580,
        "wires": [
            [
                "5e323edeed4a8447"
            ]
        ]
    },
    {
        "id": "5e323edeed4a8447",
        "type": "function",
        "z": "bd2720a215ee3f3e",
        "name": "function 2",
        "func": "\nvar currentScreen = flow.get(\"currentScreen\")||\"standby\";\n\n\nvar menu = flow.get(\"menu\") || {};\n\n\n//msg.payload = \"tidisp cmdwr 1 && tidisp txtwrat 1 1  Heatweb Controller\"\n\nvar cmdin = parseFloat(msg.payload.replace(\"\\n\",\"\"));\n\nvar cmds;\nvar myscreen = menu.screens[currentScreen];\n\nif (myscreen.actions) {\n    for (var act in myscreen.actions) {\n        if (myscreen.actions[act][\"if\"] && myscreen.actions[act][\"if\"]==cmdin) {\n            \n            if (myscreen.actions[act][\"goto\"]) {\n\n                currentScreen = myscreen.actions[act][\"goto\"];                \n                myscreen = menu.screens[myscreen.actions[act][\"goto\"]];\n                break;\n            }\n        }\n        \n        //cmds += \" && tidisp txtwrat \" + c + \" 1 \" + (myscreen.lines[ln].text || myscreen.lines[ln]);\n    }\n}\n\nflow.set(\"currentScreen\", currentScreen);\n\nvar currentLine = flow.get(\"currentLine\") || \"standby\";\n\ncmds = \"tidisp cmdwr 1\";\nif (myscreen.lines) {\n    var c = 0;\n    for (var ln in myscreen.lines) {\n        c++;\n        var txtout = (myscreen.lines[ln].text || myscreen.lines[ln]);\n        txtout = txtout.replace((myscreen.lines[ln].cursor || \">\"), \" \")\n        cmds += \" && tidisp txtwrat \" + c + \" 1 \" + '\"' + txtout + '\"';\n    }\n}\n\nmsg.payload = cmds;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1580,
        "wires": [
            [
                "846f0d097d07324a"
            ]
        ]
    },
    {
        "id": "186eef5bd83c1efc",
        "type": "exec",
        "z": "bd2720a215ee3f3e",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 770,
        "y": 1580,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "38de8ff63ce76a49",
        "type": "debug",
        "z": "bd2720a215ee3f3e",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1660,
        "wires": []
    },
    {
        "id": "846f0d097d07324a",
        "type": "trigger",
        "z": "bd2720a215ee3f3e",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 580,
        "y": 1580,
        "wires": [
            [
                "186eef5bd83c1efc",
                "38de8ff63ce76a49"
            ]
        ]
    }
]
